<header class="headerPage ordo__header">
  <h1>
    403 - Erreur d’identification 
  </h1>
</header>

<section>
  <section>
    <div class="mll mrl tiny-man">
      <p class="alert alert-danger">
        <strong>Désolé, une erreur d’identification est survenue.</strong></p>
      <p>Cela peut-être dû notamment à deux raisons&nbsp;:</p>
      <ul>
        <li>vous n’êtes pas connecté(e)</li>
        <li>vous essayez d’accéder à une page pour laquelle vous ne disposez 
          pas de droits suffisants</li>
      </ul>
    </div>
  </section>  <!-- Contenu -->
</section>    <!-- Menu + contenu -->
