<header class="headerPage ordo__header">
  <h1>
    404 - Page introuvable
  </h1>
</header>

<section>
  <section>
    <div class="mll mrl tiny-man">
      <p class="alert alert-warning">La page demandée n’existe pas (ou a 
        été effacée).</p>
      <p>Si vous avez entré une URL à la main ou encore utilisé un signet, 
        merci de vérifier à nouveau l’adresse que vous avez utilisé.</p>
      <p>Si vous voyez cette page et que le problème persiste, merci de 
        nous contacter, avec le bouton «&nbsp;Feedback&nbsp;» en détaillant 
        l’action que vous tentiez de réaliser au moment de l’erreur.</p>
    </div>
  </section>  <!-- Contenu -->
</section>    <!-- Menu + contenu -->
