<header class="headerPage ordo__header">
  <h1>
    500 - Erreur interne&nbsp;! 
  </h1>
</header>

<section>
  <section>
    <div class="mll mrl tiny-man">
      <p class="alert alert-danger">La server a rencontré une erreur 
        interne&nbsp;!</p>
      <p>Une erreur interne est survenue lors du traitement de votre requête. 
        Si cette page s’affiche de nouveau, veillez utiliser le bouton 
        «&nbsp;Feedback&nbsp;» en détaillant l’action que vous tentiez de 
        réaliser au moment de l’erreur.</p>
    </div>
  </section>  <!-- Contenu -->
</section>    <!-- Menu + contenu -->

