<header class="headerPage">
  <h1>{{title}}</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section>
    {{#if error}}<p class="alert alert-danger">{{error}}</p>{{/if}}
    {{form.build()}}
  </section>
</section>
