<header class="headerPage">
  <h1>{{title}}</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section>
    <p class="txtright">
      <a href="/add-category.html" class="btn btn-success">
        <i class="icon icon-add"></i>Ajouter une nouvelle catégorie</a>
    </p>
    <table>
      <thead>
        <tr>
          <th>Nom</th><th>Éditeurs</th><th>Auteurs</th>
          <th style="width: 7.5em"></th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}
        <tr>
          <td>
            {{toString()}}
          </td>
          <td>{{getPublishers()}}</td>
          <td>{{authors}}</td>
          <td class="txtcenter">
            <a href="./category-edit-{{id}}.html" class="btn btn-warning" title="Modifier">
              <i class="icon icon-edit"></i></a>
            <a href="./delete-category-{{id}}.html" class="btn btn-danger" title="Supprimer">
              <i class="icon icon-delete"></i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <ul>
      {{#each categoriesB}}
        <li>V {{main.name}}
          <ul>
            {{#each subs}}
              <li>V {{main.name}}
                <ul>
                  {{#each subs}}
                    <li>V {{main.name}}
                      <ul>
                        {{#each subs}}
                          <li>V {{main.name}}</li>
                        {{/each}}
                      </ul>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </section>
</section>
