<h1>Le site est actuellement en maintenance</h1>

<p class="pbl">
  Nous sommes désolés, le site est actuellement en maintenance, tout reviendra
  en ordre dès que possible.
</p>

{{#if message}}
<p>
  {{message}}
</p>
{{/if}}
