  <header class="headerPage ordo__header">
    <h1>
      La newsletter 
    </h1>
  </header>
    
    
    <section>
    
      <section>

<p>
Je vous propose de recevoir une newsletter qui vous préviendra de la parution de
nouveaux contenus sur le site et de quelques nouvelles. 
</p>
<p>
N'ayant pas beaucoup de temps pour les mises à jour, et celle-ci étant envoyée
manuellement, vous n'en recevrez pas tous les jours : je pense que ce sera 
plutôt deux fois par mois. De plus, votre adresse ne sera utilisée qu'à cette
fin et vous pourrez vous désabonner à tout moment.
</p>

<p class="alert alert-primary alert-icon">
  Pour vous inscrire, il suffit de m'envoyer un mail à 
  <code>gregoire@theo-net.org</code> en mettant dans l'objet «&nbsp;Inscription 
  à la newsletter&nbsp;» et, si vous le souhaitez, dans le corps du message 
  votre nom et prénom.
</p>

      </section>  <!-- Contenu -->
    </section>    <!-- Menu + contenu -->
