2017-09-11T12:00:00
Présentation de la mission
<p class="txtcenter"><span class="big">! שלום חברים</span>
  <em>Salut les amis !</em></p>

Pas très original pour commencer un blog... pourtant c’est bien son but, rester 
en lien avec tous mes amis dans le Christ durant mes deux années de stage en 
Terre Sainte. 

J’essaierai de publier au moins une fois toute les deux semaines des 
nouvelles de ce que je vais y vivre. Vu le lieu, j’en aurais beaucoup à
raconter&nbsp;! D’autant plus que je n’y ai encore jamais mis les pieds.
Il y aura donc beaucoup de découvertes passionnantes.

Pour en savoir un peu plus, visitez la page [À propos](./apropos.html) et 
n’hésitez pas à vous inscrire pour recevoir la [newsletter](./newsletter.html).

Le départ est prévu pour le 18&nbsp;septembre prochain, mais mon Visa tarde à
arriver. On devra donc reculer celui-ci de quelques jours, alors je compte sur 
vos prières pour que les formalités se passent vite et bien&nbsp;!

D’ici là, on peut se donner rendez-vous le dimanche 17&nbsp;septembre 2017 à 
17&nbsp;h&nbsp;45 à la cathédrale de Meaux&nbsp;: je serais envoyé en mission 
aux cours des [Vêpres 
solennelles](https://eglise.catholique.fr/glossaire/vepres/) par le 
p.&nbsp;Thierry <span class="smallcaps">Leroy</span> qui accompagne les 
séminaristes. Elles seront célébrées avec les membres de la Fraternité Saint 
Étienne dont je fais partie.

<p class="txtcenter"><span class="big">! להתראות</span>
 <em>Au revoir&nbsp;</em></p>

<figure class="txtcenter">
 <img src="uploads/2017/09/fraternite.jpg" 
 alt="Engagement dans la fraternité" 
 width="50%" />
<figcaption>
  Mon premier engagement dans la Fraternité Saint Étienne le 26 décembre 
  2016
</figcaption>
</figure>
