2017-09-15T12:00:00
Départ retardé
<p class="txtcenter"><span class="big">סבא</span>
  <em>Grand-père</em></p>

Mon départ pour la Terre Sainte va être retardé de quelques jours pour deux 
raisons&nbsp;: la première est le retard que prennent mes démarches pour le 
Visa (tout est pour le moment entre les mains des autorités israéliennes) et la 
deuxième est le décès de mon grand-père maternel qui est monté vers le Père 
hier en la fête de la _Croix glorieuse_.

La mort, même lorsqu’on a la foi, n’est jamais facile à aborder. Oui, nous 
croyons que la vie ne s’arrête pas avec la mort&nbsp;: Jésus, le Fils de Dieu, 
est passé de la mort à la vie qui ne finit pas. Pourtant, la douleur de perdre 
un être cher est toujours aussi vive. La colère aussi face à certaines 
situations. Nous avons beau croire en la Vie Éternelle, le manque, la tristesse 
de la séparation, cette vie à continuer jusqu’à ce que l’on retrouve tous nos 
défunts, sont des éléments qui peuvent rendre difficile le deuil. 


Quand j’ai perdu mon grand frère Benoît, à 11&nbsp; ans, je me souviens avoir 
prié le Seigneur pour la première fois, c’était instinctif, je ne croyais pas 
en Dieu, mais j’ai poussé un cri vers lui pour le supplier de le ramener à la 
vie. Plus tard, à 18&nbsp;ans, lors du décès de mes amis Vincent, Louis et 
Antoine, j’étais déjà convaincu de l’existence en une vie après la mort&nbsp;: 
tout ne pouvait pas s’arrêter là. Mais je ne croyais pas encore en Dieu&nbsp;: 
comment un être censé nous aimer pouvait laisser des jeunes mourir&nbsp;? 
Néanmoins, un prêtre m’avait touché lors des obsèques en expliquant que même 
en tant que prêtre la mort d’un enfant restait inexplicable pour lui et le 
révoltait. Quelques années plus tard, mon oncle Claude partait lui aussi après 
une longue lutte contre le cancer. Sa fin de vie a été un vrai témoignage pour 
moi, son départ avait un sens et avait été l’occasion pour lui de me dire des 
paroles très touchantes, notamment à propos de la relation très conflictuelle 
que j’avais avec mon père. Au moment du décès de maman en 2013, j’étais 
maintenant séminariste, j’ai hurlé vers le Seigneur&nbsp;: «&nbsp;Ok, son 
décès ne remet pas en cause la foi que j’ai en toi, mais maintenant je compte 
sur toi pour que tu m’aides dans cette épreuve et que tu accompagnes ma 
famille&nbsp;!&nbsp;» Avec le recul, je rends grâce pour tout ce qu’a pu faire 
Dieu dans ces moments difficiles, mais aussi parce qu’il transforme à chaque 
fois ces épreuves en une grande force. 

Il est parti rejoindre tous ceux que j’ai déjà perdu, ceux que j’ai cité, mais 
je pense aussi à tonton Jean, à Michèle, à Jimmy, à Alexandre, à Amith ou à 
Lise, mais aussi au p.&nbsp;André et au p.&nbsp;Louis, et au petit Julian dont 
on vient de célébrer les obsèques. J’en oublie, c’est sûr. J’ai enterré des 
jeunes, et des moins jeunes, suite à des maladies, ou des accidents, à la 
vieillesse ou au suicide, de la famille ou des amis, mais aussi des personnes 
plus éloignées de moi, mais dont leur vie m’avait touchée. Cela, ajouté à 
d’autres malheurs que j’ai pu vivre, me donne parfois envie de me mettre en 
colère contre le Seigneur ou même me questionne sur sa présence. Dans ces 
moments de désolation, je me joins au psalmiste&nbsp; ce dernier crie son 
désespoir au Seigneur, il semble hurler de toute sa force. Les psaumes sont des 
prières que l’on trouve dans la Bible, celle-ci parlent des bienfaits du 
Seigneur, mais elles peuvent être également des cris de détresse. Le psaume 
suivant peut paraître très sombre, pourtant j’y trouve une grande lumière. En 
effet, malgré toute la souffrance que le psalmiste semble endurer, il continue 
de prier le Seigneur, il s’adresse à Lui, il sait bien qu’Il est là et qu’Il 
l’écoute&nbsp;! 

<blockquote>
  <p>
    Seigneur, mon Dieu et mon salut, <br />
    dans cette nuit où je crie en ta présence, <br />
    que ma prière parvienne jusqu’à toi, <br />
    ouvre l’oreille à ma plainte.
  </p><p>
    Car mon âme est rassasiée de malheur, <br />
    ma vie est au bord de l’abîme&nbsp;; <br />
    on me voit déjà descendre à la fosse, <br />
    je suis comme un homme fini. <br />
  </p><p>
    Ma place est parmi les morts, <br />
    avec ceux que l’on a tués, enterrés, <br />
    ceux dont tu n’as plus souvenir, <br />
    qui sont exclus, et loin de ta main. <br />
  </p><p>
    Tu m’as mis au plus profond de la fosse, <br />
    en des lieux engloutis, ténébreux&nbsp;; <br />
    le poids de ta colère m’écrase, <br />
    tu déverses tes flots contre moi. <br />
  </p><p>
    Tu éloignes de moi mes amis, <br />
    tu m’as rendu abominable pour eux&nbsp;; <br />
    enfermé, je n’ai pas d’issue&nbsp;: <br />
    à force de souffrir, mes yeux s’éteignent. <br />
  </p><p>
    Je t’appelle, Seigneur, tout le jour, <br />
    je tends les mains vers toi&nbsp;: <br />
    fais-tu des miracles pour les morts ? <br />
    leur ombre se dresse-t-elle pour t’acclamer&nbsp;? <br />
  </p><p>
    Qui parlera de ton amour dans la tombe, <br />
    de ta fidélité au royaume de la mort&nbsp;? <br />
    Connaît-on dans les ténèbres tes miracles, <br />
    et ta justice, au pays de l’oubli&nbsp;? <br />
  </p><p>
    Moi, je crie vers toi, Seigneur&nbsp;; <br />
    dès le matin, ma prière te cherche&nbsp;: <br />
    pourquoi me rejeter, Seigneur, <br />
    pourquoi me cacher ta face&nbsp;? <br />
  </p><p>
    Malheureux, frappé à mort depuis l’enfance, <br />
    je n’en peux plus d’endurer tes fléaux&nbsp;; <br />
    sur moi, ont déferlé tes orages&nbsp;: <br />
    tes effrois m’ont réduit au silence. <br />
  </p><p>
    Ils me cernent comme l’eau tout le jour, <br />
    ensemble ils se referment sur moi. <br />
    Tu éloignes de moi amis et familiers&nbsp;; <br />
    ma compagne, c’est la ténèbre. <br />
  </p>
  <footer class="source">
    <strong>Psaume 87</strong> chanté le vendredi soir aux Complies
  </footer>
</blockquote>

Ce psaume me met des mots sur mes lèvres pour extérioriser ces sentiments de c
olère ou de détresse. Il me rassure, j’ai le droit de ressentir cela, j’ai le 
droit de dire tout cela à Dieu, puisque le psalmiste le dit également. 
Finalement, il m’apaise et me rapproche du Seigneur en m’invitant à renouveler 
ma confiance en Lui, car je sais qu’il écoute ma prière, même si je ne vois
pas encore aujourd’hui son action.

Aujourd’hui, c’est mon grand-père qui est parti, pour une fois les choses sont 
plus dans l’ordre, mais cela reste encore difficile, bien que je sache déjà que 
le Seigneur fera des merveilles. Je sais également que tous ceux que j’ai cités 
sont maintenant ensemble au ciel, c’est une pensée qui me réjouis.

Son départ, le jour de la _Croix glorieuse_, est une invitation à se souvenir 
que le Christ a vaincu définitivement la mort, c’est une invitation à nous unir 
à la souffrance du Christ qui est mort sur la Croix pour chacun d’entre nous, 
c’est une invitation à avoir foi en la Vie Éternelle et en la Résurrection des 
morts. Aujourd’hui, nous faisons mémoire de _Notre-Dame des Douleurs_, 
c’est-à-dire de la Vierge Marie qui s’est unie à la souffrance de son Fils. 
Aujourd’hui, ma souffrance, c’est le départ de pépé, mais Marie me montre le 
chemin, elle veille sur moi elle qui a tant souffert, comme chaque maman perdant 
un enfant. Je sais aussi que ma propre mère veille sur notre famille, elle 
accueille son père et d’où elle est, veille sur ses enfants. 

Je me réjouis de pouvoir partir à Jérusalem où le cœur de notre foi s’est joué 
avec la Résurrection du Christ, préfiguration de la résurrection à laquelle nous 
sommes tous appelés. Je n’oublie pas, non plus, les grands cadeaux que 
j’ai&nbsp;: celui de la foi et celui de savoir que j’ai maintenant tant de 
personnes qui prient pour moi au ciel. Soyez assuré que je prierais pour eux en 
Terre Sainte&nbsp;!

_Je vous confie donc mon grand-père, ma famille ainsi que les démarches pour 
l’obtention de mon Visa pour que je puisse arriver à Jérusalem avant la rentrée 
académique du 02&nbsp;octobre._

**J’en profite pour vous rappeler mon envoi en mission dimanche soir aux Vêpres 
solennelles à la cathédrale de Meaux à 17&nbsp;h&nbsp;45.**
      
<p class="txtcenter"><span class="big">! להתראות</span>
  <em>Au revoir&nbsp;</em></p>

<figure class="txtcenter">
  <img src="uploads/2017/09/pepe.png" 
  alt="Mon grand-père" 
  width="40%" />
  <figcaption>
    Mon grand-père, Gilbert <span class="smallcaps">Roland</span>
  </figcaption>
</figure>
