2017-09-20T12:00:00
Départ imminent
<p class="txtcenter"><span class="big">הללויה</span>
  <em>Alléluia&nbsp;!</em></p>

Ces 10 derniers jours ont été bien remplis par mon départ en Terre Sainte et 
les obsèques de mon grand-père à préparer. Je vous remercie d’ailleurs de votre 
soutien et de vos prières qui ont portées beaucoup de fruits.

La vie spirituelle peut comporter des combats, certains peuvent être très 
visibles. Il suffit de voir tous les traquas qui me sont arrivés à l’approche du 
départ pour Jérusalem, le point d’orgue ayant été le départ pour le Père de mon 
grand-père. Mais cela est un bon signe, Satan se déchaîne souvent quand on tend 
vers quelque chose de bon pour nous, encore plus si cela nous rapproche de Dieu. 
En mai, lorsqu’on m’a parlé de faire un long stage d’inter-cycle, je ne voulais 
surtout pas partir à l’étranger, au contraire, je souhaitais me rapprocher de 
mon diocèse. Cependant, le 17 juin dernier, lorsque le prêtre responsable des 
séminaristes de mon diocèse m’a appelé, en visio, pour m’annoncer leur décision 
de m’envoyer en Terre Sainte, j’ai vraiment senti l’Esprit Saint souffler en me 
montrant que c’était la volonté de Dieu. L’expression de mon visage l’a 
d’ailleurs reflété&nbsp;: j’ai d’abord été accablé, avec le visage qui s’est 
fermé, mais quelques secondes plus tard, grande joie et grande paix et un grand 
sourire s’est dessiné. Le p. Thierry pourra en témoigner. 

Les obsèques sont toujours un moment triste, mais je suis heureux quand on 
arrive à transmettre un peu l’espérance chrétienne, celle qui provient de notre 
foi, car la mort n’est que la fin de la vie avec un petit «&nbsp;v&nbsp;» et le 
début de la Vie avec un grand «&nbsp;v&nbsp;». Merci encore à Anne-So et Céline 
qui ont animé la messe, au p. Guillaume qui a présidé la célébration et à Jordi 
qui a apporté un soutien musical. Le Seigneur a vraiment accompagné ma famille 
durant cette épreuve.

Je savais qu’une fois les obsèques passées, la situation pour mon Visa se 
débloquerais. Le Seigneur me l’avait inspiré, comme il a permis que je puisse 
être présent pour les préparatifs et la célébration, alors que je devais être 
parti pour Israël. C’est pourquoi, je n’ai pas été étonné de recevoir mardi 
après-midi le mail tant attendu avec le document me permettant d’aller chercher 
un Visa à l’ambassade. Cette dernière étant fermée pour le nouvel an juif 
_Roch Hachana_ ראש השנה jeudi et vendredi, j’ai eu la chance d’obtenir un 
rendez-vous pour le mercredi matin. Après avoir passé une partie de ma soirée à 
rassembler tous les documents qu’on pourrait me demander (n’ayant pas de liste, 
j’y vais à l’intuition&nbsp;: photo d’identité, justificatif de domicile, copie 
du livret de famille, acte de naissance, casier judiciaire, attestation de 
sécurité sociale, ...), je me rends à l’ambassade en prévoyant une petite marge
de 30&nbsp;min et j’arrive devant une file de personnes près de l’entrée. Il 
faut faire la queue pour qu’un agent nous interroge sur les motifs de notre 
rendez-vous. Il ne parle qu’hébreu et anglais, mais mon hébreu est très 
rudimentaire et je perds mon anglais devant lui. Après quelques questions 
(pourquoi venez-vous&nbsp;? pourquoi voulez-vous aller en Israël&nbsp;? où 
vivez-vous&nbsp;? où êtes-vous né&nbsp;?), on me laisse déposer mes affaires 
dans des casiers et aller au poste de sécurité suivant où je passe par un 
détecteur et où on scan les affaires que je souhaite introduire dans l’ambassade 
pour accomplir les formalités administratives. C’est un avant-goût des contrôles 
de sécurités que j’aurais pour prendre l’avion et à mon arrivée à Tel Aviv. 

Arrivé dans la salle d’attente, on patiente. Petit moment de solitude quand on 
est le seul à porter une croix et que la plupart sont juifs (au vu des kippas, 
c’est vrai qu’en Israël je ferais partie d’une minorité, mais tout le monde à 
l’air sympathique. Un monsieur attend à côté de moi de récupérer un Visa, car sa 
grand-mère vivant en Israël est mourante, des étudiants attendent le sésame pour 
faire leurs études à Jérusalem, des familles prévoient un voyage. Puis, vient 
mon tour, je m’approche de l’agente, elle parle français, ouf&nbsp;! Je donne 
mon document réalisé par les autorités israéliennes demandant à l’ambassade de 
me délivrer un Visa A/3 qui est le Visa ecclésiastique. Quelques questions, sur 
les raisons de ma venue en Israël et ma date de départ, et on me demande juste 
des documents pouvant justifier ma qualité de séminariste, je donne donc une 
lettre que l’évêque avait réalisé pour le patriarcat, un justificatif de 
domicile comme quoi je suis logé dans un presbytère, et mon attestation de Sécu 
(je suis à la Cavimac, la caisse des cultes). Et on m’annonce, «&nbsp;c’est bon, 
c’est parti&nbsp;», puis on me rend mon passeport, tout est Ok, j’ai mon Visa. 
Grand sourire et je m’en vais joyeux en saluant la demoiselle avec 
un תודה רבה, שנה טובה, להתראות (_toda raba, chana tova, lehitraot_&nbsp;: merci 
beaucoup, bonne année, au-revoir). 

Je reprends donc le train, retour à Meaux, et j’achète mon billet d’avion&nbsp;: 
j’ai donc la joie de vous annoncer que je pars **lundi 25 septembre** en Israël. 
Vous pourrez suivre en direct mon vol en cliquant 
[ici](https://www.easyjet.com/fr/suivi-de-vol-en-direct/EZY3737).

<p class="txtcenter">
  À très bientôt, le prochain article sera normalement écrit depuis 
  Jérusalem&nbsp;!</em>
</p>

<p class="txtcenter"><span class="big">! להתראות</span>
  <em>Au revoir&nbsp;</em></p>

<figure class="txtcenter">
  <img src="uploads/2017/09/visa.jpg" 
  alt="Mon Visa" 
  width="40%" />
  <figcaption>
    Mon Visa
  </figcaption>
</figure>

