2017-09-27T12:00:00
Le voyage
<p class="txtcenter"><span class="big">בוקר טוב</span>
  <em>Bonjour (le matin)</em></p>

### Mon envoi en mission ###

Tout d’abord, je n’avais pas encore pris le temps de revenir sur mon envoi en 
mission, mais je trouvais important d’en parler en même temps que mes premiers 
pas en Terre Sainte. 

Lorsqu’il a été décidé de m’envoyer à Jérusalem, un autre séminariste a évoqué 
l’idée de faire un envoi en mission&nbsp;: de recevoir une bénédiction spéciale 
pour ce stage. Cette idée m’ayant tout de suite plu, j’en ai parlé à mon 
responsable. On a donc décidé de l’organiser à l’occasion de la première 
rencontre de l’année de la Fraternité Saint Étienne, dont je suis membre, aux 
cours des Vêpres pour que ceux qui le désirent puissent y assister. 

La Fraternité Saint Étienne est très importante pour moi, non seulement 
parce qu’elle marque mon désir d’une vie fraternelle, mais également car elle 
propose de vivre cette vie avec différents états de vie (prêtres, religieux, 
laïcs consacrés ou mariés), de plus, étant une fraternité diocésaine, elle me 
rattache davantage au diocèse. D’ailleurs, j’envisageais au départ ce temps de 
stage en lien avec la Fraternité et dans le diocèse, mais l’Esprit Saint avait 
un autre projet&nbsp;! Être envoyé en mission, c’est marquer que l’on ne part 
pas de son propre chef, mais que quelqu’un, ici le diocèse, nous envoie pour
vivre un temps particulier&nbsp;: je ne suis pas mis à l’écart, au contraire un 
lien fort existe avec mon diocèse. Réaliser cet envoi avec la Fraternité, c’est 
montrer que même à plus de 3000&nbsp;km, je reste membre et unie avec elle. 
D’ailleurs, j’espère bien pouvoir revenir le 26&nbsp;décembre prochain afin de 
renouveler mon engagement. 

Ainsi, au cours des Vêpres solennelle du lundi dimanche 17 septembre, j’ai été 
envoyé par le p.&nbsp;Thierry <span class="smallcaps">Leroy</span> qui est, je 
vous le rappelle, responsable de la formation des séminaristes pour le diocèse, 
mais également membre de la Fraternité. Après la récitation des psaume et avoir 
écouté la Parole de Dieu, le p.&nbsp;Thierry, qui présidait l’office, a fait un 
court commentaire de celle-ci&nbsp;:

<blockquote>
  <p>Vous êtes venus vers la montagne de Sion et vers la cité du Dieu vivant,
   la Jérusalem céleste, vers des milliers d’anges en fête, et vers 
   l’assemblée des premiers-nés dont les noms sont inscrits dans les cieux.
   Vous êtes venus vers Dieu, le juge de tous les hommes, et vers les âmes
   des justes arrivés à la perfection. Vous êtes venus vers Jésus, le 
   médiateur d’une Alliance nouvelle, et vers son sang répandu sur les 
   hommes, son sang qui parle plus fort que celui d’Abel.
 </p>
  <footer class="source">
    <strong>Parole de Dieu&nbsp;:</strong> He 12, 22-24 (vêpres du dimanche IV
    du TO)
  </footer>
</blockquote>

Il a souligné l’aspect visible de la liturgie que l’on vit avec nos cinq sens, 
mais qui nous rend déjà partie prenante de la Jérusalem céleste en mêlant nos 
voix à celles des anges et à celles des saints. En effet, cette union de la 
louange se réalise dans notre vie de baptisé, mais aussi dans la liturgie. Il a 
ensuite ajouté&nbsp;:

> Grégoire, tu serais envoyé non pas vers la Jérusalem céleste, mais vers la 
> Jérusalem terrestre, puisses-tu y trouver en cette Jérusalem terrestre 
> traversée par tellement d’évènements joyeux, mais aussi par tellement 
> d’évènements douloureux, tellement de divisions&nbsp;; puisses-tu trouver 
> quelque chose de cette Jérusalem céleste&nbsp;; puisses-tu trouver les 
> ferments de paix qui cherchent à unir les parties qui s’opposent&nbsp;; 
> puisses-tu trouver sur les lieux même où notre Seigneur a vécu, est mort et 
> est ressuscité, la joie, une joie renouvelée de croire et de te former pour 
> un jour, si Dieu le veut, devenir prêtre.

Après le chant du _Magnificat_, les intercessions et le _Pater_, j’ai pu 
présenter, rapidement, ma mission en Terre Sainte. J’ai ensuite été invité à 
m’avancer vers le centre du chœur et les membres et amis de la Fraternité ont 
été invités à poser leur main sur mes épaules. Je pensais que cet envoi, que je 
désirais vivre, allait être juste une étape, mais j’ai été saisi par l’Esprit 
Saint, les paroles de bénédictions ont été directement dans mon cœur et la 
présence de tous mes frères et sœurs de la Fraternité autours de moi a été très 
forte. Que mes mots sont faibles pour décrire ces instants de grâces où la 
présence du Seigneur est si claire. À cet instant, j’ai eu la confirmation que 
ce stage est la volonté du Seigneur, ça y est, je suis prêt à partir, c’est 
fait, mon cœur est prêt à vivre cette aventure.

<blockquote>
  <p><strong>
    Bénédiction de Grégoire Partant en mission d’étude et de service à 
    Jérusalem dans le cadre de sa formation de séminariste
  </strong>
  </p><p>
   Dieu dont l’amour englobe l’univers<br />
   Tu as sanctifié la ville de Jérusalem<br />
   au point d’en faire la préfiguration de la Jérusalem céleste<br />
   où l’assemblée des saints et une multitude d’anges en fête<br />
   te rendent gloire.
  </p><p>   
   Sois favorable à ton serviteur Grégoire qui part séjourner en cette ville,
    <br />
   dirige ses chemins selon ta volonté,<br />
   que la puissance de ta grâce fortifie son cœur,<br />
   qu’en étant un messager de salut et de paix<br />
   il soit comblé de ta paix.<br />
   Développe en lui la foi, l’espérance, la charité<br />
   et le ferme propos de te servir.
  </p><p>   
   Que ton serviteur Grégoire soit sûr de ta force.<br />
   Soutenu par ta bénédiction, qu’il n’oublie pas de t’en rendre grâce<br />
   et de te bénir avec une joie continuelle<br />
   Par Jésus, le Christ notre Seigneur.<br />
  </p><p>   
  <strong>R<sub>/</sub></strong> Amen
  </p>
  <footer class="source">
   Inspiré du livre des bénédictions 337, 417, 1264 et de He 12, 22
  </footer>
</blockquote>

Le soir, lors de la rencontre de la Fraternité, j’ai été invité à partager sur 
mon stage et sur comment je voyais mon lien avec la Fraternité à une si grande 
distance. Il est clair que ce lien sera avant tout spirituel et donc dans la 
prière, mais il y a trois signes visibles&nbsp;:

 - je suis séminariste du diocèse de Meaux
 - la croix que je porte qui marque mon appartenance à la Fraternité
 - l’École Biblique que je fréquenterais qui est bâtie sur le tombeau de 
    Saint Étienne, saint patron de notre Fraternité et du diocèse.

Je vous remercie pour vos prières, pour les petits mots reçus à cette occasion 
et pour ceux qui ont pu se déplacer. J’ai notamment été très touché par la 
présence d’un père de famille venu au nom de tous ses proches et par celle 
d’une maman, venue à la demande de son fils qui ne pouvait pas être présent. 


### Les derniers préparatifs ###

Le temps s’accélère curieusement à l’approche d’un tel départ&nbsp;! Alors, on 
rassemble les affaires dont on pourrait avoir besoin et on fait les valises. Les 
valises... grand problème pour moi qui ai toujours peur de manquer de quelques 
choses. Je voyage large puisque j’ai le droit à trois valises de 20&nbsp;kg, 
mais je les remplis à une vitesse folle. Alors, je retire des livres, quelques 
vêtements, ... je n’ai plus que 2 ou 3&nbsp;kg en trop. Que c’est dur de les 
alléger&nbsp;: je crois que j’ai encore beaucoup d’efforts à faire pour arriver 
à me détacher, j’admire les missionnaires qui partent avec si peu&nbsp;! Mais 
j’y arrive, j’essaie de ne pas penser au problème lors du retour où j’aurais de 
nouveau accumulé plein de choses. Je prépare également les papiers 
indispensables et de quoi m’occuper durant le voyage.

La nuit fût courte&nbsp;: difficile de trouver le sommeil et à 5&nbsp;h du
matin je me suis réveillé et j’ai eu beaucoup de mal à m’endormir. Ça tourne 
vite dans ma tête, c’est une nouvelle aventure qui commence, cela me stresse pas 
mal. Heureusement, j’ai pu passer une superbe soirée avec certains du presbytère 
et Jean, un séminariste, venu me dire au revoir. 

Grand coup d’œil dans la chambre, je crois que je n’ai rien oublié, alors je 
file, direction l’aéroport, dans quelques heures je quitte le sol français, 
dans quelques heures je me retrouve sur la terre que le Christ a foulée&nbsp;!


### Le voyage ###

L’avantage de ne pas vivre seul, c’est que l’on trouve toujours un frère pour 
filer un coup de main. Alors, lundi 25 septembre au matin, après avoir dire au 
revoir aux prêtres du presbytère, Jean-Baptiste C., séminariste, m’emmène à 
l’aéroport. Je devais être en avance pour passer les contrôles de sécurité, je 
prévois donc d’y être dès 9&nbsp;h&nbsp;30. Une fois arrivé, je retrouve le 
p.&nbsp;François, modérateur de la Fraternité, venu me saluer et me bénir avant 
mon départ.

Première étape, déposer les bagages, j’arrive avec trois sacs, je vais séjourner 
deux ans, alors au contrôle de sécurité on me colle une étiquette rouge sur mon 
passeport&nbsp;: j’aurais le droit à des contrôles approfondis. Je dépose mes 
valises, c’est bon je ne dépasse pas le poids&nbsp;! Puis avec JB et François 
on s’installe au _Starbucks_ pour boire un café et discuter un peu. Il est 
10&nbsp;h&nbsp;15, j’embarque à 12&nbsp;h&nbsp;10, cela me laisse du temps. Vers 
11&nbsp;h, je décide de les quitter, d’aller passer les contrôles pour me 
diriger vers les portes d’embarquement. Ils font tarder le moment de se quitter, 
puis un chariot me bouscule, je me retourne&nbsp;: Ségolène, Jordane et leur 
fils, un de mes trois filleuls, Thomas, me font la surprise d’être venu me dire 
au revoir. Je comprends pourquoi JB et François ne voulaient pas me laisser 
partir, ils ont bien réussi à garder la surprise en me retenant&nbsp;! Après 
une dernière salutation, et une bénédiction du p.&nbsp;François, je me dirige 
vers le contrôle pour accéder à la salle d’embarquement. Je dépose mes affaires 
dans les bacs et on contrôle ma carte d’embarquement, où figure aussi 
l’autocollant rouge. Alors, je passe le portique et on m’explique qu’ayant ce 
sticker je vais être palpé et mon bagage à main complètement fouillé. Je passe 
les contrôles avec un grand sourire. Finalement, les plus gênés sont les 
contrôleurs qui se justifient et veulent me rassurer en expliquant que c’est 
normal sur ces vols. Ça ne me dérange pas, car j’ai été prévenu avant de partir, 
je savais que j’aurais ce type de contrôles. Une fois le bagage refermé, je 
passe le sas de la douane, j’arrive en zone internationale, puis je patiente 
pour l’embarquement. 

Dans la file, pour embarquer dans l’avion, je rencontre deux sœurs juives, âgées 
d’environ 60&nbsp;ans, partant inhumer leur maman en Terre Sainte. Nous avons eu 
un très bel échange&nbsp;: me demandant les raisons de ma venue en Israël, je 
leur explique ma mission en Terre Sainte. Elles se réjouissent de ce que je vais 
vivre&nbsp;: elles aiment cette terre, elles m’assurent que je reviendrais 
changé, et que l’apprentissage de l’hébreu ne sera pas trop dur. De mon côté, je 
les assure de mes prières pour leur mère et leurs familles. Un peu plus tard, 
dans l’avion, on s’échangera des noms pour prier les uns pour les autres. Le vol
se passe bien, c’est ma première fois avec _EasyJet_, c’est sûr que le confort 
est plus rudimentaire que celui d’autres compagnies, mais c’est un voyage 
agréable. Petit pincement au cœur au moment du décollage quand je quitte le sol 
français, un peu plus tard, par un hublot, j’apercevrais les Alpes, à très 
bientôt la France. Chez EasyJet on paie son repas, alors je me fais 
plaisir&nbsp;: pour moi ce sera un wrap Houmous et Falafel. Mes voisins 
viennent de Montréal et vont aussi visiter pour la première fois Israël, l’un 
d’eux a fait le petit séminaire quand il était jeune. 

L’atterrissage approche, j’arrive sur cette Terre Sainte, mais avant d’atteindre 
mon logement, j’ai encore quelques étapes à franchir. Nouveau pays, nouvelle 
culture, nouvelle langue et je dois me débrouiller pour atteindre ma chambre. Ce 
ne sera pas compliqué, mais pour moi c’est une première&nbsp;! Du hublot, 
j’aperçois la terre ferme, on voit la ville de Tel Aviv avec ses nombreux 
immeubles, le sol se rapproche et c’est l’atterrissage. Il est 
18&nbsp;h&nbsp;15, ça y est, je suis en Terre Sainte. On quitte l’avion pour 
rejoindre un bus nous emmenant jusqu’à l’aérogare principal, il doit y avoir 
10&nbsp;min de route. Je débarque dans un monde où l’alphabet hébraïque est 
majoritaire, heureusement je repère quelques mots et l’anglais est aussi bien 
présent. J’arrive au contrôle des frontières, je me rappelle mon passage à 
l’ambassade, il faut un peu de patience, mais j’arrive finalement assez vite 
devant une dame fort sympathique. Lorsqu’elle me demande les raisons de ma 
venue, je lui explique que je viens travailler avec une paroisse hébraïque et 
lui dit en hébreu&nbsp;: אני לומד עברית _ani lomed ivrit_, j’apprends l’hébreu, 
cela la fait sourire et tout va vite, il est 19&nbsp;h&nbsp;10, j’ai passé 
officiellement la frontière. Puis il me faut changer mes euros, le taux n’était 
pas intéressant à l’aéroport, mais j’avais besoin de shekels très vite. Je 
trouve un caddie et je récupère mes bagages (je me rendrais compte plus tard 
qu’une des valises a été fouillée et qu’ils ont cassé la serrure&nbsp;: 
impossible d’ouvrir la valise, je devrais forcer la fermeture). Je quitte 
rapidement le hall et je pars à la recherche d’un _sherout_ שירות, les fameux 
taxis collectifs. Plusieurs taxis m’abordent, je les ignore et file vers un des 
véhicules de 10 places où je repère, en hébreu, l’inscription _sherout_ et en 
anglais _Taxi Nesher_ (qui est le nom de la compagnie), un type m’arrête, me 
demande ma destination et m’envoie vers le bon véhicule où j’explique au 
chauffeur où je veux me rendre.

Le _sherout_ pourrait être le rite initiatique, je me retrouve entouré de juifs 
orthodoxes, on me dévisage et les regards se fixent sur ma croix. Je m’installe. 
Il ne vaut mieux pas avoir peur en voiture, vu la vitesse folle à laquelle il 
double et slalom sur la route. Les bandes d’arrêts d’urgence sont des espaces 
pour doubler, les lignes blanches sont décoratives et le klaxon rythme cette 
course folle. Ça y est, j’y suis&nbsp;! L’excitation tombe un peu, un peu de 
stress, j’espère ne pas me faire arnaquer et surtout arriver au bon endroit. Le 
chauffeur, tout en conduisant, me fait payer juste avant mon arrêt (il n’a 
grossi le tarif que de 3&nbsp;₪, soit moins d’1&nbsp;€) et me lâche à un 
croisement en me demandant de prendre vite mes bagages. Je me retrouve dans 
Jérusalem, avec 60&nbsp;kg de bagages, heureusement j’ai internet sur mon 
téléphone et Google Maps&nbsp;: je ne suis qu’à 30&nbsp;m de chez les sœurs où 
je vais loger. 21&nbsp;h&nbsp;15, je franchis le portail, je suis arrivé&nbsp;! 


### Premier soir ###

Je fus tout de suite accueilli par une des sœurs, on me propose d’avaler 
quelque chose, puis on m’amène au studio que je vais occuper. Il doit faire 10 
ou 12&nbsp;m² avec un lit, une armoire, un bureau qui menace de s’effondrer, une 
table de nuit, une petite kitchenette avec un frigo et une petite salle de bain. 
Apparemment, je vais devoir préparer tout mes repas. Moi qui espérais avoir une 
vie fraternelle, je me retrouve plutôt comme un étudiant au milieu d’une grande 
ville. Cela me donne un sérieux coup de blues. Cette vie fraternelle est 
indispensable pour moi, et là je vais me retrouver bien seul. Je me retrouve 
également à devoir trouver à manger demain et me préparer tous mes repas. Ce 
principe ne me dérange pas en soit, mais c’est des choses que je veux faire à 
plusieurs, pas tout seul. Avec ce coup de blues, je ne vois que les défauts de 
ma chambre qui est un peu vétuste&nbsp;: il y a des traces d’humidité, des 
choses ne fonctionnent pas, ce n’est pas très propre (notamment dans les 
placards), honnêtement, à ce moment-là, je ne me vois pas y vivre deux ans, que
ce soit dans cette chambre où en Israël. Sans compter que je réalise que je suis 
loin de tout le monde pour une certaine durée, mes proches et mes amis me 
manquent déjà. Je déballe quelques affaires, je me bats avec la valise abîmée et
je mets le reste dans un coin et me couche en ronchonnant, un peu déprimé. La 
fatigue du voyage et la peur de l’inconnu doit évidemment jouer dans cet état. 

_Je termine cet article sur une note qui n’est pas très positive, ce coucher ne 
donne pas envie, mais les choses vont mieux aujourd’hui, j’y reviendrais dans un 
prochain article, car celui-là est déjà très long&nbsp;! Donc ne vous inquiétez 
pas pour moi, ça va mieux depuis, mais je compte quand même sur vos prières._

<p class="txtcenter"><span class="big">לילה טוב</span>
  <em>Bonne nuit</em></p>

<figure class="txtcenter">
  <img src="uploads/2017/09/atterrissage.jpg" 
  alt="Juste avant l’atterrissage" 
  width="50%" />
  <figcaption>
    Juste avant l’atterrisage à l’aéroport de Ben Gurion de Tel Aviv
  </figcaption>
</figure>
