2017-10-03T12:00:00
Premiers pas à Jérusalem

<p class="txtcenter"><span class="big">?מה חדש</span>
  <em>Quoi de neuf</em></p>
    
Le dernier article s’est terminé sur une note négative, mais ne vous inquiétez 
pas, la suite est beaucoup plus positive, même s’il y a eu des choses pas 
évidentes pour mes débuts. Merci à tous pour vos messages de soutien et vos 
prières.


### Le premier réveil ###

Après une bonne nuit de sommeil, je me suis levé dans de meilleures dispositions 
que celles de mon couché. J’ai pu prendre le petit déjeuner avec quelques hôtes 
de la maison, notamment trois pasteurs protestants venu rencontrer les 
différentes églises pour organiser un grand jubilé en 2033 à l’occasion des 
2000&nbsp;ans de la Résurrection.

Après avoir déballé une valise, je suis parti en quête de nourriture pour mon 
déjeuner. Pour cela, je me suis dirigé vers la porte de Damas qui se trouve à 
2&nbsp;min de mon hébergement. Il s’agit d’une des entrées de la vieille ville. 
Je n’avais pas prévu d’y pénétrer dès le premier jour, mais étant si près j’ai 
saisi l’occasion. J’ai donc traversé la porte et je me suis ainsi retrouvé dans 
un souk dont les odeurs épicées régalaient mes narines. On y trouve une 
succession de petites boutiques où l’on peut trouver de tout, puis, un peu plus 
loin, on approche de boutiques chrétiennes, vendant croix, chapelets et autres 
objets pieux.

<figure class="txtcenter">
  <img src="uploads/2017/10/porteDamas.jpg" 
  alt="La porte de Damas" 
  width="45%" />
  <img src="uploads/2017/10/versPorteDamas.jpg" 
  alt="Environs de la porte de Damas" 
  width="45%" />
  <img src="uploads/2017/10/versPorteDamasBis.jpg" 
  alt="Environs de la porte de Damas" 
  width="45%" />
  <figcaption>
    La porte de Damas et ses environs
  </figcaption>
</figure>

C’est ainsi, au détour d’une rue, que je me retrouve face au Saint Sépulcre. 
Pour ceux qui ne le savent pas, il s’agit de la basilique construite sur les 
lieux de la crucifixion du Christ et sur son tombeau. Je décide donc d’y entrer.
À ce moment-là les franciscains célébraient un office. J’unis ma voix à la leur 
pour réciter les _Ave_ et les _Pater_, puis je les suis devant l’édicule 
construit sur le tombeau. Une fois l’office terminé, la foule reprend tout 
l’espace et déjà une queue immense se forme pour accéder au tombeau du Christ. 
Je décide donc de ne pas y aller dès maintenant, mais plutôt d’aller vénérer le 
lieu de la crucifixion qui se trouve près de l’entrée de la basilique, en haut 
d’un escalier.

Déjà à l’approche de la basilique, la présence du Christ était palpable, mais
en pénétrant à l’intérieur on est saisi par celle-ci, on ne peut ignorer que ce 
lieu est le plus saint de tous&nbsp;! Avoir autant de personnes dans une ville 
réunies pour prier rend vraiment Dieu présent, cela se sent au quotidien, comme 
si toutes ces prières dégageaient un parfum, cela donne une ambiance unique. Le 
ressenti de cette présence est très simple, sans grands guilis spirituels, sans 
grandes grâces sensibles, le Seigneur est là, c’est tout, il se rend présent 
comme une évidence. Après avoir confié ma mission au Seigneur, je ressors pour 
terminer ma quête de nourriture et aller préparer mon déjeuner.

<figure class="txtcenter">
  <img src="uploads/2017/10/saintSepulcre.jpg" 
    alt="Saint Sépulcre" 
    width="28%" />
  <img src="uploads/2017/10/edicule.jpg" 
    alt="Édicule" 
    width="28%" />
  <img src="uploads/2017/10/cruci.jpg" 
    alt="Lieu de la crucifixion" 
    width="40%" />
  <figcaption>
    Devant le saint Sépulcre&nbsp; entrée de l’édicule&nbsp;; lieu de la crucifixion.
  </figcaption>
</figure>

### Ma première messe en hébreu ###

Le soir, j’ai été invité à me rendre à la paroisse hébraïque, la _qehilla_
קהילה (communauté), pour rencontrer ceux avec qui je vais travailler. J’y suis 
donc allé pour les vêpres et la messe quotidienne de 18&nbs;h&nbsp;30. Cela a 
été un plongeon dans la langue hébraïque puisque l’intégralité est célébrée en 
hébreu. Les chants le sont également et forment un savoureux mélange de mélodies 
orientales et occidentales. Ces célébrations sont, ce sera confirmé les autres 
jours, de très belles célébrations d’une belle simplicité, mais avec une ferveur 
très forte, et une vraie joie. Je suis heureux d’arriver à reconnaître certains 
mots durant les lectures, mais heureusement que j’ai une appli sur mon téléphone 
pour les suivre en même temps en français&nbsp;!

Après la messe, j’ai été invité à manger avec les jeunes qui sont en mission 
avec le vicariat. Ce soir-là il y a deux israéliens, Danielle et Ronny, un 
séminariste du vicariat, Benny qui est d’origine italienne, et Clotilde une 
volontaire française de la [DCC](http://ladcc.org/). Pour la petite histoire, 
Benny m’a reconnu, comment&nbsp;? Il s’avère qu’il était à Assise en même temps 
que les séminaristes du diocèse et m’a vu à un café, avec Jean-Baptiste&nbsp;P. 
(on fêtait son acolytat). Finalement, le monde des cathos est bien petit&nbsp;!


### Le travail avec les jeunes ###

Le deuxième jour, j’ai découvert le centre où je vais travailler. Il se trouve à 
l’ouest de la vieille ville, pour me repérer, j’ai fait le chemin à pied avec 
Ronny (il faut 40&nbsp;min depuis mon hébergement). Ce lieu est ouvert depuis un 
peu plus d’un an et fait suite à un projet commencé à la qehilla il y a 
plusieurs années. Il s’agit d’accueillir les enfants dont les parents ne peuvent 
pas les garder ou les faire garder la journée. On a donc des enfants entre 0 et 
13&nbsp;ans. Les plus petits sont présents toute la journée, les plus grands 
seulement après l’école. Ils sont tous issus de l’immigration (notamment 
Éthiopie, Érythrée et Philippines). Dans le centre on parle de nombreuses 
langues&nbsp;: italien, français, anglais, arabe et hébreu. L’anglais et 
l’hébreu étant les langues majoritaires. D’ailleurs, les enfants philippins 
parlent souvent bien anglais.

Je travaillerais avec les plus grands (3-13&nbsp;ans) qui ne sont pas faciles, 
j’ai déjà réussi à me faire insulter en hébreu et à recevoir des doigts 
d’honneurs, car je leur avais interdit de passer par-dessus une barrière. Ce 
sont des enfants qui n’ont souvent pas de repères paternels puisque leur propre 
père est resté dans leur pays d’origine. En effet, l’état d’Israël limite 
l’immigration et évite donc les regroupements familiaux. Mais derrière leur 
dureté apparente, on voit surtout des enfants blessés qui ont besoin d’être 
aimés et qui ont un très grand cœur.

Il y a beaucoup de travail à faire et la nécessité de maîtriser l’hébreu est 
très forte. Néanmoins, le défi m’intéresse et j’ai vraiment envi de me donner 
pour eux. Dès que j’ai pénétré dans le centre, j’ai senti que le Seigneur 
m’appelait à cette place.

Je pense que dans quelques semaines je pourrais développer dans un article les 
activités que l’on fait avec tous ces enfants et les raisons de l’existence de 
ce centre. D’ici là, j’espère avoir pu commencer à apprivoiser ces jeunes, à ce 
qu’ils s’habituent à ma présence&nbsp;: comme le Petit Prince et le Renard.

### Découverte de Jérusalem ###

Je vous ai déjà raconté mes premières impressions sur le Saint Sépulcre. Les 
autres jours, j’ai découvert la Jérusalem moderne avec notamment le quartier de 
Jaffa et son immense rue commerçante et sa ligne de tramway qui le traverse. 
Même les quartiers récents sont très beau, l’urbanisation est très réussie. En 
effet, les architectes emploient les matériaux typiques de la région et 
notamment ces pierres dont la couleur varie selon le soleil. Cela donne une 
beauté toute particulière à cette ville, beauté qui me fascine. La verdure 
vient adoucir les paysages, on obtient un savoureux mélange de pierres et de 
plantes. Je ne saurais pas dire pourquoi, mais le seul autre pays où j’ai tout 
de suite apprécié la beauté a été l’Égypte, à l’occasion d’un voyage en 2004, 
où j’avais été fasciné par le lever de soleil sur le Nil lors de mon premier
réveil. Le point commun est la lutte apparente entre les éléments&nbsp;: la 
terre et le feu, par la chaleur et le désert présents dans ces deux pays, et 
l’eau avec le Nil et ses rivages verdoyant d’un côté, et tous les espaces verts
que comporte la ville de Jérusalem de l’autre côté.

Je me souviens qu’Annie, membre de la Fraternité, m’avait dit que l’on se 
sentait tout de suite chez soi à Jérusalem, je la comprends. J’ai le même 
sentiment&nbsp;: malgré les difficultés, je veux vraiment rester ici et me 
battre pour m’acclimater&nbsp;!

J’ai également pu faire, à l’occasion du Yom Kippour, une autre excursion dans 
la vieille ville avec deux volontaires françaises qui m’ont fait découvrir de 
magnifiques endroits. Dans de prochains articles, je pourrais détailler ces 
lieux.

### Quelles sont les difficultés ###

J’ai pu faire une mauvaise pub sur la chambre, après quelques jours, une fois 
mieux installé, ça va mieux&nbsp;! J’ai pu trouver un bon oreiller, faire un 
grand nettoyage (ce n’étais pas vraiment sale, juste inutilisé depuis quelque 
temps, donc avec un peu de poussière), mettre un peu de décoration,&nbsp;... 
Tout ce qu’il faut pour adopter un lieu. De plus, je participe maintenant aux 
Laudes (office du matin) avec les sœurs, à 7&nbsp;h et je suis invité à partager 
leur déjeuner mercredi 04 octobre à l’occasion de la saint François.

<figure class="txtcenter">
  <img src="uploads/2017/10/soeurs1.jpg" 
  alt="Chez les sœurs" 
  width="48%" />
  <img src="uploads/2017/10/soeurs2.jpg" 
  alt="Chez les sœurs" 
  width="48%" />
  <figcaption>
    Extérieur de la maison des sœurs où je loge (je suis dans un studio 
    derrière le grand bâtiment).
  </figcaption>
</figure>

Habituellement, j’aime tout prévoir, je laisse peu de place à l’imprévu. Alors, 
c’est une vraie difficulté pour moi que de me retrouver loin de mes points de 
repères et de laisser la place à cet imprévu, puisque beaucoup de choses n’ont 
pas été définis avant mon arrivée et que je dois donc organiser. Ce stage de 
deux ans est une vraie invitation à sortir de ma zone de confort, à laisser le 
Seigneur agir en évitant de chercher à tout contrôler.

La solitude se fait également plus pesante dans un pays culturellement plus 
éloigné du sien. Israël sous certains aspects est semblable à tous les autres 
pays occidentaux, mais sous d’autres aspects, on est vraiment au Moyen 
Orient&nbsp;! De plus, dans les presbytères où je suis passé, et bien sûr aussi 
au séminaire, il y a beaucoup plus de liens fraternels. Là je me retrouve la 
plupart du temps à manger ma popote dans mon coin, j’ai peu de contacts avec 
des personnes en dehors des Laudes, de la messe et du temps au centre. Moi qui 
suis demandeur d’une vie fraternelle forte, je suis dans une situation qui 
m’est très désagréable. Mais cela va normalement évoluer un peu. Je parlais 
d’éloignement culturel, il suffit d’aller faire ses courses pour s’en rendre 
compte, j’ai d’ailleurs constamment l’impression de me faire arnaquer sur les 
tarifs puisque rien n’est indiqué sur les produits&nbsp;: c’est vraiment à la 
tête du client. Sans compter bien sûr que je ne comprends pas forcément les 
étiquettes et que l’on trouve plutôt, en tout cas près du vieux Jérusalem, des 
petites épiceries qu’un supermarché bien organisé où tout serait disponible. 
D’autres petites choses bouleverses mes habitudes&nbsp;: ici le jour chômé est 
le samedi, le dimanche est une journée travaillée où les enfants vont à 
l’école, on se fait régulièrement klaxonner par les taxis qui cherchent des
clients, certaines habitudes alimentaires, ...

Au bout de quelques jours, j’ai fini de déballer mes valises, c’est souvent un 
indicateur que l’on s’est installé, qu’on n’est pas prêt à repartir. 
Heureusement également que beaucoup de personnes prient pour moi et qu’il existe 
les mails, les réseaux sociaux et les appels en viso pour pouvoir communiquer 
plus facilement. Ce sont des choses qui m’aident. Alors oui, je ne suis parti 
que depuis une semaine, mais tout devient compliqué quand on part pour plusieurs 
mois. Il y a une pression latente plus forte, le stress d’arriver à s’acclimater 
au plus vite pour que la mission se déroule au mieux, sans oublier le manque de 
ses proches qui est plus fort quand on sait qu’on est loin pour longtemps.

Je suis actuellement extrêmement fatigué à cause du changement de culture, du 
fait de changer constamment de langue au cours de la journée, et du stress dont 
je viens de parler. D’ailleurs, je viens d’attraper une grosse grippe qui m’a 
cloué au lit une partie de la journée de dimanche et dont je me remets petit à 
petit (sans doute dû au mélange de la fatigue et d’un microbe dont je n’ai pas 
l’habitude).

Enfin, j’ai la chance d’avoir rencontré plusieurs volontaires français, que ce 
soit au centre où je travaille, ou à l’École Biblique. La qehilla est aussi 
fréquentée par de nombreux francophones, ce qui apporte un peu de (ré)confort. 
Cela apporte également de la souplesse si j’ai besoin de quelque chose en 
particulier, ou tout simplement pour passer un peu de temps à découvrir 
Jérusalem ensemble.

<p class="txtcenter"><span class="big">ביי</span>
   <em>Bye</em></p>
 
<figure class="txtcenter">
  <img src="uploads/2017/10/jardinSoeurs1.jpg" 
    alt="Chez les sœurs" 
    width="48%" />
  <img src="uploads/2017/10/jardinSoeurs2.jpg" 
    alt="Chez les sœurs" 
    width="48%" />
  <img src="uploads/2017/10/jardinSoeurs3.jpg" 
    alt="Chez les sœurs" 
    width="48%" />
  <img src="uploads/2017/10/jardinSoeurs4.jpg" 
    alt="Chez les sœurs" 
    width="48%" />
  <figcaption>
    Vue depuis le petit jardin des sœurs
  </figcaption>
</figure>

