2017-10-17T12:00:00
Petite plongée dans le judaïsme

<p class="txtcenter"><span class="big">!היי</span>
  <em>Hey / salut&nbsp;!</em></p>

_Deux semaines sans nouvelles, mais comme je l’ai dit dans mon premier 
article, mon objectif est d’arriver à en écrire deux par mois, alors voici 
quelques nouvelles._

<figure class="txtcenter">
  <img src="uploads/2017/10/moiToitsSouk.jpg" 
    alt="Sur les toits du souk" 
    width="60%" />
</figure>
  
### Petit point géopolitique ###

Je vis désormais en Terre Sainte, plus particulièrement à Jérusalem. Mais pour 
certains, je suis en Israël, pour d’autres en Palestine. Je vais essayer de 
vous expliquer cela, alors voici une carte&nbsp;:

<figure class="txtcenter">
  <img src="uploads/2017/10/MapOfIsrael.svg" 
    alt="Sur les toits du souk" 
    width="50%" />
  <figcaption>
    Carte issue du site Wikipédia
  </figcaption>
</figure>

La Terre Sainte correspond aux territoires où a vécu Jésus, ceux dont nous 
parlent les Évangiles. Sans oublier certains lieux de l’Ancien Testament. Cela 
correspond donc à&nbsp;:

 - l’État d’Israël et les territoires annexés par celui-ci,
 - la bande de Gaza et la Cisjordanie,
 - la côte méridionale du Liban (_Lebanon_ sur la carte, au nord),
 - une partie de la Jordanie.

Sur la carte ci-dessus, vous avez en clair l’État d’Israël, et en vert vous avez 
Gaza et la Cisjordanie (notée _West Bank_), et le plateau de Golan, au nord, 
annexé unilatéralement par l’État d’Israël. 

Ce qui devient compliqué, c’est que pour certains états, et une partie de la 
population de ces territoires, Israël n’existe pas et l’ensemble forme la 
Palestine. Pour d’autre, la Palestine n’a pas d’existence en tant qu’État. Pour 
faire encore plus compliqué, certains reconnaissent l’un ou l’autre, mais pas 
l’ensemble de leur territoires. Ainsi, en étant logé chez les _White Sisters_ 
(FMM), je suis en territoire occupé, tout comme l’École Biblique. En effet, il 
n’était pas contrôlé par Israël jusqu’à la guerre des Six Jours en 1967. C’est 
d’ailleurs pourquoi le quartier est majoritairement arabe.

Détailler cela, expliquer l’histoire, et comprendre les revendications, 
nécessiterait sans doute une très longue recherche et une bibliothèque entière. 
Ce n’est pas mon but, c’est pourquoi je ne prendrais pas position dans ces pages 
vis-à-vis du conflit. Alors, lorsque je parlerais d’Israël ou de la Palestine, 
je le ferais de la manière la plus neutre possible et je pense que pour le 
moment c’est en désignant ainsi les territoires qui sont effectivement sous la 
juridiction et le contrôle de l’une ou de l’autre partie, que ce le soit de 
manière légale et reconnue, ou pas.


### Un nouveau calendrier ###

Lorsque l’on part vivre à l’étranger, il y a la nécessité de s’adapter au rythme 
local&nbsp;: il est par exemple connu que dans les pays très chaud la plupart 
des boutiques sont fermées entre 14&nbsp;h et 17&nbsp;h, qu’il est plus 
difficile de trouver du porc dans certaines régions, ...

Jusqu’à la création de l’état d’Israël, la région était majoritairement de 
culture arabo-musulmane. Mais maintenant la culture est beaucoup plus marquée 
par le judaïsme et l’État suit notamment le calendrier et le rythme hébraïque. 
C’est pourquoi, ici, le jour de repos hebdomadaire est le samedi, le _Shabbat_ 
שבת, et les écoles publiques ont des vacances correspondant aux fêtes 
juives&nbsp;: ici pas de vacances de Toussaint ou de Noël, mais des vacances de 
_Soukkot_ ou de _Hanoukka_. De même, une grande partie des jours fériés suivent 
les fêtes juives.

Une autre chose étonnante, mais que l’on retrouve chez les chrétiens pour les 
grandes fêtes, c’est le découpage des journées. En effet, nous sommes habitués à 
ce qu’une journée commence le matin et se termine le soir. Mais dans la culture 
hébraïque, la journée commence par le soir&nbsp;: «&nbsp;il y eut un soir, il y 
eut un matin, premier jour&nbsp;» (cf livre de la Genèse). Ainsi, lorsqu’un jour 
est chômé, ou férié, cela commence dès la veille, à la tombée de la nuit. C’est 
pourquoi dès le vendredi soir, vers 17&nbsp;h, il n’y a plus de bus et les 
magasins ferment. Ce découpage se retrouve, comme je le disais, chez les 
chrétiens, notamment lorsque nous célébrons les premières vêpres d’une fête, la 
veille au soir.

Tout cela est à prendre en compte, car lorsqu’une journée est chômée, la plupart 
des magasins sont fermés et les lignes de bus publics sont fermées. De plus, mon 
travail au Centre Sainte Rachel dépend de ce calendrier, puisque nous fermons 
ces jours-là et anticipons la fermeture la veille pour correspondre à l’arrêt 
des bus. Enfin, j’ai habituellement les jeunes l’après-midi, mais lors des 
vacances scolaires, nous accueillons les 3-13 ans dès le matin, je me retrouve 
donc avec des journées pleines.


### Shabbat ###

Chaque samedi à lieu le _shabbat_ qui est une prescription juive pour suivre 
l’exemple de Dieu qui s’est reposé le septième jour. Il s’agit d’un commandement 
biblique. Chez les chrétiens, ce repos hebdomadaire n’est plus le septième jour, 
mais le premier jour de la semaine, le dimanche, en l’honneur du Christ 
ressuscité. Il est vrai que nos calendriers commencent maintenant par le lundi 
mais, dans certaines langues, on peut retrouver cet ordre dans le nom des jours. 
Par exemple, en portugais&nbsp;: 

| dimanche | lundi | mardi | mercredi | jeudi | vendredi | samedi |
| :------: | :---: | :---: | :------: | :---: | :------: | :----: |
| _domingo_ | _segunda-feira_ | _terça-feira_ | _quarta-feira_ | _quinta-feira_ | _sexta-feira_ | _sábado_ |
| Jour du Seigneur | 2<sup>e</sup> jour | 3<sup>e</sup> jour | 4<sup>e</sup> jour | 5<sup>e</sup> jour | 6<sup>e</sup> jour | shabbat | 

Durant cette journée consacrée au repos et à l’étude de la Torah, qui commence 
donc le vendredi soir à la tombée de la nuit et qui se termine le samedi une 
fois la nuit tombée, de nombreuses activités sont interdites. On ne doit pas 
travailler, ne pas conduire, ne pas cuisiner, ne pas écrire, ne pas allumer 
d’appareil électrique et donc ne pas appuyer sur les interrupteurs des lumières. 
C’est pourquoi la journée du vendredi est consacrée à la préparation de ce 
temps, notamment l’après-midi où les Israéliens terminent leur travail souvent 
plus tôt. Les repas des 24&nbsp;h suivantes sont préparés, on active les 
minuteries pour ne pas avoir à toucher aux interrupteurs, on lave aussi la 
maison pour ne pas avoir à le faire durant le shabbat.

La soirée commence par un repas festif. La table est dressée, notamment avec des 
bougies, et le chef de famille récite le _kiddouche_, une bénédiction, sur le 
verre de vin avant d’en boire un peu et de le faire passer à tous les convives 
pour qu’ils en boivent à leur tour. Ensuite le pain est rompu et partagé. Oui, 
cela ressemble à notre Eucharistie, à ce qui se passe à la messe. En effet, 
Jésus à fait les même gestes en instituant l’Eucharistie, la différence, 
essentielle, c’est qu’il a ajouté que le pain est son corps et le vin est son 
sang. De fait, cette bénédiction du pain et du vin est devenue un sacrement avec 
la présence réelle du corps et du sang du Christ.

Je n’ai jamais pas pu vivre ce temps avec une famille juive, mais nous reprenons 
le rituel pour le repas du vendredi soir à la qehilla, on entre ainsi dans le 
shabbat en union avec nos frères juifs. La première fois que je l’ai vécu, le 
lien avec l’Eucharistie m’a tout de suite sauté aux yeux. Je comprends un peu 
mieux la révolution qu’ont dû vivre les disciples du Christ lors de la Sainte 
Cène&nbsp;: Jésus en reprenant ce rituel, qu’ils connaissaient et pratiquaient 
tous, l’a transfiguré en en faisant un sacrement.

<figure class="txtcenter">
  <img src="uploads/2017/10/rueDeserte.jpg" 
    alt="Shabbat, rue déserte" 
    width="70%" />
  <figcaption>
    Shabbat, la rue est déserte et on peut marcher sur les voies du tramay
  </figcaption>
</figure>

On m’a raconté deux anecdotes concernant le shabbat. Un séminariste, ici à 
Jérusalem, participait à un office à la synagogue, mais la chaleur était trop 
forte et la climatisation n’avait pas été démarrée. Problème, personne ne peut 
le faire puisque il est interdit d’allumer un appareil électrique. Alors, les 
hommes se demandent si un enfant de 5&nbsp;ans, présent dans l’assemblée, peut 
le faire, puisque étant très jeune il n’a pas l’obligation de respecter toutes 
les prescriptions. Finalement, le séminariste fait signe, explique qu’il n’est 
pas juif et qu’il peut donc allumer la clim. Ce que le rabbin accepte avec 
joie&nbsp;!

Une autre fois, un volontaire italien se rendait à la messe, mais il se fait 
arrêter en pleine rue par un juif lui demandant si lui aussi était juif. Le 
volontaire répond par la négative et l’homme s’empresse alors de le faire entrer 
chez lui. Notre volontaire le suit, pas très rassuré, finalement le juif avait 
juste besoin de lui pour allumer une lumière. Ce qu’il fera avant d’accepter le 
vers de jus d’orange proposer et de se rendre à la messe, où il arrivera 
d’ailleurs un peu en retard.


### Yom Kippour ###

Je vous avais déjà évoqué _Roch Hachana_ où l’ambassade israélienne en France 
était fermée. Cette fête, dont le nom signifie littéralement «&nbsp;tête de 
l’année&nbsp;», marque le début de l’année juive et le début du cycle des fêtes 
annuelles. Elle a lieue en septembre ou en octobre (le calendrier suit le cycle 
lunaire, les fêtes sont donc mobiles, comme la date de Pâques). La fête 
introduit également dix jours de pénitence qui sont une période d’introspection 
durant laquelle Dieu juge le monde. Les juifs demandent alors pardon à Dieu, et 
se repentent des fautes commises. Ils en profitent pour se rencontrer ou 
s’appeler pour se demander pardon les uns aux autres.

Le dixième jour est le plus solennel de l’année, il s’agit de Yom Kippour, 
יום הכיפורים _Yom Hakippourim_, «&nbsp;le jour des propitiations&nbsp;», 
également appelé le «&nbsp;Jour du Grand Pardon&nbsp;». Il s’agit d’un grand 
jour de jeune et de pénitence. Durant cette journée, la vie du pays s’arrête. 
En effet, la plupart des juifs respectent cette journée, même si habituellement 
ils ne suivent pas les prescriptions religieuses. Ainsi, les magasins et 
services publics sont fermés, plus aucun bus ne circule, des rues voient leurs 
accès bloqués et rare sont les voitures que l’on voit traverser Jérusalem. Même 
le transport aérien est interrompu. Ainsi, le pays semble s’arrêter durant 
24&nbsp;h.

Cette année il avait lieu le 30&nbsp;septembre. Ainsi, dès la veille, le 
vendredi soir, les _shofar_, שופר instruments à vent fabriqués dans une corne, 
sonnent dans toute la ville, durant plusieurs minutes le son retentit, puis tout 
s’arrête et devient silence. C’est le signe que Yom Kippour débute. Chaque 
vendredi, pour le shabbat, un peu avant la tombée de la nuit, on entend cette 
sonnerie afin prévenir les populations de se dépêcher de terminer les activités 
interdites ce jour-là Mais pour Yom Kippour, la sonnerie est plus longue, plus 
forte, elle retentit partout. Je suis sorti juste après, pour me rendre à la 
messe. La ville était quasiment déserte, mais j’ai surtout été marqué par 
l’absence de véhicule sur l’artère que je traverse tous les jours. La police 
avait même fermé les accès. Durant 24&nbsp;h, l’atmosphère austère et solennelle 
était palpable. De nombreux juifs convergeaient vers les synagogues pour y 
prier. Nombreux sont ceux qui ne s’y rendent qu’une fois l’an à cette occasion.

Le samedi, j’ai profité d’une sortie dans la vieille ville pour me rendre au Mur 
des Lamentations ou Mur occidental qui est un mur de soutènement de l’esplanade 
du Temple. Il s’agit d’une synagogue à ciel ouvert. Après avoir passé un 
contrôle de sécurité (vu la situation géopolitique il s’agit d’un site sensible) 
où il m’a notamment été demandé de cacher ma croix pour de pas offenser certains 
juifs, de manière très aimable par un soldat, je me suis rendu vers le Mur. Il y 
a deux espaces pour séparer les hommes des femmes, je me dirige donc vers le 
côté des hommes, au nord. Je prends une kippa mise à disposition, et je 
m’approche de ce lieu où de nombreux juifs priais en ce jour. Tout de suite me 
vient en tête l’image des papes qui y sont venus prier. Je profite donc d’être 
dans ce lieu pour prier un peu et notamment pour la paix dans le monde et plus 
particulièrement pour le conflit israélo-palestinien.

<figure class="txtcenter">
  <img src="uploads/2017/10/kotel1.jpg" 
    alt="Mur des Lamentations" 
    width="45%" />
  <img src="uploads/2017/10/kotel2.jpg" 
    alt="Mur des Lamentations" 
    width="45%" />
  <figcaption>
      Mur des Lamentations
  </figcaption>
</figure>


### Soukkot ###

Cinq jours après Yom Kippour, début la fête de Soukkot, הג הסכות 
_hag hasoukkot_, la «&nbsp;fête des Tentes&nbsp;» ou la «&nbsp;fête des 
Tabernacles&nbsp;». Elle est célébrée durant une semaine et commémore les 
quarante années que les hébreux ont passées dans le désert du Sinaï, entre la 
sortie d’Égypte et l’arrivée en Terre Sainte.

À cette occasion, j’ai pu voir fleurir dans Jérusalem de nombreuses _soukkot_, 
pluriel de _soukka_ סוכה «&nbsp;tentenbsp;». Il s’agit de tentes que 
construisent les juifs pour célébrer cette fête. Elle doit être à l’extérieur 
des habitations et le toit doit être fait de matière naturelle. Les familles y 
prendront au moins leurs repas durant les fêtes. On en trouve donc un peu 
partout&nbsp;: sur les toits, devant les restaurants, sur les balcons, sur les 
espaces verts devant les immeubles, ... Des petites et des grandes.

<figure class="txtcenter">
  <img src="uploads/2017/10/sukka3.jpg" 
    alt="Soukkot sur des balcons" 
    width="45%" />
  <figcaption>
      Sukkot sur des balcons
  </figcaption>
</figure>

<figure class="txtcenter">
  <img src="uploads/2017/10/sukka2.jpg" 
    alt="Soukka sur un toit" 
    width="45%" />
  <img src="uploads/2017/10/sukka1.jpg" 
    alt="Soukka dans une rue" 
    width="45%" />
  <figcaption>
      Sukkot sur un toit ou dans une rue
  </figcaption>
</figure>

À la qehilla, nous en avons monté une et nous y avons mangé le vendredi soir du 
shabbat. C’est une belle manière de s’unir au peuple juif et de se souvenir du 
Seigneur qui a fait sortir son peuple d’Égypte et l’a accompagné dans le désert 
durant 40&nbsp;ans en lui procurant chaque jour de quoi manger et boire.

<figure class="txtcenter">
  <img src="uploads/2017/10/sukkaQehilla2.jpg" 
    alt="Soukka qehilla" 
    width="45%" />
  <img src="uploads/2017/10/sukkaQehilla1.jpg" 
    alt="Soukka qehilla" 
    width="45%" />
  <figcaption>
      La sukka de la qehilla
  </figcaption>
</figure>

Durant cette semaine, les familles s’invitent entre elles pour partager les 
repas. Ainsi, le soir on peut croiser dans les rues de nombreuses familles se 
rendant à ces soirées. Elles sont toutes sur leur 31. Le contraste est grand 
par rapport à Yom Kippour où l’atmosphère était pleine de pénitence. Durant 
cette semaine, c’est vraiment une atmosphère de fête qui règne dans la ville. 
Il n’est pas rare d’entendre des chants provenant des soukkot ou des synagogues.


### Un rythme qui prend forme ###

À l’occasion de la fête de Soukkot, les enfants étaient en vacances. C’est ainsi 
que le centre où je travaille a vu sa fréquentation bondir et que je me suis 
retrouvé, avec les autres animateurs, avec une cinquantaine d’enfants de 3 à 
13&nbsp;ans, toute la journée durant une semaine. La fête commençant et se 
terminant par un jour chômé, j’ai été heureux d’avoir ces coupures, ainsi que le 
shabbat et mes deux mardis à l’École Biblique. Le travail avec ces jeunes est 
éreintant et j’ai vraiment hâte de commencer à maîtriser l’hébreu moderne pour y 
être plus impliqué. La barrière de la langue est encore énorme&nbsp;!

Heureusement, j’ai repris, depuis dimanche, le rythme classique et je commence 
un cours intensif d’hébreu moderne (6&nbsp;h par semaines). Je devrais donc vite 
faire des progrès.

Voici, pour vous donner une idée, le découpage de ma semaine&nbsp:

<table class="w75 center">
  <tr>
    <td></td>
    <th class="txtcenter">Matin</th>
    <th class="txtcenter">Après-midi</th>
    <th class="txtcenter">Soir</th>
  </tr>
  <tr>
    <th class="txtcenter">Dimanche</th>
    <td></td>
    <td class="txtcenter" style="color:blue">Travail au centre</td>
    <td></td>
  </tr>
  <tr>
    <th class="txtcenter">Lundi</th>
    <td></td>
    <td class="txtcenter" style="color:blue">Travail au centre</td>
    <td></td>
  </tr>
  <tr>
    <th class="txtcenter">Mardi</th>
    <td colspan="2" class="txtcenter" style="color:green">
      Cours de topologie et d’archélogie
    </td>
    <td class="txtcenter" style="color:green">Hébreu moderne</td>
  </tr>
  <tr>
    <th class="txtcenter">Mercredi</th>
    <td></td>
    <td class="txtcenter" style="color:blue">Travail au centre</td>
    <td></td>
  </tr>
  <tr>
    <th class="txtcenter">Jeudi</th>
    <td></td>
    <td class="txtcenter" style="color:blue">Travail au centre</td>
    <td class="txtcenter" style="color:green">Hébreu moderne</td>
  </tr>
  <tr>
    <th class="txtcenter">Vendredi</th>
    <td class="txtcenter" style="color:green">Hébreu biblique</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th class="txtcenter">Samedi</th>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

Le temps libre étant consacré à la découverte de Jérusalem, le travail personnel 
et bien sûr le repos&nbsp;!

J’ai aussi la joie d’avoir rencontré pas mal de français, soient volontaires, 
soient étudiants à l’École Biblique. On forme un petit groupe sympathique et on 
se retrouve pour des visites ou des temps informels. On se retrouve également, 
avec certains des étudiants du cours d’hébreu biblique, pour travailler un peu 
ensemble. Je me sens donc moins seul et mes journées sont bien remplies.


### Quelques autres nouvelles fraîches ###

Pour terminer, voilà trois temps vécus ici, mais qui l’ont été en grande union 
avec mon diocèse et ma fraternité.

Le premier temps concerne la fête de Saint François du 04&nbsp;octobre dernier 
où j’ai été invité à manger avec les sœurs franciscaines chez qui je loge. Cela 
a été l’occasion de les rencontrer et de partager cette fête avec elle. La 
Fraternité Saint Étienne essaye de vivre quelque chose de la spiritualité 
franciscaine et effectue chaque année, dans cette période, une retraite chez des 
clarisses. Ce temps a été l’occasion de le vivre en union de prière.

Le deuxième temps a été une sortie avec les enfants du Centre où nous nous 
sommes rendu à la 
[Custodie](https://fr.wikipedia.org/wiki/Custodie_franciscaine_de_Terre_sainte),
tenue par des franciscains, pour voir une exposition de reproduction des 
fresques de Giotto qui se trouvent à Assise. Cela m’a tout de suite fait penser 
au pèlerinage vécu avec les séminariste et le service des vocations du diocèse 
fin août à Assise. Pour l’occasion, j’ai écrit quelques lignes pour le 
[site du vicariat saint Jacques](http://www.catholic.co.il/index.php?option=com_content&view=article&id=15888:saint-rachel-children-get-to-know-saint-francis-fr&catid=55&lang=fr&Itemid=269">site du vicariat saint Jacques). 
Je vous invite à aller voir leur site. Ce qui est drôle c’est d’avoir été 
traduit en [russe](http://www.catholic.co.il/index.php?option=com_content&view=article&id=15889:saint-rachel-children-get-to-know-saint-francis-ru&catid=55&lang=ru&Itemid=221),
en [italien](http://www.catholic.co.il/index.php?option=com_content&view=article&id=15887:saint-rachel-children-get-to-know-saint-francis-it&catid=55&lang=it&Itemid=365), 
en [anglais](http://www.catholic.co.il/index.php?option=com_content&view=article&id=15886:saint-rachel-children-get-to-know-saint-francis&catid=55&lang=en&Itemid=119)
et bien sûr en [hébreu](http://www.catholic.co.il/index.php?option=com_content&view=article&id=15890:saint-rachel-children-get-to-know-saint-francis-he&catid=55&lang=he&Itemid=317).

Le dernier temps s’est vécu le samedi 14&nbsp;octobre dernier, alors qu’à la 
cathédrale de Meaux se vivait l’assemblée synodale et l’ordination diaconale en 
vue du sacerdoce d’Hermann. Ce jour-là avait lieu, à Deir Rafat dans un 
monastère des [sœurs de Bethléem](http://www.bethleem.org/), le monastère de 
Notre Dame Reine de Palestine, une [rencontre](http://www.catholic.co.il/index.php?option=com_content&view=article&id=15903:kehilla-day-for-beginning-great-advent-fr&catid=71&lang=fr&Itemid=477)
de toutes les communautés du Vicariat Saint Jacques regroupant plus de 300 
personnes. Mais il y a un peu plus d’un an, j’étais dans le monastère des sœurs 
à Poligny (Seine-et-Marne) et durant cette session de rentrée, j’avais été admis 
comme candidat au sacerdoce avec Hermann&nbsp;: autant dire que c’est un beau 
clin Dieu (le jeu de mot n’est pas de moi, mais je l’aime beaucoup) pour que les 
dates concordes et que je sois ainsi le jour de l’ordination d’Hermann avec des 
sœurs de Bethléem.

<p class="txtcenter"><span class="big">היי</span>
  <em>Bye</em></p>
  
<figure class="txtcenter">
  <img src="uploads/2017/10/vuePorteDamas.jpg" 
    alt="Vue sur la porte de Damas" 
    width="75%" />
  <figcaption>
    Pour finir, petite vue de la porte de Damas, avec la vieille ville
  </figcaption>
</figure>

