2017-10-31T12:00:00
La langue hébraïque

<p class="txtcenter"><span class="big">!אני למד עברית</span>
  <em>J’apprends l’hébreu&nbsp;!</em></p>

Aujourd’hui, je veux vous parler de mon apprentissage de l’hébreu moderne et de 
l’hébreu biblique. Le premier m’est nécessaire pour ma mission auprès des jeunes 
du centre, afin de pouvoir communiquer avec eux, et le deuxième pour l’étude de 
la Bible puisque l’Ancien Testament a été rédigé en hébreu.


### Brève histoire de la langue ###

L’hébreu est une langue sémitique, comme l’arabe, l’araméen, ou l’akadien, ... 
Ainsi, les mots sont souvent issus de racines composés de trois consonnes, 
racines qui peuvent être communes entre ces langues, tout comme la grammaire. La 
proximité est la même qu’entre les langues latines français, espagnol, italien, 
portugais, ...).

On ne sait pas précisément à quelle période l’hébreu a commencé à être parlé, il 
y a des traces en Égypte dès le premier millénaire avant JC. Mais à l’époque de 
Jésus, elle n’était utilisée au quotidien que par les religieux et les savants. 
En effet, la langue courante était devenue, vers 250 av JC, l’araméen. On 
pourrait faire la comparaison avec le français et le latin à une époque&nbsp;: 
l’un était utilisé par la population, l’autre continua de l’être par les 
savants.

En 70 ap JC, suite à la première révolte juive contre les romains, le second 
Temple est détruit. La population, au cours de la _diaspora_ du deuxième siècle, 
a quitté massivement la région. Les textes bibliques et la tradition orale ont 
été conservés, mais les juifs ont commencés à abandonner leur langue maternelle 
au profit des langues locales, quitte à créer des dialectes mélangeant ces 
dernières avec des termes hébraïques, comme le Yiddish par exemple.

Les rabbins, les chefs religieux, ont conservés la tradition. Pour cela, ils ont 
établis des lois et ils ont sacralisé l’hébreu afin de réserver cette langue 
pour tout ce qui touche au sacré. Ceci a figé la langue qui n’est désormais plus 
utilisée à la maison et la vie quotidienne, c’est-à-dire tout ce qui est 
profane. On la retrouve donc uniquement pour&nbsp;:

 - les prières,
 - la Bible,
 - les commentaires.

Au XIX<sup>e</sup> s., dans la mouvance des Lumières, un courant juif naît de la 
volonté de se réapproprier la langue. Ils se sont mis à écrire des romans, des 
prières de théâtre et même des journaux. C’est le mouvement de l’_Haskala_. Mais 
cela a provoqué une fracture dans les communautés, avec ceux restés 
ultraorthodoxes et les profanes (on dirait aujourd’hui les libéraux), car les 
premiers trouvaient scandaleux cette utilisation d’une langue sacrée.

Se réapproprier la langue, c’est aussi la faire renaître, la faire évoluer. Ce 
retour à langue a redonné conscience d’être/d’avoir une nation et donc la 
volonté de retourner à la «&nbsp;Terre&nbsp;». Ainsi, Théodore Herzl fonde le 
mouvement sioniste au congrès de Bâle en 1897&nbsp;: il faut retrouver un pays. 
À ce moment, la Terre Sainte était sous domination ottomane et la question se 
posera de savoir s’il faut un état d’Israël correspondant aux frontières 
antiques, ou si n’importe quel lieu pourrait convenir. Éliézer Ben-Yehoudah 
joua un rôle de premier plan de la résurrection de l’hébreu comme langue parlée. 
En effet, il décidera de s’installer en Palestine et de ne parler qu’hébreu. Son 
fils est considéré comme le premier locuteur natif de l’hébreu contemporain.

En 1948, l’état d’Israël est créé et l’hébreu devient la langue officielle. 
Aujourd’hui, il existe une académie de la langue hébraïque qui veille à 
l’élargissement du vocabulaire et à éviter l’utilisation de mots tirés d’autres 
langues. En effet, cette langue a une très longue longévité et il n’y a pas de 
rupture entre l’hébreu moderne et l’hébreu biblique. Aujourd’hui, un Israélien 
est capable de lire et comprendre un texte antique. Un peu comme nous et le 
français de la Renaissance. La Bible est considérée comme le modèle et la source 
de l’hébreu moderne. Ainsi on crée des nouveaux mots à partir de racines 
anciennes. Par exemple le mot ordinateur מחשב _maḥchev_ a été créé à partir de 
la racine biblique חשב signifiant penser, réfléchir, calculer. Cette langue est 
aujourd’hui parlée par six ou sept millions de personnes.


### L’hébreu biblique à l’École Biblique et Archéologique Française ###

J’avais commencé mon apprentissage de l’hébreu biblique il y a trois ans, lors 
de ma première année au _Studium de Notre-Dame de Vie_. Ainsi, je ne suis pas 
arrivé complètement démuni, puisque je maîtrisais déjà la lecture et je 
connaissais des bases de grammaire et de vocabulaire. Mais mon niveau était très 
faible, j’ai donc décidé de suivre un cours d’hébreu biblique chez les 
Dominicains. 

L’[École Biblique et Archéologique Française](http://www.ebaf.edu) fût fondée en 
1890, sous le nom d’_École pratique d’études bibliques_ elle prit son nom actuel 
en 1920), par Marie-Joseph Lagrange (1855-1938) exégète et théologien 
dominicain. Il s’agit du plus ancien centre de recherche biblique et 
archéologique de Terre Sainte. Elle se trouve au sein du couvent dominicain de 
Saint-Étienne à Jérusalem créé en 1882. La spécificité était d’y étudier la 
Bible dans le contexte physique et culturel où elle a été écrite&nbsp;: union du 
monument et du document, l’archéologie et l’exégèse des textes. Elle est située 
près de la vieille ville, à la Porte de Damas, sur les lieux d’une basilique 
byzantine du V<sup>e</sup> siècle, édifiée là ou la tradition chrétienne vénère 
le martyre de saint Étienne, le premier martyr et saint patron de notre diocèse.

Depuis sa création, l’école mène des recherches archéologiques dans la région et 
l’exégèse des textes bibliques. Elle accueille également des étudiants qui 
désirent se spécialiser en archéologie, en histoire et géographie du 
Proche-Orient et elle est habilitée à conférer le doctorat canonique en Écriture 
Sainte. La réputation de l’école s’est également appuyée sur sa participation 
aux fouilles de Qumran menée après la découverte par des bédouins de manuscrits 
datant du début de notre ère.

Elle publie la très connue _Bible de Jérusalem_ qui est issue d’un vaste 
chantier de la fin de la seconde Guerre Mondiale qui consistait en une nouvelle 
traduction en langue française équipée de notes explicatives. Chaque livre ou 
groupe de livre étant précédé d’une introduction exégétique. C’est aujourd’hui 
une des bibles catholiques francophones la plus diffusée. Elle a également lancé 
récemment le programme de recherche, 
[La Bible en ses Traditions](http://www.ebaf.edu/project-best/), dont le but est 
d’utiliser les ressources de l’informatique pour mettre en ligne une version 
comparative du texte biblique avec ses différentes versions et de développer une 
annotation qui mette en évidence la richesse de la réception du texte sacré dans 
la théologie, la liturgie, la patristique ou l’histoire de l’art. 

J’ai donc deux heures d’hébreux bibliques, enseignées en français, par un 
professeur mexicain, à partir d’une méthode anglaise. Cela est typique de 
Jérusalem et de son melting-pot linguistique. Pour le moment on reprend toutes 
les bases, ce qui ne me fait pas de mal. C’est un cours qui m’intéresse 
beaucoup, car j’ai pour ambition de pouvoir lire couramment la Bible en hébreu, 
afin de prier avec les textes en VO, notamment les psaumes que Jésus récitait. 
Sans oublier la richesse pour l’étude de l’Ancien Testament. Avec quelques 
étudiants, nous nous retrouvons en dehors des cours pour travailler notre 
hébreu et bien progresser.

C’est au même endroit que je suis mon cours de topologie et d’archéologie, mais 
j’aurais l’occasion de vous en reparler.


### L’institut Polis et les ulpans ###

Pour l’hébreu moderne, je change de lieu et je rejoins 
[l’institut Polis](http://www.polisjerusalem.org) où j’ai six heures de cours 
d’hébreu moderne par semaine. Il a été fondé en 2011, et est un établissement se 
situant près de la vieille ville de Jérusalem. Il propose un enseignement de 
différentes langues&nbsp;: hébreu moderne ou biblique, arabe palestinien, arabe 
classique, grec ancien ou latin. La particularité de leurs méthodes, notamment 
pour les deux dernières langues, est de tout enseigner comme une langue vivante, 
par immersion, pour les acquérir de manière intuitive comme une langue 
maternelle. 

Israël est réputé pour ses _ulpans_, en hébreu אולפן, qui sont des instituts ou 
des écoles pour l’apprentissage intensif de l’hébreu. Ce mot signifie 
«&nbsp;studio&nbsp;», «&nbsp;enseigner&nbsp;», «&nbsp;instruction&nbsp;». Ils 
proposent tous une méthode, que reprend Polis, pour enseigner rapidement aux 
adultes immigrants en Israël les basiques nécessaires pour la conversation et 
l’écriture. Beaucoup d’ulpan donnent aussi les instructions basiques concernant 
la culture israélienne son histoire ou sa géographie. Le but est de les intégrer 
rapidement et facilement dans la société, la culture et l’économie dans leur 
nouveau pays.

Pour me préparer, j’avais fait cet été une petite trentaine de leçon de la 
méthode _Assimil_. Mais il faut beaucoup de travail pour arriver à utiliser 
cette langue au quotidien. Pour le moment je n’ai que quelques basiques. Mais je 
devrais normalement rapidement progresser et j’espère être vite être à l’aise 
avec cette langue. C’est un défi pour moi, car je ne suis pas très doué avec les 
langues vivantes, mais j’ai l’occasion de pouvoir vivre ici et de travailler 
avec des hébréophones, alors c’est l’occasion rêvée pour appendre l’hébreu.


### Petite carte ###

J’ai mis à jour la page «&nbsp;à propos&nbsp;» avec mon adresse à Jérusalem et 
avec une carte situant les différents lieux que je fréquente. Je vous la 
reproduis ici pour que vous puissiez situer mes deux lieux de formations.

 - La ligne rouge entoure la _vieille ville_.
 - La marque avec la croix situe le _Saint Sépulcre_
 - En orange, vous avez la maison des franciscaines où je loge.
 - En vert, vous avez l’_Institut Polis_ où je suis mes cours d’hébreu moderne 
   (à gauche) et l’_École Biblique_ pour les autres cours (à droite).
 - En bleu, la _qéhilla_ (paroisse hébraïophone) au nord et le _Center Saint 
   Rachel_ (où je m’occupe des enfants) au sud.

<iframe width="100%" height="450px" frameBorder="0" src="https://framacarte.org/fr/map/mon-quotidien_14375?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false#14/31.7792/35.2253">
</iframe>

<p class="txtcenter">
  <a href="https://framacarte.org/fr/map/mon-quotidien_14375#16/31.7792/35.2253"
    class="btn btn-primary"
    target="_blank">Voir la carte en plein écran</a>
</p>


### Dernières nouvelles ###

 - Samedi dernier, j’ai fait une superbe sortie, avec l’École Biblique, à 
   Jéricho qui est à la fois une des villes les plus anciennes du monde, car 
   elle a 10&nbsp;000 ans et la ville la plus basse sous terre puisqu’elle est 
   à plus de 200&nbsp;m sous le niveau de la mer.
 - Le dimanche&nbsp;29&nbsp;octobre, j’ai pu dîner avec un groupe venant des 
   pôles missionnaires de Brie Sénart et de Melun, accompagné par les pères 
   Olivier Dupont et Isaac Houngue. Ce fût un beau moment, avec le plaisir de 
   retrouver des têtes connus. Après le dîner, nous avons eu un petit échange 
   où j’ai notamment pu présenter ma mission ici.
 - Le mois de novembre va être bien chargé puisque j’ai une semaine de séminaire 
   d’archéologie «&nbsp;de Canaan à la Samarie-Galilée&nbsp;» pour préparer le 
   voyage d’étude, la semaine suivante, en Samarie et  Galiliée.
 - Ayant obtenu un visa multi-entrées, je serais de retour dans le diocèse pour 
   Noël&nbsp;: du 22&nbsp;décembre au 1<sup>er</sup>&nbsp;janvier. Ce sera 
   surtout l’occasion de renouveler mon engagement dans la Fraternité Saint 
   Étienne et de participer à la rencontre des séminaristes du diocèse. Ce sera 
   un retour express, alors je n’aurais pas le temps de faire le tour pour 
   saluer tout le monde, je donnerais bien sûr la priorité à ma famille.

