2017-11-12T12:00:00
Une journée à Jéricho

<p class="txtcenter"><span class="big">!ברוכים הבאים ביריחו</span>
    <em>Bienvenue à Jéricho&nbsp;!</em></p>
  
L’École biblique et archéologique française de Jérusalem, l’EBAF pour les 
intimes, organise, environ deux fois par mois, entre octobre et mai, [les 
visites du Samedi](http://www.ebaf.edu/activites/visites-du-samedi/) qui 
consistent en des visites des principaux sites archéologiques de Terre Sainte 
sous la conduite du frère Dominique-Marie Cabaret o.p. Cela rejoint le cours que 
je suis le mardi, puisque nous y faisons à peu près les mêmes sorties, mais en 
beaucoup plus approfondi. Néanmoins, le samedi 28&nbsp;octobre&nbsp;2017, j’ai 
décidé d’y participer afin de prendre un peu l’air. 

<figure class="txtcenter">
  <img src="uploads/2017/11/groupeJericho.jpg" 
    alt="Groupe à l’Hisham Palace" 
    width="75%" />
  <figcaption>
  Groupe à l’Hisham Palace avec le fr. Dominique-Marie o.p.
  </figcaption>
</figure>

En effet, cela faisait déjà un mois que j’étais en Terre Sainte, mais je n’avais 
eu qu’une occasion de quitter Jérusalem et je n’avais pas encore mis les pieds 
en Palestine. Cette sortie était donc l’occasion rêvée de pouvoir voir autre 
chose, de sortir du bain de la grande ville et de passer du temps avec d’autres 
francophones. 

Ainsi, nous sommes une quarantaine à nous retrouver le matin, dès 8&nbsp;h, sous 
une fraîche température. Oui, on arrive dans la période où il fait frais du soir 
au matin et plutôt doux la journée. C’est d’ailleurs toujours difficile pour 
s’habiller, la température peut encore grimper jusqu’à 25&nbsp;°C, mais dès que 
la nuit tombe, vers 17&nbsp;h, il fait frais et on doit sortir les manteaux. 
Nous partons assez vite, après nous être répartis dans les véhicules 
disponibles. J’ai la chance de profiter de la voiture de la quéhilla, fièrement 
conduite par Clotilde, volontaire française avec moi au _Center Saint Rachel_. 
Notre voiture se fait remarquer dans le convoi&nbsp;: c’est la plus petite et la 
plus ancienne, mais elle se montrera vaillante. 

Nous sortons très vite de Jérusalem et nous nous retrouvons sur une grande 
autoroute israélienne en territoire palestinien. En 30 ou 40&nbsp;min, nous 
arrivons au _monastère Saint Georges de Choziba_ situé au nord de la Mer Morte 
et perdu dans les montagnes. Il se trouve à 4,5&nbsp;km de la route&nbsp;1 qui 
relie Jérusalem à la mer Morte, en plein milieu du désert, accroché aux falaises 
du _Wadi Qelt_. Il aurait été construit au V<sup>e</sup> siècle, puis détruit 
par les perses en 614 avant d’être reconstruits par les chrétiens orthodoxes 
dans la seconde moitié du XIX<sup>e</sup>. Le site est entouré de croix perchées 
en haut des falaises pour indiquer les limites du domaine du monastère. Nous 
n’avons qu’une heure sur place et il faut 20&nbsp;min pour descendre ou remonter 
le chemin escarpé menant à l’entrée des bâtiments. Dès que nous sommes sortis 
des voitures, nous avons été assaillis par des Bédouins qui voulaient à tout 
prix nous vendre des chèches ou nous faire descendre jusqu’au monastère à dos 
d’âne. Nous choisirons bien sûr d’y aller à pied et descendons le plus vite 
possible, en courant presque, avec Chiarana, une volontaire française à 
l’hôpital Saint Louis, qui est également une camarade de classe à l’_ulpan_ 
(cours d’hébreu moderne). Nous arrivons finalement assez vite à la petite porte 
du monastère où un religieux nous fait entrer au compte-goutte. Peu de personnes 
du groupe arriverons à y entrer, car des bus entiers de touristes ou de pèlerins 
arrivaient et le monastère étant petit, les moines limitent le nombre de 
visiteurs. Sans compter que la tenue doit être adéquate&nbsp;: épaules 
couvertes, shorts interdits pour les adultes, jupes/robes recommandées pour les 
dames. Cela surprend les touristes, mais c’est plutôt une bonne occasion de 
montrer que ce lieu est avant tout un lieu de prières. Je pense que cela se perd 
trop, on devrait avoir à l’entrée de tous les sanctuaires des grands bacs de 
chèches pour adapter la tenue, plutôt que d’y entrer comme si nous allions à la 
plage, comme je le vois malheureusement trop souvent. 

<figure class="txtcenter">
  <img src="uploads/2017/11/monastereSaintGeorges01.jpg" 
    alt="Monastère dans les falaises" 
    width="48%" />
  <img src="uploads/2017/11/monastereSaintGeorges02.jpg" 
    alt="Clocher du monastère" 
    width="48%" />
  <figcaption>
  Le monastère Saint Georges
  </figcaption>
</figure>

Le paysage de cette vallée est époustouflant, on est saisi par la beauté de ces 
falaises et le monastère est bien petit au milieu. À l’intérieur, il n’y a pas 
grand-chose à voir, ci ce n’est une petite chapelle faiblement éclairée. Il y 
fait extrêmement chaud, on y manque d’air et de place. Un groupe de pèlerin prie 
auprès de la tombe de saint Georges de Choziba que je ne connais pas, mais voici 
un extrait de sa biographie proposée par 
[Wikipedia](https://fr.wikipedia.org/wiki/Georges_de_Choziba)&nbsp;:

<blockquote>
  <p>
    Le futur saint Georges est né au milieu du VI<sup>e</sup> siècle dans une 
    famille pieuse de Chypre. Après la mort de ses parents, il quitte Chypre et 
    se rend en Terre Sainte où est déjà installé son frère aîné Héraclide, qui 
    y mène une vie érémitique et ascétique. Trop jeune pour mener la même vie, 
    le futur Saint est conduit par son frère au Monastère de la Mère de Dieu de 
    Choziba où il est tonsuré moine et où on confie sa formation spirituelle à 
    un ancien du Monastère, très sévère. Saint Georges accepte tout avec 
    patience et grande humilité. Un jour, son maître spirituel, furieux contre 
    lui, lui donna un violent soufflet devant les autres frères, mais sa main 
    se dessécha alors immédiatement et c’est grâce aux prières de Saint Georges 
    qu’il en retrouvera l’usage par la suite. Cependant, désireux d’échapper à 
    l’admiration et aux louanges de ses frères, le Saint quitta le Monastère et 
    retourna auprès de son frère, à Calamon. Il partagea la même cellule que 
    lui et ils y menèrent une vie de grande prière et d’ascèse. Après la mort 
    de son frère, Saint Georges continua sa vie sainte de prière et il acquit 
    une telle grâce de Dieu qu’il obtint le don de faire des miracles. Mais le 
    Monastère de Chozéba fut par la suite victime de tensions, et Saint Georges 
    le regagna à l’appel de Dieu. Il y mena une vie recluse et ne rejoignait 
    les autres moines que le dimanche, pour les aider dans leurs labeurs 
    spirituels. En 614, le Saint prédit que Jéricho serait conquise par les 
    Perses, et Jérusalem assiégée. Les frères partirent se réfugier ailleurs 
    mais le Saint accepta avec beaucoup de réticences de se réfugier à Calamon. 
    Les envahisseurs massacrèrent beaucoup de moines mais impressionnés par 
    Saint Georges, ils le laissèrent libre, et il retourna alors à Choziba. 
    Grâce à ses prières, on rapporte que le Monastère ne manqua jamais de 
    nourriture alors que toute la région était soumise à la famine. Ayant 
    prédit le moment de sa mort, Saint Georges appela son disciple Antoine à 
    son chevet puis rendit l’âme. Sa vie sera écrite par son disciple Antoine. 
    De nombreux Saints vivront au cours des siècles dans le Monastère de Saint 
    Georges. 
  </p>
  <footer class="source">
    Wikipedia, article «&nbsp;Georges de Choziba&nbsp;», version du 
    11&nbsp;novembre&nbsp;2017
  </footer>
</blockquote>

Puis nous quittons la chapelle et montons sur les toits pour admirer la vue. 
Après l’ascension pour retourner aux voitures, nous partons pour le 
_Hisham Palace_ qui est un site archéologique très important du début de l’ère 
musulmane se trouvant aux abords de la ville de Jéricho. Il s’agit des vestiges 
d’un palais construit au VII<sup>e</sup> siècle par un des fils du sultan, au 
tout début de l’Islam. Il s’agissait d’un palais grandiose, réputé pour la 
légèreté des mœurs où le prince profitait des courtisanes et des bassins remplis 
de vin. Néanmoins, une mosquée y avait été construite. On y retrouve à 
l’intérieur de superbes mosaïques, dont certaines représentent des animaux et 
datant d’avant l’interdiction de telles représentations par l’islam. Le site est 
vraiment immense et plutôt joli. On y perçoit la grande richesse et la beauté 
qui pouvait ressortir de ce palais à l’époque où il n’était pas encore un tas de 
ruines. 

<figure class="txtcenter">
  <img src="uploads/2017/11/HishamPalace01.jpg" 
    alt="Hisham Palace" 
    width="80%" />
  <figcaption>
  L’Hisham Palace
  </figcaption>
</figure>

<figure class="txtcenter">
  <img src="uploads/2017/11/HishamPalace02.jpg" 
    alt="Rosace de l’Hisham Palace" 
    width="30%" />
  <img src="uploads/2017/11/sycomoreZachee.jpg" 
    alt="Sycomore de Zachée" 
    width="30%" />
  <figcaption>
  Rosace célèbre de l’Hisham Palace et Sycomore de Zachée
  </figcaption>
</figure>

Puis nous nous rendons à Jéricho même, non sans passer devant un énorme panneau 
rouge, écrit en hébreu, et interdisant aux citoyens israéliens de mettre les 
pieds dans cette ville pour des raisons de sécurité. Depuis le matin, la 
température a bien montée, nous ne sommes plus dans les montagnes comme à 
Jérusalem, dont l’altitude est comprise entre 570&nbsp;m et 860&nbsp;m, Jéricho 
étant à -250&nbsp;m. D’ailleurs, les hiérosolymitains aiment profiter de la 
région en hiver pour y retrouver un peu de chaleur, tandis que les habitants de 
la régions sont heureux de pouvoir aller à Jérusalem pour un peu de fraîcheur, 
très relative, l’été. Vous avez bien lu pour l’altitude négative de Jéricho, 
nous sommes dans une cuvette, avec au fond la mer Morte, -420&nbsp;m, qui se 
trouve sous le niveau de la mer. Il s’agit aussi de la ville souvent considérée 
comme la plus ancienne du monde. On y trouve notamment le vestige d’une tour 
datée de 9000&nbsp;av&nbsp;J.C. Par comparaison, la Grande pyramide de Khéops, 
à Gizeh en Égypte, ne date «&nbsp;que&nbsp;» de 2500&nbsp;av.&nbsp;JC. Nous 
garons nos voitures juste à côté du sycomore de Zachée&nbsp;:

<blockquote>
  <p>
    <sup>1</sup>&nbsp;Entré dans la ville de Jéricho, Jésus la traversait. 
    <sup>2</sup>&nbsp;Or, il y avait un homme du nom de Zachée&nbsp;; il était 
    le chef des collecteurs d’impôts, et c’était quelqu’un de riche. 
    <sup>3</sup>&nbsp;Il cherchait à voir qui était Jésus, mais il ne le 
    pouvait pas à cause de la foule, car il était de petite taille. 
    <sup>4</sup>&nbsp;Il courut donc en avant et grimpa sur un sycomore pour 
    voir Jésus qui allait passer par là. <sup>5</sup>&nbsp;Arrivé à cet
    endroit, Jésus leva les yeux et lui dit&nbsp;: «&nbsp;Zachée, descends 
    vite&nbsp;: aujourd’hui il faut que j’aille demeurer dans ta maison.&nbsp;» 
    <sup>6</sup>&nbsp;Vite, il descendit et reçut Jésus avec joie. 
    <sup>7</sup>&nbsp;Voyant cela, tous récriminaient&nbsp;: «&nbsp;Il est allé 
    loger chez un homme qui est un pécheur.&nbsp;» <sup>8</sup>&nbsp;Zachée, 
    debout, s’adressa au Seigneur&nbsp;: «&nbsp;Voici, Seigneur&nbsp;: je fais 
    don aux pauvres de la moitié de mes biens, et si j’ai fait du tort à 
    quelqu’un, je vais lui rendre quatre fois plus.&nbsp;» 
    <sup>9</sup>&nbsp;Alors Jésus dit à son sujet&nbsp;: «&nbsp;Aujourd’hui, le 
    salut est arrivé pour cette maison, car lui aussi est un fils d’Abraham. 
    <sup>10</sup>&nbsp;En effet, le Fils de l’homme est venu chercher et sauver 
    ce qui était perdu.&nbsp;»
  </p>
  <footer class="source">
  Évangile selon Luc 19, 1-10 (Traduction liturgique ©AELF)
  </footer>
</blockquote>

Au risque de décevoir beaucoup de monde, il ne s’agit pas du vrai sycomore, en
effet, cette partie de la ville n’était pas habitée à l’époque du Christ, et 
surtout un sycomore ne vit pas 2000&nbsp;ans. Néanmoins, c’était très 
intéressant de le voir, puisque je n’avais jamais vu de sycomore de mes propres 
yeux et j’ai été étonné de sa taille. C’est vraiment un arbre majestueux. On 
peut le retrouver assez isolé sur une plaine, on comprend donc le plaisir de 
pouvoir profiter de son ombre en pleine zone désertique. Finalement, que ce 
soit le vrai ou pas, il est bon d’avoir un lieu pour faire mémoire de cet 
Évangile et pouvoir nourrir l’imagination. C’est d’ailleurs la grâce première 
de ma présence ici&nbsp;: visualiser les yeux, les paysages, la végétation. Par 
exemple, j’imaginais Jéricho beaucoup plus loin de Jérusalem, alors qu’en 
voiture il ne faut qu’une heure. On pouvait donc assez facilement relier les 
deux villes à pied. C’est d’ailleurs la même impression dans la vieille ville, 
notamment au Saint Sépulcre lorsqu’on voit la proximité du lieu de la 
crucifixion du Christ et de son tombeau. 

<figure class="txtcenter">
  <img src="uploads/2017/11/Jericho.jpg" 
    alt="Hisham Palace" 
    width="75%" />
  <figcaption>
  Arrière pays de Jéricho, avec ses nombreuses chèvres
  </figcaption>
</figure>

Après un bon déjeuner nous sommes partis visiter le site où se trouvent les 
vestiges les plus anciens de la ville avec la fameuse tour. Du haut du monticule 
qui recouvre cette zone, on voit très bien les montagnes de Jordanie, ainsi que 
le Jourdain. Puis, nous avons visité une petite église copte qui serait 
construite sur le tombeau de Zachée et où serait exposé ses ossements. On 
remarque dans la crypte quelques dollars qui y ont été jetés, sans doute en lien 
avec le passé de collecteur d’impôt de notre homme. Enfin, on termine par un 
petit tour du palais d’Hérode à Jéricho. Je survole rapidement cette après-midi, 
car nous revisiterons normalement ces sites au second semestre avec le cours du 
mardi. 

<figure class="txtcenter">
  <img src="uploads/2017/11/egliseCopteZachee.jpg" 
    alt="Église copte dédiée à Zachée" 
    width="54%" />
  <img src="uploads/2017/11/tombeauZachee.jpg" 
    alt="Reliques de Zachée"
    width="42%" />
  <figcaption>
  Église copte avec à droite les reliques de Zachée
  </figcaption>
</figure>

<figure class="txtcenter">
  <img src="uploads/2017/11/palaisHerode.jpg" 
    alt="Palais d’Hérode" 
    width="75%" />
  <figcaption>
  Vue sur Zéricho avec les ruines du palais d’Hérode jute avant les hangars
  </figcaption>
</figure>

Après retour, la difficulté étant les côtes, à 5 dans notre petite voiture, nous 
arrivons à atteindre les 60&nbsp;km/h&nbsp;! Heureusement, elle s’est montrée 
plus performante sur le plat ou les descentes. Arrivée à Jérusalem vers 
17&nbsp;h&nbsp;30, où il fait d’autant plus frais que la nuit tombe déjà, et la 
journée se termine avec de beaux souvenirs. Ce qui m’a le plus marqué ce 
jour-là, outre la beauté des sites visités, c’est le contraste saisissant entre 
Jérusalem et Jéricho&nbsp;: d’un côté une ville avec des infrastructures 
modernes et une richesse visible, de l’autre une ville beaucoup plus pauvre. Je 
n’irais volontairement pas généraliser pour le moment entre Israël et la 
Palestine, car j’en ai encore vu trop peu.

Petite carte pour finir avec&nbsp;:

 - en bleu le Saint Sépulcre à Jérusalem,
 - en vert le monastère Saint Georges,
 - en jaune l’emplacement de la tour retrouvée à Jéricho,
 - en rouge l’Hisham Palace.

<iframe width="100%" height="450px" frameBorder="0" src="https://framacarte.org/fr/map/journee-a-jericho_14972?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false#11/31.8277/35.3272">
</iframe>

<p class="txtcenter">
  <a href="https://framacarte.org/fr/map/journee-a-jericho_14972#11/31.8627/35.1865"
    class="btn btn-primary"
    target="_blank">Voir la carte en plein écran</a>
</p>


### Des nouvelles ###

Il y a deux semaines, une ancienne carie a commencée à se réveiller et j’ai pas 
mal souffert. Mais j’ai pu trouver, grâce à la quéhilla, un super dentiste qui 
parle français. Il s’agit d’un chrétien arabe qui vit du côté de Jérusalem Est. 
Il a très bien travaillé et a pu nettoyer la dent qui était censée avoir déjà 
été soignée par un dentiste en Avignon. Je dois y retourner pour retirer le 
pansement et y mettre un plomb. 

Je vous propose de découvrir quelques [albums photos](/photos.html), pour le 
moment trois sont publiés. Ils reprennent celles que j’inclue dans mes articles, 
mais en meilleure définition, mais aussi des nouvelles. Pour ceux qui me suivent 
sur Facebook, aucune n’est nouvelles puisque j’ai publié la semaine dernière les 
trois albums. 

Je vous invite à découvrir une [interview du père Rafic 
Nahra](http://www.terrasanta.net/tsx/lang/fr/p10317/Pre-Rafic-le-prtre-des-frontires), responsable des catholiques hébréophones, réalisé par TerraSanta.net. 

Enfin, je ne sais pas si j’arriverais à publier un article d’ici 15 jours, 
puisque dans une semaine je commence le séminaire sur la Samarie-Galilée avant 
de partir en voyage d’études. Si rien n’arrive avant le 26&nbsp;novembre, vous 
devrez patienter jusqu’au 8&nbsp;décembre.

<figure class="txtcenter">
  <img src="uploads/2017/11/dromadaire.jpg" 
    alt="Dromadaire à Jérichoe" 
    width="50%" />
  <figcaption>
    Je trouve qu’il a un sourire ravageur
  </figcaption>
</figure>

