2017-11-26T12:00:00
Ein Gedi et Tel Arad

<p class="txtcenter"><span class="big">!ביליתי נהדר בעין גדי ובתאל ערד</span>
  <em>J’ai passé un bon moment à Ein Gedi et à Tel Arad&nbsp;!</em></p>  

Le mardi 14 novembre dernier, je suis parti en excursion avec l’École Biblique, 
dans le cadre du cours d’archéologie, à deux endroits différents pour visiter 
trois sites. 


Tout d’abord, voici la carte, avec en violet Jérusalem, en vert Ein Gedi et Tel 
Arad en orange&nbsp;:

<iframe width="100%" height="450px" frameBorder="0" src="https://framacarte.org/fr/map/ein-gedi-et-tel-arad_15475?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false#9/31.5411/35.1357">
</iframe>

<p class="txtcenter">
  <a href="https://framacarte.org/fr/map/ein-gedi-et-tel-arad_15475#10/31.5411/35.1357"
    class="btn btn-primary"
    target="_blank">Voir la carte en plein écran</a>
</p>


### Un départ matinal ###

Je ne suis pas quelqu’un de très matinal&nbsp;: me lever avant 8&nbsp;h 
peut-être difficile pour moi. Ainsi, je suis beaucoup plus efficace le soir que 
le matin au réveil, quitte à veiller assez tard. C’était d’ailleurs une 
difficulté au séminaire&nbsp;: même en me couchant tôt et en ayant mes 
8&nbsp;h de sommeil, l’heure d’oraison à 7&nbsp;h devenait bien trop souvent une 
oraison de St Pierre&nbsp;: en quelques minutes je m’endormais, quoique je 
fasse. Mais voilà, ici également, les journées peuvent commencer tôt, alors je 
m’accroche&nbsp;!

Mais ce mardi-là, le fr.&nbsp;Dominique-Marie a été clément avec nous, nous 
avons donc rendez-vous qu’à 7&nbsp;h&nbsp;30, près de l’entrée de l’École 
Biblique. La plupart des étudiants sont juste à l’heure, notamment ceux logeant 
sur place, ce qui vaudra un petit rappel du frère&nbsp;: quand il donne un 
rendez-vous, c’est en fait l’heure de départ, il faut donc prévoir d’y être 
quelques minutes avant. La journée s’annonce longue, mais nous sommes motivés. 
Nous devions prendre un bus, car nous sommes environ 25, mais suite à un 
problème technique, la compagnie qui devait nous transporter ne peut finalement 
nous proposer qu’un mini-bus. Nous partirons donc pour Ein Gedi dans deux 
véhicules&nbsp;: le mini bus et le gros 4x4 de 
l’<abbr title="École biblique et archéologique française de Jérusalem">Ébaf</abbr>. 
Inspiré, j’ai pris le deuxième qui était d’ailleurs bien plus confortable que la 
petite voiture de ma sortie à Jéricho. 

Durant les 1&nbsp;h&nbsp;15 de trajet, je ne profiterais pas des paysages, mais 
plutôt des sièges confortables pour m’endormir et retrouver Saint Pierre.


### Ein Gedi ###

Nous arrivons sur le site d’Ein Gedi qui est situé à -400&nbsp;m et où le 
thermomètre a bien grimpé depuis Jérusalem. Il s’agit d’une oasis et d’une 
ancienne ville situées au bord de la rive occidentale de la mer Morte à 
proximité des sites de Massada et de Qumran.. Il y a également à cet endroit un 
kibboutz. Dans la Bible, nous trouvons plusieurs références à ce lieu&nbsp;: 
Ez 47,10 Ct 1,14 et 2 C 20,2, mais aussi en 1 S 24 où le roi David se cache dans 
l’oasis alors qu’il était poursuivi par Saül.

<figure class="txtcenter">
  <img src="uploads/2017/11/planEinGedi.jpg" 
   alt="Plan Ein Gedi" 
   width="80%" />
  <figcaption>
    Ein Gedi (orange&nbsp;: parking&nbsp;; vert&nbsp;: Wadi David&nbsp;; 
    rouge&nbsp;: temple chalcolithique&nbsp;; bleu&nbsp;: synagogue)
  </figcaption>
</figure>

Bien qu’il soit tôt, il y a déjà plusieurs bus présents, notamment avec des 
écoles et donc beaucoup d’enfants. Nous prenons nos entrées, ce qui est rapide 
avec la carte des parcs nationaux qui est un forfait permettant de visiter tous 
les parcs nationaux de l’État d’Israël en illimité pendant une année. Nous 
entamons donc notre ascension par le Wadi David jusqu’au temple 
chalcolithique qui est un temple du quatrième millénaire avant Jésus-Christ, 
découvert dans les années cinquante. Cette ascension, bien que très belle, 
fût faite rapidement, mais a été très difficile&nbsp;: le terrain est escarpé, 
la pente est raide, et un passage est difficile pour ceux ayant le vertige, 
car on se trouve alors tout près du vide, avec un simple filin pour nous 
retenir. Nous arrivons sur le plateau du temple, 300&nbsp;m plus haut où se 
trouve à proximité deux sources. 

<figure class="txtcenter">
  <img src="uploads/2017/11/einGedi1.jpg" 
   alt="Ein Gedi" 
   width="45%" />
  <img src="uploads/2017/11/einGedi2.jpg" 
   alt="Ein Gedi" 
   width="41%" />
  <img src="uploads/2017/11/temple1.jpg" 
   alt="Temple chalcolithique Ein Gedi" 
   width="45%" />
  <figcaption>
    Temple chalcolithique avec la vue depuis celui-ci
  </figcaption>
</figure>

Les restes ne sont pas très impressionnants&nbsp;: juste quelques pierres. 
Notre professeur nous explique les différentes interprétations du lieu et les 
raisons du choix de celui-ci. Mais c’est vraiment l’occasion de faire, pour 
moi, quelques reproches aux archéologues. Tout d’abord les 
interprétations&nbsp;: on a très peu de certitude sur la destination de tous 
ces lieux très anciens, datant d’avant l’invention de l’écriture. Ainsi, trop 
d’archéologues présentent des éléments comme des certitudes, alors qu’on en sait 
si peu. Et puis, surtout, ils s’extasient sans cesse devant des tas de pierres, 
mais oublient de regarder autours. On nous donne plein de raisons géographiques 
pour nous expliquer le choix de ce site pour ce temple. Mais une est souvent 
oubliée&nbsp;: il suffit de regarder la beauté du lieu. Nous sommes en pleine 
zone désertique, sur un plateau avec une vue à couper le souffle et entouré par 
des magnifiques sources, entre le rivage de la Mer Morte et l’étendue aride du 
désert. C’est dans ce type de lieux, en pleine nature, où pour moi l’œuvre de 
Dieu est bien visible&nbsp;: ce ne peut être le hasard qui a créé de si beaux 
endroits, de si beaux paysages, c’est l’œuvre d’un artiste&nbsp;! Chaque élément 
de ce décor est important et forme ce tableau parfait. En m’asseyant sur une 
pierre, en contemplant cette fresque naturelle qui se déroule devant moi, je me 
rappelle l’importance de cultiver mon regard, notre regard, pour apprendre à 
admirer toutes ces choses, apprendre à admirer la Création et y voir notre 
Créateur. Cela me rappelle également les belles nuits d’été où je prends 
toujours plaisir à observer la voûte céleste et cet infiniment grand qui nous 
rappelle notre infinie petitesse devant notre Seigneur, mais également qui nous 
permet de rendre grâce pour toutes ces merveilles&nbsp;!

Il y a plusieurs interprétations pour la destination du culte de ce temple. La 
plus couramment admise est celle du culte de l’eau avec la proximité des deux 
sources. On n’a pas retrouvé d’habitations près du temple, mais à une douzaine 
de kilomètres, a été retrouvé dans une grotte plus de 400 objets, principalement 
en cuivre, mais aussi en pierre et en ivoire. Certains chercheurs supposent 
qu’il s’agit des objets de culte du temple que ses occupants ont cachés avant de 
quitter la région pour ne jamais revenir. Ce qui peut concorder, car les restes 
du temple semblent indiquer qu’il a été abandonné et non détruit subitement.

<figure class="txtcenter">
  <img src="uploads/2017/11/einGedi3.jpg" 
   alt="Descente du temple d’Ein Gedi" 
   width="40%" />
  <img src="uploads/2017/11/cascade1.jpg" 
   alt="Chute d’eau à Ein Gedi" 
   width="40%" />
  <img src="uploads/2017/11/source1.jpg" 
   alt="Une des sources à Ein Gedi" 
   width="60%" />
 </figure>

Après avoir entendu l’exposé du site, nous avons eu un petit temps pour 
s’approcher de la petite source au sud. C’est vraiment magnifique de voir l’eau 
jaillir en plein désert et avec elle la vie et découvrir une petite 
concentration de végétation, de petits animaux et d’insectes. Cette petite 
source forme comme un petit paradis terrestre, illustration miniature de tout ce 
site d’Ein Gedi&nbsp;! Nous sommes ensuite redescendus par le même wadi et nous 
avons pu nous approcher de chutes d’eau beaucoup plus impressionnantes que la 
petite source, mais tout aussi belles qu’elle. Beauté sans doute issue du côté 
sauvage de la nature, mais aussi la puissance qui s’en dégage&nbsp;: puissance 
du désert, puissance de l’eau, puissance de la vie qui en jaillie. Dans la 
descente, un des groupes d’enfants, d’une école juive-orthodoxe, chantait en 
contre-bas des chants traditionnels juifs qui montaient comme une belle louange. 
Le style, assez moderne, m’a fait penser à cette interprétation de Shalom 
Aleichem&nbsp;:

<iframe width="560" height="315" 
  src="https://www.youtube-nocookie.com/embed/-52MWBzal2c?rel=0&amp;showinfo=0" 
  frameborder="0" allowfullscreen></iframe>

Enfin, dans la dernière ligne droite, nous avons croisé des damans (hyracoidea) 
qui ressemblent à des grosses marmottes que l’on trouve beaucoup dans la région. 
D’un côté du petit torrent, un groupe courrait, mais de notre côté, un d’eux 
était immobile sur un rocher. Nous avons cru un instant qu’il s’agissait d’un 
animal empaillé pour les touristes, mais lorsque je me suis approché à 3&nbsp;m 
de lui, il a tourné la tête&nbsp;: il était bien vivant.

<figure class="txtcenter">
  <img src="uploads/2017/11/damans1.jpg" 
   alt="Un daman" 
   width="60%" />
</figure>


### La synagogue d’Ein Gedi ###

Une fois arrivé à l’entrée du parc national, nous avons repris nos véhicule pour 
aller à quelques minutes de là, dans une réserve où se trouvent les ruines de la 
ville antique où on peut notamment y voir les restes d’une synagogue dont les 
éléments découverts datent de l’époque byzantine.

<figure class="txtcenter">
  <img src="uploads/2017/11/synagogue1.jpg" 
   alt="Synagogue" 
   width="45%" />
  <img src="uploads/2017/11/synagogue2.jpg" 
   alt="Synagogue" 
   width="45%" />
  <img src="uploads/2017/11/synagogue3.jpg" 
   alt="Synagogue" 
   width="45%" />
  <figcaption>
    Restes antiques de la synagogue et du village avec leur reconstitution 
    (synagogue en bas à droite)
  </figcaption>
</figure>

Dans la synagogue, de magnifiques mosaïques ont été conservées. Une d’elle 
possède une inscription avec notamment une dédicace pour les bienfaiteurs qui 
ont permis sa construction ou alors une inscription concernant le zodiaque qui 
rappelle la dimension universelle de la Torah et que Dieu est le Créateur de 
tout l’univers.

<figure class="txtcenter">
  <img src="uploads/2017/11/synagogue3.jpg" 
   alt="Synagogue" 
   width="45%" />
</figure>

Après avoir rapidement déjeuner sur place, et savourer mes sandwichs dont j’ai 
été très fier, à base d’un pain brioché que j’ai trouvé dans un petit magasin, 
d’houmous, de tomates, de fromage et d’un peu d’huile d’olive. Nous avons quitté 
le site, non sans croiser un groupe de bouquetins de Nubie que l’on trouve à 
l’état sauvage en Israël ou en Jordanie, mais aussi au Liban, en Égypte, en 
Éthiopie et dans la péninsule arabique. Il s’agit d’un cousin du bouquetin des 
Alpes.


### Tel Arad ###

Nous reprenons la route pour une heure afin de nous rendre sur le site de Tel 
Arad où à proximité, à 8 km, se trouve la ville israélienne d’Arad fondée en 
1962 et comptant en 2014 plus de 24000 habitants. Nous nous trouvons à la 
frontière entre les monts de Judée et le désert du Néguev, sur une colline 
dominant toute la zone. Tel Arad est composé d’une ville basse occupée au 
Bronze ancien, 2900-2650 av. JC à l’époque cananéenne, et d’une forteresse de 
l’époque royale de l’époque de Salomon, environ 1000 av JC.

<figure class="txtcenter">
  <img src="uploads/2017/11/telArad1.jpg" 
   alt="Tel Arad" 
   width="80%" />
   <figcaption>
     Vue, depuis la ville basse, sur la forteresse, en haut de la colline
  </figcaption>
</figure>

La ville, s’étendant sur 100000&nbsp;m<sup>2</sup>, a été occupée pendant 
environ 200&nbsp;ans et est dans un très bon état de conservation du fait 
qu’elle n’a pas été réoccupée par la suite. Elle n’a pas non plus été endommagé 
par l’aménagement de zones cultivées, le climat du Néguev oriental ne se prêtant 
pas à l’agriculture. Il n’y a pas également de sources d’eau à proximité, mais à 
l’époque de son occupation, la pluviométrie était suffisamment importante pour 
les cultures, sans avoir besoin d’autres apports d’eau, et les habitants 
captaient les pluies, dans une dépression artificielle, pour leur consommation.

La forteresse a été détruite une première fois vers 925 av JC, puis plusieurs 
fois reconstruites jusqu’au début de notre ère avec la conquête d’Israël par 
Trajan à la fin I<sup>er</sup> siècle.

<figure class="txtcenter">
  <img src="uploads/2017/11/forteresse1.jpg" 
   alt="Forteresse Tel Arad" 
   width="40%" />
  <img src="uploads/2017/11/forteresse2.jpg" 
   alt="Forteresse Tel Arad" 
   width="50%" />
  <img src="uploads/2017/11/forteresse3.jpg" 
   alt="Forteresse Tel Arad" 
   width="30%" />
</figure>


### Le retour ###

Nous repartons vers 15&nbsp;h&nbsp;30, il nous faudra presque deux heures pour 
rentrer. Nous traverserons un petit bout de la Cisjordanie, en passant juste à 
côté d’Hébron. Le contraste est impressionnant entre les colonies israéliennes 
qui y sont installées et les villages palestiniens, entre ces îlots modernes 
ultra-protégés et ces zones de grande pauvreté, notamment les installations 
bédouines. La route que l’on prend, en parfait état, a un tracé savamment étudié 
pour relier les colonies juives à Jérusalem en évitant au maximum les villes 
arabes. Mais une des colonies dénote un peu, n’étant pas autorisée par l’État 
d’Israël, les colons vivent encore dans des préfabriqués.

On arrive vers 17&nbsp;h&nbsp;30 à l’École Biblique, ce qui me laisse juste le 
temps de m’arrêter dans mon studio pour grignoter quelque chose avant d’aller à 
mon cours d’hébreu moderne qui débute 15 min plus tard et où, comme tous les 
mardis, j’ai un petit test pour mesurer mon apprentissage de la langue. 

<p class="txtcenter">
  <a href="/photos.html" class="btn btn-primary">Voir l’album photo</a>
</p>

<figure class="txtcenter">
  <img src="uploads/2017/11/cisjordanie.jpg" 
   alt="Un paysage de Cisjordanie" 
   width="70%" />
</figure>

