2017-11-26T12:00:00
L’alphabet hébraïque
<p class="txtcenter">
  <span class="big">!אני למד עברית
  </span>
  <em>J’apprends l’hébreu!</em>
</p>

Fin octobre, je vous présentais un peu la langue hébraïque et mon apprentissage 
de l’hébreu. J’y reviens aujourd’hui en me concentrant sur l’alphabet et en vous 
proposant un petit jeu. 


### Origine ###

La forme la plus ancienne des caractères servant à noter l’hébreu était 
semblable à l’écriture phénicienne. Cette dernière utilisait un alphabet 
non-pictographique, c’est-à-dire n’utilisant pas des représentations imagées, 
bien qu’il soit inspiré de ce type de représentations. Ainsi, l’aleph 𐤀 vient 
sans doute d’une représentation d’un bœuf. Cet alphabet était consonantique, 
c’est-à-dire qu’il ne représentait que les consonnes et non les voyelles, et 
s’écrivait en général de droite à gauche. 

<figure class="txtcenter"><p class="txtcenter biggest">
𐤀 𐤁 𐤂 𐤃 𐤄 𐤅 𐤆𐤇 𐤈𐤉 𐤊 𐤋 𐤌 𐤍 𐤎 𐤏 𐤐 𐤑 𐤒 𐤓 𐤔 𐤕
</p><figcaption>
  Alphabet phénicien
</figcaption>
</figure>

L’alphabet phénicien est devenu l’un des systèmes d’écriture les plus utilisés, 
transmis par les marchands phéniciens dans le monde méditerranéen où il a 
évolué et a été assimilé par de nombreuses cultures. Il est à l’origine des 
alphabets utilisés pour noter les langues sémitiques, comme l’araméen ou 
l’arabe. L’alphabet grec, et ses descendants comme les alphabets latin, 
cyrillique et copte, sont également des successeurs directs du phénicien, 
bien que la valeur de certaines lettres ait été changée pour représenter des 
voyelles.

À l’époque de leur déportation en Babylonie au VI<sup>e</sup> av JC, les juifs 
adoptèrent la forme actuelle des caractères, dit «&nbsp;carrés&nbsp;» car ils 
peuvent, en général, s’inscrire dans un carré. Il s’agit d’une variante 
stylistique de l’araméen. Cette forme est encore utilisée aujourd’hui pour 
tous les documents dactylographiés, mais pour l’écriture manuscrite on utilise 
désormais une autre forme, dite cursive, dont je vous parlerais dans quelque 
temps. 


### Alphabet carré ###

L’hébreu se lit de droite à gauche à l’aide de 22 lettres, donc 5 changent de 
forme à la fin d’un mot, ne notant que les consonnes. Voici la liste où vous 
retrouverez leur nom, leur prononciation, mais aussi leur translittération 
(système permettant de noter l’hébreu au moyen de l’alphabet latin).

<table style="width: 80%; margin: auto">
  <thead>
    <tr>
      <th style="width: 10%;border-style:solid">Forme</th>
      <th style="width: 30%;border-style:solid">Nom</th>
      <th style="width: 20%;border-style:solid">Translittération</th>
      <th style="border-style:solid">Prononciation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="bigger" style="border-style:solid">א</td>
      <td style="border-style:solid"><em>aleph</em></td>
      <td style="border-style:solid">‘</td>
      <td style="border-style:solid">-</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">בּ</td>
      <td rowspan="2" style="border-style:solid"><em>bet</em></td>
      <td style="border-bottom:none; border-right-style: solid">b</td>
      <td style="border:none">b</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">ב</td>
      <td style="border-top:none; border-right-style: solid">ṿ</td>
      <td style="border:none">v</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ג</td>
      <td style="border-style:solid"><em>guimel</em></td>
      <td style="border-style:solid">g</td>
      <td style="border-style:solid">gu</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ד</td>
      <td style="border-style:solid"><em>dalet</em></td>
      <td style="border-style:solid">d</td>
      <td style="border-style:solid">d</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ה</td>
      <td style="border-style:solid"><em>hé</em></td>
      <td style="border-style:solid">h</td>
      <td style="border-style:solid">h (aspiré)</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ו</td>
      <td style="border-style:solid"><em>vav</em></td>
      <td style="border-style:solid">v</td>
      <td style="border-style:solid">v</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ז</td>
      <td style="border-style:solid"><em>zaïn</em></td>
      <td style="border-style:solid">z</td>
      <td style="border-style:solid">z</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ח</td>
      <td style="border-style:solid"><em>het</em></td>
      <td style="border-style:solid">ḥ</td>
      <td style="border-style:solid">ch (ch allemand ou jota espagnol)</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ט</td>
      <td style="border-style:solid"><em>tet</em></td>
      <td style="border-style:solid">t</td>
      <td style="border-style:solid">t</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">י</td>
      <td style="border-style:solid"><em>yod</em></td>
      <td style="border-style:solid">y</td>
      <td style="border-style:solid">y</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">כּ</td>
      <td rowspan="3" style="border-style:solid"><em>kaf</em></td>
      <td style="border-bottom:none; border-right-style:solid">k</td>
      <td style="border-bottom:none">k</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">כ</td>
      <td rowspan="2" style="border-top:none; border-right-style:solid">kh</td>
      <td rowspan="2" style="border:none">ch (ch allemand ou jota espagnol)</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">ך</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ל</td>
      <td style="border-style:solid"><em>lamed</em></td>
      <td style="border-style:solid">l</td>
      <td style="border-style:solid">l</td>
    </tr>
    <tr>
      <td class="bigger" style="border-bottom:none">מ</td>
      <td rowspan="2" style="border-style:solid"><em>mem</em></td>
      <td rowspan="2" style="border-style:solid">m</td>
      <td rowspan="2" style="border-style:solid">m</td>
    </tr>
    <tr>
      <td class="bigger" 
        style="border-top:none; border-bottom-style:solid">ם</td>
    </tr>
    <tr>
      <td class="bigger" style="border-bottom:none">נ</td>
      <td rowspan="2" style="border-style:solid"><em>noun</em></td>
      <td rowspan="2" style="border-style:solid">n</td>
      <td rowspan="2" style="border-style:solid">n</td>
    </tr>
    <tr><td class="bigger" style="border-top:none">ן</td></tr>
    <tr>
      <td class="bigger" style="border-style:solid">ס</td>
      <td style="border-style:solid"><em>semekh</em></td>
      <td style="border-style:solid">s</td>
      <td style="border-style:solid">ss</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ע</td>
      <td style="border-style:solid"><em>ayin</em></td>
      <td style="border-style:solid">‘</td>
      <td style="border-style:solid">-</td> 
    </tr>
    <tr>
      <td class="bigger" style="border:none">פּ</td>
      <td rowspan="3" style="border-style:solid"><em>pé</em></td>
      <td style="border-bottom:none; border-right-style:solid">p</td>
      <td style="border-bottom:none; border-left-syle:solid">p</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">פ</td>
      <td rowspan="2" style="border-top:none; border-right-style:solid">f</td>
      <td rowspan="2" style="border-top:none; border-left-syle:solid">f</td>
    </tr>
    <tr><td class="bigger" 
        style="border-top:none; border-bottom-style:solid">ף</td></tr>
    <tr>
      <td class="bigger" style="border-bottom:none">צ</td>
      <td rowspan="2" style="border-style:solid"><em>tsadé</em></td>
      <td rowspan="2" style="border-style:solid">ts</td>
      <td rowspan="2" style="border-style:solid">ts</td>
    </tr>
    <tr><td class="bigger" style="border:none">ץ</td></tr>
    <tr>
      <td class="bigger" style="border-style:solid">ק</td>
      <td style="border-style:solid"><em>qof</em></td>
      <td style="border-style:solid">q</td>
      <td style="border-style:solid">q</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ר</td>
      <td style="border-style:solid"><em>rech</em></td>
      <td style="border-style:solid">r</td>
      <td style="border-style:solid">r (roulé)</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">שׁ</td>
      <td style="border-bottom:none; border-left-style:solid">
        <em>chine</em></td>
      <td style="border-bottom:none; border-left-style:solid">ch</td>
      <td style="border-bottom:none; border-left-style:solid">ch</td>
    </tr>
    <tr>
      <td class="bigger" style="border:none">שׂ</td>
      <td style="border-top:none; border-left-style:solid"><em>sine</em></td>
      <td style="border-top:none; border-left-style:solid">ṣ</td>
      <td style="border-top:none; border-left-style:solid">ss</td>
    </tr>
    <tr>
      <td class="bigger" style="border-style:solid">ת</td>
      <td style="border-style:solid"><em>tav</em></td>
      <td style="border-style:solid">th</td>
      <td style="border-style:solid">t</td>
    </tr>
  </tbody>
</table>

<p class="mts">
Il y a différents systèmes de translittération ou de transcription, selon 
l’usage que l’on souhaite en faire&nbsp;: pour l’étude, où l’on veut conserver 
la distinction des lettres servant à noter un même son, ou pour l’usage courant 
où l’on veut pouvoir connaître la prononciation du mot. Par exemple, שבת, le 
sabbat, peut être retranscrit <em>shabat</em>, <em>shabbat</em>, 
<em>sabbat</em>, ou, en utilisant le système que j’ai choisi, <em>chabath</em>. 
Il ne faut donc pas s’étonner des nombreuses variations possibles&nbsp;!
</p>

L’_aleph_ et l’_ayin_, ne se prononcent généralement pas, mais certaines 
communautés peuvent les marquer avec un son guttural. 

Certaines lettres voient leur prononciation changer avec la présence d’un point 
à l’intérieur, le _daguesh_&nbsp;: ב כ פ&nbsp;; et d’autres ont une forme finale 
que l’on utilise à la fin des mots&nbsp;: ך pour כ, puis ם pour מ, ainsi que ן 
pour נ, et ף pour פ, et enfin ץ pour צ. Pour finir, _chine_שׁ et _sine_ שׂ sont en 
réalité une seule et même lettre, mais un point, sur la branche de droite, ou 
celle de gauche, vient indiquer la prononciation.

À l’origine, l’hébreu ne notait pas les sons vocaliques. Il fallait donc être un 
lecteur averti pour savoir si une consonne devait être lue sans voyelle ou 
accompagnée des sons «&nbsp;a&nbsp;», «&nbsp;é&nbsp;», «&nbsp;i&nbsp;», 
«&nbsp;o&nbsp;», «&nbsp;ou&nbsp;». Lorsque l’hébreu cessa d’être une langue 
parlée, il fallut venir en aide au lecteur moins familier de la langue à 
déchiffrer. C’est ainsi qu’apparurent d’abord les _matres lectionis_ ou mères de 
lecture destinées à marquer certains sons vocaliques. Il s’agit donc de 
consonnes utilisées pour la notation des voyelles. Lorsqu’elles ont cette 
utilisation, elles n’ont plus de valeurs consonantique. Dans ce cas elles sont 
quiescentes, c’est-à-dire qu’on ne les prononce pas. Elles ont été conservées 
dans le texte, même après l’invention d’un système vocalique plus élaboré. Voici 
les deux couramment utilisées&nbsp;:

<dl class="mll">
  <dt class="bigger">ו</dt><dd>«&nbsp;o&nbsp;» ou «&nbsp;ou&nbsp;»</dd>
  <dt class="bigger">י</dt><dd>«&nbsp;i&nbsp;»</dd>
</dl>

Le procédé consistant à utiliser des _matres lectionis_ devint vite insuffisant 
puisqu’une même consonne pouvait noter des voyelles différentes. Il fallait 
inventer un système plus précis qui permette de distinguer non seulement entre 
les différents sons vocaliques mais aussi entre voyelles brèves et voyelles 
longues. 

C’est vers le VII<sup>e</sup> siècle de notre ère que des savants juifs (les 
massorètes), des écoles de Tibériade, ont fixé la lecture traditionnelle du 
texte biblique à l’aide d’un système de points et de traits, placés surtout 
au-dessous des consonnes. Ces signes sont appelés «&nbsp;points-voyelles&nbsp;», 
nous verrons cela une prochaine fois. Mais ce qu’il faut savoir, c’est que pour 
la plupart des documents, ces points-voyelles ne sont pas notés, on a donc au 
quotidien que les consonnes, ce qui rend la lecture très difficile. Les manuels 
scolaires des enfants utilisent ce système uniquement pour les petites classes. 


### Petit jeu ###

Je vous propose un petit jeu pour la prochaine fois. Voici une photo d’un des 
murs de la sukka qui se trouvait à la qéhilla, il s’agit d’une toile assez 
courante. On y représente des grands personnages bibliques. Je vous propose, 
à partir de l’alphabet, de déchiffrer les noms de chacun d’entre eux. 

Je vous conseille de commencer par transcrire les caractères hébraïques, en 
faisant attention aux _matres lectionis_, puis de retrouver les voyelles 
manquantes pour trouver le nom du personnage.

<figure class="txtcenter">
 <img src="uploads/2017/11/murSukka.jpg" 
 alt="Mur de la sukka" 
 width="80%" />
</figure>

Pour vous aider à y voir plus clair, voici un agrandissement de chacun.

<div class="grid-4">
  <figure class="txtcenter">
    <img src="uploads/2017/11/jeu1.jpg" />
    <figcaption class="bigger">
1. אברהם
    </figcaption>
  </figure>
  <figure class="txtcenter">
    <img src="uploads/2017/11/jeu2.jpg" />
    <figcaption class="bigger">
2. יצחק
    </figcaption>
  </figure>
  <figure class="txtcenter">
    <img src="uploads/2017/11/jeu3.jpg" />
    <figcaption class="bigger">
3. יעקב
    </figcaption>
  </figure>
  <figure class="txtcenter">
    <img src="uploads/2017/11/jeu4.jpg" />
    <figcaption class="bigger">
4. משׁה
    </figcaption>
  </figure>
  <figure class="txtcenter">
    <img src="uploads/2017/11/jeu5.jpg" />
    <figcaption class="bigger">
5. אהרן
    </figcaption>
  </figure>
  <figure class="txtcenter">
    <img src="uploads/2017/11/jeu6.jpg" />
    <figcaption class="bigger">
6. יוסף
    </figcaption>
  </figure>
  <figure class="txtcenter">
    <img src="uploads/2017/11/jeu7.jpg" />
    <figcaption class="bigger">
7. דוד
    </figcaption>
  </figure>
</div>

Les solutions la semaine prochaine, ça ne devrait pas être dur&nbsp;: tous les 
personnages sont bien connus et vous avez une illustration qui  correspond. 

<p class="txtcenter">
  <span class="big">
בהצלחה 
  </span>
  <em>Bon succès</em>
</p>


### Quelques nouvelles ###

Du lundi 27 novembre au vendredi 1<sup>er</sup> décembre, je serais en excursion 
en Samarie-Galillée. J’espère pouvoir vous faire assez rapidement, après mon 
retour, un compte rendu de mes découvertes. Voici la liste des lieux que nous 
allons essayer de visiter&nbsp;: 

 - _Lundi 27 novembre&nbsp;:_ l’ouest de la Galilée avec Meggido, Beth Shearim, 
   Sepphoris et Nazareth (Basilique de l’Annonciation, Tombeau du juste, Maison 
   du premier siècle).
 - _Mardi 28 novembre&nbsp;:_ les bords du lac de Galilée avec Magadala, Tabga, 
   Capharnaum, Gamla, Umm el Kanatir et Hippos.
 - _Mercredi 29 novembre&nbsp;:_ la haute Galilée et le plateau du Golan avec 
   Hatzor, Horvat Omrit, Tel Dan, Banias et Nemrod, route à travers le Golan.
 - _Jeudi 30 novembre&nbsp:_ sud de la Galilée et entrée en Samarie avec 
   Belvoir, Beth Shean, Beth Alpha et Zabadeh ou Tell el Farah.
 - _Vendredi 1<sup>er</sup> décembre&nbsp;:_ Le cœur de la Samarie avec Sébaste, 
   Puits de Jacob, Tell Balata, Mont Garizim.

J’ai eu la joie de pouvoir retrouver le p. Étienne Jonquet, qui passe un mois à 
Jérusalem afin d’avancer sur sa thèse. Il s’agit d’un de mes professeurs du 
Studium. Nous avons déjeuné ensemble, avec Yvon, chez les frères des écoles 
chrétiennes, porte de Jaffa, où il loge.

J’ai pu également retrouvé Kevin, un ancien séminariste du Studium qui avait 
passé une année ici et qui est revenu pour la semaine. 

Je vous avais évoqué les soucis de dents, j’ai pu retourner chez le dentiste qui 
a pu terminer le travail comme prévu. Après quelques jours où la dent était 
restée sensible, cela va mieux aujourd’hui. 
                                                            
