2017-12-05T12:00:00
Correction du petit jeu
<p class="txtcenter">
  <span class="big">!אני למד עברית
  </span>
  <em>J’apprends l’hébreu&nbsp;!</em>
</p>

De retour de notre périple en Samarie-Galillée, l’article est en cours 
d’écriture, je vous propose de regarder la correction du petit jeu de la 
dernière fois avec quelques explications.

Je commencerais, à chaque fois, par vous donner la translittération du nom, puis 
sa vocalisation hébraïque, avant de vous donner le nom en français, tel qu’il 
est couramment utilisé.

<div class="line mbm">
  <img src="uploads/2017/11/jeu1.jpg" width="100px" class="fl mll" />
  <p class="bigger">1. אברהם</p>
  <p><em>‘ṿrhm</em> → <em>avraham</em> → <strong>Abraham</strong></p>
  <p>Nous retrouvons sa tente, signe que ce patriarche était un nomade. </p>
</div>
<div class="line mbm">
  <img src="uploads/2017/11/jeu2.jpg" width="100px" class="fl mll" />
  <p class="bigger">2. יצחק</p>
  <p><em>Ytsḥq</em> → <em>yitskhrac</em> → <strong>Isaac</strong></p>
  <p>
    L’image n’est pas très claire, mais il s’agit du bûcher pour son sacrifice.
  </p>
</div>
<div class="line mbm">
  <img src="uploads/2017/11/jeu3.jpg" width="100px" class="fl mll" />
  <p class="bigger">3. יעקב</p>
  <p><em>y‘qṿ</em> → <em>yaaqov</em> → <strong>Jacob</strong></p>
  <p>Avec le puits où il rencontre Rachel qu’il épousera.</p>
</div>
<div class="line mbm">
  <img src="uploads/2017/11/jeu4.jpg" width="100px" class="fl mll" />
  <p class="bigger">4. משׁה</p>
  <p><em>mchh</em> → <em>moché</em> → <strong>Moïse</strong></p>
  <p>On retrouve les tables de la loi qu’il a reçues.</p>
</div>
<div class="line mbm">
  <img src="uploads/2017/11/jeu5.jpg" width="100px" class="fl mll" />
  <p class="bigger">5. אהרן</p>
  <p><em>‘hrn</em> → <em>aharonne</em> → <strong>Aaron</strong></p>
  <p>
    Avec des objets de culte qui rappelle qu’Aaron était le premier grand 
    prêtre. On peut noter ici que le <em>noun</em> étant en fin de mot, on 
    utilise sa forme finale.
  </p>
</div>
<div class="line mbm">
  <img src="uploads/2017/11/jeu6.jpg" width="100px" class="fl mll" />
  <p class="bigger">6. יוסף</p>
  <p><em>yosf</em> → <em>yossef</em> → <strong>Joseph</strong></p>
  <p>
    L’image représente les éléments du songe qu’il a raconté à ses frères. Le 
    <em>vav</em> ו est ici une <em>mater lectionis</em> qui indique la 
    voyelle o.
  </p>
</div>
<div class="line mbm">
  <img src="uploads/2017/11/jeu7.jpg" width="100px" class="fl mll" />
  <p class="bigger">7. דוד</p>
  <p><em>dvd</em> → <em>david</em> → <strong>David</strong></p>
  <p>Avec sa couronne royale</p>
</div>


Pour tous ceux qui ont essayé de trouver les solutions à ce petit jeu, je vous 
dis&nbsp;:

<p class="txtcenter">
  <span class="big">!כל הכבוד
  </span>
  <em>Bravo&nbsp;</em>
</p>
