2017-12-13T12:00:00
Messe consulaire

Samedi dernier a eu lieu, à Paris, les obsèques de Johnny Hallyday. Hasard de 
calendrier, cela avait lieu le jour anniversaire de la loi de 1905 sur la 
laïcité. La présence du Président de la République dans l’église et la diffusion 
de la célébration à la télévision a posé question dans notre pays qui clame haut 
et fort sa laïcité au point d’en être souvent intolérant. Cela entre en écho 
avec une messe à laquelle j’ai participé récemment, messe où la République 
laïque, et trop souvent anticléricale, est bien obligée de se soumettre à 
quelques traditions chrétiennes, vestiges de protocoles et de privilèges 
accordés il y a bien longtemps. Cela intervient également quelques semaines 
après qu’Emmanuel Macron est accepté de recevoir le titre de premier et unique 
chanoine honoraire de la basilique du Latran accordé au chef d’État français. 

Le _consulat général de France à Jérusalem_ est une représentation consulaire de 
la France à Jérusalem et ses environs, ainsi que sur les territoires 
palestiniens (Cisjordanie et Gaza). Il n’est pas placé sous l’autorité de 
l’ambassade de France en Israël, et il est chargé de la protection et du suivi 
administratif des Français établis ou de passage dans sa circonscription, il a 
également une fonction politique en représentant la France auprès de l’Autorité 
palestinienne. Le consul général administre plusieurs domaines français à 
Jérusalem et dans ses environs&nbsp;: l’église Sainte-Anne, l’église du Pater 
Noster, l’ancienne commanderie croisée d’Abou Gosh et le Tombeau des Rois ainsi 
que cinq centres culturels sous l’enseigne commune d’Institut français de 
Jérusalem. 

Héritier de plusieurs siècles de protection des Lieux saints, le consul général 
de France à Jérusalem inaugure ses fonctions par une entrée solennelle au 
Saint-Sépulcre. Un _Te Deum_ pour la France est également chanté en la basilique 
Sainte-Anne. Pierre <span class="smallcaps">Cochard</span> a été nommé à cette 
fonction par décret en date du 21&nbsp;juin&nbsp;2016, il a pris ses fonctions 
le 20&nbsp;septembre&nbsp;2016 et a fait son entrée solennelle le 
26&nbsp;octobre&nbsp;2016. En effet, depuis 1843, où la France est représentée 
sans interruption à Jérusalem, tout nouveau consul général de France est reçu au 
Saint-Sépulcre. Ce privilège remonte à 1535 quand François I<sup>er</sup> 
obtient de la Sublime-Porte, ou Soliman&nbsp;II le Magnifique, le droit de 
protéger les chrétiens latins dans tout l’Empire ottoman.

Le rôle de protecteur des communautés religieuses que joue la France, par 
l’intermédiaire de son consul général à Jérusalem, implique la participation de 
ce dernier à des messes consulaires où il reçoit les honneurs liturgiques 
illustrant le rang accordé à la France en Terre sainte. Ainsi, le 
samedi&nbsp;25 novembre dernier j’ai pu participer à la messe pour la fête du 
Christ de Roi en présence du consul général de France à Jérusalem. Cette messe 
a eu lieu à la basilique de l’_Ecce Homo_ qui est située dans sur la _Via 
Dolorosa_ à Jérusalem. Elle est construite à l’endroit où selon la tradition 
Jésus fut présenté à la foule par Ponce Pilate sous ces mots&nbsp;: 
«&nbsp;_Ecce Homo_&nbsp;» (voici l’homme). La fête du Christ Roi est célébrée le 
dernier dimanche de l’année liturgique, juste avant le début de l’Avent. On 
célèbre le Christ comme étant le roi de l’univers. 

Le jour de cette messe, il était en uniforme, en général noir mais blanc l’été, 
semblable à celui des préfets. C’est vraiment étonnant de voir le protocole 
suivant s’appliquer, surtout quand on connaît l’hyperlaïcisme de la France. On 
notera, qu’à part certains gestes protocolaires, le consul qui est en 
représentation officielle s’abstient de prononcer la moindre prière ou d’aller 
communier. Voici une partie du protocole&nbsp;:

 - Une place d’honneur avec prie-Dieu est réservée au consul général.
 - Le consul est reçu à la porte de l’église par le clergé, qui lui offre de 
   l’eau bénite et le conduit à sa place.
 - À son arrivée à l’autel et après sa génuflexion devant celui-ci, le célébrant 
   se retourne et s’incline devant le consul.
 - Après la lecture de l’Évangile par le diacre, celui-ci le porte à baiser au 
   consul.
 - À l’offertoire, le diacre encense le consul immédiatement après le célébrant.
 - À la fin de la messe, on chante, après l’oraison qui suit la communion, deux 
   fois le _Domine salvam fac rem publicam_.

<blockquote>
  <p class="bold mbs">
    <em>Domine, salvam fac rem publicam et exaudi nos in die qua 
      invocaverimus te.</em>
  </p><p class="txtright mbs">
  Seigneur, sauve la République, exauce-nous en ce jour où nous t’adressons 
  nos invocations.
  </p><p class="mbs"><em>
    Domine, salvam fac rem publicam et exaudi nos in die qua invocaverimus te.
  </em></p>
  <p class="mbs"><em class="bold">Fiat Pax in virtute tua.</em>
    <span class="mll">Que la paix soit vôtre.</span></p>
  <p class="mbs"><em>Et abundantia in turribus tuis.</em>
    <span class="mll">Il gardera votre âme.</span></p>
</blockquote>

<figure class="txtcenter">
  <img src="uploads/2017/12/consul.jpg" 
    alt="Le consule général" 
    width="75%" />
  <figcaption>
    Le consul général Pierre <span class="smallcaps">Cochard</span> lors de 
    son entrée solennelle (photo patriarcat latin)
  </figcaption>
</figure>
