
  <header class="headerPage ordo__header">
    <h1>
      À propos 
    </h1>
  </header>
    
    <section>

      <section>

        <figure class="fl txtcenter">
          <img src="uploads/apropos/withBishop.jpg" alt="Mon évêque et moi" 
            height="50%" width="50%" />
            <figcaption>
              Avec mon évêque, Mgr <span class="smallcaps">Nahmias</span>
            </figcaption>
        </figure>
        <p>
          Je m’appelle Grégoire <span class="smallcaps">Oliveira Silva</span>, 
          né en 1989, je suis séminariste pour le 
          <a href="http://catho77.fr">diocèse de Meaux (France)</a> et membre 
          de la <a href="http://fraternite.saint.etienne.over-blog.com">
            Fraternité Saint Étienne</a>. 
        </p>
        <p>
          Bien qu’ayant été baptisé bébé, je n’ai pas reçu d’éducation 
          religieuse plus jeune, mais j’ai eu la grâce de rencontrer le 
          Seigneur le 07 mars 2010 en suivant un ami qui m’ayant conduit 
          jusqu’à une église. Quelques mois plus tard, le Seigneur m’interpella 
          avec cette question&nbsp;: «&nbsp;Pourquoi ne deviendrais-tu pas 
          prêtre&nbsp;?&nbsp;». Je suis donc entré en fondation spirituelle, 
          envoyé par mon diocèse, à la 
          <a href="http://seminaireversailles.fr/seminaire-de-versailles/la-maison-saint-jean-baptiste/une-annee-de-fondation-spirituelle/">Maison Saint Jean-Baptiste</a>
          en septembre 2012. 
        </p>
        <figure class="txtcenter">
          <img src="uploads/apropos/meaux.jpg" alt="Cathédrale de Meaux"
            width="50%" />
            <figcaption>
              La cathédrale de Meaux (<em>«&nbsp;La plus belle cathédrale du
                monde en Seine-et-Marne&nbsp;»</em> selon son recteur)
            </figcaption>
          </figure>

        <h2>Ma formation</h2>
        <p>
          La formation pour devenir prêtre peut être assez longue puisque le 
          parcours peut s’adapter à chacun en fonction du profil du candidat.
          Cette formation s’appuie sur quatre piliers&nbsp;: formation humaine,
          spirituelle, intellectuelle et pastorale.
        </p>
        <p>Habituellement, voici les étapes de la formation&nbsp;:</p>
        <ul>
          <li>1 an de fondation spirituelle (enracinement dans la Parole de Dieu
            et la vie de prière et discernement de la vocation)</li>
          <li>2 ans de cycle de philosophie</li>
          <li>3 ans de cycle de théologie</li>
          <li>1 année de stage diaconal</li>
        </ul>
        <p>
          Mais, j’ai un parcours plus atypique, puisque j’ai eu le droit à 
          quelques années bonus, pour le bien de ma formation. Cela est 
          d’ailleurs une chance que l’Église adapte autant la formation de ses
          candidats !
        </p>
        <p>Voici donc mon parcours actuel&nbsp;:</p>
        <ul>
          <li>mon année de fondation spirituelle à la Maison Saint Jean-Baptiste
            à Versailles</li>
          <li>une année de stage pastoral dans le Pôle Missionnaire de Provins
          </li>
          <li>2 ans de cycle de philosophie au <a href="http://www.studiumdenotredamedevie.org/fr/">Studium de Notre Dame de Vie</a> 
            à Saint Didier dans le Vaucluse</li>
          <li>une année inter-cycle en mission d’étude au même endroit</li>
        </ul>
        <p>
          Le lundi 29 août 2016, en la fête du martyre de Saint Jean-Baptiste, 
          mon évêque m’a admis comme candidat au sacerdoce pour le diocèse de 
          Meaux&nbsp;: c’est la première étape liturgique qui me conduira, 
          si Dieu le veut, à l’ordination sacerdotale dans quelques années. 
        </p>

        <h2>Une nouvelle étape</h2>
        <p>
          Surprise en mai 2017&nbsp;: mon évêque m’envoie effectuer trois ans de 
          stages: encore des années bonus, pas facile quand on est impatient de
          finir la formation, mais pour le Seigneur on ne compte pas !
        </p>
        <p>
          Deuxième surprise&nbsp;: les deux premières années seront en mission 
          d’étude et de service en Terre Sainte dans le cadre de ma formation 
          sacerdotale !
        </p>
        <p>
          Je suivrais donc quelques cours à l’<a href="http://www.ebaf.edu/fr">
            École Biblique de Jérusalem</a>, logerais chez les 
          <a href="https://fmmjerusalem.wordpress.com">soeurs Franciscaines Missionnaires de Marie</a>
          , et aurait une mission auprès du 
          <a href="http://catholic.co.il/?lang=fr">Vicariat Saint-Jacques</a> 
          pour les catholiques de langue hébraïque en Israël.
        </p>
        
        <figure class="txtcenter">
          <img src="uploads/apropos/seminaristes.jpg" 
            alt="Les séminaristes du diocèse" 
            height="50%" width="50%" />
            <figcaption>
              Les séminaristes du diocèse
            </figcaption>
        </figure>

        <h2>Pour vous repérer</h2>

        <p>Voici une carte de Jérusalem où vous pouvez voir les différents lieux
          que je fréquente au quotidien. </p>
        <ul>
          <li>La ligne rouge entoure la <em>vieille ville</em>.</li>
          <li>La marque avec la croix situe le <em>Saint Sépulcre</em></li>
          <li>En orange, vous avez la maison des franciscaines où je loge.</li>
          <li>En vert, vous avez l’<em>Institut Polis</em> où je suis mes cours 
            d’hébreu moderne (à gauche) et l’<em>École Biblique</em>
            pour les autres cours (à droite).</li>
          <li>En bleu, la <em>qéhilla</em> (paroisse hébraïophone) au nord et le 
            <em>Center Saint Rachel</em> (où je m’occupe des enfants) au 
            sud.</li>
        </ul>
        <iframe width="100%" height="450px" frameBorder="0" src="https://framacarte.org/fr/map/mon-quotidien_14375?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false#14/31.7792/35.2253">
        </iframe>
        <p class="txtcenter">
  <a href="https://framacarte.org/fr/map/mon-quotidien_14375#16/31.7792/35.2253"
    class="btn btn-primary"
    target="_blank">Voir la carte en plein écran</a>
</p>

  <p>Enfin, voici mon adresse à Jérusalem&nbsp;:</p>
  <p class="mll">
    Grégoire <span class="smallcaps">Oliveira Silva</span><br />
    Franciscaines de Marie (White Sisters)<br />
    P.O. Box 19049<br />
    112 Nablus Road<br />
    <span class="smallcaps">Jerusalem</span> 9119001<br />
    <span class="smallcaps">Israël</span>
  </p>
      </section>  <!-- Contenu -->
    </section>    <!-- Menu + contenu -->
