<header class="headerPage">
  <h1>
    {{#if _site.name == 'www'}}
    Journal de bord 
    <span class="subtitle">d’un séminariste en Terre Sainte</span>
    {{/if}}
    {{#if _site.name == 'frat'}}
    Le blog 
    <span class="subtitle">de la Fraternité Saint Étienne</span>
    {{/if}}
  </h1>
</header>

<section>
  <section>
    {{#if _site.name == 'www'}}
    <p class="paper-shadow z1 mam pas tiny-man">
      Bienvenue sur ce blog qui a pour vocation de partager mes découvertes de 
      la Terre Sainte. Rendez-vous sur la page 
      <a href="./apropos.html">«&nbsp;À propos&nbsp;»</a> pour en savoir plus.
    </p>
    {{/if}}
    {{#if _site.name == 'frat'}}
    <p class="paper-shadow z1 mam pas tiny-man">
      Bienvenue sur le nouveau site de la Fraternité&nbsp;!
    </p>
    {{/if}}

{{#if message.display}}
    <p class="alert alert-icon alert-{{message.type}} mam tiny-man">
      {{message.content}}
    </p>
{{/if}}

{{#each articles}}
<article class="flex-container-h mlm mrm tiny-man">
  <time datetime="{{datePubli.iso}}" class="date-block mts">
    <span class="day">{{datePubli.day}}</span>
    <span class="month">{{datePubli.monthSort}}<span>{{
        datePubli.monthEnd}}</span></span>
    <span class="year">{{datePubli.year}}</span>
  </time>
  <section class="flex-item-fluid mls">
    <h2>{{title}}</h2>
    {{content}}
    {{#if footNotes.length > 0}}
    <footer class="footnotes">
      <ol>{{#each footNotes}} 
        <li>{{note}}</li>
      {{/each}}</ol>
    </footer>
    {{/if}}
  </section>
</article>
<hr>
{{/each}}

{{makePagination(pagination)}}
   
  </section>  <!-- Contenu -->
</section>

