  <header class="headerPage">
    <h1>Mentions légales</h1>
  </header>
    
    
  <section>
    <section>

<h2>Éditeur</h2>
  <div class="flex-container-h justify-space mbm">
    <article class="mlm">
      <h3>Théo-Net</h3>
      <!-- <p>Association loi 1901 déclarée en sous-préfecture de ??? 
        le jj mmmm aaaa sous le n<sup>o</sup>?????.</p> -->
      <p>Grégoire <span class="smallcaps">Oliveira Silva</span></p>
      <h3>Adresse</h3> <!-- Siège Social -->
      <p>Grégoire <span class="smallcaps">Oliveira Silva</span><br />
        Fraternité Saint Étienne<br />
        4 place Henri IV<br />
        77100 <span class="smallcaps">Meaux</span></p>
      <!-- <p>Pour nous contacter&nbsp;: http://???</p> -->
    </article>
    <article>
      <h3>Directeur de la publication</h3>
      <p>Monsieur Grégoire <span class="smallcaps">Oliveira Silva</span><!-- , 
        Fct --></p>
      <h3>Hébergeur</h3>
      <p>L’intégralité de nos outils sont actuellement hébergés sur des 
        serveurs fournis par 
        <a href="https://www.pulseheberg.com/" target="_blank">PulseHeberge</a>.</p>
      <p>Groupe PulseHeberg<br />
        16 avenue de l’Europe<br />
        78140 <span class="smallcaps">Vélizy-Villacoublay</span></p>
    </article>
  </div>

  <hr />

  <h2>Fraternité Saint Étienne</h2>

  <p class="mlm">Concernant le 
    <a href="http://www.fraternite-saint-etienne.fr">site de la fraternité</a>&nbsp;:</p>
  <div class="flex-container-h justify-space mbm">
    <article class="mlm">
      <p>Association loi 1901 déclarée<br> 
        en sous-préfecture de Meaux<br>
        le 29 décembre 2016 sous le n<sup>o</sup>W771013589.</p>
      <h3>Adresse</h3>
      <p>Fraternité Saint Étienne<br />
        10 av du Président Salvador Allende<br />
        77100 <span class="smallcaps">Meaux</span></p>
    </article>
    <article>
      <h3>Directeur de la publication</h3>
      <p>Père Thierry <span class="smallcaps">Leroy</span>, 
        président (Modérateur)</p>
      <h3>Hébergeur</h3>
      <p>Le site web est actuellement hébergé sur des 
        serveurs fournis par 
        <a href="https://www.pulseheberg.com/" target="_blank">PulseHeberge</a>.</p>
      <p>Groupe PulseHeberg<br />
        16 avenue de l’Europe<br />
        78140 <span class="smallcaps">Vélizy-Villacoublay</span></p>
    </article>
  </div>

  <hr />

<h2>Informatique et libertés</h2>

  <h3>Informations personnelles collectées</h3>
  
  <p>En France, les données personnelles sont notamment protégées par la loi 
    n<sup>o</sup> 78-87 du 6 janvier 1978, la loi n<sup>o</sup> 2004-801 du 
    6 août 2004, l’article L. 226-13 du Code pénal et la Directive 
    Européenne du 24  octobre 1995.</p>
  <p>En tout état de cause Théo-Net ne collecte des informations personnelles 
    relatives à l’utilisateur (nom, adresse électronique, coordonnées 
    téléphoniques, ...) que pour le besoin des services proposés par les sites du 
    réseau Théo-Net, notamment pour l’inscription à des espaces de discussion 
    par le biais de formulaires en ligne ou pour des traitements statistiques. 
    L’utilisateur fournit ces informations en toute connaissance de cause, 
    notamment lorsqu’il procède par lui-même à leur saisie. Il est alors 
    précisé à l’utilisateur des sites du réseau Théo-Net le caractère 
    obligatoire ou non des informations qu’il serait amené à fournir.</p>

  <!-- <h3>Analyse statistique et confidentialité</h3>
  <p>En vue d'adpter le site aux demandes de nos visiteurs, nous analysons le
    trafic de nos sites avec Piwik. Piwik génère un cookie avec un 
    indentifiant unique, dont la durée de conservation est limitée à 13 mois. 
    Les données recueillies (adresse IP, User-Agent...) sont anonymisées et
    conservées pour une durée de 6 mois. Elles ne sont pas cédées à des 
    tiers ni utilisées à d'autres fins.</p> -->

  <h3>Rectification des informations nominatives collectées</h3>
  <p>Conformément aux dispositions de l’article 34 de la loi n<sup>o</sup>
    48-87 du 6 janvier 1978, l’utilisateur dispose d’un droit de 
    modification des données nominatives collectées le concernant. Pour ce 
    faire, l’utilisateur envoie à Théo-Net :</p>
  <ul>
    <li>un courrier électronique en utilisant le formulaire de contact</li>
    <li>un courrier à <!-- l’adresse du siège de l’association --> mon adresse 
      indiquée ci-dessus) en indiquant son nom ou sa raison sociale, ses coordonnées 
      physiques et/ou électroniques, ainsi que le cas échéant la référence 
      dont il disposerait en tant qu’utilisateur du réseau Théo-Net.</li>
  </ul>
  <p>La modification interviendra dans des délais raisonnables à compter de 
    la réception de la demande de l’utilisateur.</p>

  <hr />

<h2>Limitation de responsabilité</h2>

  <p>Ce site comporte des informations mises à disposition par des 
    communautés ou sociétés externes ou des liens hypertextes vers d’autres 
    sites qui n’ont pas été développés par Théo-Net. Le contenu mis à 
    disposition sur le site est fourni à titre informatif. L’existence d’un 
    lien de ce site vers un autre site ne constitue pas une validation de 
    ce site ou de son contenu. Il appartient à l’internaute d’utiliser ces 
    informations avec discernement et esprit critique. La responsabilité de 
    Théo-Net ne saurait être engagée du fait des informations, opinions et 
    recommandations formulées par des tiers.</p>
  <p>Théo-Net ne pourra être tenue responsable des dommages directs et 
    indirects causés au matériel de l’utilisateur, lors de l’accès au site, 
    et résultant soit de l’utilisation d’un matériel ne répondant pas aux 
    spécifications techniques requises, soit de l’apparition d’un bug ou 
    d’une incompatibilité.</p>
  <p>Théo-Net ne pourra également être tenue responsable des dommages 
    indirects (tels par exemple qu’une perte de marché ou perte d’une 
    chance) consécutifs à l’utilisation du site.</p>
  <p>Des espaces interactifs (possibilité de poser des questions dans 
    l’espace contact) sont à la disposition des utilisateurs sur le site 
    Théo-Net. Théo-Net se réserve le droit de supprimer, sans mise en demeure 
    préalable, tout contenu déposé dans cet espace qui contreviendrait à la 
    législation applicable en France, en particulier aux dispositions relatives 
    à la protection des données. Le cas échéant, Théo-Net se réserve également 
    la possibilité de mettre en cause la responsabilité civile et/ou pénale 
    de l’utilisateur, notamment en cas de message à caractère raciste, 
    injurieux, diffamant, ou pornographique, quel que soit le support 
    utilisé (texte, photographie…).</p>

  <h3>Limitations contractuelles sur les données techniques</h3>
  <p>Théo-Net ne pourra être tenue responsable de dommages matériels liés à 
    l’utilisation du site. De plus, l’utilisateur du site s’engage à 
    accéder au site en utilisant un matériel récent, ne contenant pas de 
    virus et avec un navigateur de dernière génération mis-à-jour.</p>

  <h3>Propriété intellectuelle</h3>
  <p>Les contenus sont publiés sous la responsabilité des utilisateurs</p>

  <hr />
  <p class="txtright italic">Mentions légales des outils du projet Théo-Net,
    le 27 mai 2018.</p>


    </section>  <!-- Contenu -->
  </section>    <!-- Menu + contenu -->
