<header class="headerPage ordo__header">
  <h1>
    Journal de bord 
    <span class="subtitle">d'un séminariste en Terre Sainte</span>
  </h1>
</header>

<section>
<section>

{{makePagination(pagination)}}

{{#each articles}}
<article class="flex-container-h mlm mrm tiny-man">
  <time datetime="{{datePubli.iso}}" class="date-block mts">
    <span class="day">{{datePubli.day}}</span>
    <span class="month">{{datePubli.monthSort}}<span>{{
        datePubli.monthEnd}}</span></span>
    <span class="year">{{datePubli.year}}</span>
  </time>
  <section class="flex-item-fluid mls">
    <h2>{{title}}</h2>
    {{content}}
    {{#if footNotes.length > 0}}
    <footer class="footnotes">
      <ol>{{#each footNotes}} 
        <li>{{note}}</li>
      {{/each}}</ol>
    </footer>
    {{/if}}
  </section>
</article>
<hr>
{{/each}}

{{makePagination(pagination)}}
   
  </section>  <!-- Contenu -->
</section>

