<header class="headerPage">
  <h1>
    Kepha*
    <span class="subtitle">frameworks pour le développement</span>
  </h1>
</header>

<section>
  <section>
    <p class="alert">
      Vous trouverez le code source de nos projets informatiques dans les dépots
      hébergés <a href="https://framagit.org/theo-net">chez Framagit
        <i class="icon icon-git"></i></a>.
    </p>

    <p class="alert">
      Documentation pour <a href="{{$getRoute('kephaStyles')}}">KephaLess</a>.
    </p>
  </section>
</section>

