  <header class="headerPage ordo__header">
    <h1>Documentation
      <span class="subtitle">Tous les styles de KephaLess</span>
    </h1>
  </header>


<!--
   ________________
  |                |
  | Menu + contenu |
  |________________|

-->

    <section>

  <aside>
    <nav class="nav nav-dark">
      <ul>
        <li><a href="#h1-install">Installation et configuration</a></li>
        <li><a href="#h1-palette">Palette de couleurs</a></li>
        <li class="has-sub">
          <a>Bases <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#h2-normalize">Normalize</a></li>
            <li><a href="#h2-resetCss">Reset CSS</a></li>
            <li><a href="#h2-typo">Typographie</a></li>
            <li><a href="#h2-layout">Layout</a></li>
            <li><a href="#h2-grids">Système de grilles</a></li>
            <li><a href="#h2-tables">Les tableaux</a></li>
            <li><a href="#h2-forms">Les formulaires</a></li>
            <li><a href="#h2-helpers">Helpers</a></li>
            <li><a href="#h2-responsive">Responsive</a></li>
            <li><a href="#h2-print">Impression</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a>Modules <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#h2-iconFont">Police d'icones</a></li>
            <li><a href="#h2-info">Informatique</a></li>
            <li><a href="#h2-paper-shadow">Paper-shadow</a></li>
            <li><a href="#h2-labels-badges">Labels et badges</a></li>
            <li><a href="#h2-buttons">Les boutons</a></li>
            <li><a href="#h2-alerts">Les alertes</a></li>
            <li><a href="#h2-panels">Les panels</a></li>
            <li><a href="#h2-pagination">Pagination</a></li>
            <li><a href="#h2-forms-module">Formulaires</a></li>
            <li><a href="#h2-date">Dates</a></li>
            <li><a href="#h2-pricing">Pricing</a></li>
            <li><a href="#h2-menu">Menu</a></li>
            <li><a href="#h2-breadcrumb">Breadcrumb</a></li>
            <li><a href="#h2-calendar">Calendrier</a></li>
            <li><a href="#h2-wave">Wave</a></li>
          </ul>
        </li>
        <li><a href="#h1-mixins">Les mixins</a></li>
      </ul>
    </nav>
  </aside>


<!--
   ____________________
  |                    |
  | Contenu de la page |
  |____________________|

-->

      <section>
        <p>Le framework <em>KephaLess</em> propose tous les outils pour
styliser les pages des projets <em>Théo-Net</em>. En effet, il comporte des
styles de bases, mais également des composants qui peuvent être réutilisés ou
combinés. </p>

<p>Il s’agit d'un framework <a href="http://lesscss.org">LESS</a> qui est un
  langage dynamique de génération de feuilles de styles. Ce framework propose
  également quelques scripts pour le rendu et le dynamisme de certains
  composants. On y trouve enfin, tous les éléments visuels (images, polices,
  ...) nécessaires pour le respect de la charte graphique du projet.</p>

<p>Ce framework est conçu pour fonctionner avec
  <a href="http://gulpjs.com">gulp.js</a> qui permettra de générer, grâce aux
  bons plugins, un fichier CSS compatible avec les navigateurs les plus
  récents, mais aussi optimisé pour améliorer les performances. Cette
  génération fonctionne également côté serveur grâce à
  <a href="http://nodejs.org">Node.js</a>. </p>

<p>Nous nous sommes librement inspirés de
  <a href="http://getbootsrap.com">Bootstrap</a> (framework de Twitter), de
  <a href="http://bootflat.github.io">bootflat</a> (thème <em>flat design</em>
  de ce framework) et de <a href="http://knacss.com">KNACSS</a>.</p>

<p class="alert alert-icon alert-primary">Pour compléter la documentation,
  n’hésitez pas à consulter le code source des feuilles de styles et surtout,
  celui de cette page. </p>


<!--
  Installation et configuration
  =============================
-->
<h2 id="h1-install">Installation et configuration</h2>

<p>Le framework est composé d'un ensembles de styles définis dans des
fichiers <abbr title="Préprocesseur CSS">Less</abbr>. Il vous faudra compléter
le fichier <code>config.less</code> pour configurer le rendu, le fichier
<code>fonts.less</code> pour charger des polices particulières et le fichier
<code>toGenerate.less</code> pour déterminer les classes à générer
automatiquement.</p>

<p>Vous trouverez dans ces fichiers tous les détails pour la configuration.</p>

<p>Enfin, il vous suffit de créer un fichier <code>style.less</code>
  contenant : </p>
<blockquote>
  <pre>
@import "[Le chemin vers KephaLess]/kepha.less" ;

// On décrit tous nos styles personnalisés à la suite
</pre></blockquote>

<p>Le framework est divisé en trois parties : </p>
<ul>
  <li>La <em>base</em> qui contient tous les éléments pour un rendu minumum,
    ceux-ci n'ont pas besoins de Javascript pour fonctionner.</li>
  <li>Les <em>modules</em> sont des éléments graphiques (widgets) qui peuvent
    avoir besoins de Javascript pour fonctionner.</li>
  <li>Les <em>composants</em> qui stylisent des blocs entier de Théo-Net.</li>
</ul>


<!--
  Palette de couleurs
  ===================
-->
<h2 id="h1-palette">Palette de couleurs</h2>

<p>Des variables sont définies, dans le fichier de configuration, pour être
utilisées avec <em>Less</em>. Elles sont de la forme
<code>@color-maCouleur[-l]</code> où <code>maCouleur</code> est le nom de la
couleur en notation <em>CamelCase</em> et <code>-l</code> un suffixe facultatif
indiquant de prendre la version claire de la couleur. </p>

<p>Cette palette est librement reprise de <em>Bootflat</em>.

<div class="grid-4">

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-blueJeans-l"></div>
      <div class="w50 pam bckgrnd-blueJeans"></div>
    </div>
    <div class="h4-like man pan">Blue jeans</div>
    <div class="grid-2">
      <div>#5D9CEC</div><div>#4A89DC</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-aqua-l"></div>
      <div class="w50 pam bckgrnd-aqua"></div>
    </div>
    <div class="h4-like man pan">Aqua</div>
    <div class="grid-2">
      <div>#4FC1E9</div><div>#3BAFDA</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-mint-l"></div>
      <div class="w50 pam bckgrnd-mint"></div>
    </div>
    <div class="h4-like man pan">Mint</div>
    <div class="grid-2">
      <div>#48CFAD</div><div>#37BC9B</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-grass-l"></div>
      <div class="w50 pam bckgrnd-grass"></div>
    </div>
    <div class="h4-like man pan">Grass</div>
    <div class="grid-2">
      <div>#A0D468</div><div>#8CC152</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-sunflower-l"></div>
      <div class="w50 pam bckgrnd-sunflower"></div>
    </div>
    <div class="h4-like man pan">Sunflower</div>
    <div class="grid-2">
      <div>#FFCE54</div><div>#F6BB42</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-bittersweet-l"></div>
      <div class="w50 pam bckgrnd-bittersweet"></div>
    </div>
    <div class="h4-like man pan">Bittersweet</div>
    <div class="grid-2">
      <div>#FC6E51</div><div>#E9573F</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-grapefruit-l"></div>
      <div class="w50 pam bckgrnd-grapefruit"></div>
    </div>
    <div class="h4-like man pan">Grapefruit</div>
    <div class="grid-2">
      <div>#ED5565</div><div>#DA4453</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-lavender-l"></div>
      <div class="w50 pam bckgrnd-lavender"></div>
    </div>
    <div class="h4-like man pan">Lavender</div>
    <div class="grid-2">
      <div>#AC92EC</div><div>#967ADC</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-pinkRose-l"></div>
      <div class="w50 pam bckgrnd-pinkRose"></div>
    </div>
    <div class="h4-like man pan">Pink rose</div>
    <div class="grid-2">
      <div>#EC87C0</div><div>#D770AD</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-lightGray-l"></div>
      <div class="w50 pam bckgrnd-lightGray"></div>
    </div>
    <div class="h4-like man pan">Light gray</div>
    <div class="grid-2">
      <div>#F5F7FA</div><div>#E6E9ED</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-mediumGray-l"></div>
      <div class="w50 pam bckgrnd-mediumGray"></div>
    </div>
    <div class="h4-like man pan">Medium Gray</div>
    <div class="grid-2">
      <div>#CCD1D9</div><div>#AAB2BD</div>
    </div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-darkGray-l"></div>
      <div class="w50 pam bckgrnd-darkGray"></div>
    </div>
    <div class="h4-like man pan">Dark Gray</div>
    <div class="grid-2">
      <div>#656D78</div><div>#434A54</div>
    </div>
  </div>
  </div>


<!--
  Base
  ==========
-->
<h2 id="h1-base">Bases</h2>
<p>Cette partie renferme tous les éléments de bases. Elle devrait être au
maximum configurable à partir du fichier <code>config.less</code>et contenir
le minimum vital. </p>


<!--
  Normalize
  ~~~~~~~~~~
-->
  <h3 id="h2-normalize">Normalize</h3>
<p>Il s'agit du <em>Reset CSS</em> afin d'avoir la même base de travail dans
tous les navigateurs.</p>
<p>Nous utilisons
  <a href="http://github.com/necolas/normalize.css">normalize.css</a> v3.0.2
  sous <em>MIT Licence</em>.</p>

<!--
  Reset CSS
  ~~~~~~~~~~
-->
  <h3 id="h2-resetCss">Reset CSS</h3>
<p>Il s'agit du <em>Reset CSS</em> propre au framework. Nous y trouverons entre
  autres : modèle <em>border-box</em> pour tous les éléments, stylisation des
  listes, alignement des images, suppressions de marges, ...</p>

    <h4>Stylisation des listes</h4>
<p>Voici la stylisation par défaut de listes, vous noterez qu'une liste peut
être non stylisée si elle possède la classe <code>unstyled</code> : </p>
<blockquote>
  <div class="grid-2">
  <ul>
    <li>Un élément dans une liste non ordonnée</li>
    <li>Un autre</li>
    <li>Et un dernier</li>
  </ul>
  <ul class="unstyled">
    <li>Un élément dans une liste non ordonnée, non stylisée</li>
    <li>Un autre</li>
    <li>Et un dernier</li>
  </ul>
  <ol>
    <li>Un élément dans une liste ordonnée</li>
    <li>Un autre</li>
    <li>Et un dernier</li>
  </ol>
  <ol class="unstyled">
    <li>Un élément dans une liste ordonnée, non stylisée</li>
    <li>Un autre</li>
    <li>Et un dernier</li>
  </ol>
  <dl>
    <dt>Un élément dans une liste de définitions</dt>
      <dd>C'est quelque chose</dd>
      <dd>Ou bien une autre chose</dd>
    <dt>Un autre élément</dt>
      <dd>un autre gros élement pour voir ce que donne un élément sur
          plusieurs lignes. Il me faut donc écrire des choses sans intérêts
          afin de voir ce que ça peut donner</dd>
  </dl>
  <dl class="unstyled">
    <dt>Un élément dans une liste de définitions</dt>
      <dd>C'est quelque chose</dd>
      <dd>Ou bien une autre chose</dd>
    <dt>Un autre élément</dt>
      <dd>un autre gros élement pour voir ce que donne un élément sur
          plusieurs lignes. Il me faut donc écrire des choses sans intérêts
          afin de voir ce que ça peut donner</dd>
  </dl>
  </div>
</blockquote>

    <h4>Contenu caché</h4>
<p>Vous ne pourrez pas voir le paragraphe suivant, car il possède la classe
  <code>.visually-hidden</code>. Mais il reste accessible aux assistances
  techniques tels les lecteurs d'écrans. </p>
<blockquote><p class="visually-hidden">C'est caché !</p>
  <p>&nbsp;</p></blockquote>

    <h4>Les liens</h4>
<p>Voici différents types de liens :</p>
<ul>
  <li><a href="#">Un lien standard</a></li>
  <li><span class="skip-links"><a href="#">Le fameux lien</a></span>
    Les liens d'évitement contenus dans un élément avec la classe
    <code>.skip-links</code> qui sont masqués par défaut, mais
    deviennent visible lorsque la touche <kbd>Tab</kbd> est utilisée.
    Ils sont prévus pour faciliter la navigation et indispensables dans une
    optique de parfaite accessibilité.</li>
  </ul>


<!--
  Typographie
  ~~~~~~~~~~~
-->
  <h3 id="h2-typo">Typographie</h3>

<p>Tout d'abord, le framework est prévu pour être utilisé avec des polices
compatibles avec les <em>font-feature</em>. Les ligatures sont automatiquement
effectuées, sauf si vous précisez le contraire avec la classe
<code>.noligs</code> : </p>
<blockquote>
  <p>Les ligatures ff, ffi ou fi sont automatiquement effectuées.<br/>
  <span class="noligs">Sauf si on ne le souhaite pas : ff, ffi, fi.</span></p>
</blockquote>

<p>Il existe des classes particulières pour certaines fonctionnalités : </p>
<dl>
  <dt><code>.onum</code></dt>
    <dd>Sans : 0123456789 et avec : <span class="onum">0123456789</span></dd>
    <dt><code>.fractions</code><dt>
    <dd class="fractions">1/2 1/3 1/8 1/265 895/4567</dd>
    <dt><code>.smallcaps</code></dt>
    <dd class="smallcaps">On peux facilement mettre en petites majuscules.</dd>
</dl>

<p>Le texte en exposant ou en indice est directement géré avec les
  <em>font-features</em> il faudra donc nécessairement une police
  compatible.</p>
<blockquote>
  <p>Dans l'H<sub>2</sub>O je peux trouver du Cu<sup>2+</sup> et même des
    atomes de <sup>14</sup><sub>6</sub>C contenus dans les molécules de
    CO<sub>2</sub> dissoutes.</p>
</blockquote>

<p>Il existe des classes permettant d'utiliser un font-sizing alternatif. Mais
il faut utiliser avec parcimonie à cause du rythme vertical qui est
perturbé par celles-ci </p>
<blockquote>
  <p style="line-height:3;"><strong>
<span class="smaller">.smaller</span>
<span class="small">.small</span>
<span class="big">.big</span>
<span class="bigger">.bigger</span>
<span class="biggest">.biggest</span>
  </strong></p>
</blockquote>

<p>Un effort est fait sur le rythme vertical, donc les gros paragraphe passent
bien aussi : </p>

<blockquote>
  <p>Des pas derrière lui… Très mauvais signe… Mais qui pourrait bien le
suivre au beau milieu de la nuit, dans cette rue étroite dans le fin fond du
port ? Et ce alors qu’il vient de réussir le coup dont il a rêvé toute
sa vie ! Qu’il ne lui reste plus qu’à disparaître avec son butin sans
laisser de trace ! Serait-ce l’un de ses nombreux collègues qui a eu la
même idée que lui, l’a observé en secret et a attendu cet instant précis
pour lui dérober le fruit de son travail ? Ou bien seraient-ce plutôt les
pas de l’un des innombrables gardiens de la paix de Marseille, prêt à
faire claquer d’étincelantes menottes autour de ses poignets ? Son ordre
– « Ne bougez plus ! » – résonne déjà dans ses oreilles ! Se
sentant traqué, il se retourne brusquement et aperçoit un étroit passage.
Sauvé ? En un éclair, il vire à droite et disparaît entre les deux
bâtiments, manquant de justesse de trébucher sur la poubelle renversée en
plein milieu de la ruelle. Il tâtonne dans l’obscurité, cherchant
désespérément une issue. Tout à coup, son sang se fige : il vient de
comprendre que la seule et unique façon de s’échapper de la petite cour
intérieure au milieu de laquelle il se trouve est… de faire demi-tour et de
repasser par le passage qu’il vient d’emprunter. Mais pendant ce temps, les
bruits de pas se rapprochent inexorablement. Déjà, une sombre silhouette
apparaît au coin de la rue. Ses yeux scrutent nerveusement l’obscurité, à
la recherche du salut. Va-t-il vraiment échouer, maintenant, si près du but,
après tant d’efforts et toutes ces années passées à forger son plan ?
Il s’adosse au mur contre lequel il s’aplatit comme il le peut, dans
l’espoir de pouvoir échapper aux regards de son poursuivant. Soudain, il
décèle le grincement presque imperceptible d’une porte qui bat tout près
de lui au vent nocturne. Serait-il enfin sauvé ? Il avance à pas feutrés
en direction de la porte… Mais sur quoi va-t-elle s’ouvrir ?</p>
    <footer class="footnotes">
    <ol>
      <li>Une note</li>
      <li>Une autre note interresante</li>
      <li>En regardant le code source, vous noterez l'utlisation d'une balise
        <code>footer</code> avec la classe <code>.footnotes</code>.</li>
    </ol>
    </footer>
    <footer class="source">
      Faut pas chercher à savoir d'où vient ce texte. Ici, balise
      <code>footer</code> avec la classe <code>.source</code>.
    </footer>
</blockquote>

<p>Tous les titres sont formattés :</p>
<blockquote>
  <h1>Titre de niveau 1 <small>complément du titre 1</small></h1>
  <h2>Titre de niveau 2 <small>complément du titre 2</small></h2>
  <h3>Titre de niveau 3 <small>complément du titre 3</small></h3>
  <h4>Titre de niveau 4 <small>complément du titre 4</small></h4>
  <h5>Titre de niveau 5 <small>complément du titre 5</small></h5>
  <h6>Titre de niveau 6 <small>complément du titre 6</small></h6>
</blockquote>

<p>Voici l'enchaînement avec des paragraphes : </p>
<blockquote>
  <p>Un paragraphe</p>
  <h1>Titre de niveau 1 <span class="subtitle">avec un sous-titre</span></h1>
  <p>Vous remarquerez que le titre de niveau 1 peut posséder un sous-titre.</p>
  <h2>Titre de niveau 2</h2>
  <p>Un paragraphe</p>
  <h3>Titre de niveau 3</h3>
  <p>Un paragraphe</p>
  <h4>Titre de niveau 4</h4>
  <p>Un paragraphe</p>
  <h5>Titre de niveau 5</h5>
  <p>Un paragraphe</p>
  <h6>Titre de niveau 6</h6>
  <p>Un paragraphe</p>
</blockquote>

<p>Vous pouvez marquer du texte avec la balise <code>mark</code> et les
  classes <code>.italic</code> et <code>.bold</code> peuvent forcer le
  style et la graisse d'éléments.</p>
<blockquote>
  <p>Je fais attention à <mark>ceci</mark>. Je peux mettre en
    <span class="bold">gras</span> ou en
    <span class="italic">italique</span>.</p>
</blockquote>

<p>Comme vous avez pu le remarquer, les <code>blockquote</code> sont stylisés.
  Vous pouvez aussi citer du texte à l'intérieur d'un paragraphe et les bons
  guillemets (selon la langue du texte que vous définirez avec l'attribut
  <code>lang</code>) seront automatiquement insérés. Il existe également une
  classe <code>.q</code> qui reprend ce comportement. </p>
<blockquote>
  <p>Jésus à dit qu'il était <q>le chemin, la vérité et la vie</q>.</p>
  <p class="q">Et je peux décider que ce paragraphe soit traité de la même
    manière.</p>
  <p>Et je peux même les imbriquer :</p>
  <ul>
    <li lang="fr">En français : <q>Salut ! Je suis <q>Grégoire</q> ! </q></li>
    <li lang="en">In English : <q>Hello ! I'm <q>Gregory</q> ! </q></li>
  </ul>
</blockquote>

<p>Enfin, vous pouvez utiliser un séparateur <code>&lt;hr&gt;</code> pour 
  séparer des blocs.</p>
<blockquote>
  <p>Un premier bloc</p>
  <hr>
  <p>Un deuxième bloc</p>
</blockquote>


<!--
  Layout
  ~~~~~~~~~~
-->
  <h3 id="h2-layout">Layout</h3>

    <h4>Alignements</h4>

<p>On peut aligner des blocs avec <code>.left .right .center</code></p>
<blockquote>
  <div class="w20 bckgrnd-bittersweet left">Un bloc</div>
  <div class="w20 bckgrnd-bittersweet center">Un bloc</div>
  <div class="w20 bckgrnd-bittersweet right">Un bloc</div>
</blockquote>

<p>De même pour du texte : </p>
<blockquote>
  <p class="txtleft">Le texte est aligné à gauche avec
    <code>.txtleft</code></p>
  <p class="txtcenter">Le texte est centré avec <code>.txtcenter</code></p>
  <p class="txtright">Le texte est aligné à droite avec
    <code>.txtright</code></p>
  <p class="txtjustify">Le texte est justfié avec
    <code>.txtjustify</code></p>
</blockquote>

      <h4>Les flottants</h4>

<p>On peut faire flotter un élément avec <code>.fl</code> (à gauche) et
<code>.fr</code> (à droite).</p>
<p>Classes prévues pour faciliter le positionnement des flottants : </p>
<ul>
  <li>Le super élément <code>.mod</code> qui a plein d'avantages:
    il contient les flottants (ils ne débordent pas) et il ne s'écoule pas
    autour d'un frère flottant (il s'affiche proprement à côté) et il crée un
    contexte « BFC »</li>
  <li><code>.clearfix</code> les éléments disposant de cette classe
    contiennent les flottants, tel les <code>.mod</code></li>
  <li>les éléments <code>.clear</code>, <code>.line</code> et
    <code>.row</code> bénéficient d'un autre pouvoir : celui de toujours se
    pousser sous un flottant précédent. Il sont dédiés aux empilements
    verticaux des contenus.</li>
</ul>

<p><em>À noter :</em> des marges sont automatiquements ajoutées pour les
  images flottantes.</p>

      <h4>Positionnements</h4>

<p>Vous pouvez gérer les positionnements selon différents modèles : </p>
<ul>
  <li><em>positionnement flottant</em> (voir ci-dessus)</li>
  <li><em>positionnement avec <code>display: inline-block</code></em> avec la
    classe <code>.inbl</code></li>
  <li><em>positionnement avec <code>display: table-cell</code></em> avec les
    classes <code>.row</code> et <code>.col</code></li>
  <li><em>positionnement avec Flexbox</em> (voir ci-dessous)</li>
</ul>

      <h4>Flexbox</h4>

<p>Vos éléments doivent être contenus dans <code>.flex-container-h</code>
pour un enchaînement horizontal ou dans <code>.flex-container-v</code> pour
un enchaînement vertical.</p>

<p>Pour réorganiser l'ordre de vos éléments, vous pouvez utiliser les classes
<code>.flex-item-first</code> <code>.flex-item-medium</code>
<code>.flex-item-last</code>.</p>

<p>Avec <code>.flex-item-fluid</code> votre élément s'étirera au
maximum.</p>

<p>Avec <code>.flex-item-center</code> votre élément sera centré
horizontalement ou verticalement selon son conteneur.</p>

<p>Avec <code>.justify-space</code> le conteneur espacera les élément dans
  son axe principal.</p>

<!--
  Système de grilles
  ~~~~~~~~~~~~~~~~~~
-->
  <h3 id="h2-grids">Système de grilles</h3>

<p>Vous pouvez créer des grilles avec les mixins <code>.grid()</code> et
<code>.uneven-grid()</code>. Ainsi, vous pouvez définir les grilles que vous
souhaitez avoir à votre disposition dans le fichier
<code>toGenerate.less</code>.</p>

<p class="alert alert-icon alert-warning">Les grilles sont basées sur flexbox
  et donc seulement supportée par IE10+.</p>

<pre>
.grid(@number, @gutter)
  number: nombre de colonne
  gutter: goutière entre les colonnes (vaut @grid-gutter par défaut)
Créé une grille de colonnes égales.

.unever-grid(@left, @right, @gutter)
  left:  ratio de la colonne de gauche
  right: ratio de la colonne de droite
Fonctionne comme une grille de (left + right) colonnes.
</pre>

<p>Exemples : </p>

<blockquote>
  <div class="grid-4" style="width:75%">
    <div class="bckgrnd-blueJeans-l"><strong>.grid-4</strong></div>
    <div class="bckgrnd-mint-l">Grille de 4 colonnes</div>
    <div class="bckgrnd-grass-l">Un élément</div>
    <div class="bckgrnd-bittersweet-l">Un autre</div>
    <div class="bckgrnd-lavender-l">Encore un</div>
    <div class="bckgrnd-darkGray-l">et un dernier</div>
  </div>
</blockquote>

<blockquote>
  <div class="grid-3-1" style="width:75%">
    <div class="bckgrnd-blueJeans-l"><strong>.grid-3-1</strong></div>
    <div class="bckgrnd-mint-l">Grille de 4 colonnes</div>
    <div class="bckgrnd-grass-l">Un élément</div>
    <div class="bckgrnd-bittersweet-l">Un autre</div>
    <div class="bckgrnd-lavender-l">et un dernier</div>
  </div>
</blockquote>

<p>Si la classe générée n'a pas un nom en <code>.grid-*</code> vous devrez lui
  appliquer la classe <code>.gridClass</code> pour que le modèle fonctionne
  bien. </p>

<p>En redimensionnant la fenêtre, vous remarquerez que ce modèle est
responsive.</p>

<p>Il est très facile de « pousser » un élément à gauche ou à droite de
sa ligne dans la grille, et ainsi créer un espacement volontaire que l'on
appelle <em>offset</em>. Pour cela il faut utiliser les classes
<code>.left</code> ou <strong>.right</strong>. </p>

<blockquote>
  <div class="grid-4" style="width:75%">
    <div class="bckgrnd-blueJeans-l">Un élément</div>
    <div class="bckgrnd-mint-l">Un élément</div>
    <div class="bckgrnd-grass-l">Un autre</div>
    <div class="bckgrnd-bittersweet-l">Encore un</div>
    <div class="bckgrnd-lavender-l">et un dernier</div>
    <div class="bckgrnd-darkGray-l right">
      <strong>Je suis poussé à droite</strong>
    </div>
  </div>
</blockquote>

<blockquote>
  <div class="grid-4" style="width:75%">
    <div class="bckgrnd-blueJeans-l">Un élément</div>
    <div class="bckgrnd-mint-l">Un élément</div>
    <div class="bckgrnd-grass-l">Un autre</div>
    <div class="bckgrnd-bittersweet-l">Encore un</div>
    <div class="bckgrnd-lavender-l">et un dernier</div>
    <div class="bckgrnd-darkGray-l left">
      <strong>Je suis poussé à gauche</strong>
    </div>
  </div>
</blockquote>

<p>Il est possible de mettre un élément particulier en exergue, en doublant
sa taille par rapport aux autres. Pour cela il faut lui appliquer la classe
<strong>.flex-item-double</strong>.</p>
<blockquote>
  <div class="grid-4" style="width:75%">
    <div class="bckgrnd-blueJeans-l flex-item-double">
      <strong>Élément en exergue</strong></div>
    <div class="bckgrnd-mint-l">Grille de 4 colonnes</div>
    <div class="bckgrnd-grass-l">Un élément</div>
    <div class="bckgrnd-bittersweet-l">Un autre</div>
    <div class="bckgrnd-lavender-l">Encore un</div>
    <div class="bckgrnd-darkGray-l">et un dernier</div>
  </div>
</blockquote>

<p>Vous pouvez modifier l'odre d'affichage des éléments au sein d'une grille
à l'aide des classes : </p>
<ul>
  <li><code>.flex-item-first</code> l'élément apparaîtra avant tous les
    autres.</li>
  <li><code>.flex-item-last</code> l'élément apparaîtra après tous les
    autres.</li>
</ul>
<blockquote>
  <div class="grid-4" style="width:75%">
    <div class="bckgrnd-blueJeans-l flex-item-last">
      <strong>1</strong></div>
    <div class="bckgrnd-mint-l"><strong>2</strong></div>
    <div class="bckgrnd-grass-l flex-item-first">
      <strong>3</strong></div>
    <div class="bckgrnd-bittersweet-l"><strong>4</strong></div>
    <div class="bckgrnd-lavender-l"><strong>5</strong></div>
    <div class="bckgrnd-darkGray-l"><strong>6</strong></div>
  </div>
</blockquote>


<!--
  Les tableaux
  ~~~~~~~~~~~~
-->
  <h3 id="h2-tables">Les tableaux</h3>

<p>KephaLess impose un modèle d'affichage fixé à tous les tableaux via
<code>table-layout: fixed</code>. Ainsi ce ne sera plus le contenu qui
décidera de la largeur des cellules, mais ce que vous aurez spécifié dans
les tailles CSS. Vous pouvez retourner au comportement par défaut avec
<code>.table-auto</code></p>

<blockquote>
  <div class="grid-2">
  <div>
<table>
  <caption>Formattage par défaut</caption>
  <thead>
    <tr>
      <th>Nom</th> <th>Âge</th> <th>Pays</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carmen</td>   <td>33 ans</td> <td>Espagne</td>
    </tr>
    <tr>
      <td>Michelle</td> <td>26 ans</td> <td>États-Unis</td>
    </tr>
  </tbody>
</table>
  </div>
  <div>
<table class="table-striped">
  <caption><code>.table-striped</code></caption>
  <thead>
    <tr>
      <th>Nom</th> <th>Âge</th> <th>Pays</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carmen</td>   <td>33 ans</td> <td>Espagne</td>
    </tr>
    <tr>
      <td>Michelle</td> <td>26 ans</td> <td>États-Unis</td>
    </tr>
  </tbody>
</table>
  </div>
  <div>
<table class="table-striped-v">
  <caption><code>.table-striped-v</code></caption>
  <thead>
    <tr>
      <th>Nom</th> <th>Âge</th> <th>Pays</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carmen</td>   <td>33 ans</td> <td>Espagne</td>
    </tr>
    <tr>
      <td>Michelle</td> <td>26 ans</td> <td>États-Unis</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
</blockquote>


<!--
  Les formulaires
  ~~~~~~~~~~~~~~~
-->
  <h3 id="h2-forms">Les formulaires</h3>

<p>Nous vous proposons une stylisation par défaut assez complète. Vous
  trouverez dans les modules et les composants des compléments pour les
  formulaires. </p>

    <h4>Éléments</h4>

<p>Fieldset : </p>

<blockquote>
  <form>
    <fieldset>
      <legend>Informations</legend>
      <p>Des éléments</p>
    </fieldset>
</blockquote>

<p>Textarea</p>
<blockquote>
  <textarea placeholder="Écrivez quelque-chose..."></textarea>
</blockquote>

<p>Input</p>
<blockquote>
  <input type="button" value="Input button" />
  <input type="checkbox" value="À cocher" />
  <input type="color" value="#FF00FF" />
  <input type="date" value="2015-05-20" />
  <input type="datetime" value="20 54 65" />
  <input type="datetime-local" value="20 54 65" />
  <input type="email" value="gregoire@theo-net.org" />
  <input type="file" value="Un fichier" />
  <input type="hidden" value="Masqué" />
  <input type="month" value="05 2015" />
  <input type="number" value="3.14" />
  <input type="password" value="Un mot de passe" />
  <input type="radio" value="Radio" />
  <input type="range" min="0" max="100" step="2" value="Range" />
  <input type="reset" value="reset button" />
  <input type="search" value="Rechercher" />
  <input type="submit" value="submit button" />
  <input type="tel" value="06 82 07 30 27" />
  <input type="time" value="20 45 25" />
  <input type="url" value="https://www.theo-net.org" />
  <input type="week" value="12" />
</blockquote>

<p>Les labels sont prévus pour inclure les éléments de formulaires. </p>
<blockquote>
  <label>Cliquez ici...
    <input type="text" placeholder="...et le focus sera ici ! " /></label>
  <label>Un autre champ
    <textarea></textarea></label>
</blockquote>


  <blockquote>
    <select>
      <optgroup label="Group 1">
        <option>Option 1.1</option>
      </optgroup>
      <optgroup label="Group 2">
        <option>Option 2.1</option>
        <option>Option 2.2</option>
      </optgroup>
      <optgroup label="Group 3" disabled>
        <option>Option 3.1</option>
        <option>Option 3.2</option>
        <option>Option 3.3</option>
      </optgroup>
    </select>


<button type="button">Un button</button>
<button type="reset">Reset</button>
<button type="submit">Valider</button>
  </form>
</blockquote>



<!--
  Helpers
  ~~~~~~~~~~
-->
  <h3 id="h2-helpers">Helpers</h3>

<p>Les <em>Helpers</em> sont des classes purement visuelles et utilitaires
(non <em>sémantiques</em>), pas très jolie mais rudement pratiques en
production pour alléger vos feuilles de styles.</p>

    <h4>Les Helpers de largeur</h4>

<p>Largeurs fluides (en pourcentage) :</p>
<pre>
.w10  { width: 10% ; }
.w20  { width: 20% ; }
.w25  { width: 25% ; }
.w30  { width: 30% ; }
.w33  { width: 33.3333% ; }
.w40  { width: 40% ; }
.w50  { width: 50% ; }
.w60  { width: 60% ; }
.w66  { width: 66.6666% ; }
.w70  { width: 70% ; }
.w75  { width: 75% ; }
.w80  { width: 80% ; }
.w90  { width: 90% ; }
.w100 { width: 100% ; }

.wauto { width: auto ; }
</pre>

    <h4>Les Helpers d'espacement</h4>
<p>Les helpers d'espacement comportent des classes dédiées aux marges
externes (margin) et aux marges internes (padding).</p>

<p>Leur nommage est assez intuitif :</p>
<ul>
  <li><code>p</code>, <code>m</code> : padding, margin</li>
  <li><code>a</code>, <code>t</code>, <code>r</code>, <code>b</code>,
      <code>l</code> : all, top, right, bottom, left</li>
  <li><code>s</code>, <code>m</code>, <code>l</code>, <code>n</code> :
      small, medium, large, none</li>
</ul>

<p>Exemples :</p>
<ul>
  <li><code>.prs</code> signifie <code>padding-right small</code></li>
  <li><code>.man</code> signifie <code>margin all none</code></li>
</ul>


<!--
  Responsive
  ~~~~~~~~~~
-->
  <h3 id="h2-responsive">Responsive</h3>
  <p>Des classes vous facilites une mise en page responsive. Vous pouvez
    changer dans le fichier de configuration les points de break.</p>
  <table>
    <caption>Valeurs par défaut (en pixels)</caption>
    <thead>
      <tr>
        <th>tiny</th> <th>small</th> <th>medium</th> <th>large</th>
      </tr>
    </thead>
    <tbody><tr>
      <td>480</td> <td>768</td> <td>1024</td> <td>1280</td>
    </tr></tbody>
    <!-- extra-large: 1600 ultra-large: 1920 -->
  </table>
  <p>Dans la liste qui suit, <code>(media)</code> vaut <code>large</code>,
    <code>medium</code>, <code>small</code> ou <code>tiny</code>.
<dl>
  <dt><code>.(media)-hidden</code></dt>
    <dd>Masque l'élément</dd>
  <dt><code>.(media)-visible</code></dt>
    <dd>Affiche l'élément</dd>
  <dt><code>.(media)-no-float</code></dt>
    <dd>N'est pas un flottant</dd>
  <dt><code>.(media)-inbl</code></dt>
    <dd>Affichage en <em>inline-block</em></dd>
  <dt><code>.(media)-row</code></dt>
    <dd>Une ligne</dd>
  <dt><code>.(media)-col</code></dt>
    <dd>Une cellule</dd>
  <dt><code>.(media)-w(X)</code></dt>
    <dd>Spécifie la largeur. <code>(X)</code> vaut 25, 33, 50, 66, 75, 100
      pour des tailles en pourcentage ou auto pour une taille automatique</dd>
  <dt><code>.(media)-man</code></dt>
    <dd>Supprime les marges</dd>
  <dt><code>.(small|tiny)-pan</code></dt>
    <dd>Supprime le padding pour un petit écran</dd>
</dl>

<p>Pour les plus petits écrans, tous les éléments seront affichés en blocks,
  les flexbox seront en colonnes et les tableaux réorganisés.</p>


<!--
  Impression
  ~~~~~~~~~~
-->

  <h3 id="h2-print">Impression</h3>
  <p>Par défaut, l'impression est optimisée ainsi : </p>
  <ul>
    <li>les background et autres box et text shadow sont supprimés</li>
    <li>la police est diminuée et la couleur du texte forcée en gris foncé
      ou en noir selon les éléments </li>
    <li>les marges sont définies automatiquement sur les éléments textuels</li>
    <li>on évite les mots et lignes orphelines</li>
    <li>les listes et citations ne sont pas coupées</li>
    <li>on évite les changements de pages après les principaux niveaux de
      titres</li>
    <li>on met en valeur les liens et on indique les URL</li>
  </ul>

<!--
  Modules
  ==========
-->
<h2 id="h1-modules">Modules</h2>


<!--
  Police d'icônes
  ~~~~~~~~~~~~~~~
-->
  <h3 id="h2-iconFont">Police d'icones</h3>

  <p>Une police est disponible pour vous aider à styliser vos pages. </p>

    <h4>Liste des icônes</h4>
<div class="flex-container-h justify-space txtcenter mas">
  {{#each iconList}}
  <div class="paper-shadow z1 flex-container-v mas">
    <i class="icon icon-{{name}} icon-2x pas"></i>
    <code>{{name}}</code>
  </div>
  {{/each}}
</div>

    <h4>Utilisation</h4>
<p>Il suffit d'appliquer les classes <code>icon</code> et
<code>icon-(name)</code> à un élément pour qu'une icône soit insérée juste
avant. Il faut remplacer <code>(name)</code>par le nom de l'icône. </p>

<blockquote>
  <p><i class="icon icon-check"></i> C'est Ok</p>
  <p><i class="icon icon-error"></i>Il-y-a une erreur !</p>
</blockquote>

<p>Pour augmenter la taille des icones vous pouvez utiliser les classes
  <code>.icon-lg</code> (augmente de 33%), <code>.icon-2x</code>,
  <code>.icon-3x</code>, <code>.icon-4x</code> ou <code>.icon-5x</code>.</p>
<blockquote>
  <p><i class="icon icon-search icon-lg"></i> <code>.icon-lg</code></p>
  <p><i class="icon icon-search icon-2x"></i> <code>.icon-2x</code></p>
  <p><i class="icon icon-search icon-3x"></i> <code>.icon-3x</code></p>
  <p><i class="icon icon-search icon-4x"></i> <code>.icon-4x</code></p>
  <p><i class="icon icon-search icon-5x"></i> <code>.icon-5x</code></p>
</blockquote>

<p>Vous pouvez utiliser <code>.icon-ul</code> et <code>.icon-li</code> pour
  personnaliser les listes non-ordonnées.</p>
<blockquote>
  <ul class="icon-ul">
    <li><i class="icon icon-li icon-checkbox"></i>Regardez</li>
    <li><i class="icon icon-li icon-checkbox"></i>ma</li>
    <li><i class="icon icon-li icon-checkbox-blank"></i>liste</li>
    <li><i class="icon icon-li icon-checkbox"></i>personnalisée</li>
  </ul>
</blockquote>

<p>Enfin, vous pouvez annimer vos icônes avec les classes
  <code>.icon-spin</code> et <code>.icon-pulse</code>.
<blockquote>
  <p><i class="icon icon-spinner icon-3x icon-spin"></i>
    <code>.icon-spin</code></p>
  <p><i class="icon icon-spinner icon-3x icon-pulse"></i>
    <code>.icon-pulse</code></p>
</blockquote>

<p>Les icônes permettent de personnaliser les liens. Ainsi un lien vers un élément
  externe sera styliser, sauf s'il possède la classe <code>.skipLinkIcon</code>. </p>
<blockquote>
  <ul>
    <li><a href="http://www.theo-net.org">Un lien externe</a> débutant par
      <code>http://</code> ou <a href="https://www.theo-net.org">un autre lien</a> 
      débutant par <code>https://</code> (nécessite le module icônes).</li>
    <li><a class="skipLinkIcon" href="http://www.theo-net.org">Un lien externe</a> 
      qui ne sera pas stylisé.</li>
  </ul>
</blockquote>


<!--
  Informatique
  ~~~~~~~~~~~~
-->
  <h3 id="h2-info">Informatique</h3>

<p>Les balises <code>code</code>, <code>pre</code>, <code>samp</code> et
   <code>kbd</code> sont formattées.</p>

<blockquote>
  <p>Il faut appuyer, en général, sur <kbd>Ctrl</kbd>+<kbd>S</kbd>
     pour sauver un document</p>
  <pre>
// Voici un exemple de code
function lol (bip) {
  echo bip ;
}
  </pre>
</blockquote>


<!--
  Paper-shadow
  ~~~~~~~~~~~~
-->
  <h3 id="h2-paper-shadow">Paper-shadow</h3>

<p>Avec ce module, vous pouvez créer des boites qui seront ombrées en fonction
  de leur profondeur. Pour cela appliquer les classes
  <code>.paper-shadow</code> et <code>.zX</code> à vous éléments.
  <code>X</code> est la profondeur (entre 0 et 5). </p>
<blockquote>
  <div class="flex-container justify-space">
    <p class="paper-shadow z0 man" style="height: 50px; width: 50px;">z = 0</p>
    <p class="paper-shadow z1 man" style="height: 50px; width: 50px;">z = 1</p>
    <p class="paper-shadow z2 man" style="height: 50px; width: 50px;">z = 2</p>
    <p class="paper-shadow z3 man" style="height: 50px; width: 50px;">z = 3</p>
    <p class="paper-shadow z4 man" style="height: 50px; width: 50px;">z = 4</p>
    <p class="paper-shadow z5 man" style="height: 50px; width: 50px;">z = 5</p>
  </div>
</blockquote>

<p>Vous pouvez aussi arrondir les angles de la boite.</p>
<blockquote>
  <div class="flex-container justify-space">
    <p class="paper-shadow z2 brt man" style="height: 50px; width: 50px;">
      <code>.brt</code></p>
    <p class="paper-shadow z2 brs man" style="height: 50px; width: 50px;">
      <code>.brs</code></p>
    <p class="paper-shadow z2 brm man" style="height: 50px; width: 50px;">
      <code>.brm</code></p>
    <p class="paper-shadow z2 brl man" style="height: 50px; width: 50px;">
      <code>.brl</code></p>
    <p class="paper-shadow z2 brO man" style="height: 50px; width: 50px;">
      <code>.brO</code></p>
  </div>
</blockquote>

<p>Enfin, il existe une classe <code>.noise</code> qui permet d'ajouter du
  bruit au fond de vos éléments : </p>

<div class="grid-4">

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-blueJeans-l noise"></div>
      <div class="w50 pam bckgrnd-blueJeans noise"></div>
    </div>
    <div class="h4-like man pan">Blue jeans</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-aqua-l noise"></div>
      <div class="w50 pam bckgrnd-aqua noise"></div>
    </div>
    <div class="h4-like man pan">Aqua</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-mint-l noise"></div>
      <div class="w50 pam bckgrnd-mint noise"></div>
    </div>
    <div class="h4-like man pan">Mint</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-grass-l noise"></div>
      <div class="w50 pam bckgrnd-grass noise"></div>
    </div>
    <div class="h4-like man pan">Grass</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-sunflower-l noise"></div>
      <div class="w50 pam bckgrnd-sunflower noise"></div>
    </div>
    <div class="h4-like man pan">Sunflower</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-bittersweet-l noise"></div>
      <div class="w50 pam bckgrnd-bittersweet noise"></div>
    </div>
    <div class="h4-like man pan">Bittersweet</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-grapefruit-l noise"></div>
      <div class="w50 pam bckgrnd-grapefruit noise"></div>
    </div>
    <div class="h4-like man pan">Grapefruit</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-lavender-l noise"></div>
      <div class="w50 pam bckgrnd-lavender noise"></div>
    </div>
    <div class="h4-like man pan">Lavender</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-pinkRose-l noise"></div>
      <div class="w50 pam bckgrnd-pinkRose noise"></div>
    </div>
    <div class="h4-like man pan">Pink rose</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-lightGray-l noise"></div>
      <div class="w50 pam bckgrnd-lightGray noise"></div>
    </div>
    <div class="h4-like man pan">Light gray</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-mediumGray-l noise"></div>
      <div class="w50 pam bckgrnd-mediumGray noise"></div>
    </div>
    <div class="h4-like man pan">Medium Gray</div>
  </div>

  <div class="paper-shadow z1 brt mtm txtcenter">
    <div class="flex-container-h">
      <div class="w50 pam bckgrnd-darkGray-l noise"></div>
      <div class="w50 pam bckgrnd-darkGray noise"></div>
    </div>
    <div class="h4-like man pan">Dark Gray</div>
  </div>
  </div>

<!--
  Labels et badges
  ~~~~~~~~~~~~~~~~
-->
  <h3 id="h2-labels-badges">Labels et badges</h3>

<p>Vous pouvez facilement créer des labels ou des badges avec les classes
  <code>.label</code> et <code>.badge*</code>. </p>
<dl>
  <dt><code>.(label|badge)</code></dt>
  <dd>Classe obligatoire pour créer un élément de type label ou badge.</dd>
  <dt>
    <code>.(label|badge)-(primary|success|info|warning|danger)</code>
  </dt>
  <dd>Définit le type, il existe néanmoins une stylisation par défaut. </dd>
</dl>

<blockquote>
  <div class="grid-2">
    <div>
      <h5>Les labels</h5>
      <p>de différents types
        <span class="label">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-success">Success</span>
        <span class="label label-info">Info</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
      </p>
      <p><strong>Objet :</strong> Confirmation
        <span class="label label-danger">Important</span></p>
    </div>
    <div>
      <h5>Les badges</h5>
      <p>de différents types
        <span class="badge">Default</span>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-danger">Danger</span>
      </p>
      <p>Messages <span class="badge badge-danger">6</span></p>
    </div>
  </div>
</blockquote>


<!--
  Les bouttons
  ~~~~~~~~~~~~
-->
  <h3 id="h2-buttons">Les boutons</h3>

<p>Les éléments <code>button</code> sont stylisés et vous pouvez appliquer
  cette stylisation à tout élément avec la classe <code>.btn</code>. Vous
  pouvez également personnaliser leur rendu avec les classes
  <code>.btn-(primary|success|info|warning|danger|link)</code>.</p>

<blockquote>
  <div class="flex-container-h justify-space">
    <div>
      <button type="button" class="">Default</button>
    </div>
    <div>
      <button type="button" class="btn-primary">Primary</button>
    </div>
    <div>
      <button type="button" class="btn-success">Success</button>
    </div>
    <div>
      <button type="button" class="btn-info">Info</button>
    </div>
    <div>
      <button type="button" class="btn-warning">Warning</button>
    </div>
    <div>
      <button type="button" class="btn-danger">Danger</button>
    </div>
    <div>
      <button type="button" class="btn-link">Link</button>
    </div>
  </div>
</blockquote>

<p>Avec <code>.btn-block</code> vous pouvez demander à un bouttons de se
  comporter comme un <em>element-block</em> de largeur 100%.</p>
<blockquote>
  <div class="grid-2">
    <div class="w75 center">
      Boutton normal <button type="button">Salut !</button>
    </div>
    <div class="w75 center">
      Boutton block <button type="button" class="btn-block">Salut !</button>
    </div>
  </div>
</blockquote>

<p>Enfin, vous pouvez grouper des bouttons horizontalement, avec
  <code>.btn-group</code>, ou verticalement, avec
  <code>.btn-group-v</code>.</p>

<blockquote>
  <div class="flex-container-h justify-space">
    <div class="flex-container-v">
      <div class="btn-group mbs">
        <button type="button" class="btn-primary">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-primary">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-primary">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
      <div class="btn-group mbs">
        <button type="button" class="btn-success">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-success">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-success">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
      <div class="btn-group mbs">
        <button type="button" class="btn-warning">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-warning">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-warning">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
      <div class="btn-group">
        <button type="button" class="">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-info">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-danger">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
    </div>
    <div>
      <div class="btn-group-v">
        <button type="button" class="btn-primary">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-primary">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-primary">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
    </div><div>
      <div class="btn-group-v">
        <button type="button" class="btn-success">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-success">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-success">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
    </div><div>
      <div class="btn-group-v">
        <button type="button" class="btn-warning">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-warning">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-warning">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
    </div><div>
      <div class="btn-group-v">
        <button type="button" class="">
          <i class="icon icon-arrow-drop-up"></i></button>
        <button type="button" class="btn-info">
          <i class="icon icon-menu"></i></button>
        <button type="button" class="btn-danger">
          <i class="icon icon-arrow-drop-down"></i></button>
      </div>
    </div>
  </div>
</blockquote>


<!--
  Alertes
  ~~~~~~~~~~
-->
  <h3 id="h2-alerts">Les alertes</h3>
  <p>Vous pouvez créer des blocs qui seront affichés comme des alertes
    avec <code>.alert</code> et
    <code>.alert-(primary|success|info|warning|danger)</code>.</p>
<blockquote>
  <div class="grid-2">
    <p class="alert">
      <strong>Default</strong> Un message à afficher.
    </p>
    <p class="alert alert-primary">
      <strong>Primary</strong> Un message afficher.
    </p>
    <p class="alert alert-success">
      <strong>Success</strong> Un message à afficher.
    </p>
    <p class="alert alert-info">
      <strong>Info</strong> Un message à afficher.
    </p>
    <p class="alert alert-warning mbn">
      <strong>Warning</strong> Un message à afficher.
    </p>
    <p class="alert alert-danger">
      <strong>Danger</strong> Un message à afficher.
    </p>
  </div>
</blockquote>

<p>Vous pouvez afficher des alertes beaucoup plus développées.</p>
<blockquote>
  <div class="grid-2">
    <div class="alert mbm">
      <h4>Default</h4>
      <p>Une alerte beaucoup plus développée.
        <a class="alert-link">Duis mollis</a>, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum.</p>
      <p><a class="btn" href="#">Faire ceci</a>
        <a class="btn btn-link" href="#">Ou cela</a></p>
    </div>
    <div class="alert alert-primary mbm">
      <h4>Primary</h4>
      <p>Une alerte beaucoup plus développée.
        <a class="alert-link">Duis mollis</a>, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum.</p>
      <p><a class="btn btn-primary" href="#">Faire ceci</a>
        <a class="btn btn-link" href="#">Ou cela</a></p>
    </div>
    <div class="alert alert-success mbm">
      <h4>Success</h4>
      <p>Une alerte beaucoup plus développée.
        <a class="alert-link">Duis mollis</a>, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum.</p>
      <p><a class="btn btn-success" href="#">Faire ceci</a>
        <a class="btn btn-link" href="#">Ou cela</a></p>
    </div>
    <div class="alert alert-info mbm">
      <h4>Info</h4>
      <p>Une alerte beaucoup plus développée.
        <a class="alert-link">Duis mollis</a>, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum.</p>
      <p><a class="btn btn-info" href="#">Faire ceci</a>
        <a class="btn btn-link" href="#">Ou cela</a></p>
    </div>
    <div class="alert alert-warning">
      <h4>Warning</h4>
      <p>Une alerte beaucoup plus développée.
        <a class="alert-link">Duis mollis</a>, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum.</p>
      <p><a class="btn btn-warning" href="#">Faire ceci</a>
        <a class="btn btn-link" href="#">Ou cela</a></p>
    </div>
    <div class="alert alert-danger">
      <h4>Danger</h4>
      <p>Une alerte beaucoup plus développée.
        <a class="alert-link">Duis mollis</a>, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum.</p>
      <p><a class="btn btn-danger" href="#">Faire ceci</a>
        <a class="btn btn-link" href="#">Ou cela</a></p>
    </div>
  </div>
</blockquote>

<p>Vous pouvez ajouter facilement une icône à votre alerte avec la classe
  <code>.alert-icon</code>.</p>
<blockquote>
  <div class="grid-2">
    <p class="alert alert-icon">
      <strong>Default</strong> Utilise <code>.icon-info</code>.
    </p>
    <p class="alert alert-primary alert-icon">
      <strong>Primary</strong> Utilise <code>.icon-info</code>.
    </p>
    <p class="alert alert-success alert-icon">
      <strong>Success</strong> Utilise <code>.icon-check</code>.
    </p>
    <p class="alert alert-info alert-icon">
      <strong>Info</strong> Utilise <code>.icon-info</code>.
    </p>
    <p class="alert alert-warning alert-icon mbn">
      <strong>Warning</strong> Utilise <code>.icon-warning</code>.
    </p>
    <p class="alert alert-danger alert-icon">
      <strong>Danger</strong> Utilise <code>.icon-error</code>.
    </p>
  </div>
</blockquote>

<p>Enfin, vous pouvez créer des alertes qui peuvent être refermées avec la
  classe <code>.alert-dismissable</code>.</p>

<blockquote>
  <div class="grid-2">
    <p class="alert alert-warning alert-dismissable"><i class="close"></i>
      Une alerte sur plusieurs lignes que vous pouvez refermer en cliquant sur
      la croix. elle disparaîtra alors de votre écran. </p>
    <p class="alert alert-danger alert-dismissable"><i class="close"></i>
      Une alerte sur plusieurs lignes que vous pouvez refermer en cliquant sur
      la croix. elle disparaîtra alors de votre écran. </p>
  </div>
</blockquote>

<!--
  Module Panels
  ~~~~~~~~~~~~~
-->
  <h3 id="h2-panels">Les panels</h3>
  <p>Vous pouvez créer des blocs qui seront affichés comme des panels
    avec <code>.panel</code> et
    <code>.panel-(primary|success|info|warning|danger)</code>. Le titre doit se
    trouver dans une balise titre ayant la classe <code>.panel-heading</code> et
    le corps dans une balise bloc ayant la classe <code>.panel-body</code>. </p>
<blockquote>
  <div class="grid-2">
    <div class="panel">
      <h4 class="panel-heading">Default</h4> 
      <div class="panel-body">
        <p>Un message à afficher.</p>
      </div>
    </div>
    <div class="panel panel-primary">
      <h4 class="panel-heading">Primary</h4> 
      <div class="panel-body">
        <p>Un message à afficher.</p>
      </div>
    </div>
    <div class="panel panel-success mts">
      <h4 class="panel-heading">Success</h4> 
      <div class="panel-body">
        <p>Un message à afficher.</p>
      </div>
    </div>
    <div class="panel panel-info mts">
      <h4 class="panel-heading">Info</h4> 
      <div class="panel-body">
        <p>Un message à afficher.</p>
      </div>
    </div>
    <div class="panel panel-warning mbn mts">
      <h4 class="panel-heading">Warning</h4> 
      <div class="panel-body">
        <p>Un message à afficher.</p>
      </div>
    </div>
    <div class="panel panel-danger mts">
      <h4 class="panel-heading">Danger</h4> 
      <div class="panel-body">
        <p>Un message à afficher.</p>
      </div>
    </div>
  </div>
</blockquote>
  

<!--
  Module Pagination
  ~~~~~~~~~~~~~~~~~
-->
  <h3 id="h2-pagination">Pagination</h3>
  <p>Ce module permet de mettre en forme une pagination.</p>
  <p>Pour cela on créé une liste non ordonnée ayant pour classe 
    <code>.pagination</code>. Chaque élément (balises <code>li</code> peut
    posséder une classe <code>.active</code> ou <code>.disabled</code>.</p>
  <blockquote class="grid-2">
    <ul class="pagination">
      <li class="active"><a href="#"><i class="icon icon-chevron-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="disabled"><a>&hellip;</a></li>
      <li><a href="#">6</a></li>
      <li class="active"><a href="#"><i class="icon icon-chevron-right"></i></a></li>
    </ul>
    <ul class="pagination">
      <li class="disabled"><a href="#"><i class="icon icon-chevron-left"></i></a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#"><i class="icon icon-chevron-right"></i></a></li>
    </ul>
    <ul class="pagination">
      <li class="disabled"><a href="#"><i class="icon icon-chevron-left"></i></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="active"><a href="#"><i class="icon icon-chevron-right"></i></a></li>
    </ul>
    <ul class="pagination">
      <li class="active"><a href="#"><i class="icon icon-chevron-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li class="active"><a href="#">3</a></li>
      <li class="disabled"><a href="#"><i class="icon icon-chevron-right"></i></a></li>
    </ul>
  </blockquote>


<!--
  Module Formulaires
  ~~~~~~~~~~~~~~~~~~
-->
  <h3 id="h2-forms-module">Formulaire</h3>
  <p>Ce module inclu une personnalisation des formulaires. Chaque champ doit
    comporter la classe <code>.form-control</code>. </p>

  <p>Les <code>checkbox</code> et les <code>radio-button</code> sont
    personnalisés.</p>
<blockquote>
  <div class="grid-4">
    <div>
      <input type="checkbox" value="À cocher" class="form-control"
        id="module-form-checkbox1" />
      <label for="module-form-checkbox1">Label</label>
    </div><div>
      <input type="checkbox" value="À cocher" checked="checked"
        id="module-form-checkbox2" class="form-control" />
      <label for="module-form-checkbox2">Label</label>
    </div><div>
      <input type="checkbox" value="À cocher" disabled="disabled"
        id="module-form-checkbox3" class="form-control" />
      <label for="module-form-checkbox3">Label</label>
    </div><div>
      <input type="checkbox" value="À cocher" class="form-control"
        checked="checked" disabled="disabled" id="module-form-checkbox4" />
      <label for="module-form-checkbox4">Label</label>
    </div><div>
      <input type="radio" value="À cocher" class="form-control"
        id="module-form-radio1" />
      <label for="module-form-radio1">Label</label>
    </div><div>
      <input type="radio" value="À cocher" checked="checked"
        id="module-form-radio2" class="form-control" />
      <label for="module-form-radio2">Label</label>
    </div><div>
      <input type="radio" value="À cocher" disabled="disabled"
        id="module-form-radio3" class="form-control" />
      <label for="module-form-radio3">Label</label>
    </div><div>
      <input type="radio" value="À cocher" class="form-control"
        checked="checked" disabled="disabled" id="module-form-radio4" />
      <label for="module-form-radio4">Label</label>
    </div>
  </div>
</blockquote>

<p>Avec la classe <code>.form-control-toogle</code> on peut les rendre comme un
  bouton toogle.</p>
<blockquote>
  <div class="grid-4">
    <div>
      <input type="checkbox" value="À cocher" class="form-control form-control-toogle"
        id="module-form-checkbox1b" />
      <label for="module-form-checkbox1b">Label</label>
    </div><div>
      <input type="checkbox" value="À cocher" checked="checked"
        id="module-form-checkbox2b" class="form-control form-control-toogle" />
      <label for="module-form-checkbox2b">Label</label>
    </div><div>
      <input type="checkbox" value="À cocher" disabled="disabled"
        id="module-form-checkbox3b" class="form-control form-control-toogle" />
      <label for="module-form-checkbox3b">Label</label>
    </div><div>
      <input type="checkbox" value="À cocher" class="form-control form-control-toogle"
        checked="checked" disabled="disabled" id="module-form-checkbox4b" />
      <label for="module-form-checkbox4b">Label</label>
    </div><div>
      <input type="radio" value="À cocher" class="form-control form-control-toogle"
        id="module-form-radio1b" />
      <label for="module-form-radio1b">Label</label>
    </div><div>
      <input type="radio" value="À cocher" checked="checked"
        id="module-form-radio2b" class="form-control form-control-toogle" />
      <label for="module-form-radio2b">Label</label>
    </div><div>
      <input type="radio" value="À cocher" disabled="disabled"
        id="module-form-radio3b" class="form-control form-control-toogle" />
      <label for="module-form-radio3b">Label</label>
    </div><div>
      <input type="radio" value="À cocher" class="form-control form-control-toogle"
        checked="checked" disabled="disabled" id="module-form-radio4b" />
      <label for="module-form-radio4b">Label</label>
    </div>
  </div>
</blockquote>

<p>La bordure des éléments change avec le focus</p>
<blockquote>
  <div class="grid-2">
    <div>
      <input class="form-control" placeholder="Text input" type="text">
    </div><div>
      <input class="form-control" disabled="disabled" placeholder="Text input"
      type="text">
    </div>
  </div>
</blockquote>

<p>Avec la classe <code>.input-group</code>, vous pouvez intégrer des boutons
  aux champs et compléter des champs avec <code>.input-group-addon</code>
  et <code>.input-group-btn</code>.</p>
<blockquote>
  <div class="grid-2">
    <div>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input class="form-control" type="text" />
        <span class="input-group-addon">.00</span>
      </div>
    </div>
    <div>
      <div class="input-group">
        <input class="form-control" type="text" />
        <div class="input-group-btn">
          <button type="submit" class="btn-primary">
            Rechercher <i class="icon icon-menu"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="flex-item-double">
      <div class="input-group">
        <span class="input-group-addon">Test</span>
        <div class="input-group-btn">
          <button type="submit" class="btn-primary">Coucou</button>
        </div>
        <input class="form-control" type="text" />
        <div class="input-group-btn">
          <button type="submit" class="btn-primary">Action</button>
          <button type="submit" class="btn-primary">
            <i class="icon icon-arrow-drop-down"></i></button>
        </div>
    </div>
  </div>
</blockquote>

<p>Vous pouvez créer des éléments ayant un retour visuel de la présence ou
  non d'erreurs en appliquant à un <code>.form-group</code> les classes
  <code>.has-feedback</code> et <code>has-(success|warning|error)</code>. En 
  cas d'erreurs, le message sera toujours affiché.</p>
<blockquote>
  <div class="grid-2">
    <div class="form-group has-feedback">
      <label class="control-label"
        for="inputDefault">Input</label>
      <input class="form-control" id="inputDefault" type="text">
      <i></i>
      <p class="feedback">Un message</p>
    </div>
    <div class="form-group has-feedback has-success">
      <label class="control-label"
        for="inputSuccess">Input with success</label>
      <input class="form-control" id="inputSuccess" type="text" required>
      <i></i>
      <p class="feedback">Un message</p>
    </div>
    <div class="form-group has-feedback has-warning">
      <label class="control-label"
        for="inputWarning">Input with warning</label>
      <input class="form-control" id="inputWarning" type="text" required>
      <i></i>
      <p class="feedback">Un message</p>
    </div>
    <div class="form-group has-feedback has-error">
      <label class="control-label"
        for="inputError">Input with error</label>
      <input class="form-control" id="inputError" type="text" required>
      <i></i>
      <p class="feedback">Un message</p>
    </div>
  </div>
</blockquote>

<p>On peut personnaliser le rendu des boutons en réutilisant la classe
  <code>.btn</code> associée à la classe 
  <code>.btn-(primary|success|info|warning|danger)</code>.</p>
<blockquote>
  <div class="grid-2">
    <div class="form-group has-feedback">
      <input value="Default" type="button" class="form-control">
    </div>
    <div class="form-group has-feedback">
      <input value="Primary" type="button" class="form-control btn btn-primary">
    </div>
    <div class="form-group has-feedback mts">
      <input value="Success" type="button" class="form-control btn btn-success">
    </div>
    <div class="form-group has-feedback mts">
      <input value="Info" type="button" class="form-control btn btn-info">
    </div>
    <div class="form-group has-feedback mts">
      <input value="Warning" type="button" class="form-control btn btn-warning">
    </div>
    <div class="form-group has-feedback mts">
      <input value="Danger" type="button" class="form-control btn btn-danger">
    </div>
  </div>
</blockquote>

<p>Par défaut, les boutons de type <code>submit</code> ont un rendu particulier, 
  ainsi que les <code>input</code> <code>required</code>.</p>
<blockquote>
  <div class="form-group has-feedback">
    <label class="control-label"
      for="inputAzerty">Input</label>
    <input class="form-control" id="inputAzerty" type="text" required>
    <i></i>
  </div>
  <div class="form-group has-feedback mts">
    <input value="Submit" type="submit" class="form-control">
  </div>
</blockquote>


<!--
  Dates
  ~~~~~~~~~~
-->
  <h3 id="h2-date">Dates</h3>
<p>Vous pouvez facilement créer des boites de date à l'aide de la classe
  <code>.date-block</code>.</p>

<blockquote>
  <div class="flex-container justify-space center">
    <p class="date-block">
      <span class="day">20</span>
      <span class="month">oct<span>obre</span></span>
      <span class="year">2013</span>
    </p>
    <p class="date-block">
      <span class="day">29</span>
      <span class="month">mars<span></span></span>
      <span class="year">1989</span>
    </p>
    <p class="date-block">
    <span class="day">01</span>
      <span class="month">janv<span>ier</span></span>
      <span class="year">2015</span>
    </p>
    <p class="date-block">
      <span class="day">07</span>
      <span class="month">mars<span></span></span>
      <span class="year">2010</span>
    </p>
    <p class="date-block">
      <span class="day">29</span>
      <span class="month">juin<span></span></span>
      <span class="year">2019</span>
    </p>
  </div>
</blockquote>


<!--
  Pricing
  ~~~~~~~~~~
-->
  <h3 id="h2-pricing">Pricing</h3>
<p>On applique la classe <code>.pricing</code> à un <code>ul</code> et on peut
  appliquer la classe <code>.price-(primary|success|info|warning|danger)</code>
  à ses enfants <code>li</code>. Un bloc peut être mis en avant avec
  <code>.active</code>.</p>
<blockquote>
  <ul class="pricing">
    <li>
      <header>
        <h3>199€</h3>
        <p>par mois</p>
      </header>
      <main>
        <h4>Basic</h4>
        <p>Usage courrant</p>
        <ul>
          <li>250 SKU's</li>
          <li>1 Go Stockage</li>
          <li>90% de disponibilité</li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-primary">Réserver</button>
      </footer>
    </li>
    <li class="price-primary active">
      <header>
        <h3>299€</h3>
        <p>per month</p>
      </header>
      <main>
        <h4>Premium</h4>
        <p>Lots of clients &amp; users</p>
        <ul>
          <li>2500 SKU's</li>
          <li>5 GB Storage</li>
          <li>1,5% transaction fee</li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-success">Buy Now</button>
      </footer>
    </li>
    <li class="price-success">
      <header>
        <h3>$299</h3>
        <p>per month</p>
      </header>
      <main>
        <h4>Premium</h4>
        <p>Lots of clients &amp; users</p>
        <ul>
          <li>2500 SKU's</li>
          <li>5 GB Storage</li>
          <li>1,5% transaction fee</li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-success">Buy Now</button>
      </footer>
    </li>
    <li class="price-info">
      <header>
        <h3>$299</h3>
        <p>per month</p>
      </header>
      <main>
        <h4>Premium</h4>
        <p>Lots of clients &amp; users</p>
        <ul>
          <li>2500 SKU's</li>
          <li>5 GB Storage</li>
          <li>1,5% transaction fee</li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-success">Buy Now</button>
      </footer>
    </li>
    <li class="price-warning active">
      <header>
        <h3>$299</h3>
        <p>per month</p>
      </header>
      <main>
        <h4>Premium</h4>
        <p>Lots of clients &amp; users</p>
        <ul>
          <li>2500 SKU's</li>
          <li>5 GB Storage</li>
          <li>1,5% transaction fee</li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-success">Buy Now</button>
      </footer>
    </li>
    <li class="price-danger">
      <header>
        <h3>$499</h3>
        <p>per month</p>
      </header>
      <main>
        <h4>Unlimited</h4>
        <p>Lots of clients &amp; users</p>
        <ul>
          <li>Unlimited SKU's</li>
          <li>20 GB Storage</li>
          <li>1% transaction fee</li>
        </ul>
      </main>
      <footer>
        <button type="button" class="btn btn-warning">Subscribe</button>
      </footer>
    </li>
  </ul>
</blockquote>


<!--
  Menu
  ~~~~~~~~~~
-->
  <h3 id="h2-menu">Menu</h3>
<p>Vous pouvez facilement styliser des menus avec les classes
  <code>.nav</code> et <code>.nav-h</code>. Par défaut le rendu est gris clair,
  mais vous pouvez choisir un rendu plus foncé en appliquant la classe
  <code>.nav-dark</code> ou au contraire un rendu plus clair avec
  <code>.nav-light</code>. Vous avez à votre disposition une classe
  <code>.nav-header</code> pour le titre du menu, <code>.disabled</code>
  pour un élément désactivé, <code>.active</code> pour l'entrée active
  et <code>.divider</code> pour un séparateur.</p>

<blockquote>
  <div class="grid-3 mbs">
    <div>
      <nav class="nav">
        <ul>
          <li class="nav-header">Un menu</li>
          <li><a href="#">Un lien</a></li>
          <li><a href="#">Un lien
            <span class="badge badge-danger">42</span></a></li>
          <li class="disabled"><a>Un lien</a></li>
          <li><a href="#">Un lien</a></li>
          <li class="divider"></li>
          <li><a href="#">Un lien</a></li>
          <li class="active"><a href="#">Actif</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <nav class="nav nav-dark">
        <ul>
          <li class="nav-header">Un menu</li>
          <li><a href="#">Un lien</a></li>
          <li><a href="#">Un lien
            <span class="badge badge-danger">42</span></a></li>
          <li class="disabled"><a>Un lien</a></li>
          <li><a href="#">Un lien</a></li>
          <li class="divider"></li>
          <li><a href="#">Un lien</a></li>
          <li class="active"><a href="#">Actif</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <nav class="nav nav-light">
        <ul>
          <li class="nav-header">Un menu</li>
          <li><a href="#">Un lien</a></li>
          <li><a href="#">Un lien
            <span class="badge badge-danger">42</span></a></li>
          <li class="disabled"><a>Un lien</a></li>
          <li><a href="#">Un lien</a></li>
          <li class="divider"></li>
          <li><a href="#">Un lien</a></li>
          <li class="active"><a href="#">Actif</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="mbs">
    <nav class="nav-h">
      <ul>
        <li class="nav-header">Un menu</li>
        <li><a href="#">Un lien</a></li>
        <li class="disabled"><a>Un lien</a></li>
        <li><a href="#">Un lien</a></li>
        <li class="divider"></li>
        <li><a href="#">Un lien</a></li>
        <li class="active"><a href="#">Actif</a></li>
      </ul>
    </nav>
  </div>
  <div class="mbs">
    <nav class="nav-h nav-dark">
      <ul>
        <li class="nav-header">Un menu</li>
        <li><a href="#">Un lien</a></li>
        <li class="disabled"><a>Un lien</a></li>
        <li><a href="#">Un lien</a></li>
        <li class="divider"></li>
        <li><a href="#">Un lien</a></li>
        <li class="active"><a href="#">Actif</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <nav class="nav-h nav-light paper-shadow z1">
      <ul>
        <li class="nav-header">Un menu</li>
        <li><a href="#">Un lien</a></li>
        <li class="disabled"><a>Un lien</a></li>
        <li><a href="#">Un lien</a></li>
        <li class="divider"></li>
        <li><a href="#">Un lien</a></li>
        <li class="active"><a href="#">Actif</a></li>
      </ul>
    </nav>
  </div>
</blockquote>

<p>Enfin, pour pouvez créer un menu accordéon avec la classe
  <code>.has-sub</code>. </p>

<blockquote>
  <div class="grid-3">
    <nav class="nav">
      <ul>
        <li class="nav-header">Accordéon</li>
        <li><a href="#h1-palette">Un lien</a></li>
        <li class="has-sub">
          <a>Sous-menu <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a>Sous-menu <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
          </ul>
        </li>
        <li><a href="#">Un lien</a></li>
      </ul>
    </nav>
    <nav class="nav nav-dark">
      <ul>
        <li class="nav-header">Accordéon</li>
        <li><a href="#h1-palette">Un lien</a></li>
        <li class="has-sub">
          <a>Sous-menu <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a>Sous-menu <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
          </ul>
        </li>
        <li><a href="#">Un lien</a></li>
      </ul>
    </nav>
    <nav class="nav nav-light">
      <ul>
        <li class="nav-header">Accordéon</li>
        <li><a href="#h1-palette">Un lien</a></li>
        <li class="has-sub">
          <a>Sous-menu <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a>Sous-menu <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
            <li><a href="#">Un lien</a></li>
          </ul>
        </li>
        <li><a href="#">Un lien</a></li>
      </ul>
    </nav>
  </div>
</blockquote>


<!--
  Breadcrumb
  ~~~~~~~~~~
-->
  <h3 id="h2-breadcrumb">Breadcrumb</h3>
  <p>Pour faire un chemin de navigation, vous pouvez utiliser les classes
    <code>.breadcrumbs</code> ou <code>.breadcrumb-arrow</code>. Il convient,
    notamment pour le deuxième type, de préciser avec <code>.active</code>
    la page active. </p>

<blockquote>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
      <ol class="breadcrumb-arrow">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active"><span>Data</span></li>
      </ol>
      <ol class="breadcrumb-arrow">
        <li><a href="#"><i class="icon icon-home"></i> Home</a></li>
        <li><a href="#"><i class="icon icon-settings"></i> Library</a></li>
        <li class="active">
          <span><i class="icon icon-event"></i> Data</span></li>
      </ol>
</blockquote>


<!--
  Calendrier
  ~~~~~~~~~~
-->
  <h3 id="h2-calendar">Calendrier</h3>

<blockquote>
  <div class="calendar w75 center">
	  <ul class="month">
      <li><a href="#"><i class="icon icon-chevron-left"></i></a></li>
			<li>Mai 2014</li>
      <li><a href="#"><i class="icon icon-chevron-right"></i></a></li>
		</ul>
		<ul class="week">
		  <li class="">Dim<span>anche</span></li>
			<li class="">Lun<span>di</span></li>
			<li class="">Mar<span>di</span></li>
			<li class="">Mer<span>credi</span></li>
			<li class="">Jeu<span>di</span></li>
			<li class="">Ven<span>dredi</span></li>
      <li class="">Sam<span>edi</span></li>
    </ul>
    <ul class="days">
			<li class="older">27</li>
			<li class="older">28</li>
			<li class="older">29</li>
			<li class="older">30</li>
			<li>1</li>  <li>2</li>  <li>3</li>  <li>4</li>  <li>5</li>
			<li>6</li>  <li>7</li>  <li>8</li>  <li>9</li>  <li>10</li>
      <li>11</li> <li>12</li> <li>13</li> <li class="active">14</li>
      <li>15</li> <li>16</li> <li>17</li> <li>18</li> <li>19</li>
			<li>20</li> <li>21</li> <li>22</li> <li>23</li> <li>24</li>
			<li>25</li> <li>26</li> <li>27</li> <li>28</li> <li>29</li>
      <li>30</li> <li>31</li>
			<li class="older">1</li>
			<li class="older">2</li>
			<li class="older">3</li>
			<li class="older">4</li>
			<li class="older">5</li>
			<li class="older">6</li>
			<li class="older">7</li>
    </ul>
  </div>
</blockquote>


<!--
  Wave
  ~~~~
-->
  <h3 id="h2-wave">Wave</h3>

<p>Vous pouvez ajouter un effet de vagues à vos éléments à l'aide de la classe
  <code>.wave-effect</code>.</p>
<blockquote class="flex-container-h">
  <button class="flex-item-center btn-primary wave-effect"
    type="button">Ce bouton a un effet de vagues</button>
</blockquote>


<!--
  Mixins
  ==========
-->
<h2 id="h1-mixins">Mixins</h2>
<p>Un certains nombres de mixins sont disponibles pour vos styles LESS. </p>

<dl>
  <dt><code>.font-size (@size, @addline)</code></dt>
    <dd>Calcule le <code>font-size</code> en <em>rem</em> et définit le
      <code>line-height</code> de manière à respecter le rythme vertical tout
      en permettant l'ajout de lignes vide pour gérer l'espacement des éléments
      (notamment les titres).</dd>
  <dt><code>.size (@width, @height)</code></dt>
    <dd>Définit les valeurs <code>width</code> et <code>height</code></dd>
  <dt><code>.square (@size)</code></dt>
    <dd>Dimensionne un carré</dd>
  <dt><code>.border-(where)-radius (@radius)</code></dt>
    <dd>Facilite l'application de border-radius. <code>(where)</code> peut
      être : <code>top</code>, <code>right</code>, <code>bottom</code> ou
      <code>left</code></dd>
  <dt><code>.background-border-color (@background, @border)</code></dt>
  <dd>Spécifie la couleur de la bordure et du fond. </dd>
</dl>



      </section>  <!-- Contenu -->
    </section>    <!-- Menu + contenu -->
