2011-10-01T09:32:00
Sainte Thérèse de l’Enfant Jésus et de la Sainte Face
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/thereseLisieux.jpg" 
 alt="Icône de la petite Thérèse" 
 width="50%" />
<figcaption>
  Icône écrite par Lise Labelle-Ouellet
</figcaption>
</figure>

<blockquote>
  Ah&nbsp;! qu’il fut doux le premier baiser de Jésus à mon âme... Ce fut un 
  baiser d’amour&nbsp;; je me sentais aimée, et je disais aussi&nbsp;: «&nbsp;Je 
  vous aime, je me donne à vous pour toujours.&nbsp;»" Il n’y eut pas de 
  demandes, pas de luttes, de sacrifices&nbsp;; depuis longtemps, Jésus et la 
  pauvre petite Thérèse s’étaient regardés et s’étaient compris... Ce jour-là, 
  ce n’était plus un regard mais une fusion, ils n’étaient plus deux, Thérèse 
  avait disparu comme la goutte d’eau qui se perd au sein de l’océan. Jésus 
  restait seul, il était le maître, le Roi.
  <footer class="source">
    (Manuscrits autobiographiques, Carmel de Lisieux, 1957, p.&nbsp;83.
  </footer>
</blockquote>
<blockquote>
  Ô Jésus mon Amour, ma vocation enfin je l’ai trouvée, ma vocation, c’est 
  l’Amour. 
  <footer class="source">
    Ms B, 3 v°
  </footer>
</blockquote>

<p>
  À lire aussi un article intéressant&nbsp;: 
  <a href="http://www.pagesorthodoxes.net/saints/silouane/silouane-therese.htm">Thérèse de Lisieux, Silouane de l’Athos&nbsp;: L’amour au cœur du monde et de l’Église</a>
</p>
