2011-10-04T13:08:00
Saint François d’Assise
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/francoisAssise.jpg" 
 alt="Saint François d’Assise" 
 width="50%" />
</figure>

<p>
  Il est indéniable que François avait une âme de poète et qu’il était 
  particulièrement sensible à la beauté du monde créé. Dès avant sa conversion 
  ses biographes signalent cette sensibilité. Mais une fois converti, il entre 
  totalement dans une démarche d’action de grâce pour tout ce qui est sorti de 
  la main de Dieu et qui a été confié aux hommes. Pour exprimer cette démarche 
  chrétienne, le lettré Thomas de Celano se réfère à la théologie de saint 
  Augustin auquel il emprunte les idées et le vocabulaire dans la 
  <em>Vita&nbsp;IIa</em>&nbsp;:
</p>

<blockquote>
  ... François savait puiser un grand réconfort dans toutes les choses de ce 
  monde&nbsp;; il les utilisait comme des armes quand il s’agissait de combattre
  le prince des ténèbres, et comme autant de miroirs pour contempler la bonté de 
  Dieu. En toute œuvre, il admirait l’Ouvrier&nbsp;; il référait au Créateur les 
  qualités qu&nbsp;il découvrait à chaque créature. Il se réjouissait pour tous 
  les ouvrages sortis de la main de Dieu (Ps 91,5) et, de ce spectacle qui 
  faisait sa joie, il remontait jusqu’à celui qui est la cause, le principe et 
  la vie de l’univers. Il savait, dans une belle chose, contempler le Très 
  Beau&nbsp;; tout ce qu’il rencontrait de bon lui chantait&nbsp;: «&nbsp;Celui 
  qui m’a fait, celui-là est le Très Bon&nbsp;» (St Augustin). Il poursuivait à 
  la trace son Bien-Aimé en tout lieu de sa création (Cant 5, 17), se servant de 
  tout l’univers comme d'une échelle pour se hausser jusqu'au trône de Dieu. On 
  n’avait jamais vu pareille affection pour toutes les créatures&nbsp;; il leur 
  parlait du Seigneur et les invitait à la louange... Mais qui pourra jamais 
  épuiser ce sujet&nbsp;? Car la Bonté qui est à la source de toutes choses et 
  qui sera un jour tout entière en toutes choses, dès cette vie déjà 
  apparaissait aux yeux du saint, tout entière en toutes choses.
  <footer class="source">
    <em>Vita&nbsp;IIa</em>, ch.&nbsp;124, n.&nbsp;165.
  </footer>
</blockquote>

<p class="txtcenter">
  Dieu tout puissant, éternel, juste et bon,<br>
  par nous-mêmes nous ne sommes que pauvreté&nbsp;;<br>
  mais toi, à cause de toi-même,<br>
  donne-nous de faire ce que nous savons que tu veux,<br>
  et de vouloir toujours ce qui te plaît&nbsp;;<br>
  ainsi nous deviendrons capables,<br>
  intérieurement purifiés,<br>
  illuminés et embrasés par le feu du Saint-Esprit,<br>
  de suivre les traces de ton Fils notre Seigneur Jésus-Christ,<br>
  et, par ta seule grâce,<br>
  de parvenir jusqu’à toi, Très-Haut,<br>
  qui, en Trinité parfaite et très simple Unité,<br>
  vis et règnes et reçois toute gloire,<br>
  Dieu tout puissant dans tous les siècles des siècles.<br>
  Amen.
</p>

