2011-10-06T15:43:00
Saint Bruno et les chartreux
<p class="txtright italic">
  Article écrit par Annie <span class="smallcaps">Malétras</span>
</p>
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/bruno.jpg" 
 alt="Saint Bruno" 
 width="50%" />
<figcaption>
  Saint Bruno en oraison dans le désert
  (de Nicolas Mignard, musée Calvet - Avignon)
</figcaption>
</figure>

<p>
  Comme Saint François d’Assise fêté lundi, aujourd’hui nous fêtons Saint Bruno. 
  Ces deux personnages à la très haute et fondamentale spiritualité sont 
  d’origine aisée et prêts au total abandon des biens terrestres pour accéder 
  aux biens du Ciel.
</p>
<p>
  Ce matin, au cours de la célébration eucharistique, j’ai été profondément 
  touchée par le commentaire sur la vie érémitique. Voci quelques mots qui 
  rappellent le sens et le but de cette vie faite de rigueur et de solitude.
</p>

<blockquote>
  Un tel appel, toutefois, ne se révèle authentiquement divin que si celui qui 
  croit l’avoir entendu devient vraiment ce qu’il doit être (...) habiter seul 
  avec lui-même pour vivre à Dieu seul (...) La sainte Église et l’humanité tout 
  entière, les pauvres, les persécutés, les malades, tous ceux qui souffrent, 
  les pécheurs, les âmes en train de se perdre, celles qui ne connaissent pas 
  Dieu ni Jésus-Christ, l’ermite sait en représenter constamment les besoins à 
  Dieu, il souffre de leurs souffrance, il pleure de leurs larmes, mais il ne 
  cherche pas à les atteindre directement parce que tel n'est pas le dessein de 
  Dieu sur lui.<br>
  (.....) La fuite du péché s’impose de manière absolue. Mais il y a une façon 
  de mépriser le monde ou le corps qui n’est pas saine, qui n’est pas 
  chrétienne. Le monde racheté par jésus-Christ demande tout notre amour&nbsp;; 
  et c’est avec respect qu’il faut traiter un corps purifié par le baptême, 
  nourri de l’Eucharistie, sanctifié par la présence de la Trinité sainte, et 
  destiné à briller d'une gloire divine dans l’éternite. (.....) Nous nous 
  efforçons de mâter notre corps, non pour détruire en lui qoui que ce soit de 
  ce que Dieu y a mis de beau et de bon, mais au contraire pour le rendre à la 
  plénitude de sa bonté et de sa beauté, dans une soumission totale aux lois 
  inscrites dans sa nature, aux lois de la création. (....) L’ermite est celui 
  qui attend tout de Dieu. Il ne va au désert que pour se placer plus 
  directement dans le rayonnement du foyer divin.""   
  <footer class="source">
    extraits de <em>La vie érémitique, essai d’initiation</em>, Jacques Winady, 
    osb, Coll° Vie monastique n°6, Abbaye de Bellefontaine 1976, réédité avec 
    ajouts en 1997. 
  </footer>
</blockquote>
