2011-10-11T15:03:00
Quelques bribes...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/madeleineDelbrel.jpg" 
 alt="Madeleine Delbrêl" 
 width="50%" />
</figure>

<p>
  De Madeleine Delbrêl qui a des mots qui résonnent bien avec nos questions 
  pastorales et notre actualité en ce temps «&nbsp;d’intérêt moindre pour la 
  question de Dieu&nbsp;»&nbsp;!
</p>
<p class="textcenter">
  Pour plus d’infos et de textes à méditer&nbsp;: 
  <a href="http://www.madeleine-delbrel.net">www.madeleine-delbrel.net</a>
</p>

<blockquote>
  L’Évangile du Royaume nous dit que le monde est sans importance. Ce sont les 
  hommes qui sont importants car il est ce qu'ils sont. Le monde ce sont les 
  vivants de chaque jour qui le font et le défont. Ce n’est pas en travaillant 
  au monde qu’on le rendra meilleur&nbsp;: c’est chaque homme meilleur qui fait 
  un meilleur monde.<br>
  Un monde rebâti de nos mains marchant par une sorte d’élan acquis et donnant 
  en fin de compte le salut est une abstraction.<br>
  Nous n’avons pas à chercher à faire coïncider le bilan du «&nbsp;Royaume de 
  Dieu&nbsp;» et le bilan du monde. Ce n'est pas la somme des cités justes qui 
  constituera la Jérusalem céleste mais la somme de tout l’amour qui, dans une 
  Église petite ou grande, composée de saints nombreux ou peu nombreux, élargie 
  à des hommes connus et inconnus, réactivera la Rédemption pour une 
  multitude.<br>
  Royaume de Dieu et monde ne coïncident pas forcément. Des périodes de chaos, 
  de férocité peuvent donner lieu à des passions, à une intensité de foi 
  génératrices du salut. Le cheminement du Royaume de Dieu dans le monde est à 
  des fins d’éternité&nbsp;: le moyen doit nous intéresser dans la mesure où la 
  fin nous intéresse&nbsp;; mais la perspective doit être respectée.<br>
  Si la confusion des deux plans monde et Royaume des Cieux a amené les hommes 
  qui composent l’Église à des alliances impures avec le capitalisme, il ne faut 
  pas sous prétexte de rompre avec celui-là, risquer de la souder à d’autres 
  systèmes qui, parce que temporels et du monde, l’alourdiraient demain de 
  chaines analogues à celles dont nous voudrions aujourd’hui la libérer.<br>
  C’est dans le labyrinthe de dérapages possibles que passe la «&nbsp;voie 
  étroite&nbsp;» mais positive de l’Évangile que nous avons à transmettre.
  <footer class="source">
    Extrait d’<em>Église et mission</em> (1950-1951) (La sainteté des gens 
    ordinaires - 7° tome des Œuvres Complètes – pages 190-191).
  </footer>
</blockquote>

<blockquote>
  En face de l’Évangile, ce n’est pas d’être peu nombreux qui est grave, c’est 
  d’être immobile ou de marcher comme des vieillards. 
  <footer class="source">
    <em>Indivisible Amour</em>, Centurion, 1992 - p.&nbsp;47.
  </footer>
</blockquote>

