2011-10-14T08:12:00
Chrétiens dans le monde, est-ce possible aujourd’hui&nbsp;?
<blockquote>
  Nous avons à entrer dans cet horizon de foi et d’espèrance qui nous mène, nous 
  et le monde, vers le face à face avec Dieu. [...] Notre foi repose sur cette 
  espérance et nous pouvons espérer en tout homme, quel qu’il soit, d’où qu’il 
  vienne, quoi qu’il ait fait. Nous pouvons espérer en notre civilisation malgré 
  sa misère. Oui, nous pouvons retrouver les chemins de l’amour.<br>
  Il y a quelque chose de merveilleux dans l’Évangile, c’est que tout est 
  toujours neuf. Dans ce monde blessé, brisé, nous pouvons toujours réinventer 
  l’amour, car la Parole de Dieu a un sens, c’est une parole de charité. Elle 
  construit le monde dans la charité, elle construit le monde dans l’amour, dans 
  l’Esprit-Saint.
  <footer class="source">
    Père M.J. Le Guillou, <em>Chrétien dans le monde est-ce possible 
      aujourd’hui&nbsp;?</em> Éditions Parole et Silence.
  </footer>
</blockquote>
