2011-10-15T08:50:00
Quelle audace&nbsp;!
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/thereseAvila.jpg" 
 alt="Icône de la grande Thérèse" 
 width="50%" />
</figure>

<p>
  Sainte Thérèse d’Avila, accablée de soucis, surchargée, était parfois dans son 
  oraison privée du sentiment de la présence de Dieu. N’y tenant plus, voici ce 
  qu’elle lui dit&nbsp;:
</p>

<blockquote>
  Eh quoi&nbsp;! ô mon Dieu, n’est-ce pas assez que vous me reteniez dans cette 
  misérable vie&nbsp;! Que par amour pour vous, j’accepte cette épreuve, et que 
  je consente à demeurer dans cet exil où tout contribue à m’empêcher de jouir 
  de vous, où il faut s’occuper du manger, du dormir, des affaires, des rapports 
  avec une foule de personnes&nbsp;? Cependant je me résigne à tout par amour 
  pour vous&nbsp;! car vous le savez bien, ô mon Dieu, c’est là pour moi un 
  tourment indicible&nbsp;!<br>
  Or les quelques instants qui me restent pour jouir de votre présence, vous 
  vous cachez&nbsp;!<br>
  Comment cela peut-il être compatible avec votre miséricorde&nbsp;? Comment 
  votre amour pour moi peut-il le souffrir&nbsp;?<br>
  Seigneur, s’il m’était possible de me cacher de vous comme vous vous cachez de 
  moi, je crois, je suis persuadée que votre amour pour moi ne le souffrirait 
  pas&nbsp;! mais vous, vous me voyez toujours. Une telle inégalité est trop 
  dure, ô mon Dieu. Considérez, je vous en supplie, que c’est faire injure à 
  celle qui vous aime tant&nbsp;!
</blockquote>
