2011-10-15T09:06:00
Sainte Thérèse d’Avila
<p class="txtright italic">
  Article écrit par Liliane
</p>

<blockquote>
  Un jour de l’Assomption de la Reine des Anges, notre Souveraine, il plut au 
  Seigneur de ma favoriser de la grâce suivante. Je vis dans un ravissement 
  comment elle fut élevée dans les cieux, avec quelle joie et quelle solennité 
  elle y fut reçue, et la place qu’elle y occupe.<br>
  Dire comment tout ceci se passa, je ne le saurais, mais la félicité qu’éprouva 
  mon âme à la vue de tant de gloire fut extraordinaire. Il m’en demeura des 
  effets immenses, et cela me procura une plus grande soif de souffrance, avec 
  un attrait puissant pour le service de cette Souveraine qui a mérité une 
  pareille gloire.
  <footer class="source">
  Autobiographie 39, 26.
  </footer>
</blockquote>
