2011-10-17T09:27:00
Nouvelle évangélisation
<p class="textcenter">
  En lien avec les Assises de l’Évangélisation de ce samedi dans notre diocèse 
  de Meaux, voilà une annonce qui nous concerne tous&nbsp;! Et qui nous 
  permettra de réfléchir sur cette annonce de la Bonne nouvelle qui nous 
  anime&nbsp;!
</p>

<blockquote>
  Chers frères et sœurs&nbsp;!<br>
  Une rencontre importante a eu lieu hier et aujourd’hui au Vatican sur le thème 
  de la Nouvelle évangélisation, rencontre qui s’est conclue ce matin par la 
  célébration eucharistique que j’ai présidé dans la basilique Saint-Pierre. 
  Cette initiative, organisée par le Conseil pontifical pour la Promotion de la 
  Nouvelle évangélisation, avait pour objectif final d’approfondir les domaines 
  d’une annonce renouvelée de l’Évangile dans les pays d’ancienne tradition 
  chrétienne, et elle a proposé en même temps certains témoignages et 
  expériences significatives. Des personnes du monde entier, engagées dans cette 
  mission que le bienheureux Jean-Paul&nbsp;II avait clairement indiquée à 
  l’Église comme un défi urgent et passionnant, ont répondu nombreuses à cette 
  invitation. Il a été en effet, sur les traces du Concile Vatican&nbsp;II et de 
  celui qui en a engagé la réalisation –&nbsp;le pape Paul&nbsp;VI&nbsp;–, un 
  soutien infatigable de la mission <em>ad gentes</em>, c’est-à-dire aux peuples 
  et aux territoires où l’Évangile n’a pas encore pris racines, ainsi qu’un 
  héraut de la nouvelle évangélisation. Voilà les aspects de l’unique mission de 
  l’Église, et il est significatif de les envisager ensemble en ce mois 
  d’octobre marqué par la célébration de la Journée missionnaire mondiale, 
  dimanche prochain précisément.<br>
  Comme je viens de le faire dans l’homélie de la messe, je profite volontiers 
  de cette occasion pour annoncer que j’ai décidé de convoquer une Année de la 
  Foi, qui débutera le 11&nbsp;octobre&nbsp;2012 –&nbsp;50<sup>e</sup> 
  anniversaire de l’ouverture du Concile œcuménique Vatican&nbsp;II&nbsp;– et 
  qui se conclura le 24&nbsp;novembre&nbsp;2013, en la solennité du Christ Roi 
  de l’Univers. Les motivations, les finalités et les lignes directrices de 
  cette «&nbsp;Année&nbsp;», je les aies exposées dans une Lettre Apostolique 
  qui sera publiée dans les prochains jours. Le serviteur de Dieu Paul&nbsp;VI a 
  convoqué une «&nbsp;Année de la Foi&nbsp;» analogue en 1967, à l’occasion du 
  19<sup>e</sup> centenaire du martyre des apôtres Pierre et Paul, et durant une 
  période de grands changements culturels. Cinquante ans après l’ouverture du 
  Concile, liée à l’heureuse mémoire du bienheureux Jean&nbsp;XXIII, j’estime 
  qu’il est opportun de rappeler la beauté et le caractère central de la foi, 
  l’exigence de la fortifier et de l’approfondir au niveau personnel et 
  communautaire, et de le faire dans une perspective qui ne soit pas tant 
  célébratif mais plutôt missionnaire, dans la perspective, justement, de la 
  mission <em>ad gentes</em> et de la nouvelle évangélisation.<br>
  Chers amis, dans la liturgie de ce dimanche, lisons ce que saint Paul écrivit 
  aux Thessaloniciens&nbsp;: «&nbsp;notre annonce de l’Évangile chez vous n’a 
  pas été uniquement parole, mais puissance, action de l’Esprit Saint, certitude 
  absolue&nbsp;». Que cette parole de l’Apôtre des Gentils soit un souhait et un 
  programme pour les missionnaires d’aujourd’hui –&nbsp;prêtres, religieux et 
  laïcs&nbsp;– engagés à annoncer le Christ à qui ne le connaît pas, ou à qui 
  l’a réduit à un simple personnage historique. Que la Vierge Marie aide chaque 
  chrétien à être un témoin efficace de l’Evangile.
  <footer class="source">
  Benoît&nbsp;XVI, Angélus du dimanche 16 octobre 2011, Vatican
  </footer>
</blockquote>
