2011-10-18T16:00:00
Saint Luc, Évangéliste
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/luc.jpg" 
 alt="Saint Luc" 
 width="50%" />
<figcaption>
  Autoportrait du peinte Le Greco (1541-1614) en saint Luc
</figcaption>
</figure>

<blockquote>
  <ul>
    <li>Béni sois-tu pour la Bonne Nouvelle de Jésus-Christ&nbsp;: qu’elle 
      demeure la source toujours fraîche de notre vie chrétienne.</li>
    <li>Béni sois-tu pour les Apôtres et les Évangélistes&nbsp;: que leur 
      message suscite toujours des témoins fidèles.</li>
    <li>Béni sois-tu pour la vie de l’Évangile dans l’Église au long des 
      siècles&nsp;: que cette parole ne cesse d'éveiller parmi les hommes la foi 
      et la sainteté.</li>
    <li>Béni sois-tu pour le cheminement de l’Évangile en ce monde&nbsp;: que 
      les chrétiens trouvent en notre temps le langage capable de toucher leurs 
      contemporains.</li>
  </ul>
  <footer class="source">
    Intercessions extaites de <em>Louanges et intercessions</em>, Commission 
    Francophone Cistercienne, Éditions S<sup>t</sup> Paul 1996.
  </footer>
</blockquote>
