2011-10-21T09:22:00
Sainte Céline
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/celine.jpg" 
 alt="Sainte Céline" 
 width="50%" />
<figcaption>
  Représentation du miracle de Sainte Céline (gravure peinte, 1858, fonds 
  iconographiques de la bibliothèque diocésaine Guillaume Briçonnet, Meaux)
</figcaption>
</figure>

<p>
  Céline vécut aux V<sup>e</sup> et VI<sup>e</sup> siècles à Meaux. Née vers 470 
  (selon l’estimation des historiens), peut-être plus tôt, dans une riche et 
  noble famille d’origine romaine (le nom Céline vient du latin et signifie 
  «&nbsp;fille du ciel&nbsp;», par contre on a oublié le patronyme de sa 
  famille), elle connut Sainte Geneviève, dont on dit qu’elle fut une compagne. 
  Cette dernière lui apporta son soutient lorsqu’elle refusa le mariage auquel 
  l’obligeaient ses parents. La jeune Céline à l’image de Geneviève avait décidé 
  de consacrer sa vie à Dieu tout en restant «&nbsp;dans le monde&nbsp;» (c’est 
  à dire dans la vie civile, parmi ses concitoyens). Elle portait la robe sombre 
  des vierges, et se vouait à des oeuvres de dévotion et de charité. Une version 
  de la légende de Céline dit qu’un jeune nobliau (dont on a oublié le nom à lui 
  aussi), des environs de Meaux, tomba amoureux de la jeune femme. Mais 
  découvrant le voeux de Céline de consacrer sa vie à Dieu, le jeune homme entra 
  dans une colère telle que la jeune femme n’eut d'autre choix que de fuir 
  devant ce soupirant «&nbsp;exalté&nbsp;». Avec Geneviève, elle trouva refuge 
  dans le baptistère de l’église de Notre-Dame de Châage dont les portes 
  s’ouvrirent et se refermèrent miraculeusement derrière les deux femmes, 
  permettant à la jeune Céline de préserver sa vertu... et sa virginité.
</p><p>
  Arrêté aux portes du baptistère le jeune homme «&nbsp;touché par la grâce 
  divine&nbsp;» laissa Céline… à son destin de sainte (difficile de lutter avec 
  Dieu&nbsp;!). Une autre version dit que le jeune homme est le même que les 
  parents de Céline avaient choisi pour elle, et que c'est parce qu’elle avait 
  dit non à ce mariage que le promis entra dans une colère folle qui aurait 
  conduit celui-ci à vouloir «&nbsp;prendre&nbsp;» de force la jeune femme. 
  Selon cette version, l'épisode miraculeux des portes du baptistère, serait 
  celui à l’origine de la vocation de Céline, et l’évènement qui aurait poussé 
  la sainte à offrir sa virginité à Dieu.  
</p><p>
  Sainte patronne de la ville de Meaux, le culte de Sainte Céline perdura 
  jusqu’au XIX<sup>e</sup> siècle. Il fut l’un des derniers à donner lieu à des 
  processions à Meaux (jusqu’en 1880)&nbsp;: le 15&nbsp;août jour de 
  l’Assomption (jour ou est fêté la Sainte Vierge), c’étaient à des jeunes 
  filles qu’était dévolu le rôle de promener la châsse contenant les reliques de 
  la Sainte à travers les rues de la ville. Sainte Céline était donc priée par 
  la meldois qui lui reconnaissaient son statut de Sainte patronne de la ville, 
  mais la tradition veut qu’elle fut également priée par les jeunes filles, et 
  les jeunes mariés avant leurs noces.
</p><p>
  Céline mourut à Meaux le 25&nbsp;octobre 530, et fut inhumée dans le Faubourg 
  Saint Nicolas, près de l’actuel Temple protestant. Le Faubourg Saint Nicolas 
  porta d’ailleurs, longtemps avant, le nom de Faubourg Sainte Céline. Le site 
  est aussi celui d’une nécropole antique, dite de Sainte Céline.
</p><p>
  Le tombeau de la Sainte devint après sa mort un lieu de dévotion, et on bâti 
  sur ce tombeau (ou a proximité) un oratoire. Remplacé peu après par une 
  église, qui devint une abbaye, puis un prieuré... établissements religieux 
  passant par des périodes fastes et d'autres plus difficiles (désaffection, 
  incendie, etc.), et pendant près de 12 siècles, du Moyen Âge jusqu’à la 
  Révolution où l’abbaye Sainte Céline fut vendue comme bien national, avant de 
  disparaître. Car il ne reste rien aujourd’hui de ces bâtiments multiséculaires 
  construits sur le culte de la Sainte meldoise, et qui ont marqué longtemps 
  dans sa physionomie la ville et le Faubourg.
</p><p>
  Dés 1312, Saint Nicolas, du moins en nom, commença à «&nbsp;remplacer&nbsp;» 
  Sainte Céline. On parle de Saint Nicolas en Sainte Céline, c’est à dire d’une 
  paroisse tournée vers Saint Nicolas dont le culte se faisait à l’intérieur de 
  l’église Sainte Céline. Aujourd’hui toute référence à Sainte Céline a presque 
  entièrement disparu. Le site originelle de l’église Sainte Céline est occupé 
  en partie par la place du Temple (partie sud-est de la place), et le bâtiment 
  de l’église Saint Nicolas a été reconstruit bien plus tard vers le début du 
  Faubourg (niveau place Henri&nbsp;IV, face aux Augustines).
</p><p>
  Quand les restes de la Sainte furent relevés à la Révolution en 1793, les 
  précieuses reliques de Céline furent cachées dans le cimetière des chanoines 
  (cour épiscopale, entre la chapelle des catéchismes et le «&nbsp;vieux 
  chapitre&nbsp;»). En 1795, elles furent placées dans les châsses encore 
  présentes dans le sanctuaire de la cathédrale. Une partie des reliques 
  seraient conservée également dans l’église Saint Nicolas.
</p>
