2011-11-05T09:24:00
Se faire violence
<blockquote>
  Lorsque quelqu’un s’approche du Seigneur, il faut d'abord qu’il se fasse 
  violence pour accomplir le bien, même si son cœur ne le veut pas, attendant 
  toujours sa miséricorde avec une foi inébranlable&nbsp;; qu’il se fasse 
  violence pour aimer sans avoir d’amour&nbsp;; qu&nbsp;il se fasse violence 
  pour être doux sans avoir de douceur, qu’il se fasse violence pour être 
  compatissant et avoir un coeur miséricordieux, qu’il se fasse violence pour 
  prier sans avoir la prière spirituelle.<br>
  Quand Dieu verra comment il lutte et se fait violence, alors que son coeur ne 
  le veut pas, Il lui donnera la vraie prière spirituelle, Il lui donnera la 
  vraie charité, la vraie douceur, des entrailles de compassion, la vraie bonté, 
  en un mot il le remplira des dons du Saint-Esprit. Il se donnera lui-même tout 
  entier à lui.<br>
  Désormais, c’est le Seigneur lui-même qui accomplira en toute vérité, en toute 
  pureté, sans fatigue ni violence, ce qu’il n'arrivait pas à observer 
  auparavant, même en se faisant violence, parce que le péché habitait en lui. À 
  présent, la pratique de toutes les vertus lui devient comme naturelle. 
  Maintenant, en effet, le Seigneur vient en lui, il est en lui, et lui, il est 
  dans le Seigneur, lequel accomplit en lui sans effort ses propres 
  commandements et le remplis des fruits de l’Esprit.
  <footer class="source">
    Saint Macaire l’Égyptien (mort vers 390) fondateur de la vie monastique dans 
    le désert de Scété.
  </footer>
</blockquote>
