2011-11-08T15:13:00
8&nbsp;novembre&nbsp;: fête de tous les saints du diocèse de Meaux&nbsp;!
<p>
  En ce jour l’Église diocésaine fait mémoire de tous les saintes et saints qui 
  ont annoncé l’Évangile du Christ dans cette terre, à travers champs et 
  vallées... Dans les plus célèbres, il y a S<sup>t</sup>&nbsp;Fiacre, 
  S<sup>t</sup>&nbsp;Faron et sa sœur S<sup>te</sup>&nbsp;Fare, 
  S<sup>t</sup>&nbsp;Loup, S<sup>t</sup>&nbsp;Thibaud.... Et aussi toutes une 
  foule d’anonyme dont l’Histoire n’a pas retenu les noms mais qui sont 
  cependant inscrits dans le coeur de Dieu.
</p>

<p>
  Pour méditer en ce jour, quelques extraits d'une homélie&nbsp;:
</p>

<blockquote>
  <h3>Vers d’étonnantes rencontres</h3>
  <p>
    Après ma mort retrouverai-je ceux qui m’entourent aujourd’hui&nbsp;? N’en 
    rencontrerai-je pas d'autres auxquels je ne m'attends pas&nbsp;?
  </p><p>
    Le Nouveau Testament apporte une réponse à toutes ces questions au point 
    qu’il semble même n’avoir été prêché et écrit pour éclairer, comme une 
    lumière sur notre route, le sens de la vie et de la mort.
  </p><p>
    Nous ne manquerons pas d’être surpris. Nous rencontrerons d’abord une foule 
    immense de pauvres gens, ayant à leur tête le pauvre Lazare de l’Évangile. 
    Le Seigneur ne dit pas de lui qu’il a pratiqué toutes les vertus, reçu tous 
    les sacrements, mais tout simplement&nbsp;: «&nbsp;il a reçu les maux 
    pendant sa vie, maintenant il trouve consolation.&nbsp;»
  </p><p>
    Cette parole du Seigneur canonise le pauvre Lazare et jette une lumière très 
    vive sur la 1<sup>ère</sup> Béatitudes&nbsp;: «&nbsp;Heureux vous les 
    pauvres car le Royaume est pour vous&nbsp;».
  </p><p>
    Avec la porte de la 1<sup>ère</sup> Béatitudes, s’ouvrent toutes les autres. 
    Nous rencontrerons les humbles et les doux de la terre - tous ceux qui ont 
    souffert dans leur corps et dans leur coeur - qui ont été dévorés par la 
    faim et la soif de la justice - les proscris, les torturés, les persécutés - 
    tous ceux qui ont eu le coeur plein de pitié et de miséricorde - les cœurs 
    simples et transparents - tous ceux qui ont milité pour la paix.
  </p><p>
    Notre communion avec nos frères se fera au niveau du coeur, là où le 
    Seigneur nous connaît dans notre pauvreté et dans sa miséricorde. Nous 
    comprendrons alors - et puissions-nous l’avoir compris avant - que les 
    manquements à la morale ont moins d’importance que les manquements à 
    l’amour&nbsp;: ou plutôt que les manquements  à la morale des hommes ne sont 
    graves que s’ils sont des blessures à l’amour.
  </p><p>
    Nous y verront aussi tous ceux qui à la suite du Samaritain se sont 
    compromis pour rendre service à leur frères. Il nous suffit de prendre à la 
    lettre le chapitre 25 de Matthieu pour savoir sur quels critères Jésus fera 
    l’admission au Royaume&nbsp;: «&nbsp;J’ai eu fainm, j’étais nu, j’étais 
    prisonnier... Ce que vous avez fait au plus petit d’entre les miens, c’est 
    à moi que vous l’avez fait&nbsp;».
  </p><p>
    La Toussaint est la fête de tous ceux que le Seigneur sauve parce qu’il 
    connaît leur coeur et qu’il y trouve une étincelle de son propre amour.
  </p>
</blockquote>
