2011-11-12T15:19:00
Amour conjugal - Amour trinitaire
<blockquote>
  <p>
    Dans la relation conjugale, le point de départ est la différence des sexes, 
    donc une altérité initiale dans la communauté de nature humaine. Cette 
    relation a pour effet de faire prendre conscience et de l’altérité et de 
    l’unité foncière. Mais ce qui est propre à cette rencontre est la recherche, 
    par-delà la différence des sexes, d’une nouvelle unité qui se présente 
    précisément comme le moyen de faire à un niveau plus profond l’expérience de 
    l’unité par l’union dans la différence. Cette union est à construire, et 
    cette croissance est douloureuse, car la dialectique de l’amour passe par 
    des périodes de mort et d’oubli de soi&nbsp;; elle doit inclure l’existence 
    d’un autre être dont la présence détruit à chaque instant nos propres 
    réalisations, pour que nous les reconstruisions en incluant celui que nous 
    aimons.
  </p><p>
    Dans les relations divines, altérité et unité sont dès le premier instant 
    parfaites, car il n’y a pas de traversées, de découvertes, de but 
    finalement. Les relations sont parfaites, parfaite aussi l’unité foncière et 
    parfaite l’union réalisée dans la communication interpersonnelle du Père, du 
    Fils et de l’Esprit. Les relations trinitaires sont la perfection de l’amour 
    qui unit les trois personnes.
  </p>
  <footer class="source">
    Yves Raguin, <em>la profondeur de Dieu</em>, collection Christus 
    N<sup>o</sup>33, Desclée de Brouwer, Paris 1973, p.&nbsp;157-158.
  </footer>
</blockquote>
