2011-11-17T11:41:00
«&nbsp;...cette rue est le lieu de notre sainteté...&nbsp;»
<blockquote>
  <p>
    Partez dans votre journée sans idées fabriquées d’avance et sans lassitude 
    prévue, sans projet sur Dieu, sans souvenir sur lui, sans bibliothèque, à sa 
    rencontre.
  </p><p>
    Partez sans carte de route pour le découvrir, sachant qu’il est sur le 
    chemin et non au terme.
  </p><p>
    N’essayez pas de le trouver par des recettes originales, mais laissez-vous 
    trouver par lui dans la pauvreté d'une vie banale. La monotonie est une 
    pauvreté&nbsp;: acceptez-la.
  </p><p>
    Ne cherchez pas les beaux voyages imaginaires. Que les variétés du Royaume 
    de Dieu vous suffisent et vous réjouissent.
  </p><p>
    Désintéressez-vous de votre vie, car c’est une richesse que de tant vous en 
    soucier&nbsp;: alors la vieillesse vous parlera de naissance et la mort de 
    résurrection&nbsp;; le temps vous paraîtra un petit pli sur la grande 
    éternité&nbsp;: vous jugerez de toutes choses selon leurs traces éternelles.
  </p>
  <footer class="source">
    Madeleine Delbrêl, <em>La Joie de croire</em>, Seuil, coll. «&nbsp;Livre de 
    Vie&nbsp;», 1995, p.&nbsp;49.
  </footer>
</blockquote>
