2011-11-23T22:01:00
Saint Colomban... de passage sur nos terres briardes...&nbsp;!
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/colomban.jpg" 
 alt="Saint Colomban" 
 width="50%" />
</figure>

Aujourd’hui, mémoire de Saint Colomban (VI<sup>e</sup> siècle), moine et 
évangélisateur venu d’Irlande&nbsp;! Il est passé quelques temps sur la terre 
briarde et a rencontré les parents des futurs saints Adon, Radon et Ouen dont on 
fait mémoire dans le secteur de Rebais. Il croise aussi la future sainte Fare 
(moniale à Faremoutiers)&nbsp;!! Son zèle apostolique a eut une grande influence 
en Europe bien avant S<sup>t</sup> Benoît. Sa règle monastique est rude et 
sévère mais désireuse de restaurer l’image de Dieu en l’homme&nbsp;!

C’est aussi l’occasion de prier pour le projet de construction d’une église sur 
le secteur de Marne-la-Vallée qui sera dédiée à Saint Colomban, moine et 
évangélisateur infatiguable&nbsp;!!

Voici ce petit prologue de la règle de saint Colomban qui est très beau&nbsp;: 
«&nbsp;Moïse a écrit dans la Loi&nbsp;: Dieu fit l’homme à son image et à sa 
ressemblance. Considérez, je vous prie, l’importance de cette parole. Dieu le 
Tout-Puissant, l’invisible, l’Incompréhensible, l’Indicible, l’Inestimable, en 
façonnant l’homme avec de la glaise, l’a ennobli de l’image de sa propre 
grandeur. Quoi de commun entre l’homme et Dieu, entre la glaise et l’Esprit, car 
Dieu est Esprit&nbsp;? C’est donc une grande marque d’estime pour l’homme que 
Dieu l’ait gratifié de l’image de son éternité et de la ressemblance de sa 
propre vie la grandeur de l’homme c'est sa ressemblance avec Dieu, pourvu qu’il 
la garde.&nbsp;»

