2011-11-30T18:08:00
«&nbsp;Comment devons-nous veiller&nbsp;?&nbsp;»
<blockquote>
  <p>
    L’Évangile nous demande de veiller, c’est-à-dire d’être toujours attentifs à 
    Dieu et à nous-mêmes.
  </p><p>
    Saint Benoît, dans une brève sentence, nous le redit avec insistance&nbsp;: 
    «&nbsp;il nous faut veiller à tout moment sur les actions de notre 
    vie&nbsp;».
  </p><p>
    Il convient en effet qu’elles soient réfléchies et contrôlées. Il faut que 
    nous demeurions libres de les entreprendre ou de ne pas les entreprendre ou 
    d’en arrêter le cours, sans nous laisser emporter par nos désirs ou nos 
    impulsions. Il y a une façon plus spécifiquement chrétienne de contrôler nos 
    actions. Nous avons à mesurer chacune d’elles à la lumière de la volonté de 
    Dieu sur l’ensemble de notre vie et sur l’instant que nous vivons. Pour y 
    parvenir plus aisément, nous aimerions que notre regard intérieur soit 
    constamment fixé sur le Seigneur, pour de là, comme du haut d'une montagne 
    sainte, donner forme à nos occupations successives.
  </p><p>
    Mais pour nous, c’est le chemin inverse que nous devons prendre. C’est en 
    partant des tâches quotidiennes bien concrètes que la vie nous impose que 
    nous devons passer à la pensée de Dieu, car il est présent à chacune 
    d’elles. Il nous faut tenir compte de sa volonté. Il y a une manière d’agir 
    qui lui est agréable. Il y en a une autre qui ne l’est pas.
  </p><p>
    Nos occupations habituelles, non pas seulement la prière mais le travail et 
    les détentes, deviennent ainsi des lieux de rencontre avec Dieu. Car c’est 
    effectivement à l’intérieur de ces occupations que se fait l’union de notre 
    volonté à celle du Seigneur. Elles peuvent devenir de ce fait des lieux 
    d’amour et d’intimité, des chambres nuptiales où notre vouloir s’unit le 
    plus intensément possible au dessein immédiat de Dieu sur l’instant que nous 
    vivons.
  </p><p>
    Quelle que soit la diversité des heures qui se succèdent, des tâches qui 
    s’enchevêtrent, celle pleine adhésion à Dieu à propos de tout devient notre 
    unique demeure, la préoccupation essentielle de nos journées, ce qui en fait 
    l’unité.
  </p>
  <footer class="source">
    Un frère moine, «&nbsp;Gardez vos lampes allumées&nbsp;», l’attention 
    spirituelle. Édition S<sup>t</sup> Paul, Paris-Fribourg, 1992.
  </footer>
</blockquote>
