2011-11-30T22:31:00
Frère Charles de Foucauld
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/charlesFoucauld.jpg" 
 alt="Charles de Foucauld" 
 width="40%" />
 <img src="uploads/fraternite/blog/charlesFoucauldPriere.gif" 
 alt="Prière de Charles de Foucauld" 
 width="40%" />
</figure>

<blockquote>
  <p class="mlm">
    Mon Père,
  </p><p class="mlm">
    Je m’abandonne à toi, <br>
    fais de moi ce qu’il te plaira.
  </p><p class="mlm">
    Quoi que tu fasses de moi, <br>                                
    je te remercie.
  </p><p class="mlm">
    Je suis prêt à tout, j’accepte tout. <br>
    Pourvu que ta volonté<br>
    se fasse en moi, en toutes tes créatures,<br>
    je ne désire rien d'autre, mon Dieu.
  </p><p class="mlm">
    Je remets mon âme entre tes mains. <br>
    Je te la donne, mon Dieu, <br>
    avec tout l’amour de mon cœur, <br>
    parce que je t’aime, <br>
    et que ce m’est un besoin d’amour <br>
    de me donner, <br>
    de me remettre entre tes mains, sans mesure, <br>
    avec une infinie confiance, <br>
    car tu es mon Père.
  </p>
</blockquote>

Pour découvrir plus amplement la vie de Charles de foucauld et sa 
spiritualité&nbsp;: http://www.charlesdefoucauld.org/fr/biographie.php

