2011-12-03T10:19:00
2<sup>e</sup> dimanche (et semaine&nbsp;!) de l’Avent
«&nbsp;Commencement de la Bonne Nouvelle de Jésus Christ, Fils de Dieu&nbsp;» 
entendrons-nous dans l’Évangile de Marc ce dimanche.

<em>Commencement</em>... <em>Bonne Nouvelle</em>... <em>Jésus</em>... 
<em>Christ</em>... entendez-vous combien ces mots résonnent fort pour nous, pour 
le monde&nbsp;? Quelle densité&nbsp;!!!

Voici l’œuvre de Dieu qui se déploie sous nos yeux. Un commencement, un jour 
particulier, au bord d'un lac, avec quelques hommes... Un commencement qui se 
poursuit aujourd’hui, chaque jour, là où nous sommes, avec nous&nbsp;!!

En ces jours qui nous mènent vers les fêtes de Noël, il s’agit également 
d’ouvrir les yeux, d’avoir accès à la véritable «&nbsp;clairvoyance&nbsp;». 
Ouvrir les yeux et connaître en vérité ce qui se vit autour de nous, en nous. 
Les scintillements des guirlandes peuvent capter notre attention au risque de 
nous éblouir facilement. Mais nous devons rester vigilants, en état de veille.

L’Incarnation du Christ n’est pas de l’esbroufe ni de la poudre aux yeux, mais 
la révélation de la tendresse même de Dieu pour notre humanité. Pour nos 
obscurités comme pour nos clartés. Pour nos mensonges comme pour nos espérances. 
Nos regards doivent alors se tourner vers «&nbsp;l’un de la Trinité&nbsp;» qui 
prend notre chair et voir humblement que la «&nbsp;toute-puissance&nbsp;» de 
Dieu rejoint la «&nbsp;toute-faiblesse&nbsp;» de nos vies.

Noël, pour beaucoup, c’est merveilleux, mais bien plus, pour nous, c’est le 
Salut qui se fait Jour.

