2011-12-12T11:37:00
3<sup>e</sup> Dimanche et semaine de l’Avent ...
<blockquote>
  <p>
    Nous pouvons méditer les paroles et l’exemple de Jean Baptiste.<br>
    Son détachement, son humilité, sa soif de vérité, son zèle brûlant, sa joie 
    parfaite.
  </p><p>
    Plus encore qu’un prophète, Jean est un veilleur.<br>
    Il a guetté la venue du Sauveur dans la prière,<br>
    l’ascèse, le silence, comme la lampe qui brûle et qui luit 
      (Jn&nbsp;5,35).<br>
    À nous aussi, il est demandé de veiller (Mc&nbsp;13,37).
  </p><p>
    Plus encore qu’un disciple, Jean est un éveilleur.<br>
    Il a parlé eaux foules, exhorté tout un chacun,<br>
    aplani le chemin des cœurs, conduit les âmes à la lumière.<br>
    Nous voici appelés à nous éveiller nous aussi, car son retour est proche 
      (Jc&nbsp;5,8).
  </p><p>
    Plus encore qu’un apôtre, Jean est un réveilleur,<br>
    prêchant sans relâche un baptême de conversion (Mc&nbsp;1,4)<br>
    pour ramener à la lumière tout un monde assoupi.<br>
    Nous voilà également invités à réveiller<br>
    les âmes endormies et les cœurs endurcis.
  </p><p>
    Puisqu’il est dit que nous sommes tous par notre baptême<br>
    un peuple de prêtres, de prophètes et de rois,<br>
    oui, soyons comme Jean, des veilleurs éveilleurs et des éveilleurs 
      réveilleurs&nbsp;!<br>
    N’est-ce pas pour cela que le Seigneur nous a placés<br>
    sur les remparts de la ville et aux portes de nos cœurs&nbsp;?
  </p><p>
    En parlant enfin aux chrétiens de la ville de Thessalonique<br>
    Paul n’emploie pas un autre langage.<br>
    Mais avec lui le message s’intériorise et s’approfondir encore.<br>
    Frères, soyez toujours dans la joie, priez sans relâche.<br>
    Rendez grâce en toute circonstance (1&nbsp;Th&nbsp;5,16-18).<br>
    Trois petits versets. Les plus courts de la Bible.<br>
    Chacun composé d’un verbe&nbsp;: se réjouir, prier, rendre grâce&nbsp;;<br>
    et d’un adverbe reprenant, et avec quelle insistance, la même idée<br>
    pour dire que ce doit être&nbsp;: toujours, incessamment, constamment.
  </p><p>
    C’est dire combien, à présent, tout est révélé, tout est donné,<br>
    tout est accompli.<br>
    En ces temps qui sont les derniers, comme dit la lettre aux Hébreux,<br>
    nous pouvons donc être orientés tout entiers, toujours et partout,<br>
    vers l’attente du Seigneur. Car il est là et il vient à chaque instant.
  </p><p>
  <footer class="source">
    Extrait d’une méditation du Père Pierre-Marie Delfieux, 
    Fraternité Monastique de Jérusalem.
  </footer>
</blockquote>

