2011-12-25T18:58:00
26 décembre&nbsp;: Fête de la saint Étienne
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/martyreStEtienne.jpg" 
 alt="Martyre de saint Étienne" 
 width="50%" />
  <figcaption>
    Icône écrite par l’<a href="http://peindre-icones.fr">Atelier S<sup>t</sup> Joseph</a>.
  </figcaption>
</figure>

À l’occasion de la fête de la saint Étienne, les membres de la Fraternité 
célèbrent en l’église de Chalmaison. Plusieurs frères et soeurs renouvellent 
leurs engagements pour un an, et de nouveaux membres demandent leur insertion 
dans la Fraternité.

Voici la prière universelle de la célébration&nbsp;:

<blockquote>
  <p>
    Prions notre Seigneur&nbsp;: dans l’Église naissante, il a fait resplendir 
    en saint Étienne la force de sa grâce.
  </p>
  <p class="txtcenter">
    <strong>R<sub>/</sub> Exauce-nous, Seigneur de gloire&nbsp;!</strong>
  </p>

  <p>
    Béni sois-tu, Seigneur pour le ministère de saint Étienne&nbsp;!<br>
    Donne à ton Église de nouveaux Apôtres et de nouveaux diacres animés par 
    l’Esprit Saint au service de la mission et du service des plus démunis. 
    Soutien de ta présence notre père Évêque, présent ici ce soir, dans sa tâche 
    de Pasteur et tous ceux qui collaborent à sa mission.
  </p><p>
    Béni sois-tu Seigneur pour le témoignage de saint Étienne&nbsp;!<br>
    Remplis de ta force tous les baptisés et les messagers de ta Parole afin que 
    ton Évangile soit annoncé aux extrémités de la terre, et particulièrement 
    dans les nouveaux pôles missionnaires du diocèse.
  </p><p>
    Bénis sois-tu Seigneur pour la mort de saint Étienne&nbsp;!<br>
    Féconde par elle ton Église qui se trouve en Seine et Marne et donne-lui 
    l’audace nécessaire pour faire resplendir ta gloire et ta miséricorde.
  </p><p>
    Béni sois-tu Seigneur pour la vie glorieuse de saint Étienne&nbsp;!<br>
    Aide-nous à vivre en vrai disciple, joyeux de te servir dans nos frères et 
    sœurs et disponibles à répondre à tes appels en tout temps.
  </p>
</blockquote>
