2012-01-13T11:22:00
Saint Hilaire de Poitiers
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/hilairePoitiers.jpg" 
 alt="Saint Hilaire Poitiers" 
 width="50%" />
</figure>

Saint Hilaire de Poitiers dont l’Église fait mémoire aujourd’hui, nous ramène à 
quelques pas des fêtes de la Nativité, lui qui a défendu la divinité et 
l’humanité de Jésus, le Christ, vrai Dieu et vrai Homme&nbsp;!

Quelques mots à propos de Noël de frère Bernard, moine bénédictin en Belgique, 
pour éclairer notre chemin en ce jour et la contemplation que nous faisons de ce 
Dieu qui a pris notre humanité, notre chair&nbsp;!

<blockquote>
  <p>
    Nous aussi, dans l’obscurité du monde, nous avons reçu la lumière de notre 
    foi, et nous sommes venus pour bénir Dieu d’avoir béni le monde, lui le 
    premier, alors même que le monde ne le connaît pas, ou ne sait plus le 
    reconnaître.
  </p><p>
    C’est ce que nous lisons dans cette première page de l’évangile de Jean, qui 
    ne nous parle pas de la crèche, des anges et des bergers, mais de la lumière 
    qui éclaire tout homme et que le monde ne reconnaît pas. C’est un texte 
    dramatique qui pourrait nous autoriser à gémir sur le conflit incessant 
    entre la lumière et les ténèbres et l’échec de ce Dieu qui n’est pas reçu 
    quand il vient chez les siens. Mais ce drame n’a pas arrêté Dieu, il n’a pas 
    empêché son Fils de venir parmi nous&nbsp;; Dieu n’a pas joué perdant au 
    départ&nbsp;; il a simplement joué doucement, humblement.
  </p><p>
    Jean nous dit que le Verbe, le <em>Logos</em> des grecs, le Verbe qui 
    ordonne tout, la raison qui est la logique du monde et de la vie, la Sagesse 
    éternelle de la Bible, que ce Verbe s’est fait chair. Cette phrase inouïe 
    qui est au cœur de notre Credo fait la singularité de notre foi chrétienne. 
    Nous ne fêtons pas seulement l’anniversaire de la naissance d’un merveilleux 
    prophète dont les paroles nous inspirent toujours. Nous croyons que cet 
    homme, Jésus de Nazareth, était le Fils de Dieu venu en notre chair pour y 
    vivre notre vie d’hommes jusqu’à notre mort même. Nous célébrons aujourd’hui 
    les noces de Dieu et de la chair. Et c’est bien pourquoi nous pouvons 
    toujours encore regarder notre humanité avec éblouissement, la merveille de 
    la vie, la beauté des corps, la fête des sens, mais aussi notre pauvre chair 
    mortelle, les corps défigurés, les cœurs blessés. Nous n’avons jamais fini 
    de contempler le bel enfant de Noël et le corps pantelant sur la croix, le 
    jeune prophète vigoureux et le corps de lumière du Ressuscité. Parce qu’au 
    cœur de notre Histoire le Fils de Dieu a pris chair, nous ne pouvons jamais 
    désespérer de notre humanité, puisque Dieu est en son cœur&nbsp;; nous 
    continuons au contraire à l’honorer, à la secourir, à la soigner, à la 
    chérir, et à laisser l’amour de Dieu la transfigurer.
</blockquote>

