2012-01-20T17:20:00
Unité des Chrétiens
<blockquote>
  L’unité des chrétiens est un don de Dieu, qu’il nous en fasse la grâce&nbsp;!
</blockquote>

Pour nous plonger dans cette belle semaine de prière, et pour élargir l’espace 
de notre tente, un petit coup d’œil sur cette belle vidéo du <em>Jour du 
Seigneur</em>&nbsp;!! (16&nbsp;min)

<p class="txtcenter">
  <a href="https://videotheque.cfrt.tv/video/diversite-et-unite-des-chretiens-a-jerusalem/">Diversité et unité des chrétiens à Jérusalem</a>
</p>

