2012-02-03T10:27:00
Vie consacrée
<p class="txtcenter italic">
  «&nbsp;Je me suis fait le serviteur de tous…<br>
  Je me suis fait tout à tous…&nbsp;»<br>
  (1 Cor 9, 16-23)
</p>

Le 2&nbsp;février dernier, les diocèses invitaient leurs communautés locales à 
prier pour la vie consacrée. Dans la dynamique de l’année pour la foi, 2012 est 
aussi l’occasion de «&nbsp;Promouvoir la vie consacrée&nbsp;». Ces quelques mots 
de saint Paul nous donnent alors un bref aperçu de ce que signifie «&nbsp;être 
tout donné à Dieu&nbsp;».

Être donné… c’est se mettre à l’école du Christ&nbsp;!

À la suite de celui qui s’est fait pauvre, en se dépouillant de tout ce qui fait 
obstacle à la relation avec autrui, soi-même et son Père… Être pauvre, démuni, 
pour s’enrichir de l’autre, de ce qu’il porte, de ce qu’il me donne de vivre…
même si il y a de la violence, du rejet…

Un Christ obéissant, c’est-à-dire, qui accomplit en lui la volonté du Père, non 
par soumission servile, mais par un amour qui s’abaisse pour laver les pieds de 
ses disciples, de ses amis&nbsp;!

Un Christ qui se fait tout à tous, libre d’aimer véritablement, et en 
vérité&nbsp;! Sans entraves, ni désirs désorientés… Un amour qui regarde l’autre 
pour ce qu’il est, et qui lui permet de s’épanouir dans son être même&nbsp;! 
Sans projet ni manipulation ni domination…

Être donné… c’est se mettre à l’écoute de la vie du monde où le Christ est 
vivant, ressuscité, pour rejoindre ceux et celles qui peinent, qui souffrent…
mais aussi qui courent à tous vents, sans savoir où aller… Sans savoir à qui se 
donner&nbsp;!

Se donner, c’est être un don de Dieu pour le monde. C’est devenir frère ou sœur 
de tous, et de chacun dans le Fils bien-aimé qui s’est donné en nourriture pour 
la vie du monde.

<p class="txtcenter">
  <a href="https://eglise.catholique.fr/approfondir-sa-foi/vivre-sa-foi-a-tous-les-ages/etre-appele-chacun-sa-vocation/369894-flashmob-brother-sister-act-missionnaires-de-lesperance/">Flashmob «&nbsp;Brother &amp; Sister Act, missionnaires de l’espérance&nbsp;»</a>
</p>
