2012-02-14T11:37:00
Saints Cyrille et Méthode
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/cyrilleMethode.jpg" 
 alt="Saints Cyrille et Méthode" 
 width="50%" />
  <figcaption>
    Saints Cyrille et Méthode, créateurs du premier alphabet slave
  </figcaption>
</figure>

Saints Cyrille et Méthode, deux frères qui ont su donner la possibilité à 
certains peuples aux carrefours de l’Europe, pris entre Byzance et les Royaume 
des Francs, de célébrer Dieu dans leurs cultures&nbsp;! Initiative sans 
précédent qui nous permet de nous souvenir aujourd’hui encore que la Bonne 
Nouvelle doit se faire accessible à tous. Dans un même contexte, il n’y a qu’à 
penser aux nombreuses traductions de la Bible ou de l’Évangile réalisées dans le 
monde ou en cours de réalisation.

Ces deux grands saints nous invite aussi à respirer avec les deux poumons de 
l’Église que sont l’Orient et l’Occident&nbsp;! Et à prier pour l’unité 
européenne&nbsp;!

