2012-02-21T21:25:00
Carême 2012
<blockquote>
  Des frères moines firent l’éloge d’un autre moine devant abba Antoine.<br>
  Celui-ci l’ayant reçu, l’éprouva pour voir s’il supportait l’injure&nbsp;; et, 
  voyant qu’il ne la supportait pas, il lui dit&nbsp;:<br>
  «&nbsp;tu es comme un édifice dont la façade est magnifique,<br>
  mais dont l’arrière est pillé par les voleurs&nbsp;».
</blockquote>

Cet apophtègme des moines du désert des premiers siècles de l’Église, nous 
invite à perdre quelques belles illusions sur nous-mêmes et sur ce que nous 
montrons aux autres. Le Carême qui débute ces jours-ci est un chemin au désert 
où nous aurons à nous purifier des scories qui encombrent notre existence, notre 
être profond et qui nous coupent de la relation avec les autres, Dieu et 
soi-même. L’Évangile des Tentations du Christ nous montrera également que les 
tentations du pouvoir et de la possession nous assaillent et mettent à mal notre 
filiation divine.

Alors ces 40 jours au désert ne sont pas de trop, mais bien un temps privilégié 
pour la conversion. Il ne s’agit pas de faire un effort d’introspection du type 
«&nbsp;mini-psychothérapie&nbsp;», mais d’entrer plus avant dans ce qui fait la 
beauté de notre vie d’enfants de Dieu. Il nous faut pour cela «&nbsp;passer au 
cœur&nbsp;» pour y entendre la Parole de tendresse du Père. «&nbsp;Ouvrir 
l’oreille de notre cœur&nbsp;» pour y percevoir dans le silence le doux 
bruissement du Verbe qui donne vie. Laisser notre cœur être saisi par l’Esprit 
de sainteté, lui qui vient faire toutes choses nouvelles en nous si nous 
l’accueillons.

Le Seigneur est avec nous pour ce temps au désert. Dans la Bible, nous voyons 
que ce lieu est propice à la révélation, au dévoilement de son Mystère 
d’alliance. Avançons-là où il n’y a plus rien, là où le manque se fait 
ressentir, là où nous devenons fragiles, humbles. Avançons-là où Dieu se 
tient&nbsp;!

<p class="txtright italic">
  Bon carême, bon désert&nbsp;!
</p>
