2012-03-15T11:04:00
«&nbsp;Où sont Amour et Charité, Dieu est présent&nbsp;!»
S’abaisser pour être élevé&nbsp;! Quelle étrange idée…&nbsp;!<br>
Voilà cependant ce que Dieu fait pour nous. Il s’abaisse jusqu’à nous.<br>
Jusqu’à nous donner son Fils. Jusqu’à nous laver les pieds.<br>
Il s’abaisse pour nous relever, nous rétablir dans notre dignité d’enfants 
bien-aimés.

Et cela est gratuit. C’est un don.<br>
C’est le mouvement du cœur de Dieu qui s’approche de chacun, tel qu’il est, 
pour lui ouvrir les portes du Royaume. Les portes de la Vie.

Il n’y a plus alors d’enfermements, plus de ténèbres… Mais un éclat radieux. 
Une douce lumière qui n’aveugle pas, mais qui dévoile ce visage de tendresse du 
Père.

S’élever en s’abaissant. Quel chemin pour nous&nbsp;!<br>
Voilà cependant ce que nous devons faire en laissant l’Esprit agir.<br>
En nous mettant à la portée des plus faibles, des plus petits…<br>
Nous donner à eux jusqu’à leur laver les pieds.<br>
Les élever en nous abaissant, pour les rétablir dans leur dignité de frères, de 
sœurs en humanité.

Et à la croisée des deux chemins, l’Amour de Dieu sera tout en tous&nbsp;!

