2012-03-26T10:59:00
Annonciation...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/annonciation.jpg"
 alt="Annonciation" 
 width="50%" />
</figure>

<blockquote>
  Marie nous appelle dans le Verbe<br>
  et dans l’Esprit nous laisser aller<br>
  Dans la Joie du DON<br>
  Vers le Père<br>
  Vers nos Frères
  <footer class="source">
    Poème de Frère Christophe, moine de Tibhirine, Algérie.
  </footer>
</blockquote>

