2012-03-30T13:52:00
«&nbsp;Il ne s'est pas dérobé...&nbsp;»
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/rameaux.jpg"
 alt="Rameaux" 
 width="50%" />
</figure>

La célébration des Rameaux s’ouvre par une grande procession où, rameaux en 
mains, nous suivons le Christ entrant à Jérusalem. Le cœur plein de joie nous 
entonnons des «&nbsp;<em>Hosanna</em>, béni soit Celui qui vient nous 
sauver&nbsp;!&nbsp;».

Oui, après ces semaines de Carême nous entrons nous aussi plus en avant dans la 
Cité sainte. Mais la suite des lectures, et particulièrement la lecture de la 
Passion, nous fait prendre conscience que si nous acclamons le Messie dans un 
premier temps, nous sommes capables aussi de nous détourner de Lui et de 
réclamer sa Crucifixion&nbsp;!

Il nous faut donc rester fidèles à cette «&nbsp;<em>secula Christi</em>&nbsp;», 
à cette suite du Christ, jusqu’au bout. Lui qui est allé jusqu’au bout de sa 
Passion, est resté fidèle à l’Amour de son Père. «&nbsp;Il ne s’est pas 
dérobé&nbsp;» nous dit l’Écriture. Le chemin du don de soi n’est pas simple car 
pas toujours compris par nos contemporains.

Jésus ne fuit pas sa Passion. Il la vit jusqu’au bout par solidarité à nos 
souffrances, par solidarité dans notre combat contre le mal. Sa mort n’est pas 
un échec. Elle est le lieu du Salut de notre humanité. Car nos chemins de vie 
comportent des chemins de Croix, mais aussi des aubes pascales où tout reprend 
vie dans le Souffle de Dieu.

En Christ, la Vie et l’Amour triomphent de la mort et du mal.

À nous de passer avec lui&nbsp;! Que viennent les jours de victoire et de 
joie&nbsp;!

