2012-04-03T10:50:00
«&nbsp;Quelle semaine&nbsp;!!&nbsp;»
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/outilsDeLaPassionArcabas.jpg"
 alt="Les outils de la Passion Arcabas" 
 width="50%" />
  <figcaption>
    «&nbsp;Les outils de la Passion&nbsp;» Arcabas.
  </figcaption>
</figure>

Au cours de cette semaine nous entendrons des paroles, des cris, des jugements, 
des pleurs, la clameur de la foule, le bruit du marteau...

Au cours de cette semaine nous entendrons le Verbe lui-même dire «&nbsp;Père, 
pardonne-leur, ils ne savent pas ce qu’ils font&nbsp;!&nbsp;»

Des paroles, des bruits... Une Parole, un Silence...

Alors faisons nôtre ce Silence. Laissons en nous ce silence venir tout 
accomplir... Faisons taire nos pensées, nos jugements, nos doutes, nos 
espérances...

Seul dans le silence du matin, d’une aube nouvelle, nous entendrons ce que Dieu 
nous dira au creux du tombeau vide, ouvert à la Vie.

Dans le silence, nous vivrons de la douceur de son Amour&nbsp;!

