2012-04-09T18:14:00
Octave pascale
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/arcabasResurrection.jpg"
 alt="Arcabas - Résurrection" 
 width="50%" />
  <figcaption>
    «&nbsp;Résurrection&nbsp;» Arcabas.
  </figcaption>
</figure>
               
La résurrection du Christ nous invite à aller plus loin dans notre foi. Le vide 
du tombeau est un signe en creux. Rien d’évident dans un premier temps car c’est 
au-delà de ce que nous imaginons. Les Onze, les disciples d’Emmaüs, les femmes 
au tombeau ont mis du temps à entrer dans ce «&nbsp;jour nouveau&nbsp;», dans ce 
huitème jour de la Création où Dieu fait toutes choses nouvelles. Nous avons 
tellement envie que tout soit simple, raisonnable...

Mais il nous faut aller plus loin... avancer en eaux profondes&nbsp;! Plonger, 
comme Pierre, pour nager vers un rivage où se tient Celui qui nous appelle par 
notre nom.

Et pourtant Il est Ressuscité, Il est vivant, présent. Il se fait reconnaître en 
son corps à ses amis par des chemins de communion. Il ne se manifeste pas en 
puissance mais en douceur. Il sollicite notre foi. L’appelle.

En lui, la mort est vaincue et la vie éternelle offerte à tous. Sa victoire nous 
promet la nôtre. Sa résurrection nous entraîne à sa suite. Certes, la mort est 
encore présente en nos vies, mais avec Lui nous pouvons désormais les traverser 
en confiance, en sachant que nous ne seront pas abandonnés. Il est Celui qui est 
passé au-devant de nous dans l’abîme. 

Aimons-nous de cet amour fou et sans limites qui transforme cette aube pascale 
en premier jour d’une création nouvelle où l’Alliance avec Dieu redevient 
possible. Oui vraiment, vivons de cette joie pascale&nbsp;! 


