2012-04-21T10:04:00
«&nbsp;L’Au-delà du verset...&nbsp;»
<blockquote>
  «&nbsp;L’Au-delà du verset...&nbsp;»
  <footer class="source">
    Expression reprenant le titre d’un ouvrage paru aux Éditions de minuit (1982)
    du philosophe Emmanuel Levinas.
  </footer>
</blockquote>

Dans l’Évangile de ce dimanche (Lc&nbsp;24, 35-48), Jésus ouvre l’esprit de ses 
disciples à l’intelligence des Écritures. La <em>lectio divina</em> chrétienne 
puise sans doute là ses racines dans la continuité des commentaires 
talmudiques... Depuis des siècles, les Pères ont lu les Écritures dans ce 
souffle de l’Esprit permettant une liberté d’interprétation et de commentaires. 
Lectures qui s’appuient sur l’Ancien Testament vu comme préparation à la venue 
du Christ et l’expérience pascale de la Résurrection au matin de Pâques.

Aujourd’hui encore, nous avons à lire les Écritures pour y laisser Dieu se 
révéler à nous. Dans nos vies. Ainsi, je cherche et je suis cherché... Je suis 
touché par elle, elle m’atteint aux jointures... Il y a un travail d’enfantement 
à faire, à vivre... Les Écritures deviennent alors Parole de Vie, Parole d’un 
Amour indicible.

Alors enfanté par l’Esprit à cette intimité divine, j’en deviens nécessairement 
témoin ...

