2012-04-27T09:42:00
«&nbsp;Je suis le bon pasteur...&nbsp;»


<figure class="txtcenter">
 <img src="uploads/fraternite/blog/bonPasteurArcabas.jpg"
 alt="Arcabas - Le bon berger" 
 width="50%" />
  <figcaption>
    Arcabas, «&nbsp;le bon berger&nbsp;» Église S<sup>t</sup>&nbsp;Hugues de 
    Chartreuse
  </figcaption>
</figure>

La lecture de notre Évangile dominical pourrait résonner avec quelques discours 
politiques actuels. Certains assurent être le bon pasteur pour le pays, ils vont 
chercher les brebis égarées du 1<sup>er</sup> tour, et tentent de les consoler, 
de les ramener au bercail...

Loin de moi l’intention de faire une lecture politique de ce passage de Jean, 
telle celle de «&nbsp;la théologie de la Libération&nbsp;» des années 70, mais 
il y a sans doute à contempler le travail et la fatigue de ce bon pasteur envers 
ses brebis.

Notre Fraternité reprend dans ses intuitions premières (cf. texte de la Charte) 
ce désir d’aller vers tous, à tous. De ne pas compter les heures ni la fatigue 
pour que la Bonne Nouvelle du Christ ressuscité rejoigne le coeur et la vie de 
chacun. Là où nous sommes, là où ils sont.

Il s’agit non seulement de contempler l’action de ce bon pasteur mais aussi 
d’enraciner nos actes dans les siens. Et de donner notre vie comme Lui.

