2012-04-30T16:38:00
À propos du 1<sup>er</sup> mai...
Puisqui’l y a travail et travail, et qui’l y a concurrence entre Joseph et 
Jeanne, je suggère que l’on dépasse ces faux-débats&nbsp;:

  1. en relisant tous les chapitres de la doctrine sociale de l’Église sur le 
  travail, 
  2. en faisant mémoire des autres saints du jour, car eux aussi ils ont suivi 
  tous les jours le Christ par le don de leur vie aux autres, 
  3. en travaillant ce 1<sup>er</sup> mai à notre sainteté&nbsp;!!!

