2012-05-16T20:07:00
«&nbsp;Vers les hauteurs...&nbsp;»
<blockquote>
  S’exercer à gravir le sommet en se rappelant que la vie est une ascension vers 
  les hauteurs, et non un repos sur les hauteurs.
  <footer class="source">
    Un moine chartreux.
  </footer>
</blockquote>

Les fêtes de l’Ascension et de la Pentecôte nous appellent à vivre dans 
l’espérance et dans l’Esprit qui nous est donné. Le Christ ne nous abandonne pas 
en montant à la droite du Père ni ne nous laisse seuls pour le témoignage de vie 
ni sans force pour ce cheminement qui nous élève à notre tour vers le ciel. 
L’Esprit que nous recevons ne fait pas de nous des esclaves ou des gens vivants 
dans la peur, mais nous dynamise du souffle même qui anime l’agir de Dieu. La 
«&nbsp;Force d’en-haut&nbsp;» est celle qui nous permet à la fois d’être 
«&nbsp;dans le Temple à bénir Dieu&nbsp;» et d’être «&nbsp;le sel et la 
lumière&nbsp;» au milieu du monde. À l’exemple d'Étienne...

Car vivre du Christ, c’est incarner à notre tour la présence aimante de Dieu. 
C’est l’exprimer par les mots et en même temps en rayonner par les actes. C’est 
donc prendre le temps d’un «&nbsp;tête à tête&nbsp;» avec le Christ dans 
l’écoute de l’Évangile chaque jour, dans la pratique des sacrements –&nbsp; pain 
pour la route, comme on le dit parfois&nbsp;– et dans le même temps, s’investir 
dans un face à face avec ceux qui souffrent ou encore, prendre le parti de la 
justice quand c’est nécessaire. Notre message évangélique dont nous sommes les 
témoins, les dépositaires n’est donc pas qu'une répétition, mais l’occasion 
d’imprégner le monde de l’Esprit d’Amour qui nous anime.

Et c’est cela qui déconcerte ceux qui nous entourent&nbsp;! On pensait connaître 
le scénario du film biblique, et voilà que le monde s’embrase d’un feu nouveau. 
D’une parole nouvelle. D’une présence divine. Et si tout est accompli dans le 
Christ, il nous reste à retrousser nos manches, à ouvrir nos cœurs pour que ce 
Royaume de justice et de paix s’établisse. Non par force, mais dans la douceur 
de l’Esprit «&nbsp;qui guérit ce qui est blessé, baigne ce qui est aride, lave 
ce qui est souillé&nbsp;»…

