2012-06-05T15:37:00
Saint Norbert
La vie de saint Norbert est tumultueuse&nbsp;! Né dans une riche famille noble, 
sa conversion fût aussi radicale que celle de saint Paul. De même son élan 
missionnaire et sa volonté de suivre «&nbsp;pauvre, le Christ 
pauvre&nbsp;»&nbsp;!!

Pour en savoir plus sur sa vie et son action apostolique, 
<a href="http://www.mondaye.com/histoire/histoire-de-lordre">cliquez ici</a>.

La Fraternité se retrouve bien dans les inspirations et dans certains points de 
la vie des Prémontrés&nbsp;! (D’ailleurs son modérateur a grandi à l’ombre de la 
première maison fondée par Norbert&nbsp;!! un signe&nbsp;??)

Que saint Norbert nous aide à vivre notre «&nbsp;<em>sequela Christi</em>&nbsp;» 
avec ferveur, désireux ainsi de vivre en frères et soeurs à l’image des 
premières communautés chrétiennes, dans une vie simple, fraternelle et ouverte à 
tous, dans un zèle apostolique qui nous rend attentifs et accueillants&nbsp;!


