2012-06-19T15:10:00
Au sujet d'un régime...
Aujourd’hui l’Église fait mémoire de S<sup>t</sup>&nbsp;Romuald, fondateur des 
Camaduldes (<a href="https://nominis.cef.fr/contenus/saint/1352/Saint-Romuald.html">pour découvrir sa vie</a>). 

À table, ce midi, quelques mots sur notre régime alimentaire...

En écho, voilà ce que dit le biographe de S<sup>t</sup>&nbsp;Romuald&nbsp;:

<blockquote>
  <p>
  Arrivé à une extrême vieillesse, il jeûnait encore tous les jours, et, pendant 
  le carême, il se contentait d’une écuelle de légumes à son unique repas. 
  Quelquefois il demandait certains mets afin de les voir, d'en faire le 
  sacrifice à Dieu et de se moquer de la sensualité&nbsp;: 
  </p><p>
  «&nbsp;Voilà un bon morceau bien apprêté, Romuald, disait-il&nbsp;; tu le 
  trouverais bien de ton goût, n’est-ce pas&nbsp;? Eh bien&nbsp;! Tu n’y 
  toucheras pas, et tu n’en auras eu la vue que pour te mortifier 
  davantage.&nbsp;» 
  </p>
</blockquote>

À méditer&nbsp;!!

