2012-06-30T08:57:00
Saint Thibaut de Provins - Prêtre et Ermite
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/saintThibaut.jpg" 
 alt="Statue de Saint Thibaut de Provins" 
 width="50%" />
</figure>

Thibaut est né à Provins, vers 1039. Son père Arnould était apparenté aux comtes 
de Champagne et de Blois. Sa mère descendait de Charlemagne et des comtes de 
Sens. Son parrain, Thibaut&nbsp;III, était comte de Blois et de Champagne. Son 
grand oncle maternel, saint Thibaud, fut archevêque de Vienne de 970 à 1000.

Élevé dans l’entourage de la famille des comtes de Champagne, le jeune Thibaut 
est attiré par la vie érémitique. Il fréquente l’ermite Burchard qui vivait dans 
une île de la Seine, proche de Balloy, au lieu-dit Roselle, à vingt kilomètres 
de Provins. À cet endroit existait une chapelle Notre-Dame-en-l’Isle, ou 
Notre-Dame-de-l’Ermitage.

Vers 1054, accompagné de son écuyer Gauthier, Thibaut quitte Provins pour Reims, 
puis, prenant l’habit de pauvres, se dirige vers la forêt de Chiny (40 kms à 
l’est de Sedan). Sa vie ascétique et la découverte miraculeuse d’une source qui 
lui est attribuée attirent les foules. Fuyant la popularité, il se réfugie à 
Pittange (20&nbsp;km au nord de Luxembourg) qui dépendait à cette époque du 
diocèse de Trèves et de la Lotharingie. Thibaut et Gauthier y partagent la vie 
des paysans et fabriquent du charbon de bois. Pour cette raison saint Thibaut a 
été pris pour patron par les charbonniers et par les <em>carbonari</em> italiens…

Sa renommée grandissant encore, Thibaut part en pèlerinage à 
Saint-Jacques-de-Compostelle, puis retourne à Trèves où son père vient le 
retrouver. Il se rend ensuite en pèlerinage à Rome. Gauthier étant épuisé, il ne 
peut s’embarquer à Venise pour un ultime pèlerinage en Terre Sainte&nbsp;; il 
s’installe vers 1057 au «&nbsp;désert de Salanique&nbsp;», proche de la bourgade 
de Sossano, au diocèse de Vicence, en Vénétie, afin de mener une vie ascétique. 
Gauthier meurt deux ans plus tard. Thibaut, rejoint par sa mère, continue son 
existence d’ermite, accomplissant des miracles et recevant des visions.

Il est ordonné prêtre par Sindecher, évêque de Vicence. À la fin de sa vie, son 
ami Pierre, abbé de Notre-Dame de Vangadice à Badia Polesine, au sud de Sossano 
(40&nbsp;km), le revêt de l’habit de l’ordre des camaldules (règle de 
Saint-Benoît).

Thibaut meurt à Salanique le vendredi 30 juin 1066. Son corps est inhumé dans la 
cathédrale voisine de Vicence, puis ses reliques sont ramenées à l’abbaye de 
Vangadice.

Canonisé par le pape Alexandre&nbsp;II vers 1073, sa fête est fixée au 
1<sup>er</sup>&nbsp;juillet.

Dès cette époque, un culte est rendu en France à saint Thibaut&nbsp;: ses 
reliques sont ramenées d’Italie, vers 1075 par son frère Arnoul, abbé de 
Sainte-Colombe de Sens et de Saint-Pierre de Lagny. Le passage des reliques du 
saint est suivi de la fondation d’églises et de chapelles qui lui sont 
dédiées&nbsp;: Joigny, Sens, Provins, Lagny, Saint-Thibaut-des-Vignes.

Les pèlerinages s’organisent autour de ces sanctuaires et le culte de saint 
Thibaut se répand très rapidement, de la fin du XIème au XIII<sup>e</sup> 
siècle, tout particulièrement en Lorraine, en Champagne et en Bourgogne.

Ainsi à Joigny, Sens, Provins, Lagny et Saint-Thibaut-des-Vignes, s’ajoutent 
d’autres prieurés entre 1087 et 1290. Les abbayes bénédictines ont joué un rôle 
majeur dans la diffusion du culte de saint Thibaut. Robert de Molesme avait 
d’ailleurs été en 1071, prieur de Saint-Ayoul de Provins, ville natale de 
Thibaut. Plusieurs centaines de lieux furent ainsi dédiés à saint Thiébaut 
jusqu’au XIV<sup>e</sup> siècle.

sources et autres infos sur le site de 
l’<a href="http://www.nd-bermont.fr/content/histoire-de-saint-thibaut">Ermitage 
  Notre-Dame de Bermont</a>. 

