2012-08-11T08:36:00
Sainte Claire
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/sainteClaire.jpg" 
 alt="Icône de Sainte Claire" 
 width="50%" />
</figure>

<blockquote>
  <p><strong>
    R<sub>/</sub> Flamme de charité,<br>
    gloire d’humilité,<br>
    sœur de lumière,<br>
    sainte Claire,<br>
    conduis-nous&nbsp;!
  </strong></p><p>
    Enseigne-nous le silence,<br>
    la maîtrise de l’âme et du corps.<br>
    Ni dedans, ni dehors,<br>
    que le bruit<br>
    n’empêche en nous l’esprit<br>
    d’écouter la Présence.
  </p><p>
    Enseigne-nous la patience,<br>
    l’humble attente,<br>
    l’effort de la foi.<br>
    Qu’un regard sur la croix,<br>
    dans l’amour,<br>
    nous presse à notre tour<br>
    de pardonner l’offense.
  </p><p>
    Enseigne-nous la prudence,<br>
    la sagesse au service de tous.<br>
    Fais jaillir, des remous<br>
    nos cœurs,<br>
    la force du Seigneur.<br>
    Lui seul a la puissance.
  </p><p>
    Enseigne-nous l’espérance,<br>
    le désir de répondre à l’appel<br>
    qui résonne, éternel,<br>
    dans le fond<br>
    de notre être profond.<br>
    Que toute âme s’élance&nbsp;!
  </p>
  <footer class="source">
    Texte de l’Office des Heures, AELF.
  </footer>
</blockquote>
 
Allez voir également <a href="http://missel.free.fr/Sanctoral/08/11.php">ce
  beau texte de Jean-Paul&nbsp;II sur S<sup>te</sup>&nbsp;Claire</a>. 

