2012-08-31T09:45:00
Les saints moines de Rebais
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/rebais.jpg" 
 alt="Monasticon de l’abbaye de rebais" 
 width="50%" />
  <figcaption>
    Monasticon de l’abbaye Saint Pierre de Rebais 
    (<a href="http://www.mauristes.org">source</a>)
  </figcaption>
</figure>

En ces derniers jours d’août, le diocèse célèbre la mémoire des Saints moines de 
Rebais (VII<sup>e</sup> siècle). Saint Aile (ou Agile), originaire de 
Franche-Comté, rejoint après un séjour à l’Abbaye de Luxueil, fondée par 
S<sup>t</sup> Colomban, les Saints frères Dadon et Adon à Rebais pour fonder 
l’abbaye de Jérusalem-en-Brie au bord du cours d’eau Rebascus (Rebais). L’abbaye 
a traversé les siècles jusqu’à la Révolution avant d’être abandonnée puis 
rachetée par un prêtre de Meaux. Aujourd’hui, une partie des bâtiments accueille 
une maison de repos.

Que ceux et celles qui ont semé en terre de Brie la Bonne Nouvelle du Christ 
ressuscité nous soutiennent dans nos efforts pastoraux et nos élans 
missionnaires&nbsp;!

