2012-09-12T19:51:00
Intolérable discours...
<blockquote>
  <p>
    Il est vrai que nous nous réjouissons de voir de nombreuses personnes, de 
    toutes appartenance philosophique ou religieuse, qui respectent et admirent 
    aujourd’hui l’Évangile. Ils nous aident à redécouvrir «&nbsp;Le Christ 
    Philosphe&nbsp;», le «&nbsp;Jésus Médecin&nbsp;» ou le «&nbsp;Christ 
    cosmique&nbsp;». Ils nous aident à démythologiser, voire à démystifier les 
    évangiles. Nous leur sommes reconnaissants.
  </p><p>
    Mais, jusqu’où pouvons-nous aller sur ce chemin&nbsp;? Selon quels critères 
    allons-nous relire, réinterpréter ces Évangiles&nbsp;? N’y a-t-il pas un 
    réel danger à ainsi retailler un Christ à notre convenance, à le réduire à 
    notre propre idéal&nbsp;? Quitte à escamoter ce que nous jugeons 
    «&nbsp;intolérable&nbsp;», pour reprendre le mot utilisé par de nombreux 
    disciples dans la synagogue de Capharnaüm.
  </p><p>
    Non&nbsp;! un Christ «&nbsp;tolérable&nbsp;» ne nous suffit plus. Le choix 
    des disciples de Jésus, notre choix, n’est pas dicté uniquement par 
    l’admiration pour un Évangile fascinant et un personnage remarquable, il est 
    un pari, un engagement risqué, qui va à l’encontre du bon sens, mais il est 
    la confiance éperdue en une personne.
  </p><p>
    La question que nous pose l’Évangile d’aujourd’hui concerne notre vie 
    quotidienne&nbsp;: comment pouvons-nous vivre ce choix très concrètement, 
    sans grandiloquence, sans nous payer de mots, sans scrupules&nbsp;? Comment 
    discerner l’appel du Christ à travers toutes ces paroles des Évangiles, 
    souvent obscures, difficiles, dures, voire un peu contradictoires&nbsp;? 
    Nous entendons de telles paroles de dimanche en dimanche&nbsp;; elles 
    s’accumulent et risquent de finalement se neutraliser.
  </p><p>
    C’est ici que, si nous voulons être des «&nbsp;disciples&nbsp;» fidèles, il 
    nous faut prendre le temps pour «&nbsp;laisser descendre dans notre 
    cœur&nbsp;» toutes ces paroles - et aussi toutes nos propres réflexions et 
    interrogations. Si nous voulons rester avec le Christ et laisser sa parole 
    de vie irradier notre propre vie, nous ne pouvons laisser son message dans 
    notre tête uniquement. Là nous l’avons bien compris. Mais il faut qu’il 
    descende aussi dans notre cœur, dans tout notre corps, dans un comportement 
    tout entier converti.
  </p>
  <footer class="source">
    fr. Pierre, moine à Clerlande (Belgique). Extraits de l’homélie du 
    22<sup>e</sup> Dimanche du Temps ordinaire B.
  </footer>
</blockquote>

