2012-09-13T22:58:00
Exaltation de la Sainte Croix
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/croixBoutiqueAssise.jpg" 
 alt="Croix dans une boutique de souvenirs"
 width="50%" />
  <figcaption>
    dans une boutique de souvenirs à Assise...
  </figcaption>
</figure>

<p class="txtcenter">
  Quand on y pense...<br>
  Exaltation...<br>
  Comment est-ce pensable justement&nbsp;?... la vie qui surgit de la 
  mort&nbsp;?... un crucifié source de Vie&nbsp;?...<br>
  Quel paradoxe&nbsp;!<br>
  Et pourtant... de là jaillit l’Amour infini...<br>
  pour moi...<br>
  pour tous&nbsp;!
</p><p class="txtcenter">
  Dans le souffle de ce Don unique, nous laisser embarquer<br>
  et prendre à bras le corps,<br>
  la Croix où nous serons nous aussi donnés...<br>
  pour tous...<br>
  pour la multitude&nbsp;!
</p>

