2012-09-16T07:33:00
La foi et les actes
<blockquote>
  <p class="txtcenter">
    «&nbsp;Pour celui qui aime vraiment,<br>
    il n’y a plus au monde qu’un visage,<br>
    qu’une présence qu’il retrouve partout et que tout lui rappelle&nbsp;»
  </p>
  <footer class="source">
    Frère Charles de Foucauld
  </footer>
</blockquote>

La foi… les actes…

Ces deux termes ont fait débat dans l’Histoire de l’Église. Et ils ont provoqué 
des situations de conflits, de séparations.

La foi et les actes. Deux termes à ne pas opposer en réalité car au cœur de 
l’Amour. La foi se met en actes quand l’Amour habite le cœur de l’homme où nos 
actes se font dans la certitude que tout homme est à l’image de Dieu. Où la 
véritable fraternité humaine n’est pas un vain mot. Car nous dit le Psaume, le 
pauvre, lui aussi dans sa prière, crie vers Dieu.

La foi et les actes…qui ne deviennent proximités du Père des miséricordes, 
signes du Christ vivant, et souffle de l’Esprit, que si nous reconnaissons 
réellement qui est Dieu pour nous. Sinon, nous nous trompons de combat, 
d’engagement… car il y a pratique et pratique justement…comme il y a foi et foi.

Ce que nous dit le «&nbsp;frère universel&nbsp;», Charles de Foucauld, suite à 
sa bouleversante rencontre avec Dieu, nous invite à relire ce que la caritas 
signifie pour nous aujourd’hui. Car «&nbsp;Dieu est Amour et le Christ n’est que 
Cœur&nbsp;»… Ainsi la vraie caritas n’est pas une piécette jetée hâtivement aux 
pieds du pauvre qui tend la main ni le fruit d’une émotion issue de notre 
sensiblerie. La caritas est le fruit de notre vraie rencontre intime avec le 
Christ qui nous apprend à regarder tout homme comme il le voit. Comme lui 
l’aime. Elle n’est pas qu’un agir moral mais l’être profond du baptisé. Tout 
comme l’Eucharistie n’est véridique que si «&nbsp;elle est communion entre 
frères et sœurs qui acceptent de se réconcilier dans le Christ&nbsp;» (cf. 
<em>Le sacrement de l’Amour</em>, Benoît XVI).

Il y a donc en nous à réconcilier «&nbsp;foi et actes&nbsp;». Il y a à vivre 
l’Eucharistie comme source et sommet du sacrement de la charité. Sacrement de la 
rencontre unitive à Dieu fait chair et d’une caritas engagée à transformer ce 
qui est injustice, tension, pauvreté dans le monde, et dans le cœur de l’homme. 
«&nbsp;Il nous faut aller ainsi continuellement de l’Eucharistie aux hommes et 
des hommes à l’Eucharistie, de l’adoration à l’amour fraternel, du silence à la 
parole…&nbsp;» (cf. René Voillaume, fondateur des <em>Petits frères de 
  Jésus</em>, communauté religieuse issue de la pensée et du message spirituel 
de Ch. de Foucauld).

