2012-09-21T08:46:00
Porteurs de communion...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/taize.jpg" 
 alt="Taizé" 
 width="50%" />
</figure>

<blockquote>
  <p class="txtcenter">
    Pour être porteurs de communion, avancerons-nous, dans chacune de nos vies, 
    sur le chemin de la confiance et d’une bonté du cœur toujours 
    renouvelée&nbsp;?<br>
    Sur ce chemin, il y aura parfois des échecs.<br>
    Alors, rappelons-nous que la source de la paix et de la communion est en 
    Dieu.
  </p>
  <footer class="source">
    Frère Roger
  </footer>
</blockquote>

Le tumulte de l’actualité des jours passés et la cacophonie ambiante des médias, 
m’ont incité à replonger dans les propos du livre <em>Vivre l’aujourd’hui de 
Dieu</em> (édité en 1960) de frère Roger, fondateur de la communauté de Taizé 
(en Bourgogne),. Il y dénonçait le danger des replis identitaires, des 
communautarismes, d’un athéisme militant… Mais encore la violence à venir 
émanant des conditions de vie impossibles pour plusieurs milliards d’êtres 
humains&nbsp;: problèmes des richesses inégales réparties entre Nord et Sud, de 
l’alimentation, de l’éducation, du travail, de l’accès à l’eau…et de l’unité 
entre les religions… Bref, quoi de neuf sous le soleil de 2012 pourrait-on 
constater&nbsp;?

Cependant, l’aujourd’hui de Dieu est à encore vivre maintenant. Ici. Frère Roger 
appelait alors à rester fidèles à Dieu. À ses promesses. À ce que le Christ en 
dévoile au long des pages de l’Évangile. Il invitait à la contemplation, source 
d’un dialogue véritable avec Dieu. Et entre hommes.

Sans doute y a-t-il dans ces propos quelques provocations pour notre quotidien 
où nous préfèrerions de l’action rapide et efficace. Mais dans cette 
contemplation, nous pourrions apprendre à ne pas poursuivre sans cesse notre 
propre pensée, à renoncer aux arguments polémiques et stériles pour, enfin, nous 
ouvrir à une véritable écoute de la «&nbsp;soif du monde&nbsp;», de ceux qui y 
habitent avec nous.

«&nbsp;Une soif du monde…&nbsp;» que seul le Christ peut étancher si nous nous 
laissons embraser par son Amour. Si nous nous accueillons en vérité comme frères 
et sœurs d’un même Père Créateur et Miséricordieux. Si nous ne cherchons pas 
nôtre propre intérêt, mais le bien commun. Le chemin de l’unité du genre humain 
est sans doute encore long à faire, mais il germe déjà. Ne le voyez-vous 
pas&nbsp;?

En tout cas, le Christ a cette volonté de s’affronter au mal, aux souffrances et 
aux violences par son Amour. C’est là sa seule arme. Elle est la nôtre 
aujourd’hui pour vivre en Dieu. Pour vivre ensemble.

