2012-09-29T09:07:00
Avec les archanges et tous les anges...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/inExcelsisDeo.jpg" 
 alt="In excelsis Deo" 
 width="50%" />
</figure>

<p class="txtcenter">
  <strong>...chantons la Gloire de Dieu&nbsp;!!</strong>
</p>

