2012-10-04T10:31:00
Le pauvre d’Assise
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/francoisAssise2.jpg" 
 alt="Saint François d’Assise" 
 width="50%" />
  <figcaption>
    Photo de S<sup>t</sup>&nbsp;François dans la Cathédrale 
    S<sup>t</sup>&nbsp;Rufin à Assise. 
  </figcaption>
</figure>

«&nbsp;Suivre le Christ humble et pauvre&nbsp;» voilà ce que dit l’oraison de ce 
jour&nbsp;! Voilà bien le programme qu’a suivi François... Voilà le nôtre !

Et l’Évangile d’ajouter l’élan missionnaire qui nous fait annoncer la Paix du 
Royaume dans les maisons visitées&nbsp;!

Partir avec rien d’encombrant si ce n’est l’Esprit, ce souffle ténu de Dieu, 
pour aller dans le monde dire la joie de vivre l’Évangile.

Une joie généreuse qui voit l’œuvre de Dieu en toutes créatures et qui en fait 
une louange...

Une joie attentive à la souffrance du petit, du faible, de l’exclu... une joie 
compatissante, pleine de tendresse...

Une joie fraternelle où tous deviennent de «&nbsp;doux rêveurs réalistes&nbsp;» 
dans ce monde complexe...

Une joie qui se fait dialogue en recherche de la Vérité.

Une joie simple, franche, rayonnante.

Une joie qui puise sa source au pied de la Croix, dans les plaies du Christ. 

