2012-10-19T19:39:00
«&nbsp;Allez donc&nbsp;! De toutes les nations faites des disciples&nbsp;!&nbsp;»
<blockquote>
  <p>
    «&nbsp;Les hommes qui attendent le Christ sont encore en nombre 
    incalculable&nbsp;» affirmait le Bienheureux Jean-Paul&nbsp;II dans son 
    Encyclique <em>Redemptoris missio</em> à propos de la validité permanente du 
    mandat missionnaire. Et il ajoutait&nbsp;: «&nbsp;Nous ne pouvons pas avoir 
    l’esprit tranquille en pensant aux millions de nos frères et sœurs, rachetés 
    eux aussi par le sang du Christ, qui vivent dans l’ignorance de l’amour de 
    Dieu&nbsp;» (n. 86). Moi aussi, en convoquant l’Année de la Foi, j’ai écrit 
    que le Christ «&nbsp;aujourd’hui comme alors, nous envoie par les routes du 
    monde pour proclamer son Évangile à tous les peuples de la terre&nbsp;» 
    (Lettre Apostolique <em>Porta fidei</em>, n.&nbsp;7). 
  </p><p>
    Proclamation qui, comme l’indiquait également le Serviteur de Dieu 
    Paul&nbsp;VI dans l’Exhortation apostolique <em>Evangelii nuntiandi</em>, 
    «&nbsp;n’est pas pour l’Église une contribution facultative&nbsp;: c’est le 
    devoir qui lui incombe, par mandat du Seigneur Jésus, afin que les hommes 
    puissent croire et être sauvés. Oui, ce message est nécessaire. Il est 
    unique. Il ne saurait être remplacé&nbsp;» (n.&nbsp;5). Nous avons donc 
    besoin de retrouver  le même élan apostolique des premières communautés 
    chrétiennes qui, petites et sans défense, furent capables, par l’annonce et 
    le témoignage, de diffuser l’Évangile dans l’ensemble du monde alors connu.
  </p><p>
    Il n’y a donc pas lieu de s’étonner du fait que le Concile Vatican&nbsp;II 
    et le Magistère de l’Église qui l’a suivi insistent spécialement sur le 
    mandat missionnaire que le Christ a confié à ses disciples et qui doit 
    constituer l’engagement de l’ensemble du Peuple de Dieu, des Évêques, des 
    prêtres, des diacres, des religieux, des religieuses et des laïcs.
  </p><p>
    Le désir d’annoncer le Christ nous pousse à lire l’histoire pour y découvrir 
    les problèmes, les aspirations et les espérances de l’humanité que le Christ 
    doit  assainir, purifier et remplir de sa présence. Son message est en effet 
    toujours actuel, il descend au cœur même de l’histoire et est capable 
    d’apporter une réponse aux inquiétudes les plus profondes de tout homme. 
    C’est pourquoi l’Église, dans toutes ses  composantes, doit être consciente 
    du fait que «&nbsp;les horizons immenses de la mission ecclésiale, la 
    complexité de la situation présente demandent aujourd’hui des modalités 
    nouvelles pour communiquer de façon efficace la Parole de Dieu&nbsp;» 
    (Benoît&nbsp;XVI, Exhortation apostolique post-synodale <em>Verbum 
      Domini</em>, n.&nbsp; 97). 
  </p><p>
    Ceci exige, d’abord et avant tout, une adhésion de foi renouvelée, 
    personnelle et communautaire, à l’Évangile de Jésus Christ «&nbsp;en un 
    moment de profond changement comme celui que l’humanité est en train de 
    vivre&nbsp;» (Lettre Apostolique <em>Porta fidei</em>, n.&nbsp;8).
  </p>
  <footer class="source">
    Extraits du message du Pape Benoît&nbsp;XVI pour la Journée Mondiale des 
    Missions 2012.
  </footer>
</blockquote>

