2012-10-24T09:25:00
Horaires de la Réco de Dimanche
<p class="txtcenter"><strong>Pour informations&nbsp;:</strong></p>

La Récollection se déroule au Centre Inter-Paroissial (cip) de 
Donnemarie-Dontilly (au 21, rue de Sigy)

  - 9h00&nbsp;: Accueil
  - 9h30&nbsp;: prière, 1<sup>er</sup> enseignement
  - 10h00-11h00&nbsp;: temps personnel, prière
  - 11h00&nbsp;: messe à la Chapelle du CIP
  - 12h00&nbsp;: repas (tiré du sac... chacun apporte un plat à partager)
  - 13h30&nbsp;: 2<sup>e</sup> enseignement
  - 14h00-15h00&nbsp;: prière
  - 15h00&nbsp;: 3<sup>e</sup> enseignement
  - 15h30-16h30&nbsp;: exposition du Saint-Sacrement
  - 16h30&nbsp;: vêpres et salut du Saint-Sacrement

