2012-10-26T09:28:00
«&nbsp;Beaucoup demandent&nbsp;: qui nous fera voir le bonheur&nbsp;?&nbsp;» (Ps&nbsp;4,7)
Oui, ils sont foule aujourd’hui de par notre monde à se poser cette question. À 
rechercher le bonheur…

Suffirait-il en guise de réponse d’édicter une loi garantissant le 
bonheur&nbsp;? La tentation est présente chez certains. Faut-il avancer des 
idées et élaborer des programmes pour «&nbsp;un droit au bonheur&nbsp;»&nbsp;? 
Beaucoup y usent leurs forces… en vain. 

Jésus, du haut de sa montagne, énonce non une loi, mais il enseigne en homme 
heureux, ce qu’est le bonheur. Il est l’envoyé du Père pour cela&nbsp;: nous 
apprendre le bonheur de Dieu. À la manière de Dieu. Et il en sait le prix. Le 
chemin.

Les Béatitudes ne sont pas alors des lois imposées, mais des exemples des 
libérations que la grâce peut produire dans les hommes qui s’ouvrent à elle. Et 
nous sommes devenus croyants parce qu’au cœur de nos vies nous avons vu la joie 
jaillir d’hommes et de femmes en souffrance. Parce que nous avons vu la paix de 
Dieu s’établir là où nous n’entendions que haine et violence…

Le bonheur de Dieu n’est pas ce que nous croyons. Il est bien au-delà. Il est 
d’une certaine manière résumé dans cet adage biblique&nbsp;: «&nbsp;il est 
meilleur de donner que de recevoir&nbsp;». Autre formule ultime du bonheur. 

Ceux qui sont touchés par le don de Dieu, par sa grâce, ne sont plus dans la 
logique mondaine, mais fous d’une sagesse divine et ivres d’une joie parfaite 
qui les poussent à se mettre en marche. Les béatitudes ne sont pas le fruit d’un 
constat bien triste de la pauvreté, du malheur qu’il faudrait apprendre à 
surmonter. Elles sont le lieu où agit l’Esprit au cœur de l’homme. Et qui 
découvre que tout est bouleversé dans le Royaume de Dieu. Bouleversé par un 
Amour plus grand. Par l’Amour victorieux au matin de Pâques.

<p class="txtright">
  <em>(texte inspiré d’une méditation de Fr. Christophe de Tibhirine)</em>
</p>

