2012-11-02T15:23:00
Commémoration des fidèles défunts
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/iconeChrist.jpg" 
 alt="Icône du Christ" 
 width="50%" />
</figure>

La mort, nous la connaissons tous. De part notre naissance, de part la mort de 
nos proches. Elle fait partie de notre existence. Pour beaucoup elle interpelle 
et met l’homme devant le sens de sa vie, de sa vocation. car la mort achève 
toute croissance d’une minute à l'autre. Beaucoup craignent également les 
dernières heures. La souffrance qui y est souvent liée. L’heure de l’agonie est 
troublante pour tous&nbsp;: pour le Christ également.

Et puis pour ceux qui restent,  il y a le temps du deuil. De cette séparation 
plus lente à vivre avec nos défunts. Ce basculement dans d’autres relations. 
Dans d’autres échanges. 

Devant cette énigme, notre foi est interpellée. Où notre vie débouche 
t-elle&nbsp;? Pour nous, le Livre de la Sagesse affirme «&nbsp;que Dieu n’a pas 
fait la mort, il ne se réjouit pas de la perte des vivants&nbsp;» 
(Sg&nbsp;1,13). Et la Résurrection du Christ, premier né d’entre les morts, nous 
indique que Dieu veut poursuivre cette alliance avec nous quelques soient les 
conditions de notre existence. La Pâque du Christ est prémisse de la nôtre. Son 
passage anticipe le nôtre.

Passage que nous avons à vivre chaque jour finalement pour être en 
correspondance avec la vie de Dieu qui est en nous. Au plus profond de nous. 
Dans notre souffle même. Le rituel des funérailles, avec les gestes repris du 
baptême, dit bien finalement ce qui est en jeu durant notre présence ici-bas. 
Que notre vie éternelle commence ici.

Il nous faut donc nous laisser animer par l’Amour de Dieu, par l’Esprit de Vie. 
Faire ce lent et délicat travail d’abandon, de dépossession, pour entrer dans ce 
mouvement de don de soi qui anime la vie de Dieu en lui-même. Sans doute mettre 
à l’oeuvre en nous ce que dit S<sup>t</sup>&nbsp;Paul&nbsp;: «&nbsp;ce n’est 
plus moi qui vit, c’est le Christ qui vit en moi&nbsp;». 

Là sans doute se trouve la clé de toute vie, le seuil à franchir. Chaque jour.

