2012-12-07T16:02:00
Shalom... Salam... Peace... Paix...
<blockquote>
  Comme salutation, le Seigneur me révéla que nous devions dire&nbsp;: 
  «&nbsp;Que le Seigneur te donne la Paix&nbsp;» 
  <footer class="source">
    Saint François d’Assise (in Testament 23)
  </footer>
</blockquote>

Le <em>poverello</em> d’Assise n’a pas toujours été un pacifique&nbsp;! Nous 
connaissons bien son désir d’être chevalier et sa volonté de faire une belle 
carrière militaire.  Mais voilà, sur le champ de bataille, Dieu s’adresse à son 
cœur. La guerre, la violence…mais pour quelles fins&nbsp;??

Son idéal s’effondre, et lentement il ouvre sa vie à la venue du Christ en lui. 
Il lui prépare un chemin. Pour qu’il vienne faire toute chose nouvelle mais 
aussi pour aller avec lui vers toutes les nations… Et nous connaissons le 
périple qui mena François jusque chez les musulmans pour négocier la Paix, et 
toutes les conventions ou chartres collectives pour que la Paix et les droits de 
chacun soient reconnus. Y compris dans son ordre religieux naissant&nbsp;!

Il n’était pas devenu naïf, mais pacifié par l’Esprit de Dieu. Il a saisit que 
la paix entre les hommes ne serait jamais satisfaisante si elle ne venait pas 
d’un plus loin, d’un plus haut… Si elle ne prenait source dans Celui qui s’est 
fait chair pour notre salut.

Aujourd’hui, nous avons à accueillir la Parole de Dieu, à la laisser prendre 
notre chair pour que pacifiés nous prenions la route des hommes pour bâtir une 
fraternité universelle.

Alors, en ce temps de l’Avent, que nos salutations soient de vrais échanges de 
paix&nbsp;! Et que nos échanges de Paix, durant la messe, soient de vraies 
annonces du Salut qui vient&nbsp;!

