2012-12-14T10:12:00
Le pardon comme source de la Paix...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/paixAVous.jpg" 
 alt="Paix à vous" 
 width="50%" />
</figure>

<blockquote>
  <p>
    Avec ce désir d’être libres pour libérer d’autres,<br>
    ce désir de paix pour la communiquer à d’autres,<br>
    jaillit en nous une énergie nouvelle qui vient de Dieu.
  </p>
  <footer class="source">
    Jean Vanier, fondateur de l’Arche.
  </footer>
</blockquote>

Nous voilà à mi-chemin de ce temps de l’Avent. Il nous reste à gravir quelques 
mètres vers la crèche. Vers Celui qui est la source de la Paix. Vers cet 
Enfant-Dieu qui nous délivre du péché. De nos péchés. Et des obstacles qui nous 
tiennent encore loin de nos frères et sœurs…loin de cette communion humaine 
réelle. 

Et si nous allions à la crèche avec non pas un cadeau rutilant pour fêter cette 
naissance merveilleuse, mais avec le désir de recevoir de Lui le pardon&nbsp;? 
Le don de son amour sur nos faiblesses, nos manques, nos ténèbres, nos péchés. 
Et si nous nous abaissions comme Lui&nbsp;? Se faire humble. Reconnaissant que 
tout vient de Lui, par Lui, en Lui… Car le pardon n’est pas une affaire 
volontariste, mais une grâce à recevoir pour la vivre. Une grâce pour notre vie. 

C’est sans doute le cadeau que nous pourrions demander à Dieu dans nos prières 
ces jours-ci&nbsp;: vivre de son pardon. Pour que nos cœurs s’établissent dans 
cette réconciliation, dans ce paisible amour qu’il nous communique chaque jour. 
«&nbsp;Pourquoi ne pas demander au Seigneur de m’accorder la grâce de me laisser 
habiter par son pardon, traverser, irriguer par lui, afin qu’il se propage et 
rayonne comme une chaleur, une lumière, dans le cœur de celui ou celle qui m’a 
fait du mal&nbsp;?&nbsp;» (M. Noncle Petiot).

Car la Paix ne viendra que si nous sommes pardonnés, réconciliés, aimés…

