2012-12-28T13:23:00
Les Saints Innocents
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/iconeInnocents.jpg" 
 alt="Icône des Saints InnocentsIn excelsis Deo" 
 width="50%" />
</figure>

<blockquote>
  <p>
    <span class="small">113.</span> Le 28&nbsp;décembre, l’Église célèbre, 
    depuis le VI<sup>e</sup> siècle, la mémoire des enfants victimes de la 
    fureur aveugle d’Hérode, qui désirait tuer Jésus (cf. Mt 2, 16-17). La 
    tradition liturgique les appelle les «&nbsp;Saints Innocents&nbsp;» et elle 
    les considère comme des martyrs. Tout au long des siècles, l’art, la poésie 
    et la piété populaire ont exprimé les sentiments de tendresse et de 
    sympathie des fidèles envers ce «&nbsp;tendre troupeau d’agneaux 
    immolés&nbsp;»; de tels sentiments ont toujours été accompagnés d’un 
    mouvement d’indignation due à la violence avec laquelle ces enfants ont été 
    arrachés des bras de leurs mères d’avant d’être assassinés.
  </p><p>
    De nos jours les enfants subissent encore d’innombrables formes de violence, 
    qui attentent à leur vie et constituent des attaques contre leur dignité, 
    leur vie morale et leur droit de recevoir une éducation digne de ce nom. Il 
    faut toujours avoir présent à l’esprit la foule innombrable des enfants 
    vivant encore dans le sein de leurs mères et qui sont tués avant même de 
    voir le jour, à cause des lois qui autorisent l’avortement, ce crime 
    abominable. Attentive aux problèmes concrets, la piété populaire a suscité, 
    en de nombreux endroits, des initiatives d’ordre cultuel mettant en valeur 
    le respect du caractère sacré de la vie, ainsi que des gestes de charité 
    dans des domaines aussi divers que l’assistance aux mères qui attendent un 
    enfant, l’adoption des enfants et le développement de leur instruction.
  </p>
  <footer class="source">
    cf. Extrait du «&nbsp;Directoire pour la piété populaire et la 
    liturgie&nbsp;» sur <a href="http://www.vatican.va">www.vatican.va</a>
  </footer>
</blockquote>


