2013-01-02T10:34:00
Rien qu’aujourd'hui
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/potier.jpg" 
 alt="Mains d’un potier" 
 width="50%" />
</figure>

Il y a dans chaque semaine, deux jours pour lesquels on ne devrait pas se 
tracasser.

L’un de ces jours c’est «&nbsp;hier&nbsp;» avec ses erreurs, ses soucis, ses 
fautes et ses bévues, ses maux et ses peines. Hier s’échappe à jamais de nos 
mains.

L’autre jour, c’est «&nbsp;demain&nbsp;» avec ses fardeaux, ses larges 
espérances et ses pauvres accomplissements. Demain est aussi hors de notre 
portée.

Il ne reste qu’un jour&nbsp;: 
«&nbsp;<span class="smallcaps">aujourd’hui</span>&nbsp;».

Tout homme peut livrer les combats d’un seul jour… Ce ne sont pas les épreuves 
d’un seul jour qui rendent les hommes fous, c’est le remords ou la rancœur d’un 
incident qui lui est arrivé hier et la crainte de ce que demain peut apporter.

Vivons donc un seul jour à la fois, juste aujourd’hui.

<p class="txtright italic">
  Méditation extraite du 
  <a href="http://www.carmel.asso.fr">site web du Carmel</a>.
</p>

