2013-02-05T09:29:00
Dans la faiblesse de Dieu...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/agathe.jpg" 
 alt="Martyre de Sainte Agathe" 
 width="50%" />
  <figcaption>
    Giovanni Battista Tiepolo, Martyre de Sainte Agathe
  </figcaption>
</figure>

<blockquote>
  <p>
    Dans la faiblesse de Dieu,<br>
    Les martyrs ont puisé la force&nbsp;;<br>
    Leurs pas dans les pas du Sauveur,<br>
    Ils affrontent l’Adversaire.
  </p><p>
    Enveloppés de tourments,<br>
    Ils redisent le nom du Père&nbsp;;<br>
    Au long du combat pour la foi<br>
    Se consomme le baptême.
  </p><p>
    Près de la croix de Jésus,<br>
    Il rejoignent Marie, sa mère&nbsp;;<br>
    Témoins d’un Seigneur humilié,<br>
    Ils pénètrent son mystère.
  </p><p>
    Leur Défenseur est vivant,<br>
    La lumière espérée se lève&nbsp;;<br>
    La mort a perdu son pouvoir<br>
    Et la paix les transfigure.
  </p>
  <footer class="source">
    CFC (s. Francoise)© CNPL  Lit 56 1986 LMH
  </footer>
</blockquote>

