2013-02-13T10:37:00
Carême 2013
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/careme.jpg" 
 alt="Icône de la petite Thérèse" 
 width="50%" />
</figure>

<blockquote>
  Celui qui laisse entrer le Christ dans sa vie ne perd rien, rien, absolument 
  rien de ce qui rend la vie libre, belle et grande. 
  <footer class="source">
    Benoît&nbsp;XVI, Homélie pour la Messe inaugurale de son pontificat, 
    24&nbsp;avril 2005.
  </footer>
</blockquote>

En ce temps de carême, ouvrons donc largement la porte de nos vies à Celui qui y 
frappe.

Rien ne sera perdu... Tout nous sera donné... Accompli.

