2013-02-17T18:02:00
1<sup>er</sup> Dimanche de Carême... la Vérité vous rendra libres
...échos d’une recollection...

«&nbsp;Tout remettre pour tout retrouver autrement&nbsp;»

«&nbsp;Le fondement de tout discernement chrétien est dans le fait de reconnaître que nous sommes 
fils/filles de Dieu&nbsp;»

<blockquote>
  <p>
    Prends, Seigneur, et reçois<br>
    toute ma liberté,<br>
    ma mémoire, mon intelligence<br>
    et toute ma volonté,<br>
    tout ce que j’ai<br>
    et tout ce que je possède.<br>
    C’est toi qui m’as tout donné,<br>
    à toi, Seigneur, je le rends.<br>
    Tout est à toi, disposes-en<br>
    selon ton entière volonté.<br>
    Donne-moi seulement de t’aimer<br>
    et donne-moi ta grâce,<br>
    elle seule me suffit.
  </p>
  <footer class="source">
    S<sup>t</sup> Ignace de Loyola
  </footer>
</blockquote>

