2013-02-21T22:03:00
Conversion(s)
<blockquote>
  Le serviteur véritable ne se sert pas lui-même ni ce qui est public, mais son Seigneur, en 
  simplicité et générosité... Moins nous rechercherons notre gloire au profit de la recherche de 
  ce qui est juste aux yeux de Dieu, plus notre témoignage sera plus incisif.
  <footer class="source">
    Benoît XVI, Homélie messe des Cendres 2013
  </footer>
</blockquote> 

Chaque carême est un moment privilégié pour nous convertir. Nous en avons l’habitude. Et les 
Écritures portent ce thème avec un rappel pressant le jour des Cendres&nbsp;: 
«&nbsp;convertissez-vous et croyez à la Bonne Nouvelle&nbsp;» (Mt 1, 15). Dans le livre des Actes, 
après la Résurrection du Christ et l’envoi en mission, la prédication de Pierre et des Apôtres 
(cf. Ac 3, 19) inviteront les foules à ce «&nbsp;retournement&nbsp;», et à ce «&nbsp;retour&nbsp;» 
à Dieu. La conversion est donc un élément essentiel de notre foi. De notre vie de baptisé. 

Elle est un appel à un dynamisme. Une révolution même. Elle est liée à une démarche commune 
également. À la communion des saints. À l’Église en marche en ce monde où notre témoignage commun, 
notre foi vécue au quotidien – et dans le plus quotidien de notre quotidien – est signe pour les 
autres d’une Bonne Nouvelle. 

La conversion appelle le retournement du cœur à Dieu. Vers Dieu. Elle appelle à un ajustement de 
notre vie à celle de Dieu. Rude tâche, dira-t-on&nbsp;! Mais un ajustement nécessaire et vital 
pour aimer comme Lui nous aime. Plus nous nous convertissons, plus nous imitons son Amour infini. 
Plus nous devenons «&nbsp;fils dans le Fils&nbsp;»&nbsp;!

Invoquons donc l’Esprit pour qu’il nous aide à ne pas nous détourner de Celui qui fait Alliance 
avec nous. De Celui qui se penche vers notre humanité pour nous faire miséricorde. Car Il est 
Celui qui ne cesse pas de revenir vers nous.

