2013-03-03T20:31:00
Échos d’un passage à Cormontreuil...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/agnes.jpg" 
 alt="Sainte Agnès" 
 width="50%" />
</figure>

<blockquote>
  <p class="txtcenter">
    Mais comme une seule chose est nécessaire,<br>
    je ne rappelle que cette seule chose<br>
    et par l’amour de celui<br>
    à qui tu t’est offerte en victime sainte et agréable,<br>
    je t’en adjure,<br>
    rappelle-toi ton projet,<br>
    sois comme une autre Rachel,<br>
    ne perds pas de vue ton origine,<br>
    tiens ce que tu tiens, fais ce que tu fais,<br>
    et ne l’abandonne pas&nbsp;;<br>
    mais, d’une course rapide, d’un pas léger, <br>
    sans te blesser les pieds <br>
    ni même soulever de poussière en marchant, <br>
    sure, joyeuse et allègre<br>
    emprunte prudemment le raccourci de la béatitude<br>
    n’accorde ni crédit ni consentement<br>
    à ce qui voudrait te détourner de ce projet<br>
    ou mettre un obstacle sur ta route,<br>
    pour que tu ne t’acquittes pas de tes vœux au Très Haut,<br>
    dans cette perfection<br>
    à laquelle t’a appelée l’Esprit du Seigneur.
  </p>
</blockquote> 

Pour lire les 4 lettres de Claire à Agnès de Prague cf. le 
<a href="http://www.freres-capucins.fr/Lettres-a-Agnes-de-Prague.html">site web des frères
  capucins</a>.

