2013-03-08T10:17:00
Conversion...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/ephremLeSyrien.jpg" 
 alt="Saint Ephrem" 
 width="50%" />
</figure>

<blockquote>
  <p>
    Seigneur et Maître de ma vie&nbsp;!<br>
    Éloigne de moi l’esprit de paresse,<br>
    D’abattement, de domination et de vaines paroles.<br>
    <em>(Prosternation)</em>
  </p><p>
    Mais donne à Ton serviteur,<br>
    Un esprit de chasteté, d’humilité, de patience et d’amour.<br>
    <em>(Prosternation)</em>
  </p><p>
    Oui Seigneur Roi,<br>
    Accorde-moi de voir mes propres péchés<br>
    Et de ne pas juger mon frère,<br>
    Car Tu es béni dans les siècles des siècles. Amen.<br>
    <em>(Prosternation)</em>
  </p>
  <footer class="source">
    Prière de S<sup>t</sup> Ephrem dite dans le temps du Carême aux Offices orthodoxes.
  </footer>
</blockquote>

