2013-03-12T14:30:00
Conclave
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/conclave.jpg" 
 alt="Conclave" 
 width="50%" />
</figure>

<blockquote>
  <p class="txtcenter">
    Pasteur éternel, notre Dieu,<br>
    toi qui gouvernes ton Église et la protèges toujours,<br>
    Donne-lui, nous t’en prions, <br>
    le pasteur qu’elle attend&nbsp;:<br> 
    un homme qui ait l’Esprit de l’Évangile<br> 
    et nous guide selon ta volonté
  </p>
  <footer class="source">
    Oraison pour l’élection d’un pape. Extrait du Missel romain. 
  </footer>
</blockquote>

