2013-03-13T21:25:00
266<sup>e</sup>
<p class="txtcenter">
  <strong>Cardinal Jorge Mario Bergoglio, pape François</strong>
</p>

«&nbsp;Jorge Mario Bergoglio, archevêque de Buenos Aires, (à 11000&nbsp;kms du Vieux contient) 
76&nbsp;ans, est né le 17&nbsp;décembre 1936 dans la capitale argentine, d’un couple d’immigrés 
italiens. Il a fait des études d’ingénieur chimiste. Prêtre depuis 1969, dans la compagnie de 
Jésus. Dès 1992, il était évêque auxiliaire de Buenos Aires, promu archevêque en 1998. Très proche 
des pauvres, il n’a pas hésité à laisser le palais épiscopal de la capitale pour aller loger dans 
un simple appartement. Il est coutumier des transports en commun et du métro. Peu présent dans les 
médias, il exprime cependant son opinion pour dénoncer la corruption de la classe politique et la 
crise des valeurs de la société argentine quand c'est nécessaire.&nbsp;» (sources&nbsp;: <em>le 
Monde</em>)

«&nbsp;la pauvreté est une violation des droits de l’homme&nbsp;»

«&nbsp;nous allons commencer un chemin de fraternité, d’amour, de confiance entre nous, et 
d’évangélisation&nbsp;»

