2013-03-14T16:11:00
«&nbsp;Frères et sœurs, bonsoir&nbsp;!&nbsp;»
Ce sont les premiers mots du Pape François. 

Les médias relatent sa simplicité de vie&nbsp;: pas de palais épiscopal mais un appartement en 
«&nbsp;coloc&nbsp;» avec un autre évêque en retraite à qui il faisait la cuisine le soir... Pas de 
voiture rutilante mais le bus ou le métro... Et un petit-dèj pris avec les autres cardinaux... 

Et hier soir, il aurait fait un tour de nuit dans les rues de Rome...

Certains évoquent un «&nbsp;pape normal&nbsp;»... En référence au président «&nbsp;normal&nbsp;»...

Et si on disait plutôt qu’il est normal que l’évêque de Rome, donc pape, vive pleinement 
l’Évangile&nbsp;!!??

Il disait en 2009 au clergé argentin concernant l’accueil au baptême d’enfants issus de familles 
peu croyantes&nbsp;: 

<blockquote>
  La conférence d’Aparecida (Brésil) nous a incités à annoncer l’Évangile en allant vers les gens 
  au lieu d’attendre qu’ils viennent à nous. La ferveur missionnaire ne demande pas d’évènements 
  extraordinaires. C’est dans la vie ordinaire que se fait la mission. Le baptême a valeur 
  d’exemple à cet égard. Les sacrements sont destinés aux hommes et aux femmes tels qu’ils 
  sont&nbsp;: ils ne font peut-être pas tant de discours et pourtant leur <em>sensus fidei</em> 
  perçoit la réalité des sacrements plus clairement que bien des spécialistes.
</blockquote>

L’Évangile comme «&nbsp;chemin de fraternité&nbsp;»... voilà une conviction qui ne nous chagrinera 
pas&nbsp;!! 

