2013-03-15T10:39:00
Simplicité et écologie
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/papamobile.jpg" 
 alt="PapaMobile" 
 width="50%" />
<figcaption>
  source Turbo.fr
</figcaption>
</figure>

Pour des déplacements pontificaux plus simples... une Renault électrique&nbsp;!

C’est la dernière acquisition du Vatican en décembre 2012.

Comme quoi...

