2013-03-21T10:28:00
S<sup>t</sup> François, S<sup>t</sup> Ignace et Jonas
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/papa.jpg" 
 alt="Pape" 
 width="50%" />
<figcaption>
  source News.va
</figcaption>
</figure>

En plus de François d’Assise et de saint Ignace, un autre personnage brille dans le 
«&nbsp;ciel&nbsp;» de Jorge Mario Bergoglio&nbsp;: le prophète Jonas.

Dans une interview qu’il avait accordée en 2007 à la revue internationale «&nbsp;30 Jours&nbsp;» 
et qui est très révélatrice de sa manière d’envisager sa mission de pasteur de l’Église, celui qui 
était alors archevêque de Buenos Aires demanda soudain à Stefania Falasca, qui 
l’interviewait&nbsp;:

«&nbsp;Connaissez-vous l’épisode biblique du prophète Jonas&nbsp;?&nbsp;»

«&nbsp;Non, je ne me le rappelle pas. Racontez-le-moi&nbsp;», répondit la journaliste.

Et Bergoglio d’expliquer&nbsp;:

«&nbsp;Pour Jonas, tout était clair. Il avait des idées claires à propos de Dieu, des idées très 
claires à propos du bien et du mal. À propos de ce que Dieu fait et de ce qu’Il veut, de ceux qui 
étaient fidèles à l’Alliance et de ceux qui, au contraire, étaient en dehors de l’Alliance. Il 
avait la recette pour être un bon prophète. Dieu fait irruption dans sa vie comme un torrent. Il 
l’envoie à Ninive. Ninive est le symbole de tous ceux qui sont séparés, perdus, de toutes les 
périphéries de l’humanité. De tous ceux qui sont en dehors, loin. Jonas a vu que la tâche qui lui 
était confiée consistait seulement à dire à tous ces hommes que les bras de Dieu étaient encore 
ouverts, que la patience de Dieu était là en attente, pour les guérir par Son pardon et les 
nourrir de Sa tendresse. Dieu ne l’avait envoyé que pour cela. Il l’envoyait à Ninive, mais lui, 
il s’est enfui du côté opposé, vers Tarsis&nbsp;». 

«&nbsp;Il s’est enfui devant une mission difficile…&nbsp;», nota la journaliste.

«&nbsp;Non. Ce qu’il fuyait, ce n’était pas tant Ninive que l’amour sans mesure de Dieu pour les 
hommes. C’était cela qui ne rentrait pas dans ses plans. Dieu est venu une fois… "et pour le 
reste, c’est moi qui m’en occupe", voilà ce que s’était dit Jonas. Il voulait faire les choses à 
sa façon, il voulait tout diriger lui-même. Sa ténacité l’enfermait dans ses jugements 
inébranlables, dans ses méthodes préétablies, dans ses opinions correctes. Il avait enfermé son 
âme dans les barbelés des certitudes qui, au lieu de donner de la liberté avec Dieu et d’ouvrir 
des horizons de plus grand service aux autres, avaient fini par rendre son cœur sourd. Comme la 
conscience isolée endurcit le cœur&nbsp;! Jonas ne savait plus que Dieu conduisait son peuple avec 
un cœur de Père.&nbsp;» 

«&nbsp;Nous sommes très nombreux à pouvoir nous identifier à Jonas&nbsp;», remarqua la 
journaliste. 

Bergoglio&nbsp;: «&nbsp;Nos certitudes peuvent devenir un mur, une prison qui enferme l’Esprit 
Saint. Celui qui isole sa conscience et la laisse en dehors du chemin du peuple de Dieu ne 
connaît pas la joie de l’Esprit Saint qui soutient l’espérance. C’est le risque que court la 
conscience isolée. La conscience de ceux qui, depuis le monde fermé de leurs Tarsis, se plaignent 
de tout ou, sentant leur identité menacée, se jettent dans la mêlée pour, finalement, être encore 
plus occupés d’eux-mêmes, faire encore plus référence à eux-mêmes.&nbsp;» 

«&nbsp;Que faudrait-il faire&nbsp;?&nbsp;»

Bergoglio&nbsp;: «&nbsp;Voir les gens non comme ils devraient être mais comme ils sont et voir ce 
qui est nécessaire. Sans prévisions et sans recettes mais avec une ouverture généreuse. Pour les 
blessures et les fragilités, Dieu a parlé. Permettre au Seigneur de parler… Dans un monde que nous 
ne réussissons pas à intéresser par nos paroles, seule Sa présence qui nous aime et nous sauve 
peut intéresser. La ferveur apostolique se rénove pour témoigner de Celui qui nous a aimés en 
premier&nbsp;». 

Dernière question&nbsp;: «&nbsp;Pour vous, donc, quelle est la pire chose qui puisse arriver à 
l’Église&nbsp;?&nbsp;»

Bergoglio&nbsp;: «&nbsp;C’est ce que de Lubac appelle la "mondanité spirituelle". C’est le plus 
grand danger pour l’Église, pour nous qui sommes dans l’Église. "Elle est pire", dit de Lubac, 
"plus désastreuse que cette lèpre infâme qui avait défiguré l’Épouse aimée au temps des papes 
libertins". La mondanité spirituelle, c’est se mettre au centre. C’est ce que Jésus voit faire aux 
pharisiens&nbsp;: "Vous qui vous glorifiez. Qui vous glorifiez vous-mêmes, les uns les 
autres"&nbsp;».

Sources&nbsp;: www.chiesa.it

