2013-03-28T10:22:00
Jeudi Saint&nbsp;: le Christ humble serviteur, et bon pasteur...
À méditer en ce jour&nbsp;!

<blockquote>
  <p><strong>
    Tu es là présent, livré pour nous.<br>
    Toi le tout petit, le serviteur.<br>
    Toi, le Tout Puissant, humblement tu t’abaisses.<br>
    Tu fais ta demeure en nous Seigneur.
  </strong></p><p>
    1 – Le pain que nous mangeons, le vin que nous buvons,<br>
    c’est ton corps et ton sang,<br>
    Tu nous livres ta vie, tu nous ouvres ton cœur,<br>
    tu fais ta demeure en nous Seigneur. 
  </p><p>
    2 – Par le don de ta vie,<br>
    tu désires aujourd’hui reposer en nos cœurs<br>
    Brûlé de charité, assoiffé d’être aimé,<br>
    tu fais ta demeure en nous Seigneur.
  </p><p>
    3 – Unis à ton amour, tu nous veux<br>
    pour toujours ostensoirs du Sauveur,<br>
    En notre humanité, tu rejoins l’égaré,<br>
    tu fais ta demeure en nous Seigneur.
  </p>
  <footer class="source">
    Cote SECLI&nbsp;: D 56-49 Chant de l’Emmanuel 
  </footer>
</blockquote>

