2013-03-29T11:35:00
Ô Croix dressée sur le monde...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/croixArcabas.jpg" 
 alt="Croix par Arcabas" 
 width="50%" />
  <figcaption>
    Arcabas
  </figcaption>
</figure>

Avec Marie, ta mère, avec le disciple que tu aimais, avec les femmes qui te restèrent fidèles, 
Seigneur, je me tiens au pied de Ta Croix.

Vers Toi, j’ose élever les yeux et dans ce regard jeté sur ton sacrifice, j’apprends ce que, à 
travers les paroles mêmes de l’Evangile, je n’avais pas su apprendre. Tes pieds sont cloués au 
bois. Ta croix est le pressoir où la vraie vigne est pressée. Tu n’as pas la possibilité de 
t’éloigner. À ce rendez-vous que tu m’as assigné, tu m’attends. Fixé à la Croix, tu t’astreins à 
cette attente. Je puis ne pas venir mais Toi, Tu es là et tu demeures où Tu t’es laissé mettre.

Tes bras sont étendus. Ils s’ouvrent pour appeler tous les hommes. Ils ne peuvent pas se refermer. 
Les clous les maintiennent dans ce geste qui invite et embrasse. Ils me disent en silence 
«&nbsp;Viens&nbsp;».

Ta tête est baissée. Tu l’inclines dans un mouvement qui acquiesce. Tu as accepté et consommé la 
volonté de Dieu, la tienne donc, autant que celle du Père et de l’Esprit. Tu inclines la tête en 
signe d’obéissance à ce qu’exige envers les hommes l’amour des Trois. En même temps, Ta tête est 
inclinée vers ceux qui sont là en bas. Elle est inclinée vers ceux qui t’ont aimé, vers ceux qui 
ont crié «&nbsp;Crucifie le&nbsp;», vers ceux qui souffrent et se traînent en gémissant, vers ceux 
qui cherchent sans savoir.

Tes yeux sont maintenant fermés. En une même vision intérieure, ils voient le Père, et ils voient 
les hommes, et vers ces deux objets de ton amour va le mouvement de tout ton être.

Le sang coule de ton front, de tes mains, de ton corps flagellé. Il coule lentement, en longs 
ruisseaux. Il va aussi couler de ton flanc ouvert, comme si ton cœur éclatait sous la pression de 
ton amour souffrant. La coupe est répandue en libation.

La couronne d’épines meurtrit ta tête. Tressées en cercle, ces épines sont comme les péchés des 
hommes, assemblés et juxtaposés pour être posés sur toi. Tous les péchés des hommes sont contigus 
et liés ensemble. Le prêtre hébreu, étendant les mains, mettait les péchés sur la tête de la 
victime. Ainsi les hommes ont, de leurs mains, placé le cercle de leurs péchés sur la plus noble 
partie de ton corps, sur ta tête. Mais autour de cette tête, je vois des rayons de lumière. Un 
halo d’or émane de ta tête ensanglantée. Cette buée donne sens à la vision douloureuse. Si je ne 
la percevais pas, je n’aurais qu’une image incomplète du Crucifié car le Crucifié est Sauveur et 
Seigneur.

Jésus, devant ta Croix, je ne parle plus, je ne pense même plus. Je te regarde et, à chaque 
respiration, à chaque battement de mon cœur, je voudrais qu’en moi pénètre plus profondément ton 
image. Entre donc en moi Crucifié rayonnant. Toi que des clous fixèrent à la Croix, sois cloué sur 
mon corps, sous cloué dans mon âme. Que je te porte avec moi pour toujours, te pressant contre 
moi, toi l’Aimé.

 
in Lev Gillet, un moine de l’Église d’Orient, «&nbsp;ils regarderont vers Lui&nbsp;», éditions 
Chevetogne 1975.


