2013-04-03T08:58:00
Octave pascale...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/arcabasResurrection2.png" 
 alt="Résurrection par Arcabas" 
 width="50%" />
  <figcaption>
    Arcabas
  </figcaption>
</figure>

Le Saint-Père a commenté l’Évangile de la rencontre entre le Christ ressuscité et Marie Madeleine, 
une femme dont tous les espoirs ont été déçus et qui pleure. Parfois dans notre vie, a commenté le 
pape François, les larmes sont les lunettes qui nous permettent de voir Jésus. 

«&nbsp;Les larmes nous préparent à voir Jésus&nbsp;»

D’où la nécessité de savoir pleurer. Il faut demander au Seigneur la grâce des larmes. 
«&nbsp;C’est une belle grâce – a affirmé le Saint-Père – de pleurer pour tout&nbsp;: pour le bien, 
pour nos péchés, pour les grâces, pour la joie&nbsp;». «&nbsp;Les larmes nous préparent à voir 
Jésus&nbsp;». «&nbsp; Que le Seigneur nous donne la grâce de pouvoir dire que nous L’avons vu dans 
notre cœur et de témoigner par notre vie&nbsp;: je vis ainsi parce que j’ai vu le Seigneur&nbsp;».

<p><em>source news.va</em></p>

