2013-04-06T08:59:00
Dieu nous aime. N’ayons pas peur de l’aimer...
<blockquote>
  <p class="txtcenter">
    Dieu nous aime. N’ayons pas peur de l’aimer.<br>
    La foi se professe par la bouche et par le cœur,<br>
    par la parole et par l’amour.
  </p>
  <footer class="source">
    Extrait de l’audience générale du 04 avril 2013 du Pape François.
  </footer>
</blockquote>

La peur enferme. La peur paralyse.   
Le Christ ressuscité s’exclame auprès de ses disciples&nbsp;: «&nbsp;Soyez sans 
crainte&nbsp;!&nbsp;» tant ils sont bouleversés par sa présence au milieu d’eux.

La peur empêche toute démarche d’ouverture, de reconnaissance de la présence d’un Autre «&nbsp;au 
milieu de nous&nbsp;».  
Le Christ ressuscité surgit, non comme un fantôme dans nos vies, mais comme Celui qui les 
transfigure.

La peur fige. Elle nous cloue sur place.   
Le Christ ressuscité invite à un passage, à une marche en avant. À le rejoindre en Galilée. Dans 
la «&nbsp;Galilée&nbsp;» de nos villes et villages, à la périphérie de nos existences.

La peur tait la vérité. Annihile la raison.   
Le Christ ressuscité laisse Thomas mettre son doigt dans ses plaies pour que la réalité de la vie 
nouvelle soit saisissable pour Lui.

La peur contraint la joie.    
Le Christ ressuscité éclaire d’un jour nouveau le sens de notre quotidien, de notre monde. Tous 
deux destinés à la plénitude de sa joie&nbsp;!

La peur déforme l’espérance qui est en nous.     
Le Christ ressuscité fait de nous des témoins de l’Amour pour tous. «&nbsp;Fait de chacun un pain 
rompu, un vin répandu&nbsp;» pour les autres…

