2013-04-11T18:36:00
Joie pascale&nbsp;!
<span class="smallcaps">Pâques</span>, c’est la <span class="smallcaps">joie</span> à découvert, 
la vie garantie au foyer&nbsp;: <span class="smallcaps">Jésus</span> souffle sur les braises au 
cœur de chaque apôtre. Il chasse les cendres.

Rendons au Christ la primauté de [la] joie&nbsp;:   
c’est sa joie bien à lui de révéler le Père&nbsp;;   
c’est sa joie tout à lui d'être le Prince et le principe de la Vie&nbsp;;   
c’est sa joie d'être entré à coeur ouvert dans le jeu de nos existences, et d’avoir affronté 
toutes nos morts pour nous en délivrer&nbsp;;   
c’est sa joie, vraiment, d’être le gage et l’artisan de toute résurrection&nbsp;;   
c’est sa joie vive de savoir parler le langage de l’homme, et de pouvoir faire tressaillir pour 
chacun la lettre des Écritures et le coeur des créatures&nbsp;;   
c’est sa joie secrète de demeurer parmi nous par son Esprit, et d’être pour les siens le pain 
d’aujourd'hui&nbsp;;   
c’est sa joie encore d’être ce Corps démultiplié à l’infini de l’espace et du temps où la 
communion avec tous peut se recevoir comme la vocation de chacun...

Cette joie qui est sienne, elle nous est tout entière communiquée. Il n’en retient rien pour lui. 
Et nul ne pourra nous la ravir.                                                                                                                                                                      
<p class="txtright">
  <em>Christian de Chergé, prieur dela Communauté de Tibhirine<br> 
    Homélie pour le jour de Pâques 16-04-1995.</em>
</p>

