2013-04-17T08:45:00
Ne pas s’opposer à l’Esprit
<blockquote>
  C’est l’Esprit qui nous rend libres, avec cette liberté de Jésus, avec cette liberté des enfants 
  de Dieu&nbsp;! Ne pas opposer de résistance à l’Esprit Saint&nbsp;: telle est la grâce que je 
  voudrais que nous demandions tous au Seigneur&nbsp;; la docilité à l’Esprit Saint, à cet Esprit 
  qui vient à nous et nous fait aller de l’avant sur la route de la sainteté, cette sainteté si 
  belle de l’Église. La grâce de la docilité à l’Esprit Saint.
  <footer class="source">
    homélie du Pape François du 16 avril 
  </footer>
</blockquote>

