2013-04-23T13:57:00
«&nbsp;Sois le pasteur de mes brebis&nbsp;»
Frères et fils bien-aimés, qui allez entrer dans l’ordre des prêtres, considérez qu’en exerçant le 
ministère de la Sainte Doctrine, vous participerez à la mission du Christ, l’unique Maître. 
Communiquez à tous cette Parole de Dieu, que vous-mêmes vous avez reçue avec joie. Souvenez-vous 
de vos mères, de vos grand-mères, de vos catéchistes, qui vous ont donné la Parole de Dieu, la 
foi… le don de la foi&nbsp;! Ils vous ont transmis ce don de la foi. Lisez et méditez assidûment 
la Parole du Seigneur pour croire ce que vous lisez, enseigner ce que vous avez appris dans la 
foi, vivre ce que vous avez enseigné. Rappelez-vous aussi que vous n’êtes pas propriétaires de la 
Parole de Dieu&nbsp;: c’est la Parole de Dieu. Et l’Église est la gardienne de la Parole de Dieu.

Que votre enseignement soit une nourriture pour le Peuple de Dieu, le parfum de votre vie joie et 
soutien des fidèles du Christ, afin que, par la parole et l’exemple, vous construisiez la maison 
de Dieu, qui est l’Église. Vous continuerez l’œuvre de sanctification du Christ. Par votre 
ministère le sacrifice spirituel des fidèles est rendu parfait, car uni au sacrifice du Christ, 
qui, par vos mains, sera offert sacramentalement, au nom de toute l’Église, sur l’autel dans la 
célébration des Mystères sacrés.

Ayez conscience de ce que vous faites&nbsp;; conformez votre vie à ce que vous célébrez, afin 
qu’en participant au ministère de la mort et de la résurrection du Seigneur, vous portiez la mort 
du Christ dans vos membres et marchiez avec lui dans une vie nouvelle.

Vous allez faire entrer de nouveaux fidèles dans le Peuple de Dieu par le baptême. Vous remettrez 
les péchés, par le sacrement de la pénitence, au nom du Christ et de l’Église. Et aujourd’hui, je 
vous le demande au nom du Christ et de l’Église&nbsp;: s’il vous plaît, soyez sans cesse 
miséricordieux. Par l’onction d’huile sainte vous fortifierez les malades ainsi que les personnes 
âgées&nbsp;: n’ayez pas honte d’avoir de la tendresse pour les personnes âgées. En célébrant les 
actions liturgiques et en offrant au long du jour la prière de louange et de supplication, vous 
vous ferez la voix du Peuple de Dieu et de l’humanité entière.

Conscients d’avoir été choisis parmi les hommes et constitués en leur faveur pour vous occuper des 
choses de Dieu, exercez avec joie et charité sincère l’œuvre sacerdotale du Christ, seulement pour 
plaire à Dieu et non pas à vous-mêmes. Vous êtes des pasteurs, pas des fonctionnaires. Des 
médiateurs, pas des intermédiaires.

Enfin, en participant à la charge du Christ, Chef et Pasteur, en communion filiale avec votre 
évêque, appliquez-vous à unir les fidèles dans une unique famille pour les conduire à Dieu le 
Père, par Jésus Christ et dans l’Esprit Saint. Ayez toujours sous les yeux l’exemple du Bon 
Pasteur qui n’est pas venu pour être servi, mais pour servir, et pour chercher et mener au salut 
ce qui était perdu. 

<p class="txtright">
  <em>Basilique vaticane, homélie du Pape François, IV<sup>e</sup>&nbsp;Dimanche de Pâques, 
    21 avril 2013, à l'occasion des ordinations presbytérales.</em>
</p>

