2013-04-29T10:03:00
La nouveauté de l’Esprit
Dans la deuxième lecture nous avons entendu la belle vision de saint Jean&nbsp;: un ciel nouveau 
et une terre nouvelle et puis la Cité Sainte qui descend d'auprès de Dieu. Tout est nouveau, 
transformé en bien, en beauté, en vérité&nbsp;; il n’y a plus de plainte, de deuil… Cela c’est 
l’action de l’Esprit Saint&nbsp;: il nous apporte la nouveauté de Dieu&nbsp;; il vient à nous et 
fait toutes choses nouvelles, il nous change. L’Esprit nous change&nbsp;! Et la vision de saint 
Jean nous rappelle que nous sommes tous en marche vers la Jérusalem du ciel, la nouveauté 
définitive pour nous et pour toute la réalité, l'heureux jour où nous pourrons voir le visage du 
Seigneur, -&nbsp;ce visage merveilleux, si beau du Seigneur Jésus&nbsp;- où nous pourrons être 
avec lui pour toujours, dans son amour.

Voyez, la nouveauté de Dieu ne ressemble pas aux nouveautés mondaines, qui sont toutes 
provisoires, elles passent et on en recherche toujours plus. La nouveauté que Dieu donne à notre 
vie est définitive, et pas seulement dans l’avenir, quand nous serons avec lui, mais aussi 
aujourd’hui&nbsp;: Dieu est en train de tout faire nouveau, l’Esprit Saint nous transforme 
vraiment et veut transformer, à travers nous aussi, le monde dans lequel nous vivons. Ouvrons la 
porte à l’Esprit, laissons nous guider par lui, laissons l’action continue de Dieu faire de nous 
des hommes et des femmes nouveaux, animés par l’amour de Dieu, que l’Esprit Saint nous 
donne&nbsp;! Qu’il serait beau si chacun de vous, le soir pouvait dire&nbsp;: aujourd’hui à 
l’école, à la maison, au travail, guidé par Dieu, j’ai accompli un geste d’amour envers mon 
camarade, mes parents, une personne âgée&nbsp;! Que c’est beau&nbsp;!

<p class="txtright">
  <em>Pape François<br>
    Messe et confirmations, Place Saint-Pierre V<sup>e</sup>&nbsp;Dimanche de Pâques, 
    28 avril 2013.</em>
</p>

