2013-05-20T12:45:00
Embrasés par le Saint Esprit&nbsp;!
<blockquote>
  <p>
    Vous recevrez une force celle de l’Esprit Saint<br>
    Vous deviendrez des Apôtres en Son Nom élevez les mains<br>
    En Son Nom élevez les mains
  </p><p>
    Viens Saint Esprit embraser les nations<br>
    Viens Saint Esprit sur cette génération<br>
    Viens Saint Esprit embraser les nations<br>
    Viens Saint Esprit sur cette génération
  </p><p>
    Wow wow wow wow
    Wow wow wow wow
  </p><p>
    Vous partirez sur les routes proclamer Jésus est la Vie<br>
    Et vous n’aurez aucun doute embrasés par le Saint Esprit<br>
    Embrasés par le Saint Esprit
  </p>
  <footer class="source">
    Paroles et musique&nbsp;: Glorious
  </footer>
</blockquote>

<iframe 
  width="560" height="315" 
  src="https://www.youtube-nocookie.com/embed/lSFrhnBgrBQ" 
  frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>

