2013-05-23T19:37:00
Quand un À-Dieu s’envisage...
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/tibhirine.jpg" 
 alt="Moines de Tibhirine" 
 width="90%" />
</figure>

<p class="txtcenter"><strong>Testament spirituel de Christian de Chergé</strong></p>

«&nbsp;Quand un <span class="smallcaps">À-Dieu</span> s’envisage...&nbsp;»

S’il m’arrivait un jour -&nbsp;et ça pourrait être aujourd’hui&nbsp;- d’être victime du terrorisme 
qui semble vouloir englober maintenant tous les étrangers vivant en Algérie, j’aimerais que ma 
communauté, mon Église, ma famille, se souviennent que ma vie était 
<span class="smallcaps">donnée</span> à Dieu et à ce pays. Qu’ils acceptent que le Maître Unique 
de toute vie ne saurait être étranger à ce départ brutal. Qu’ils prient pour moi&nbsp;: comment 
serais-je trouvé digne d'une telle offrande&nbsp;? Qu’ils sachent associer cette mort à tant 
d’autres aussi violentes, laissées dans l’indifférence de l’anonymat.

Ma vie n’a pas plus de prix qu’une autre. Elle n’en a pas moins non plus. En tout cas, elle n’a 
pas l’innocence de l’enfance. J’ai suffisamment vécu pour me savoir complice du mal qui semble, 
hélas, prévaloir dans le monde et même de celui-là qui me frapperait aveuglément. J’aimerais, le 
moment venu avoir ce laps de lucidité qui me permettrait de solliciter le pardon de Dieu et celui 
de mes frères en humanité, en même temps que de pardonner de tout cœur à qui m’aurait atteint. Je 
ne saurais souhaiter une telle mort. Il me paraît important de le professer. Je ne vois pas, en 
effet, comment je pourrais me réjouir que ce peuple que j’aime soit indistinctement accusé de mon 
meurtre. C’est trop cher payer ce qu’on appellera, peut-être, la «&nbsp;grâce du martyre&nbsp;»
que de la devoir à un Algérien, quel qu’il soit, surtout s’il dit agir en fidélité à ce qu’il 
croit être l’Islam.

Je sais le mépris dont on a pu entourer les Algériens pris globalement. Je sais aussi les 
caricatures de l’Islam qu’encourage un certain islamisme. Il est trop facile de se donner bonne 
conscience en identifiant cette voie religieuse avec les intégrismes de ses extrémistes. L’Algérie 
et l’Islam, pour moi, c’est autre chose, c’est un corps et une âme. Je l’ai assez proclamé, je 
crois, au vu et au su de ce que j’en ai reçu, y retrouvant si souvent ce droit fil conducteur de 
l’Évangile appris aux genoux de ma mère, ma toute première Église. Précisément en Algérie, et, 
déjà, dans le respect des croyants musulmans. Ma mort, évidemment, paraîtra donner raison à ceux 
qui m’ont rapidement traité de naïf, ou d’idéaliste&nbsp;: «&nbsp;Qu’il dise maintenant ce qu’il 
en pense&nbsp;!&nbsp;» Mais ceux-là doivent savoir que sera enfin libérée ma plus lancinante 
curiosité. Voici que je pourrai, s’il plaît à Dieu, plonger mon regard dans celui du Père pour 
contempler avec Lui ses enfants de l’Islam tels qu’Il les voit, tout illuminés de la gloire du 
Christ, fruits de Sa Passion investis par le Don de l’Esprit dont la joie secrète sera toujours 
d’établir la communion et de rétablir la ressemblance en jouant avec les différences.

Cette vie perdue totalement mienne et totalement leur, je rends grâce à Dieu qui semble l’avoir 
voulue tout entière pour cette <span class="smallcaps">joie</span>-là, envers et malgré tout. Dans 
ce <span class="smallcaps">merci</span> où tout est dit, désormais, de ma vie, je vous inclus bien 
sûr, amis d’hier et d’aujourd'hui, et vous, ô mes amis d’ici, aux côtés de ma mère et de mon père, 
de mes sœurs et de mes frères et des leurs, centuple accordé comme il était promis&nbsp;! Et toi 
aussi, l’ami de la dernière minute, qui n’aura pas su ce que tu faisais. Oui, pour toi aussi je le 
veux ce <span class="smallcaps">merci</span>, et cet 
«&nbsp;<span class="smallcaps">À-Dieu</span>&nbsp;» envisagé de toi. Et qu’il nous soit donné de 
nous retrouver, larrons heureux, en paradis, s’il plaît à Dieu, notre Père à tous deux.

<span class="smallcaps">Amen</span>&nbsp;! *Inch’Allah*&nbsp;!

