2013-05-31T09:07:00
«&nbsp;Une petite Pentecôte&nbsp;»
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/visitation.jpg" 
 alt="La Visitation" 
 width="90%" />
</figure>

La rencontre entre la Madone et sa cousine Élisabeth est comme une sorte de «&nbsp;petite 
Pentecôte&nbsp;».

Dans le récit évangélique, la Visitation suit immédiatement l’Annonciation&nbsp;: la Sainte 
Vierge, qui porte en son sein le Fils conçu par l’œuvre de l’Esprit Saint, rayonne autour d’elle 
de grâce et de joie spirituelle. C'est la présence de l’Esprit en Elle qui fait tressaillir de 
joie le Fils d’Élisabeth, Jean, destiné à préparer la voie au Fils de Dieu fait homme.

Là où se trouve Marie il y a le Christ&nbsp;; et là où se trouve le Christ il y a son Esprit 
Saint, qui procède du Père et de Lui-même dans le saint mystère de la vie trinitaire. Les Actes 
des Apôtres soulignent à juste titre la présence de Marie en prière, dans le Cénacle, avec les 
Apôtres réunis dans l'attente de recevoir la «&nbsp;puissance d’En-haut&nbsp;». Le 
«&nbsp;oui&nbsp;» de la Vierge, «&nbsp;*fiat*&nbsp;», attire le Don de Dieu sur l’humanité&nbsp;: 
c’est ce qui se produit à la Pentecôte, comme lors de l’Annonciation. C’est ainsi que cela 
continue à se produire sur le chemin de l’Église.

Réunis en prière avec Marie, nous invoquons une abondante effusion de l’Esprit Saint sur l’Église 
tout entière, afin qu’elle prenne le large toutes voiles dehors (...). Nous l’invoquons en 
particulier sur ceux qui œuvrent quotidiennement au service du Siège apostolique, afin que le 
travail de chacun soit toujours animé par un esprit de foi et de zèle apostolique.

Il est significatif que le dernier jour de mai soit celui de la fête de la Visitation. Avec cette 
conclusion, c’est comme si nous voulions dire que chaque jour de ce mois a été pour nous une sorte 
de visitation. Nous avons vécu au cours du mois de mai une visitation permanente, comme l’ont 
vécue Marie et Élisabeth. Nous sommes reconnaissants à Dieu que cet événement biblique nous soit 
aujourd’hui reproposé par la Liturgie.

<p class="txtright italic">
  Extraits des paroles du Pape Jean-Paul&nbsp;II en conclusion d’une célébration mariale au 
  Vatican.<br>
  Site officiel du Vatican - Copyright © Libreria Editrice Vaticana
</p>

