2013-06-13T16:55:00
Louange
Loué sois-tu Père saint pour ta Création&nbsp;!

Loué sois-tu Jésus Christ, toi le bon Pasteur, notre paix et notre joie&nbsp;!

Loué sois-tu Esprit de vie, toi le don parfait, le consolateur.

Donne-moi, Seigneur, qu’en ce jour je réponde à tes appels, et découvre ton visage en mes frères 
et sœurs.

Que ton Amour et ta volonté s’établissent en moi, et au cœur de notre Fraternité saint Étienne.

Que ton souffle nous pousse au large, au témoignage, et au don de toute notre vie pour toi et pour 
le monde.

Qu’aux prières de S<sup>t</sup>&nbsp;Étienne, des saints et saintes du Diocèse de Meaux, de 
S<sup>t</sup>&nbsp;François &amp; S<sup>te</sup>&nbsp;Claire, et du Bienheureux Charles de 
Foucauld, nous soyons sanctifiés dans notre vie de baptisés, assidus à la prière, disposés à 
l’écoute de ta Parole, fortifiés dans notre simplicité de vie et dans la joie fraternelle.

Amen

