2013-06-29T13:26:00
Fête de Saint Pierre &amp; Saint Paul
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/stspierreetpaul.jpg" 
 alt="Saint Pierre et Saint Paul" 
 width="50%" />
</figure>

Aujourd’hui 5<sup>e</sup> anniversaire de la reconnaissance des Statuts et Charte de la 
Fraternité&nbsp;!

Belle fête à tous&nbsp;!

