2013-07-05T12:00:00
Saint Antonio-Maria Zaccaria
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/anthonyzaccariastpaul.jpg" 
 alt="Saint Antonio-Maria Zaccaria  et Saint Paul"
 width="50%" />
</figure>

Ce prêtre italien, né à Crémone en 1502, a regroupé autour de lui quelques prêtres zélés et aussi 
des couples pour une vie évangélique commune, fraternelle avec une mission s’inspirant de celle de 
Saint Paul.

Ce petit groupe pris le nom de «&nbsp;clercs réguliers de Saint Paul&nbsp;» mais est plus connu 
sous le nom de Barnabites en raison de l’église saint Barnabé où il commença son apostolat.

Pour plus d’infos&nbsp;: le <a href="http://www.barnabiti.it">site des Barnabites</a> ou l’article
<a href="https://fr.wikipedia.org/wiki/Clercs_r%C3%A9guliers_de_Saint-Paul">
  «&nbsp;Clercs réguliers de Saint-Paul&nbsp;»</a> sur Wikipédia.

Voilà quelques similitudes avec nous... Et cela avant la Réforme conciliaire de Trente&nbsp;!

L’Esprit souffle...

