2013-09-06T10:43:00
Prière pour la Paix en Syrie
Ci-dessous le message du responsable de la Pastorale familiale concernant la journée de prière ce 
samedi&nbsp;7&nbsp;:

<blockquote>
  <p>
  À toutes les familles,
  </p><p>
    Chers amis,<br>
    L’invitation du Pape François à une journée de prière et de jeûne pour la paix en Syrie et 
    pour toutes les nations frappées par le drame de la guerre, mérite d’être accueillie avec 
    beaucoup de sérieux, et requiert de la part de tous un réel engagement.
  </p><p>
    Les images qui ont fait le tour du monde, et les nouvelles tragiques qui nous parviennent, 
    interpellent notre cœur, notre intelligence et notre foi. C’est pour cela que je vous invite à 
    accueillir cette proposition du Pape à vivre, depuis chez vous, dans le jeûne et la prière.
  </p><p>
    Chers parents, n’ayez pas peur de proposer à vos enfants un repas simple et sobre, ça sera 
    pour vous l’occasion de leur expliquer ce qui se passe à travers le monde, et pourquoi tous 
    ces évènements tragiques ne peuvent pas nous laisser indifférents.
  </p><p>
    Alors que se succèdent quotidiennement des actes de violence, n’oubliez pas de transmettre 
    l’espérance de la paix offerte par le Christ Ressuscité qui a réconcilié le monde, non pas par 
    des gestes de violence et de vengeance, mais par le don de soi.
  </p><p>
    N’oubliez pas d’inviter les grands-parents et les personnes âgées à ce repas pauvre en 
    nourriture mais riche en parole&nbsp;; si l’un d’entre eux a fait l’expérience de la guerre, 
    qu’il raconte ce que signifie vivre sous les bombes, dans l’incertitude du lendemain, et ce 
    que ça voulait dire pour eux prier à ce moment là.
  </p><p>
    Et vous, jeunes gens, ne vous plaignez pas si vous ne trouvez pas sur la table une nourriture 
    abondante samedi prochain, remerciez plutôt vos parents pour ce qu’ils vous proposent de 
    faire&nbsp;; mieux encore, exigez d’eux qu’ils vous expliquent les raisons pour lesquelles ça 
    vaut la peine de vivre sur une terre trop souvent marquée par des guerres et la violence.
  </p><p>
    Ensemble, à table, priez&nbsp;! Priez pour les familles de Syrie, pour les enfants qui meurent 
    chaque jour en raison de la haine et de la famine, pour les gouvernants appelés à trouver le 
    chemin de la paix et de la non violence.
  </p><p>
    La lecture d’un psaume ou d’une page de l’Évangile, une dizaine de chapelet, une prière 
    spontanée exprimée à voix haute, un simple chant (…), que chaque famille choisisse la manière 
    qu’elle connaît le mieux pour intercéder, et ainsi vivre pleinement ces heures, entre le 
    mystère du mal qui marque notre histoire, et le Dieu de la paix qui la purifie et la sauve.
  </p><p>
    Merci&nbsp;!
  </p>
  <footer class="source">
    Vincenzo Paglia, Cité du Vatican, le 3 septembre 2013.
  </footer>
</blockquote>

