2013-09-20T09:16:00
«&nbsp;Je suis un pécheur sur lequel le Seigneur a posé son regard.&nbsp;»
C’est par ces mots que notre Pape François débute son interview publiée ces jours-ci dans les 
Revues culturelles jésuites. Dans ce long dialogue avec un confrère jésuite, le Pape répond 
simplement et sans réserve. Il évoque son parcours, sa vocation. Ses choix de vie.

Nous découvrons au fil de l’entretien ce qui l’anime. Ses projets. Son ambition pour une Église 
accueillante, miséricordieuse, missionnaire. Sa vision actuelle de la Compagnie de Jésus et de sa 
spiritualité dans laquelle il puise beaucoup pour son ministère pétrinien.

Il répond par les termes de «&nbsp;discernement&nbsp;» et de «&nbsp;sentir avec l’Église&nbsp;» 
aux questions sur les réformes à venir, sur sa manière d’envisager la gouvernance de la barque de 
Saint-Pierre. Les médias attendent des «&nbsp;scoops&nbsp;», du sensationnel, tandis qu’il 
explique que l’Église doit d’abord prendre soin de l’homme malade, blessé par les maux de la vie. 
Seulement dans un second temps, la pensée de l’Eglise pourra être exprimée.

Cela rejoint ce qu’il exprime dans les dernières pages de son interview où il invite chacun à 
«&nbs;chercher et trouver Dieu en toutes choses&nbsp;». Reprenant un des fondements de la 
spiritualité de S<sup>t</sup> Ignace de Loyola, il explique qu’il nous faut «&nbsp;ouvrir [notre] 
sensibilité spirituelle plutôt que de mettre en œuvre une approche purement empirique. Il faut une 
attitude contemplative&nbsp;: sentir que l’on va par un bon chemin de compréhension et d’affection 
à l’égard des choses et des situations. Le signe en est celui d’une paix profonde, d’une 
consolation spirituelle, de l’amour de Dieu et de toutes les choses en Dieu&nbsp;».

Il poursuit&nbsp;: «&nbsp;L’attitude correcte est celle de saint Augustin&nbsp;: chercher Dieu 
pour le trouver et le trouver pour le chercher toujours. Souvent on le cherche à tâtons, comme on 
peut le lire dans de nombreux passages bibliques. C’est l’expérience des Pères de la foi qui sont 
nos modèles. Il faut relire le chapitre 11 de la Lettre aux Hébreux. Abraham part sans savoir où 
il va, guidé par la foi. Tous nos ancêtres dans la foi sont morts en ayant aperçu les bonnes 
promesses mais de loin… Notre vie ne nous est pas donnée comme un livret d’opéra où tout est 
écrit&nbsp;; elle consiste à marcher, cheminer, agir, chercher, voir… On doit entrer dans 
l’aventure de la recherche, de la rencontre, et se laisser chercher et rencontrer par Dieu. C’est 
pourquoi Dieu est premier, Dieu est toujours premier, Dieu nous précède. Dieu est un peu comme la 
fleur d’amandier, qui fleurit toujours en premier&nbsp;».

Cette interview est disponible auprès de la revue *Études* (n<sup>o</sup>Oct 2013) ou sur 
internet sur le <a href="http://www.revue-etudes.com">site web de la revue</a>.

