2013-10-23T09:58:00
Tapisserie martyr de Saint Étienne
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/martyreStEtienne2.jpg" 
 alt="Martyre de Saint Étienne" 
 width="90%" />
  <figcaption>
    Martyre de Saint-Etienne / tapisserie réalisée par les Bénédictines de Vénières pour l’église 
    de Saint-Etienne du Breuil (71)
  </figcaption>
</figure>


