2013-11-23T15:38:00
Christ-Roi
<blockquote>
  La foi est l’engagement de la vie éternelle dans le temps
  <footer class="source">
    Madeleine Delbrêl
  </footer>
</blockquote>

La fête du Christ-Roi termine l’année liturgique. Elle est pour nous l’occasion de ressaisir ce 
que nous avons vécu au cours des eucharisties et de notre écoute des Écritures tout au long de 
l’année.

Le Christ-Roi ne vient pas dominer sur nous comme un potentat car il ne nous soumet pas à un joug 
terrible. Si la titulature royale est employée par les textes, le Christ nous indique par sa vie 
comment il entend établir sa royauté sur chacun de nous. Une royauté de service vécu par un 
souverain humble. Jésus lui-même ne s’attribue pas les exclamations du peuple d’Israël qui attend 
le rétablissement d’un pouvoir fort face à l’envahisseur romain.

Jésus est à la fois le Serviteur souffrant qu’évoque le livre d’Isaïe et l’Agneau pascal qui donne 
sa vie en nourriture, qui ôte le péché du monde. Rien de despotique&nbsp;! L’Évangile de ce 
dimanche le souligne encore&nbsp;: Jésus fait bon accueil au bon larron. Il lui ouvre le Royaume 
car ce sont bien les exclus, les prisonniers, les faibles, les petits qui y entreront en premier. 
Et les disciples de Jésus qui chercheraient à «&nbsp;avoir une place de choix&nbsp;» au pied du 
trône risquent bien de se retrouver le nez dehors…

Cette fête souligne combien nos images sur Dieu, sur son Fils Jésus sont sans cesse à épurer de 
nos désirs désorientés. Oui, nous sommes héritiers avec le Christ de sa dignité divine 
(«&nbsp;nous sommes du même sang que toi&nbsp;»), mais si nous l’accueillons dans un mouvement de 
dépossession, d’humilité. C’est l’Esprit qui nous sanctifie, et purifie nos volontés de pouvoir, 
de domination pour nous transformer en de vrais témoins-amis de Jésus, le Fils de l’Homme. 
L’Évangile est une bonne nouvelle et c’est pour cela que nous voulons l’annoncer à tous. Pour que 
tous aient la joie du Royaume en plénitude&nbsp;!

