2013-12-02T12:52:00
Bienheureux Charles&nbsp;: pour une fraternité universelle...
Eléments extraits du site web disponible 
<a href="http://www.charlesdefoucauld.org/fr/biographie.php#frere">ici</a>.

**Frère de tous à Béni Abbès** (1901 à 1904)

Le 28 octobre 1901, Charles arrive à Béni Abbès.

«&nbsp;Les indigènes m’ont parfaitement accueilli&nbsp;; j’entre en relations avec eux, tâchant de 
leur faire un peu de bien.&nbsp;»

«&nbsp;Les militaires se sont mis, à me construire, en briques sèches et troncs de palmiers, une 
chapelle, trois cellules et une chambre d’hôtes.&nbsp;»

«&nbsp;Je veux habituer tous les habitants, à me regarder comme leur frère, le frère universel… 
Ils commencent à appeler la maison "la fraternité", et cela m’est doux…&nbsp;»

Chaque jour, Charles passe des heures au pied du Tabernacle.

«&nbsp;L’Eucharistie, c’est Jésus, c’est tout Jésus.&nbsp;»

«&nbsp;Quand on aime, on voudrait parler sans cesse à l’être qu’on aime, ou au moins le regarder 
sans cesse&nbsp;: la prière n’est pas autre chose&nbsp;: l’entretien familier avec notre 
Bien-Aimé&nbsp;: on Le regarde, on Lui dit qu’on L'aime, on jouit d’être à Ses pieds.&nbsp;»

Mais, à chaque instant on frappe à la porte. «&nbsp;Tout ce que vous faites à l’un de ces petits, 
c’est à moi que vous le faites&nbsp;». L’Évangile a déjà transformé la vie de Charles qui ouvre 
aussitôt la porte pour accueillir le Bien Aimé.

«&nbsp;De 4&nbsp;h&nbsp;30 du matin à 8&nbsp;h&nbsp;30 du soir, je ne cesse de parler, de voir du 
monde&nbsp;: des esclaves, des pauvres, des malades, des soldats, des voyageurs, des 
curieux.&nbsp;»

Dans cette région, Charles découvre l’esclavage. Il est scandalisé.

«&nbsp;Quand le gouvernement commet une grave injustice contre ceux dont nous sommes dans une 
certaine mesure chargé, il faut le lui dire, car nous n’avons pas le droit d’être des "sentinelles endormies" des "chiens muets" des "pasteurs indifférents".&nbsp;»

Les murs de la Fraternité sont construits et Charles attend des frères.

«&nbsp;Priez Dieu pour que je fasse ici l’oeuvre qu’il m’a donnée à faire&nbsp;: que j’y établisse 
un petit couvent de moines fervents et charitables, aimant Dieu de tout leur coeur et le prochain 
comme eux-mêmes&nbsp;; une Zaouïa de prière et d’hospitalité d’où rayonne une telle piété que 
toute la contrée en soit éclairée et réchauffée&nbsp;; une petite famille imitant si parfaitement 
les vertus de <span class="smallcaps">Jésus</span> que tous, aux alentours, se mettent à aimer 
<span class="smallcaps">Jésus</span>&nbsp;!&nbsp;»

