2014-01-24T10:04:00
Saint François de Sales
<blockquote>
  Il faut tout faire par amour, et rien par force ;<br>
  il faut plus aimer l’obéissance que craindre la désobéissance.
  <footer class="source">
    Lettre du 14 octobre 1604
  </footer>
</blockquote>


Pour découvrir la spiritualité de grand saint, voir 
<a href="https://w2.vatican.va/content/benedict-xvi/fr/audiences/2011/documents/hf_ben-xvi_aud_20110302.html">
  l’Audience du pape Benoît&nbsp;XVI</a>.

