2014-02-14T10:57:00
Saints Cyrille et Méthode, Apôtres des Slaves
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/cyrilleMethode2.jpg" 
 alt="Saints Cyrille et Méthode" 
 width="50%" />
</figure>

Une lettre encyclique de Jean-Paul&nbsp;II pour découvrir la vie de ses deux frères et les 
efforts fournis pour apporter la Bonne Nouvelle du Christ ressuscité en Europe centrale, pont 
entre l’Orient et l’Occident.

<blockquote>
  Constantin et ses collaborateurs s’étaient appliqués à créer un alphabet nouveau, afin que les 
  vérités à annoncer et à expliquer pussent être écrites dans la langue slave et fussent ainsi 
  pleinement compréhensibles et assimilables par leurs destinataires. Ce fut un effort 
  véritablement digne de l’esprit missionnaire que de se familiariser avec la langue et la 
  mentalité des peuples nouveaux auxquels on apportait la foi, comme fut également exemplaire la 
  détermination avec laquelle furent assimilées et assumées vraiment toutes les exigences et les 
  attentes des peuples slaves. Le choix généreux de s’identifier à leur vie et à leur tradition, 
  après les avoir purifiées et éclairées par la Révélation, fait de Cyrille et Méthode de vrais 
  modèles pour tous les missionnaires qui, à toutes les époques, ont répondu à l’appel de saint 
  Paul à se faire tout à tous pour sauver tous les hommes, et, en particulier, pour les 
  missionnaires qui, de l’antiquité aux temps modernes -&nbsp;de l’Europe à l’Asie et aujourd’hui 
  sur tous les continents&nbsp;-, ont travaillé à traduire dans les langues vivantes des divers 
  peuples la Bible et les textes liturgiques, afin d’y faire entendre l’unique Parole de Dieu, 
  rendue ainsi accessible selon les moyens d'expression propres à chaque civilisation.
  <footer class="source">
    <a href="https://w2.vatican.va/content/john-paul-ii/fr/encyclicals/documents/hf_jp-ii_enc_19850602_slavorum-apostoli.html">Lettre encyclique <em>Slavorum Apostoli</em> de Jean-Paul&nbsp;II</a>
  </footer>
</blockquote>

