2014-03-09T13:12:00
Jésus au désert
<blockquote>
  Ceux qui ont à nager en mer et qui connaissent l’art de la natation, plongent quand la vague 
  arrive sur eux, et se laissent aller dessous jusqu’à ce qu'elle soit passée. Après quoi ils 
  continuent de nager sans difficulté. Mais s’ils veulent s’opposer à la vague, celle-ci les 
  repousse et les rejette à une bonne distance. Dès qu’ils se remettent à nager, une nouvelle 
  vague vient sur eux&nbsp;; s’ils résistent encore, les voilà de nouveau repoussés et 
  rejetés&nbsp;: ils se fatiguent seulement et n’avancent pas. Qu’ils plongent au contraire sous 
  la vague, comme je l’ai dit, qu’ils s’abaissent dessous, et elle passera sans les gêner&nbsp;; 
  ils continueront à nager tant qu’ils voudront, et à accomplir ce qu’ils ont à faire. Ainsi en 
  est-il des tentations. Supportées avec patience et humilité, elles passent sans faire de mal. 
  Mais si on reste à s’affliger, à se troubler, à accuser tout le monde, on se fait souffrir 
  soi-même, en rendant plus accablante pour soi la tentation, et il en résulte que celle-ci nous 
  est non seulement sans profit, mais même nuisible.
  <footer class="source">
    Dorothée de Gaza - Œuvres sprituelles, (moine anachorète. Originaire d’Antioche et issu d’une 
    famille aisée, Dorothée de Gaza, avait reçu une solide formation classique quand il entra vers 
    525, dans un monastère de cette ville, fondé à la fin du V<sup>e</sup> siècle par l’abbé 
    Séridos.)
  </footer>
</blockquote>

