2014-03-12T18:27:00
Il faut passer par le désert
<blockquote>
  Il faut passer par le désert et y séjourner pour recevoir la grâce de Dieu… C’est là qu’on 
  chasse de soi tout ce qui n’est pas Dieu… Il faut à l’âme ce silence, ce recueillement, cet 
  oubli de tout le créé au milieu desquels Dieu établit en elle Son Règne et forme en elle 
  l’esprit intérieur, la vie intime avec Dieu… la conversation de l’âme avec Dieu dans la foi, 
  l’espérance et la charité… Plus tard, l’âme produira des fruits exactement dans la mesure où 
  l’homme intérieur se sera formé en elle… Si cette vie intérieure est nulle, il y aura beau avoir 
  du zèle, de bonnes intentions, beaucoup de travail, les fruits sont nuls&nbsp;; c’est une source 
  qui voudrait donner la sainteté aux autres, mais qui ne peut, ne l’ayant pas&nbsp;: on ne donne 
  que ce qu’on a. C’est dans la solitude, dans cette vie seule avec Dieu, dans ce recueillement 
  profond de l’âme qui oublie tout le créé, que Dieu se donne tout entier à celui qui se donne 
  ainsi tout entier à Lui…
  <footer class="source">
    p. Charles de Foucauld
  </footer>
</blockquote>

<blockquote>
  <p>
    Un certain désert est aussi nécessaire que l’eau est vitale au poisson. Car pour ceux dont la 
    vie est d’aller à la rencontre du Tout Autre, le désert est le lieu de 
    «&nbsp;l’accomplissement des promesses divines&nbsp;». Le désert exprime une exigence de 
    solitude et de silence où passe le témoignage rendu à l’absolu de l’unique nécessaire. Il y a 
    là une gratuité qui rejoint celle du vase au col brisé dont le parfum se répand sur les pieds 
    de Jésus. Le désert est gratuit, il n’est pas absurde. Seul l’amour peut le comprendre. Lui 
    seul peut l’admirer pleinement parce que lui seul opère l’échange merveilleux en quoi le 
    dénuement du désert, loin d’être néantisant, devient ouverture, l’anéantissement accueil, la 
    pauvreté transparence aux symboles primordiaux&nbsp;: l’eau, le feu, la terre, le ciel, la 
    lumière et cette gentiane perdue dans un creux de montagne.
  </p><p>
    Alors, à l’ombre du silence et dans l’«&nbsp;accroisement&nbsp;» du cœur, surgit, dense et 
    drue et lumineuse, la Parole qui dit l’émerveillement de l’homme prolongeant celui de Dieu 
    devant sa création.
  </p>
  <footer class="source">
    Jacques Rousse, la Mission poétique des contemplatifs
  </footer>
</blockquote>

