2014-05-13T10:54:00
Une recette à base d’amour...
<blockquote>
  <p>
    Je vis avec une absolue certitude... que Dieu, encore avant de nous créer, nous a aimés, d’un 
    amour qui n’est jamais venu à manquer, et qui ne disparaîtra jamais.
  </p><p>
    Et dans cet amour, Il a accompli toutes ses œuvres et, dans cet amour, Il a fait en sorte que 
    toutes les choses soient utiles pour nous, et dans cet amour notre vie dure pour toujours... 
    Dans cet amour, nous avons notre principe, et tout cela nous le verrons en Dieu sans fin.
  </p>
  <footer class="source">
    Sainte Julienne de Norwich (<em>Le Livre des révélations</em>,chap. 86).
  </footer>
</blockquote>

