2014-05-16T09:54:00
Prémices d’une récollection...
<blockquote>
  <p>
    Toute la vie de Jésus, sa manière d’agir avec les pauvres, ses gestes, sa cohérence, sa 
    générosité quotidienne et simple, et finalement son dévouement total, tout est précieux et 
    parle à notre propre vie. Chaque fois que quelqu’un se met à le découvrir, il se convainc que 
    c’est cela même dont les autres ont besoin, bien qu’ils ne le reconnaissent pas… Parfois, nous 
    perdons l’enthousiasme pour la mission en oubliant que l’Évangile répond aux nécessités les 
    plus profondes des personnes, parce que nous avons tous été créés pour ce que l’Évangile nous 
    propose&nbsp;: l’amitié avec Jésus et l’amour fraternel… Nous disposons d’un trésor de vie et 
    d’amour qui ne peut pas tromper, le message qui ne peut ni manipuler ni décevoir. C’est une 
    réponse qui se produit au plus profond de l’être humain et qui peut le soutenir et l’élever. 
    C’est la vérité qui ne se démode pas parce qu’elle est capable de pénétrer là où rien d’autre 
    ne peut arriver. Notre tristesse infinie ne se soigne que par un amour infini…
  </p><p>
    Unis à Jésus, cherchons ce qu’il cherche, aimons ce qu’il aime. Au final, c’est la gloire du 
    Père que nous cherchons, nous vivons et agissons «&nbsp;à la louange de sa grâce&nbsp;» 
    (Ep&nbsp;1,6). Si nous voulons nous donner à fond et avec constance, nous devons aller bien 
    au-delà de toute autre motivation. C’est le motif définitif, le plus profond, le plus grand, 
    la raison et le sens ultime de tout le reste. C’est la gloire du Père que Jésus a cherchée 
    durant toute son existence. Lui est le Fils éternellement joyeux avec tout son être 
    «&nbsp;tourné vers le sein du Père&nbsp;» (Jn 1,18). Si nous sommes missionnaires, c’est avant 
    tout parce que Jésus nous a dit&nbsp;: «&nbsp;C’est la gloire de mon Père que vous portiez 
    beaucoup de fruit&nbsp;» (Jn 15,8). Au-delà du fait que cela nous convienne ou non, nous 
    intéresse ou non, nous soit utile ou non, au-delà des petites limites de nos désirs, de notre 
    compréhension et de nos motivations, nous évangélisons pour la plus grande gloire du Père qui 
    nous aime.
  </p>
  <footer class="source">
    Pape François, exhortation apostolique «&nbsp;<em>Evangelii Gaudium</em> / La Joie de 
    l’Évangile&nbsp;» § 265.267 (trad. © copyright Libreria Editrice Vaticana)
  </footer>
</blockquote>

Horaires de la Récollection de ce dimanche 18 mai au Centre Inter Paroissial de Donnemarie&nbsp;:

 - 9&nbsp;h&nbsp;30 accueil
 - 10&nbsp;h Enseignement + temps perso de prière
 - 12&nbsp;h&nbsp;15 déjeuner
 - 13&nbsp;h&nbsp;30 Enseignement + temps perso de prière
 - 15&nbsp;h&nbsp;30 Partage d’Évangile
 - 17&nbsp;h&nbsp;15 fin et Messe à 18&nbsp;h à l’église d'Everly

