2014-07-29T10:38:00
Quelle est la recette du bonheur&nbsp;?
«&nbsp; Quelle est la recette du bonheur&nbsp;?&nbsp;» À cette question posée par le journaliste ar
gentin Pablo Calvo pour la revue *Viva*, le pape réfléchit un instant, puis s’anime. Visiblement 
détendu au milieu d’un groupe d’émigrés argentins reçus le 7&nbsp;juillet dernier à la Maison 
Sainte-Marthe, il livre en dix points sa «&nbsp;recette du bonheur&nbsp;».

**1. «&nbsp;Vivre et laisser vivre&nbsp;»**

«&nbsp;Les Romains ont un dicton que nous pouvons prendre comme fil directeur et qui dit "Allez, 
et laisser les gens aller de l’avant". Vivre et laisser vivre, c’est le premier pas vers la paix 
et le bonheur.&nbsp;»

**2. Se donner aux autres**

«&nbsp;Quelqu’un d’isolé court le risque de devenir égoïste. Et l’eau stagnante est la première à 
se corrompre.&nbsp;»

**3. «&nbsp;Se mouvoir avec bienveillance et humilité&nbsp;»**

«&nbsp;Dans *Don Segundo Sombra* (NDLR&nbsp;: roman argentin de Ricardo Güiraldes), le héros 
raconte que, jeune, il était comme un torrent de montagne qui bousculait tout&nbsp;; devenu 
adulte, il était comme un fleuve qui allait de l’avant puis, devenu vieux, qu’il avançait, mais 
lentement, endigué. J’utilise cette image du poète et romancier Ricardo Güiraldes, ce dernier 
adjectif, endigué. La capacité à se mouvoir avec bienveillance et humilité. Les aînés ont cette 
sagesse, ils sont la mémoire d’un peuple. Et un peuple qui ne se soucie pas de ses personnes âgées 
n’a pas d’avenir.&nbsp;»

**4. Jouer avec les enfants**

«&nbsp;Le consumérisme nous a amené l’angoisse de perdre la saine culture du loisir&nbsp;: lire, 
profiter de l’art… Aujourd’hui, je confesse peu, mais à Buenos Aires, je confessais beaucoup et 
aux jeunes mères qui venaient, je demandais "Combien avez-vous d’enfants&nbsp;? Jouez-vous avec 
eux&nbsp;?" C’est une question à laquelle on ne s’attend pas, mais c’était une façon de dire que 
les enfants sont la clé d’une culture saine. C’est difficile pour les parents qui vont travailler 
tôt et reviennent quand leurs enfants sont endormis. C’est difficile, mais il faut le faire.&nbsp;»

**5. Passer ses dimanches en famille**

«&nbsp;L’autre jour, à Campobasso, j’ai rencontré le monde de l’université et celui du travail et, 
à chacun, j’ai rappelé qu’on ne travaille pas le dimanche. Le dimanche, c’est pour la 
famille.&nbsp;»

**6. Aider les jeunes à trouver un emploi**

«&nbsp;Nous devons être créatifs avec cette frange de la population. Faute d’opportunités, ils 
peuvent tomber dans la drogue. Et le taux de suicide est très élevé chez les jeunes sans travail. 
L’autre jour, j’ai lu, mais je ne suis pas sûr que ce soit une donnée scientifique, qu’il y a 75 
millions de jeunes de moins de 25&nbsp;ans sans emploi. Et cela ne suffit pas de les 
nourrir&nbsp;: il faudrait inventer pour eux des cours d’une année pour être plombier, 
électricien, couturier… La dignité permet de ramener du pain à la maison.&nbsp;»

**7. «&nbsp;Prendre soin de la création&nbsp;»**

«&nbsp;Nous devons prendre soin de la création et nous ne le faisons pas. C’est un de nos plus 
grands défis.&nbsp;»

**8. «&nbsp;Oublier rapidement le négatif&nbsp;»**

«&nbsp;Le besoin de dire du mal de l’autre est la marque d’une faible estime de soi. Cela veut 
dire que je me sens tellement mal que, au lieu de me relever, j’abaisse l’autre. Il est sain 
d’oublier rapidement le négatif.&nbsp;»

**9. Respecter ceux qui pensent différemment**

«&nbsp;On peut aller jusqu’au témoignage avec l’autre, du moment que les deux progressent dans ce 
dialogue. Mais la pire chose est le prosélytisme religieux, celui qui paralyse&nbsp;: "Je dialogue 
avec toi pour te convaincre". Ça, non. Chacun dialogue depuis son identité. L’Église croît par 
l’attraction, non par le prosélytisme.&nbsp;»

**10. Rechercher activement la paix**

«&nbsp;Nous vivons dans une époque où les guerres sont nombreuses. (…) La guerre détruit. Et 
l’appel à la paix a besoin d’être crié. La paix évoque parfois le calme, mais la paix n’est jamais 
la quiétude&nbsp;: c’est toujours une paix active.&nbsp;»

<p class="txtright">
  Nicolas Senèze<br>
  Source&nbsp;: 
  <a href="https://www.la-croix.com/Religion/Actualite/Les-10-conseils-du-pape-pour-etre-heureux-2014-07-28-1184961">La Croix</a>
</p>

