2014-08-06T09:30:00
«&nbsp;Et il fût transfiguré devant eux…&nbsp;»
Nous sommes invités à écouter la voix de Dieu, sans prétendre le voir, ni le posséder, ni dresser 
une tente pour l’emprisonner, et le fixer une fois pour toutes dans le temple de notre imaginaire 
religieux,

La prière n’est pas une fuite vers l’ailleurs, mais la lumière d’un ailleurs venant apporter dans 
nos vies, dans nos luttes, dans nos joies, dans nos maladies, ou dans notre mort, une révélation 
éclairante, le visage du Ressuscité, un arc-en-ciel dans notre nuée.

Et Pierre se rappellera le soleil de ce visage, après son reniement, lorsque Jésus chargé de 
chaînes tournerait vers lui sa face exténuée pleine de crachats.

Et Jean s’en souviendrait aussi, au pied de la croix, les yeux levés vers cette pauvre tête 
affaissé couverte de sang et de pus.

Alors même les fragilités et les imperfections deviennent une porte par laquelle Dieu entre dans 
notre vie. Les ronces qui entravent notre marche alimentent un feu qui éclaire le chemin. Nos 
contradictions intérieures, nos peurs, demeurent. Mais, par l’Esprit Saint, le Christ vient 
pénétrer ce qui nous inquiète de nous-mêmes, au point que les obscurités sont éclairées

Être à l’écoute de Dieu ne nous épargnera pas forcément des difficultés. Si nous donnons la 
priorité à cette écoute, peut-être deviendrons-nous même plus vulnérables. Mais une détermination 
intérieure grandira, et avec elle une souplesse pour nous livrer plus facilement au souffle de 
l’Esprit Saint. Nous serons plus à même de discerner la présence de Dieu dans le monde et nous 
suivrons plus courageusement sa volonté.

<p class="txtright italic">
  Extraits d’une méditation du père Olivier de <span class="smallcaps">Vasselot</span>.
</p>

