2014-08-16T10:02:00
Petitesse et confiance
<blockquote>
  <p>
    <strong>«&nbsp;Laissez les enfants venir à moi,<br>
      car le Royaume des cieux est à ceux qui leur ressemblent&nbsp;»</strong>
  </p><p>
    Voici la voie de l’amour confiant&nbsp;:
  </p>
  <ul>
    <li>avoir une confiance absolue, inconditionnelle et inébranlable en Dieu notre Père qui nous 
      aime, même lorsque tout semble voué à l’échec.</li>
    <li>chercher en lui seul notre secours et notre défenseur.</li>
    <li>refuser le doute et le découragement, «&nbsp;décharger toutes nos angoisses et nos soucis 
      sur le Seigneur&nbsp;» (Ps 54,22), et avancer dans une liberté parfaite.</li>
    <li>—tre audacieux et sans aucune crainte devant les obstacles, sachant que «&nbsp;rien n’est 
      impossible à Dieu&nbsp;» (Lc 1,37).</li>
    <li>compter en tout sur notre Père qui est aux cieux dans un mouvement d’abandon spontané, 
      comme celui des enfants, convaincus de notre néant absolu, mais courageusement confiants, 
      jusqu’à la hardiesse, en sa bonté paternelle.
    </li>
  </ul>
  <footer class="source">
    Mère Teresa de Calcutta
  </footer>
</blockquote>

