2014-10-01T13:26:00
«&nbsp;Petite voie pour des petites âmes&nbsp;» par S<sup>te</sup> Thérèse de l’Enfant-Jésus
<blockquote>
  Vous le savez (…), j’ai toujours désiré être une sainte, mais hélas&nbsp;! J’ai toujours 
  constaté, lorsque je me suis comparée aux saints, qu’il y a entre eux et moi la différence qui 
  existe entre une montagne dont le sommet se perd dans les cieux et le grain de sable obscur 
  foulé sous les pieds des passants&nbsp;; au lieu de me décourager, je me suis dit&nbsp;: le Bon 
  Dieu ne saurait inspirer des désirs irréalisables, je puis donc malgré ma petitesse aspirer à la 
  sainteté&nbsp;; me grandir, c’est impossible, je dois me supporter telle que je suis avec toutes 
  mes imperfections, mais je veux chercher le moyen d’aller au ciel par une petite voie bien 
  droite, bien courte, toute nouvelle. Nous sommes dans un siècle d’inventions, maintenant ce 
  n’est plus la peine de gravir les marches d’un escalier, chez les riches un ascenseur les 
  remplace avantageusement. Moi je voudrais aussi trouver un ascenseur pour m’élever jusqu’à 
  Jésus, car je suis trop petite pour monter le rude escalier de la perfection. Alors j’ai cherché 
  dans les livres saints l’indication de l’ascenseur objet de mon désir et j’ai lu ces mots sortis 
  de la bouche de la Sagesse Éternelle&nbsp;: Si quelqu’un est tout petit, qu’il vienne à moi. 
  Alors je suis venue devinant que j’avais trouvé ce que je cherchais, et voulant savoir, ô mon 
  Dieu, ce que vous feriez au tout petit qui répondrait à votre appel, j’ai continué mes 
  recherches et voici ce que j’ai trouvé&nbsp;: comme une mère console son enfant, ainsi je vous 
  consolerai, je vous porterai sur mon sein et je vous balancerai sur mes genoux&nbsp;! Ah&nbsp;! 
  Jamais paroles plus tendres, plus mélodieuses, ne sont venues réjouir mon âme, l’ascenseur qui 
  doit m’élever jusqu’au Ciel, ce sont vos bras, ô Jésus. Pour cela, je n’ai pas besoin de 
  grandir, au contraire il faut que je reste petite (…)&nbsp;! 
  <footer class="source">
    MssC 3r<sup>o</sup>
  </footer>
</blockquote>

