2014-10-10T10:39:00
Prochaine récollection&nbsp;: Dimanche 19 octobre à Meaux
Le p. Thierry animera la prochaine récollection à Meaux le **dimanche 19 octobre** à l’église 
Saint Jean Bosco (29 Av Henri Dunant) avec les frères et soeurs de la Fraternité installés à Meaux.

<ul>
  <li>9&nbsp;h Accueil autour d’un thé, café...</li>
  <li>puis mise en bouche&nbsp;: «&nbsp;l’Église, une mère au coeur ouvert&nbsp;»</li>
  <li>10&nbsp;h Messe à l’église Saint Jean Bosco</li>
  <li>11&nbsp;h&nbsp;15 reprise de la récollection sur la «&nbsp;Joie de l’Évangile&nbsp;»</li>
  <li>12&nbsp;h&nbsp;45 repas tiré du sac</li>
  <li>puis reprise de la récollection</li>
  <li>16&nbsp;h&nbsp;30 fin</li>
</ul>

