2014-11-14T15:54:00
Prochaine récollection&nbsp;: Dimanche 30 novembre
**«&nbsp;Balade à travers les oraisons de la messe&nbsp;»**

*animée par le p. Olivier de Vasselot*

Au Centre-Interparoissial de Donnemarie-Dontilly

De nombreuses oraisons d’ouverture de la messe sont de magnifiques prières. Pourtant, nous ne les 
écoutons pas forcement avec attention. Plusieurs temps de prière personnelle seront soutenus par 
plusieurs de ces oraisons dont nous allons goûter la saveur. En espérant donner appétit pour 
poursuivre ensuite chez soi cette découverte.

<ul>
  <li>Accueil à 9&nbsp;h&nbsp;30, enseignements, temps personnel de prière,</li>
  <li>Office du Milieu du jour, repas partagé (chacun apporte un plat salé ou sucré),</li>
  <li>Adoration eucharistique,</li>
  <li>Messe à 18&nbsp;h avec les paroissiens aux Ormes sur Voulzie.</li>
</ul>

