2014-12-25T20:56:00
«&nbsp;la grâce de la tendresse&nbsp;»

<blockquote>
  <p>
    La prophétie d’Isaïe annonce l’apparition d’une immense lumière qui perce l’obscurité. Elle 
    naît à Bethléem et elle est accueillie par les tendres mains de Marie, par l’affection de 
    Joseph, par l’étonnement des bergers. Quand les anges ont annoncé aux bergers la naissance du 
    Rédempteur, ils l’ont fait avec ces paroles&nbsp;: «&nbsp;Et voici le signe qui vous est 
    donné&nbsp;: vous trouverez un nouveau-né emmailloté et couché dans une mangeoire&nbsp;» 
    (Lc 2, 12). Le «&nbsp;signe&nbsp;» c’est justement l’humilité de Dieu, l’humilité de Dieu 
    portée à l’extrême&nbsp;; c’est l’amour avec lequel, cette nuit, il a assumé notre fragilité, 
    notre souffrance, nos angoisses, nos désirs et nos limites. Le message que tous attendaient, 
    le message que tous cherchaient dans la profondeur de leur âme, n’était autre que la tendresse 
    de Dieu&nbsp;: Dieu qui nous regarde avec des yeux pleins d’affection, qui accepte notre 
    misère, Dieu amoureux de notre petitesse.
  </p><p>
    En cette sainte nuit, tandis que nous contemplons l’Enfant Jésus qui vient de naître et d’être 
    déposé dans une mangeoire, nous sommes invités à réfléchir. Comment accueillons-nous la 
    tendresse de Dieu&nbsp;? Est-ce que je me laisse rejoindre par lui, est-ce que je me laisse 
    embrasser, ou bien est-ce que je l’empêche de s’approcher&nbsp;? «&nbsp;Mais je cherche le 
    Seigneur&nbsp;» – pourrions-nous rétorquer. Toutefois, la chose la plus importante n’est pas 
    de le chercher, mais plutôt de faire en sorte que ce soit lui qui me cherche, qui me trouve et 
    qui me caresse avec amour. Voici la question que nous pose l’Enfant par sa seule 
    présence&nbsp;: est-ce que je permets à Dieu de m’aimer&nbsp;?
  </p><p>
    Et encore&nbsp;: avons-nous le courage d’accueillir avec tendresse les situations difficiles 
    et les problèmes de celui qui est à côté de nous, ou bien préférons-nous les solutions 
    impersonnelles, peut-être efficaces mais dépourvues de la chaleur de l’Évangile&nbsp;? Combien 
    le monde a besoin de tendresse aujourd’hui&nbsp;! Patience de Dieu, proximité de Dieu, 
    tendresse de Dieu.
  </p><p>
    La réponse du chrétien ne peut être différente de celle que Dieu donne à notre petitesse. La 
    vie doit être affrontée avec bonté, avec mansuétude. Quand nous nous rendons compte que Dieu 
    est amoureux de notre petitesse, que lui-même se fait petit pour mieux nous rencontrer, nous 
    ne pouvons pas ne pas lui ouvrir notre cœur et le supplier&nbsp;: «&nbsp;Seigneur, aide-moi à 
    être comme toi, donne-moi la grâce de la tendresse dans les circonstances les plus dures de la 
    vie, donne-moi la grâce de la proximité face à toute nécessité, de la douceur dans n’importe 
    quel conflit&nbsp;».
  </p>
  <footer class="source">
    Extraits de l’homélie du Pape François, lors de la Messe de la nuit de Noël
  </footer>
</blockquote>

