2014-12-26T09:15:00
Un modèle à imiter
Voici un texte écrit par Edith Stein pour le renouvellement de ses voeux, le 6 janvier 1941.

Devant la crèche, elle imagine de nouveaux personnages venus adorer le Seigneur. Il s’agit 
d’Étienne, des Saints Innocents et de Saint Jean qui présentent à Jésus l’or, l’encens et la 
myrrhe.

Voici ce qu'elle écrit concernant Étienne&nbsp;:

<blockquote>
  <p>
    Tout près du Sauveur nouveau né, nous voyons Saint Étienne. Qu’est ce qui a valu cette place 
    d’honneur à celui qui le premier a rendu au Crucifié le témoignage du sang&nbsp;? Il a 
    accompli dans son ardeur juvénile ce que le Seigneur déclara en entrant dans le monde&nbsp;: 
    «&nbsp;Tu m’as donné un corps. Me voici, je viens faire ta volonté.&nbsp;» Il a pratiqué 
    l’obéissance parfaite qui plonge ses racines dans l’amour et s’extériorise dans l’amour.
  </p><p>
    Il a marché sur les traces du Seigneur en ce qui, selon la nature, est peut-être pour le coeur 
    humain le plus difficile, qui semble même impossible&nbsp;: comme le Sauveur lui-même, il a 
    accompli le commandement de l’amour des ennemis.
  </p><p>
    L’Enfant dans la crèche, qui est venu pour accomplir la volonté de Son Père jusqu’à la mort 
    sur la croix, voit en esprit devant lui tous ceux qui le suivront sur cette voie. Il aime ce 
    jeune homme qu’il attendra un jour pour le placer le premier près du trône du Père, une palme 
    à la main. Sa petite main nous le désigne comme modèle, comme s’il nous disait&nbsp;: 
    «&nbsp;Voyez l’or que j’attends de vous&nbsp;».
  </p>
  <footer class="source">
    «&nbsp;Source cachée&nbsp;» Ed. Ad solem p. 270-274
  </footer>
</blockquote>

