2014-12-28T11:24:00
Sainte famille
<figure class="txtcenter">
 <img src="uploads/fraternite/blog/fratFete2014.jpg" 
 alt="des membres de la Fraternité" 
 width="90%" />
  <figcaption>
    Une partie de la fraternité réunie à la Cathédrale pour la fête patronale
  </figcaption>
</figure>

Belle fête de la Sainte Famille à tous&nbsp;!

