2015-01-02T11:55:00
«&nbsp;Voeux...&nbsp;»
En cette période de nouvelle année, nous échangeons les uns et les autres des voeux de joie, de 
paix, de santé, de bonheur. Nous exprimons ainsi nos souhaits de bons moments, d’une belle année 
pour les uns et les autres.

Lors de la messe du 1<sup>er</sup> janvier, fête de Marie, Mère de Dieu, nous avons entendu, dans 
le Livre des Nombres (Nb 6, 24-27) la belle bénédiction de Dieu à Moïse&nbsp;:

<blockquote>
  <p>
    Tu leur diras&nbsp;: Voici en quels termes vous bénirez les fils d’Israël&nbsp;:
  </p><p>
    «&nbsp;Que le Seigneur te bénisse et te garde&nbsp;!<br>
    Que le Seigneur fasse briller sur toi son visage, qu’il te prenne en grâce&nbsp;!<br>
    Que le Seigneur tourne vers toi son visage, qu’il t’apporte la paix&nbsp;!&nbsp;»
  </p><p>
    Ils invoqueront mon nom sur les fils d’Israël, et moi, je vous bénirai.
  </p>
</blockquote>

Voilà avec d’autres termes, ceux de la bénédiction, ce que je demande à Dieu pour chacun de nous 
en 2015.

Tout en nous rappelant que la bénédiction de Dieu s’arrache parfois après de dures heures de 
luttes ou d’épreuves (relire Genèse 18, 17-33 ou 32, 24-33)&nbsp;!! Car il nous faut donc aller 
avec confiance et insistance, user de patience et de résistance auprès de Dieu en ces premiers 
jours de 2015, non pour obtenir les voeux formulés, mais acquérir de Lui l’Esprit Saint.

Car donner l’Esprit Saint n’est pas une simple bénédiction, mais recevoir le Don de Dieu, la 
source de toute bénédiction.

Alors passons du simple «&nbsp;souhait&nbsp;» à une demande impudente habitée par un vrai 
désir&nbsp;: Vivre en Dieu chaque instant de 2015&nbsp;!

Qui sait si nous ne serons pas exaucés&nbsp;? même le 31 décembre prochain à 
23&nbsp;h&nbsp;59&nbsp;!

+P.François

