2015-01-23T10:09:00
Appels
<blockquote>
  En ce temps-là, Jésus gravit la montagne, et il appela ceux qu’il voulait. Ils vinrent auprès de 
  lui, et il en institua douze pour qu’ils soient avec lui et pour les envoyer proclamer la Bonne 
  Nouvelle avec le pouvoir d’expulser les démons.
  <footer class="source">
    Marc 3, 13-15
  </footer>
</blockquote>

Jésus appelle... choisit... institue... envoie... partage la force de guérison et de relèvement 
qu’il détient de son Père.

Prions pour que nous soyons attentifs aux appels du Seigneur&nbsp;:

<blockquote>
  Donne-moi, Seigneur, qu’en ce jour, je réponde à tes appels, et découvre ton visage en mes 
  frères et soeurs. Que ton Amour et ta Volonté s’établissent en moi, et au coeur de notre 
  Fraternité. Que nous soyons sanctifiés dans notre vie de baptisés, assidus à la prière, disposés 
  à l'écoute de ta Parole, fortifiés dans notre simplicité de vie et dans la joie fraternelle.
</blockquote>

