2015-01-30T22:42:00
Vie consacrée pour la Joie&nbsp;!
<blockquote>
  Je voulais vous dire un mot, et ce mot, c’est la joie. Partout où il y a les consacrés, il y a 
  toujours de la joie&nbsp;!
  <footer class="footer">
    Pape François
  </footer>
</blockquote>

Ci-dessous (cf. ce 
<a href="https://www.viereligieuse.fr/IMG/pdf/140202-150202_Rallegratevi_Fr.pdf">document</a>) une 
belle reprise des propos du Pape sur la vie consacrée mais qui peut aider à méditer... quelles que 
soient les manières de donner nos vies au Christ et au monde.

Bonne lecture&nbsp;!

