2015-04-21T15:16:00
Rien est égal à Marie
<blockquote>
  <p>
    Rien n’est égal à Marie.<br>
    Rien, si ce n’est Dieu, n’est plus grand que Marie.<br>
    Et Dieu a donné à Marie<br>
    son Fils lui-même, égal à lui...<br>
    Ainsi est-il Fils commun de Dieu et de Marie.<br>
    Toute la nature a été créée par Dieu,<br>
    et Dieu est né de Marie.<br>
    Dieu a tout créé<br>
    et Marie a engendré Dieu.<br>
    Celui qui a pu faire toutes choses de rien<br>
    n’a pas voulu refaire sans Marie<br>
    ce qui avait été déshonoré.<br>
    Dieu a engendré Celui par qui tout a été fait,<br>
    et Marie a enfanté Celui<br>
    sans lequel absolument rien n'est bien.<br>
    Rien n’est égal à Marie.
  </p>
  <footer class="source">
    Saint Anselme de Canterbury
  </footer>
</blockquote>

