2015-04-24T15:59:00
Jésus, le bon Pasteur
<a href="http://www.vocations63.fr/Prieres/Neuvaine2015.pdf">Neuvaine pour la 52<sup>e</sup> 
  Journée mondiale de prière pour les Vocations</a>

Même si cette neuvaine se termine, rien n’empêche de la reprendre en partant de ce dimanche du bon 
Pasteur...&nbsp;!!

De plus, l’apport de chaque communauté présentée est l’occasion de rendre grâce pour les appels 
que Dieu lance... largement et pour tous&nbsp;!!

