2015-06-26T22:34:00
Renoncer pour accueillir la Vie du Christ
<blockquote>
  <p>
    L’Évangile est le livre de la Vie du Seigneur<br>
    Il est fait pour devenir le livre de notre vie.<br>
    Il n’est pas fait pour être compris mais pour être abordé comme un seuil de mystère.<br>
    Il n’est pas fait pour être lu, mais pour être reçu en nous.<br>
    Chacune de ses paroles est esprit et vie.<br>
    Agiles et libres, elle n’attendent que l’avidité de notre âme pour fuser en elle.<br>
    Vivantes, elles sont elles-mêmes comme le levain initial qui attaquera notre pâte et la fera 
    fermenter d’un mode de vie nouveau.<br>
    Les paroles des livres humains se comprennent et se soupèsent.<br>
    Les paroles de l’Évangile sont subies et supportées.<br>
    Nous assimilons les paroles des livres.<br>
    Les paroles de l’Évangile nous pétrissent, nous modifient, nous assimilent pour ainsi dire à 
    elles.<br>
    Les paroles de l’Évangiles sont miraculeuses. Elles ne nous transforment pas parce que nous ne 
    leur demandons pas de nous transformer. Mais, dans chaque phrase de Jésus, dans chacun de ses 
    exemples, demeure la vertu foudroyante qui guérissait, purifiait, ressuscitait.<br>
    À la condition d’être, vis-à-vis de lui, comme le paralytique ou le centurion, d’agir 
    immédiatemment en pleine obéissance.<br>
    (...)<br>
    Approcher l’Évangile de cette façon-là, c’est renoncer notre vie pour recevoir une destinée 
    qui n’a pour toute forme que le Christ.
  </p>
  <footer class="source">
    Madeleine Delbrêl, in *La joie de croire*, 2<sup>e</sup> édition. pp. 37-38
  </footer>
</blockquote>

