<header class="headerPage">
  {{#if error}}<p class="mtl alert alert-danger">{{error}}</p>{{/if}}
  <h1>À propos de la Fraternité</h1>
</header>
  
<section>
  <section>
<p>
Implantée dans le sud de la Seine et Marne, la Fraternité Saint Étienne est une 
Association de fidèles reconnue par Mgr de Monléon depuis le 
29&nbsp;juin&nbsp;2008. Réunissant des prêtres, des laïcs, elle propose de vivre 
une vie fraternelle et missionnaire au service des pôles missionnaires du 
diocèse de Meaux. Actuellement, elle vit en deux maisonnées&nbsp;: à Meaux et à 
Coulommiers. 
</p>
<p>
Depuis la rentrée septembre 2014, une nouvelle «&nbsp;maisonnée&nbsp;» s’est 
implantée sur le Pôle Missionnaire de Meaux.
</p><p>
Divers modes d’appartenance et d’engagements au sein de la Fraternité sont 
possibles, aidant chacun à vivre sa propre grâce baptismale et à s’associer à 
la mission du Christ Pasteur selon les besoins pastoraux des Pôles missionnaires 
du diocèse.
</p><p>
Portant le nom de saint Étienne, le saint patron du diocèse de Meaux, les 
membres de la Fraternité désirent aussi mettre leurs pas à la suite des saints 
et saintes qui ont annoncé dans le diocèse la Bonne Nouvelle du Christ 
ressuscité.
</p><p>
La Fraternité accueille tous les baptisés et tous les états de vie reconnus par 
l’Église catholique. Elle offre à chacun un moyen de vivre la vie baptismale, à 
l’image de la première communauté de Jérusalem (Ac. 2, 42-46) dans une écoute et 
une prière de la Parole de Dieu, dans un partage des biens pour une simplicité 
de vie et se mettant au service d’une portion du peuple de Dieu.
</p><p>
N’ayant qu’un seul coeur et une seule âme, et vivant en frères et soeurs du Fils 
Unique, les membres de la Fraternité s’associent et collaborent ainsi à la 
mission du Christ Pasteur qui rassemble le Peuple de Dieu dans l’Esprit Saint 
pour la louange du Père.
</p>

<h2>Nous contacter</h2>
<p>Par courrier&nbsp;:</p>
<p class="mll">Fraternité Saint Étienne<br />
  10 av du Président Salvador Allende<br />
  77100 <span class="smallcaps">Meaux</span></p>

<p>Par mail&nbsp;:</p>
<div class="w100 small-w75 medium-w75 large-w50 center">  
  {{form.build()}}
</div>
<p class="txtright"><em>(Une copie du mail vous sera envoyée)</em></p>
  </section>
</section>    
