  <header class="headerPage">
    <h1>Charte de vie de la Fraternité Saint Étienne
      <span class="subtitle">Version novembre 2017</span>
    </h1>
  </header>


<!--
   ________________
  |                |
  | Menu + contenu |
  |________________|

-->

  <section>

  <aside>
    <nav class="nav nav-dark">
      <ul>
        <li><a href="#h1-intro">Introduction</a></li>
        <li class="has-sub">
          <a>1. Une vie communautaire 
            <i class="icon icon-expand-more"></i></a>
          <ul>
            <li>
              <a href="#h2-1-1">1.1 Une vie fraternelle pour la Mission</a>
            </li>
            <li>
              <a href="#h2-1-2">1.2 Sept piliers pour la vie communautaire</a>
            </li>
          </ul>
        </li>
        <li class="has-sub">
          <a>2. Pour la mission <i class="icon icon-expand-more"></i></a>
          <ul>
            <li>
              <a href="#h2-2-1">2.1 Une fraternité concrète et rayonnante</a>
            </li>
            <li>
              <a href="#h2-2-2">2.2 Une fraternité pastorale vécue avec tous</a>
            </li>
            <li>
              <a href="#h2-2-3">2.3 Pour édifier des communautés chrétiennes 
                fraternelles, priantes et missionnaires</a>
            </li>
          </ul>
        </li>
        <li class="has-sub">
          <a>3. Les membres de la Fraternité Saint Étienne 
            <i class="icon icon-expand-more"></i></a>
          <ul>
            <li><a href="#h2-3-1">3.1 Des fidèles du Christ</a></li>
            <li><a href="#h2-3-2">3.2 Des prêtres</a></li>
            <li><a href="#h2-3-3">3.3 La gouvernance de la Fraternité</a></li>
          </ul>
        </li>
        <li><a href="#h1-conclusion">Conclusion</a></li>
      </ul>
    </nav>
  </aside>


<!--
   ____________________
  |                    |
  | Contenu de la page |
  |____________________|

-->

      <section>
<p id="h1-intro">
Depuis plus d’un demi-siècle, l’Église cherche à raviver son engagement 
missionnaire en France, si bien que «&nbsp;l’activité missionnaire représente 
aujourd’hui encore le plus grand défi pour 
l’Église&nbsp;»<a href="#footNote-1"><sup>1</sup></a>. À l’époque actuelle, 
l’ampleur du défi missionnaire vient de la difficulté à faire connaître la 
nouveauté radicale de vie apportée par le Christ, à laquelle sont appelés ses 
disciples. Nous vivons dans une société qui n’imagine plus à quel point elle a 
besoin de l’Évangile. 
</p><p>
Chaque fidèle du Christ trouve sa place dans l’annonce de la Bonne Nouvelle, 
selon les appels de l’Esprit, et est appelé, par son baptême, à vivre 
intégralement l’Évangile. C’est pourquoi la Fraternité Saint Étienne permet à 
ses membres, fidèles du Christ de divers états de vie, d’entrer dans une 
communauté de vie et de prière, de partager des missions, et d’obtenir un 
soutien fraternel adapté aux circonstances et aux exigences de la vie 
ecclésiale et pastorale en Seine-et-Marne aujourd’hui. 
</p><p>
Appelés, envoyés, établis coopérateurs de l’évêque, constituant avec lui un 
seul <em>presbyterium</em> aux fonctions 
diverses<a href="#footNote-2"><sup>2</sup></a>, les prêtres ne peuvent 
accomplir toute leur mission isolément et individuellement.
</p><p>
La Fraternité Saint Étienne s’inscrit dans l’élan du Concile Vatican&nbsp;II qui
souligne que les prêtres ont «&nbsp;besoin de s’entraider pour le développement 
de leur vie spirituelle et intellectuelle, d’améliorer leur coopération dans le 
ministère, d’éviter les dangers que peut entraîner l’isolement. Autant de motifs
qui poussent à encourager une certaine vie commune ou un certain partage de vie 
entre les prêtres&nbsp;»<a href="#footNote-3"><sup>3</sup></a>. 
</p><p>
Les membres de la Fraternité ont à cœur de faire croître les liens multiples qui 
les unissent à l’ensemble des fidèles du Christ. Ils nourrissent ainsi celles et 
ceux qui collaborent à l’agir apostolique du Christ, le bon Pasteur.
</p><p>
La Fraternité Saint Étienne est dans l’Église diocésaine de Meaux, une 
association privée de fidèles, selon les Canons 298-311 et 321-326 du Code de 
Droit Canonique. Son siège est actuellement au 10 av. du Pdt Salvador Allende 
77100 Meaux. Un Directoire complète la présente Charte. 
</p>

<h2>1. Une vie communautaire</h2>
<h3 id="h2-1-1">1.1. Une vie fraternelle pour la Mission</h3>
<p>
Vivants en frères et sœurs du Fils, les membres de la Fraternité Saint Étienne 
tendent vers les conseils évangéliques et une sainteté de vie à la suite de 
Jésus-Christ, sous l’intercession et la protection de saint Étienne, premier 
martyr et diacre de l’Église, mais aussi figure du disciple-missionnaire du 
Christ.
</p><p>
Convaincus que les charismes et ministères de chacun sont une grâce pour tous, 
ils collaborent au titre de leur baptême ou de leur ordination, ou au titre 
d’une mission ou d’un service ecclésial, à la mission du Christ Pasteur qui 
rassemble le Peuple de Dieu dans l’Esprit-Saint pour la louange du Père. 
</p><p>
La prière commune, le partage des préoccupations et des responsabilités 
pastorales, l’étude commune de l’Écriture Sainte, la croissance de la vie 
spirituelle de chacun, les tâches de la vie quotidienne, les repas pris ensemble 
et les moments conviviaux sont les facettes indissociables d’une vie 
communautaire authentique. L’union entre la vie communautaire fraternelle et 
l’exercice de la mission apostolique permet de progresser sur le chemin de la 
sainteté. 
</p>

<h3 id="h2-1-2">1.2. Sept piliers pour la vie communautaire…</h3>
<h4>1.2.1 Dans un habitat pratique et hospitalier…</h4>
<p>
Les membres de la Fraternité, regroupés en «&nbsp;maisonnées&nbsp;» dans les 
lieux où la Fraternité réside, du fait d’une mission reçue de l’évêque diocésain 
ou par nécessité dans un autre lieu afin de développer la vie et le charisme 
propre de la Fraternité, veillent à ne pas seulement «&nbsp;occuper&nbsp;» une 
maison, mais à l’habiter vraiment et à la rendre accessible et hospitalière.
</p><p>
Désireuse de partager son expérience de vie communautaire, de prière, et de 
mission, chaque «&nbsp;maisonnée&nbsp;» de la Fraternité considère son lieu de 
vie quotidien comme étant aussi un «&nbsp;lieu ressource&nbsp;» pour le diocèse 
de Meaux, selon les Propositions pastorales définies à l’Épiphanie 2001, et 
celles du Guide Pastoral publiées à Trinité 2008. 
</p><p>
La maison est ainsi ouverte à ceux qui désirent se ressourcer ou rendre un 
service pastoral ou domestique. Elle dispose de locaux destinés à héberger les 
chercheurs de Dieu ou de vocation. 
</p><p>
L’habitat de chaque «&nbsp;maisonnée&nbsp;» comprend les lieux nécessaires aux 
différents aspects de sa vie. Chaque membre a un lieu propre à sa vie 
personnelle. Les lieux communautaires et personnels sont matériellement 
distincts des lieux réservés aux activités pastorales. 
</p>

<h4>1.2.2 …une certaine mise en commun des biens…</h4>
<p>
Le temps est un Bien donné par le Créateur, mais il est facile de s’en croire 
propriétaire. Le temps se donne dans l’apostolat, il se donne dans la vie 
communautaire. Aucun membre n’estime donc comme négligeables les moments où la 
Fraternité est invitée à faire corps, dans la prière, le partage des tâches et 
la convivialité.
</p><p>
À l’image de la première communauté à Jérusalem, les membres de la Fraternité 
cherchent à vivre avec une simplicité de moyens afin d’être toujours «&nbsp;un 
seul cœur et une seule âme tendus vers 
Dieu&nbsp;»<a href="#footNotes-4"><sup>4</sup></a>. En se basant sur les 
critères donnés par le Directoire, chaque «maisonnée» décide de la façon dont 
une partie des ressources de chacun peut être mise en commun pour une vie 
domestique paisible, simple et hospitalière et un partage significatif avec les 
plus pauvres. 
</p><p>
La Fraternité Saint Étienne participe au partage avec les plus démunis dans le 
cadre d’une décision prise en commun, selon ce que prévoit le Directoire.
</p>

<h4>1.2.3 … une fraternité eucharistique…</h4>
<p>
L’Eucharistie est la source et le sommet de la vie chrétienne et de l’évangélisation, elle est au centre de la communauté chrétienne<a href="#footNote-5"><sup>5</sup></a>. Il en est ainsi pour la Fraternité et pour chacun de ses membres. 
L’Eucharistie est concélébrée au moins une fois par semaine par tous les prêtres d’une «maisonnée».
Tout en aidant chacun à poursuivre son chemin de sanctification personnelle, l’adoration eucharistique permet aux communautés et aux fidèles d’être des «ferments de contemplation pour toute l’Église»<a href="#footNote-6"><sup>6</sup></a>. Elle est régulièrement proposée et ouverte à tous, dans l’oratoire de la Fraternité ou dans une église paroissiale.
</p>

<h4>1.2.4 …une sanctification du temps…</h4>
<p>
Dans l’exercice de leurs missions diverses, les membres de la Fraternité prient 
l’Office divin avec leurs collaborateurs pastoraux aussi souvent que cela est 
possible.
</p><p>
La Fraternité offre une pédagogie initiatrice en vue de rendre la prière 
liturgique accessible au plus grand nombre. De même, la célébration de l’Office 
divin au chœur se doit d’être particulièrement soignée afin de permettre 
l’écoute et la participation fructueuses de 
tous<a href="#footNote-7"><sup>7</sup></a>. 
</p><p>
La Fraternité Saint Étienne célèbre de façon particulièrement festive les Saints 
de l’Église de Meaux, en particulier son Saint patron, Étienne, et la Toussaint 
diocésaine. Les saints et les saintes de l’Église de Meaux sont célébrés selon 
les usages liturgiques en vigueur dans le Diocèse. Leur intercession est 
régulièrement demandée dans la prière communautaire. L’exemple de ces figures de 
sainteté<a href="#footNote-8"><sup>8</sup></a> permet à la Fraternité et à ses 
membres d’être «&nbsp;un laboratoire&nbsp;» de communion, de catholicité, de 
charité, d’hospitalité et de mission.
</p>

<h4>1.2.5 …un espace pour l’oraison, la prière personnelle et la <em>lectio 
    divina…</em></h4>
<p>
Les membres de la Fraternité réservent un temps personnel quotidien pour la 
lecture méditée des Écritures et l’oraison. C’est une nécessité pour la 
conversion de chacun et la croissance de la vie communautaire et pour 
l’apostolat. Car c’est par la prière que les disciples de Jésus-Christ 
s’accordent profondément à la volonté et la sainteté du 
Père.<a href="#footNote-9"><sup>9</sup></a>
</p>

<h4>1.2.6 …un partage de la vie pastorale et soutien fraternel…</h4>
<p>
Les membres de la Fraternité ne négligent aucune occasion de s’interroger sur 
leurs missions, de se soutenir et de chercher à comprendre leurs points de vue 
lorsque des divergences apparaissent. Ils se retrouvent régulièrement autour de 
la Parole de Dieu et de l’évaluation des activités de leur ministère ou de leur 
service.
</p><p>
Ils proposent aussi à tous et en premier lieu aux acteurs pastoraux, des temps 
de partage de la Parole et de leurs préoccupations apostoliques, à l’image du 
Seigneur qui réunit ses disciples après les avoir envoyé en 
mission.<a href="#footNote-10"><sup>10</sup></a>
</p><p>
Ils ont à cœur de se rendre proches de tous les fidèles laïcs, diacres, et 
religieux avec qui ils exercent leurs responsabilités pastorales, quelles que 
soient les préférences pastorales ou spirituelles de ceux-ci.
</p><p>
Les prêtres de la Fraternité reçoivent de l’évêque une mission pastorale commune 
qu’ils s’efforcent d’accomplir dans une réelle complémentarité. Si l’un ou 
l’autre des membres exerce une mission dans un cadre différent de celui de ses 
frères, chacun se souciera de la mission de l’autre comme si elle était la 
sienne propre. Le partage de vie et l’écoute mutuelle permettent à tous de 
porter la mission de chacun. 
</p>

<h4>1.2.7 … les rencontres en «maisonnées» et en Fraternité …</h4>
<p>
Deux soirs par mois, les membres permanents de la Fraternité se réunissent, pour 
l’Office de Vêpres et un repas, suivi d’un temps de partage communautaire. Ceci 
en «&nbsp;maisonnée&nbsp;» ou tous ensemble en Fraternité. 
</p><p>
La parole du psalmiste «&nbsp;Oui, il est bon, il est doux pour des frères de 
vivre ensemble et d’être unis&nbsp;»<a href="#footNote-11"><sup>11</sup></a> 
inspire ces soirées qui permettent de se ressaisir de l’esprit fraternel. Ces 
rencontres peuvent être le lieu privilégié de la réconciliation fraternelle. 
</p>

<h4>1.2.8 … des temps de récollection, de formation et temps conviviaux.</h4>
<p>
Les membres de la Fraternité prennent ensemble plusieurs fois dans l’année une 
journée de récollection ou une journée de repos. Mais aussi ils seront attentifs 
à prendre les moyens d’une formation permanente pour les soutenir dans leur 
apostolat et leur vie spirituelle. 
</p>


<h2>2. Pour la mission</h2>
<p>
Avec les fidèles du Christ, les prêtres de la Fraternité sont missionnaires. 
Pour eux, ils sont ministres de la Parole et des Sacrements. L’Eucharistie, la 
Liturgie des Heures, l’accompagnement spirituel, les formations, la relecture et 
l’aide au discernement, participent au renouvellement des forces apostoliques et 
au tissage des communautés chrétiennes, de façon à ce que celles-ci ne perdent 
jamais de vue que le Seigneur les embauche pour sa Mission. Les membres laïcs de 
la Fraternité prennent une part active à cette mission, selon leur état de vie 
et les dons qui leurs sont propres.
</p>

<h3 id="h2-2-1">2.1. Une fraternité concrète et rayonnante</h3>
<p>
La fraternité vécue concrètement sert l’annonce de l’Évangile aux hommes et aux 
femmes pour lesquels le Seigneur Jésus veut être le bon Pasteur. Elle facilite 
une plus grande liberté dans l’appréciation des enjeux pastoraux et rend plus 
accessible la charité pastorale. Elle suppose un climat de liberté spirituelle, 
de respect et d’écoute mutuelle. Elle requiert aussi une attention de chacun aux 
orientations diocésaines et un désir de stimuler le dynamisme missionnaire du 
diocèse.
</p><p>
L’appartenance à la Fraternité Saint Étienne demande la volonté explicite de 
chaque membre de contribuer à une communion fondée sur le respect et l’amour. 
Celle-ci devient un signe donné à l’ensemble des communautés que le Seigneur 
veut consacrer dans la vérité<a href="#footNote-12"><sup>12</sup></a>. 
</p><p>
Dès la constitution d’une «maisonnée», les éléments concrets qui règlent la vie 
communautaire et apostolique seront précisément définis, en fonction de cette 
Charte, de son Directoire, et des missions données par l’évêque. Ces éléments 
sont vérifiés à chaque rentrée pastorale et adaptés s’il le faut.
</p>

<h3 id="h2-2-2">2.2. Une fraternité pastorale vécue avec tous</h3>
<p>
Les membres de la Fraternité mènent leur labeur apostolique en collaboration 
avec les autres acteurs de la pastorale (prêtres, diacres, laïcs en charge 
ecclésiale, équipes et conseils divers…), selon les règles diocésaines et les 
spécificités propres à chaque lieu. Car les communautés s’édifient par 
l’exercice de la multitude des charismes et des articulations  en vue de 
l’utilité commune. Ils ont à cœur d’accompagner, de former et de soutenir les 
acteurs pastoraux afin qu’ils s’imprègnent de l’Esprit et de l’agir apostolique 
du Christ. 
</p><p>
Il est possible aux fidèles qui le désirent de s’associer plus régulièrement à 
la prière et à la vie de la Fraternité, afin d’approfondir la spiritualité 
pastorale et diocésaine de celle-ci et d’en nourrir leur vie baptismale.
</p>

<h3 id="h2-2-3">2.3. Pour édifier des communautés chrétiennes fraternelles, 
  priantes et missionnaires</h3>
<p>
La Fraternité Saint Étienne exerce sa mission pour une fraction de la 
population, sur un territoire ou des secteurs de vie du Diocèse de Meaux. Elle 
peut, sur demande d’acteurs pastoraux en mission sur d’autres lieux du Diocèse, 
partager des éléments de ses intuitions pastorales et de son expérience 
missionnaire. 
</p><p>
La Fraternité propose des activités pastorales en lien avec sa mission 
d’évangélisation, mais aussi des temps de ressourcement et de formation afin 
d’aider chaque baptisé à vivre de l’Évangile du Christ et à participer à la 
mission de l’Église. Ainsi de simple récepteur de la Bonne Nouvelle ou 
«&nbsp;objet de mission&nbsp;», chacun devient «&nbsp;sujet de mission&nbsp;» 
pour établir une véritable catholicité de communion et de mission, tel que cela 
leur est commandé par l’Esprit qui les précède, les envoie, et les unit.
</p><p>
Elle peut proposer également de partager son expérience communautaire et 
spirituelle  à ceux qui le désirent. 
</p>


<h2>3. Les membres de la Fraternité Saint Étienne</h2>
<h3 id="h2-3-1">3.1. Des fidèles du Christ</h3>
<p>
Par le baptême, chacun est inséré dans une famille qu’est l’Église. Chacun est 
envoyé selon les appels de l’Esprit à œuvrer à la Mission du Christ Pasteur qui 
veut rassembler son peuple pour la louange du Père dans l’Esprit.
</p><p>
Les fidèles du Christ désireux de vivre selon les intuitions et orientations 
sont admis dans la Fraternité après accord du Modérateur et de son Conseil. Ceci 
selon deux types d’appartenance: les «membres communautaires de vie» et les 
«&nbsp;membres communautaires d’alliance&nbsp;» (désignés par le terme&nbsp;: 
«&nbsp;amis de la famille&nbsp;»).
</p><p>
Leurs engagements et leurs modes de participation à la vie de la Fraternité sont 
décrits dans le Directoire. 
</p><p>
Il sera également possible d’y accueillir, pour un temps donné et selon les 
modalités décrites dans le Directoire, des hôtes de passage, des prêtres 
étudiants et des séminaristes.
</p>

<h3 id="h2-3-2">3.2. Des prêtres</h3>
<p>
Tout prêtre du diocèse de Meaux peut exprimer à l’évêque sa disponibilité à 
entrer dans la Fraternité Saint Étienne. Au préalable, il a été informé des 
exigences propres à la Fraternité. 
</p><p>
Un prêtre devient membre de la Fraternité Saint Étienne au minimum pour la durée 
de la mission qui lui a été confiée par l’évêque. Au terme de celle-ci, il peut 
faire part au modérateur de sa décision de ne pas renouveler son engagement. 
Dans la mesure où la vie dans la Fraternité correspond à un appel discerné et 
éprouvé, l’évêque lui confiera une autre mission dans le cadre de celle-ci, en 
concertation avec le Modérateur.
</p><p>
Membres du <em>presbyterium</em> du Diocèse de Meaux, les prêtres de la 
Fraternité participent pleinement à sa vie et suivent les directives pastorales 
de l’évêque.
</p>

<h3 id="h2-3-3">3.3. La gouvernance de la Fraternité.</h3>
<h4>3.3.1 Le Modérateur</h4>
<p>
Le Modérateur veille à la formation humaine et spirituelle selon les besoins de 
tous et de chacun en s’assurant que dans la Fraternité, en recherche 
d’authenticité évangélique, les traits essentiels du charisme et des intuitions 
de la Fraternité, décrits dans ses documents de références, demeurent vivants. 
Ceci en dialogue et communion avec ses frères et sœurs en Christ par une pleine 
disponibilité et docilité à l’Esprit Saint.
</p><p>
Il prévoit des rencontres générales régulières pour les membres des différentes 
«&nbsp;maisonnées&nbsp;» et encourage chacun à vivre les activités missionnaires 
et communautaires proposées par la Fraternité.
</p><p>
Il veille à un dialogue et une réelle communion avec l’Ordinaire du lieu, 
partageant le même engagement pastoral et missionnaire. L’évêque exercera sa 
vigilance et sa bienveillance envers la Fraternité et en soutenant dans leurs 
efforts, chacun de ses membres<a href="#footNote-13"><sup>13</sup></a>. 
</p><p>
Les modalités d’élection du Modérateur sont décrites dans le Directoire.
</p><p>
Si la Fraternité est composée d’une seule «&nbsp;maisonnée&nbsp;», le Modérateur
en est également le responsable.
</p>

<h4>3.3.2 Le Conseil de famille</h4>
<p>
Un Conseil de famille est élu parmi les membres de la Fraternité afin de veiller 
au bon déploiement de la vie fraternelle et missionnaire. Ainsi le conseil fait 
relecture de la vie de la Fraternité, de ses «&nbsp;maisonnées&nbsp;». Elle pose 
les bases des nouvelles institutions lorsque celles-ci apparaissent nécessaires. 
Elle apaise les tensions. Tout ceci pour permettre aux membres de la Fraternité 
de renforcer sa fidélité à l’Évangile et à l’Église, dans le cadre de cette 
Charte de vie, du Directoire et des coutumes propres à la Fraternité.
</p><p>
Le Conseil de famille se réunit sous la présidence du Modérateur. Elle 
s’applique à rendre ses décisions par consensus. En cas de divergence, le 
Modérateur tranche. 
</p><p>
Les modalités d’élection du Conseil de famille sont décrites dans le Directoire
</p>

<h4>3.3.3 L’Économe</h4>
<p>
Un Économe sera choisi par le Conseil de famille afin d’assurer la bonne gestion 
des biens et revenus de la Fraternité. 
</p>
<p>
Les modalités d’élection de l’Économe sont décrites dans le Directoire.
</p>

<h4>3.3.4 Dans une disponibilité aux nécessités et à l’Esprit Saint</h4>
<p>
D’autres instances de gouvernance et d’exercice de l’autorité pourront être  
mises en place pour répondre, si besoin, aux nécessités de la recherche 
permanente de ce «&nbsp;vouloir-vivre-ensemble&nbsp;». Le Conseil de famille est 
habilité à proposer ou à valider les modalités et moyens de cette mise en place 
(cf. 3.3.2).
</p>

<h2 id="h1-conclusion">Conclusion&nbsp;:
  À la suite de Saint Étienne et des saints du diocèse…</h2>
<p>
  <em>«&nbsp;Viens, et suis-moi&nbsp;» (Jn 11, 52).</em>
</p><p>
Jésus nous appelle à Lui jusqu’à ramener à l’unité les enfants de Dieu 
dispersés. Les membres de la Fraternité ont pour mission, de par leur onction 
baptismale, de rapprocher les hommes les uns des autres. C’est pourquoi ses 
membres vivent d’abord eux-mêmes en fraternité. Corps du Christ, baptisés en 
Lui, ils sont tous membres les uns des autres, cohéritiers du Christ, ils sont 
frères. Cette volonté d’aimer toujours et partout le Christ et l’autre tel qu’il 
est, connue de tous et partagée par tous, en réalisant le commandement nouveau 
du Seigneur, édifie notre fraternité et la rend apostolique, selon ce qui est 
décrit dans le Directoire.
</p><p>&nbsp;</p><p>
  <em>«&nbsp;Ce qui montrera à tous les hommes que vous êtes mes disciples, 
    c’est l’amour que vous aurez les uns pour les autres.&nbsp;» 
    (Jn 13,35).</em>
</p><p>
Ainsi la Fraternité Saint Étienne veut contribuer pour sa part à ce long travail 
de tissage des liens fraternels dans la société et dans l’Église. Ses membres ne 
sont pas meilleurs que d’autres, et pourtant ils espèrent stimuler la vie 
fraternelle que les catholiques du Diocèse de Meaux sont appelés à vivre en 
communion avec l’Église toute entière. 
</p><p>
Dans le témoignage des chrétiens, cette fraternité se décline à travers des vies 
offertes dans la contemplation et le service des pauvres. Comme au temps de 
saint François et sainte Claire d’Assise où pour rejoindre les <em>minores</em> 
de la société, il fallait devenir l’un d’eux. Comme dans l’exemple de Charles de 
Foucault et des frères de Tibhirine où la présence fraternelle témoigne déjà de 
l’amour inconditionnel de Dieu pour tout homme. 
</p><p>&nbsp;</p><p>
  <em>«&nbsp;La foi naît de la prédication et de cette prédication la parole du 
    Christ est l’instrument&nbsp;» (Rm 10,17).</em>
</p><p>
Les membres de la Fraternité ont pour mission de faire connaître aux hommes le 
Christ, sa personne et son message, pour qu’ils aient la vie qui vient de Lui 
seul. L’appel à répandre cette Bonne Nouvelle du Christ ressuscité, selon les 
intuitions missionnaires propres à la Fraternité, est le ferment de 
«&nbsp;l’unité du genre humain» où se réalisera la fraternité universelle.
</p><p>&nbsp;</p><p>
L’Église de Meaux s’inscrit en ce vingt et unième siècle dans l’histoire 
d’Alliance que depuis l’Origine le Seigneur notre Dieu a voulu conclure avec sa 
création. De siècle en siècle, Il a veillé sur l’humanité, et il s’est donné à 
un Peuple comme un Père et comme un Époux. En Jésus Christ, le Créateur s’est 
fait Rédempteur.
</p><p>
Étienne, homme rempli de foi et d’Esprit Saint, plein de grâce et de 
puissance<a href="#footNote-14"><sup>14</sup></a> le rappelle&nbsp;: Depuis 
Abraham jusqu’au Christ, Dieu s’est bâti sur terre une demeure qui n’est pas 
faite de main d’homme. Étienne est le Saint patron du Diocèse. 
</p><p>
En suivant au plus près le Christ Pasteur, en vivant de l’Esprit apostolique, 
ses membres auront toujours à cœur de poursuivre à la suite des saints et des 
saintes nommés et innommés, l’édification de communautés chrétiennes vivantes, 
fraternelles et missionnaires.
</p>
<p class="txtcenter">
  <em>«&nbsp;Dieu qui nous réconfortes par un même pain<br>
  et nous soutiens d’une même espérance,<br>
  resserre chaque jour les liens de notre unité,<br>
  afin que formant avec tous les saints de notre Église<br>
  un seul corps et un seul esprit dans le Christ,<br>
  nous ressuscitions avec lui dans la gloire&nbsp;».</em>
</p><p class="txtright">
  <em>Fête de tous les saints de l’Église diocésaine de Meaux</em>
</p>

<hr>

<h2>Notes</h2>
  <ol>
    <li id="footNote-1">
      Jean-Paul&nbsp;II, <em>Redemptoris Missio</em>, n<sup>o</sup> 40.
    </li>
    <li id="footNote-2">
      Cf. Concile Vatican&nbsp;II <em>Lumen Gentium</em> n<sup>o</sup> 28.
    </li>
    <li id="footNote-3">
      <em>Presbyterorum Ordinis</em> n<sup>o</sup> 8.
    </li>
    <li id="footNote-4">
      Cf. Actes des Apôtres 2, 42-47&nbsp;; 4, 32-37.
    </li>
    <li id="footNote-5">
      Cf. <em>Lumen Gentium</em> n<sup>o</sup> 9&nbsp;; <em>Presbyterorum 
      Ordinis</em>, n<sup>o</sup>5&nbsp;; <em>Christus Dominus</em> 
      n<sup>o</sup>30.
    </li>
    <li id="footNote-6">
      Cf. Benoît&nbsp;XVI, <em>Sacramentum Caritatis</em>, exhortation 
      apostolique sur l’Eucharistie, n<sup>o</sup>67.
    </li>
    <li id="footNote-7">
      PGLH n<sup>o</sup> 267 et suivants &amp; Règle de S<sup>t</sup> Benoît 
      chap.19&nbsp;; <em>Sacrosanctum Concilium</em> n<sup>o</sup>14, 30, 83 et 
      100.
    </li>
    <li id="footNote-8">
      La Fraternité s’appuie, de manière particulière, sur les intuitions de vie 
      fraternelle et missionnaire des saints et saintes du Diocèse, et aussi de 
      S<sup>t</sup> François et S<sup>te</sup> Claire d’Assise, du Bienheureux 
      Charles de Foucauld, et d’autres témoins de l’Évangile et du Christ comme 
      Madeleine Delbrêl et les moines de Tibhirine.
    </li>
    <li id="footNote-9">
      Matthieu 6, 5-15 &amp; 7, 7-15; Marc 9, 29; Jean 16, 23-28.
    </li>
    <li id="footNote-10">
      Luc 9, 10 &amp; 11, 17-20
    </li>
    <li id="footNote-11">
      Psaume 132 (133), 1
    </li>
    <li id="footNote-12">
      Cf. Jean 17,17-19
    </li>
    <li id="footNote-13">
      Selon le Droit canon n<sup>o</sup>298 §1&nbsp;: <em>«&nbsp;Dans l’Église, 
      il existe des associations distinctes des instituts de vie consacrée et 
      des sociétés de vie apostolique, dans lesquelles des fidèles, clercs ou 
      laïcs, clercs et laïcs ensemble, tendent par un agir commun à favoriser 
      une vie plus parfaite, à promouvoir le culte public ou la doctrine 
      chrétienne, ou à exercer d’autres activités d’apostolat, à savoir des 
      activités d’évangélisation, des œuvres de piété ou de charité, et 
      l’animation de l’ordre temporel par l’esprit chrétien&nbsp;»</em>.
    </li>
    <li id="footNote-14">
      Cf. Actes des Apôtres, chapitre 6.
    </li>
  </ol>

    </section>  <!-- Contenu -->
  </section>    <!-- Menu + contenu -->
