<header class="NetworkBar">
  <h1 class="NetworkBar__logo">
    <a href="#" id="NetworkBar__logo">
      <i class="icon icon-logo-{{#if _site.name == 'frat'}}frat-{{/if}}img"></i>
      <i class="icon icon-logo-{{#if _site.name == 'frat'}}frat-{{/if}}txt"></i>
      <strong>Théo-Net</strong>
      <small>Network</small>
      <i class="icon icon-expand-more"></i>
    </a>
  </h1>
  <aside class="NetworkBar__side">
    <nav class="NetworkBar__menu">
      <ul>
        {{#each menuNetwork}}
        <li>
          <a href="{{url}}">
            <i class="icon icon-{{icon}} icon-lg mrs"></i>{{desc}}</a>
        </li>
        {{/each}}
      </ul>
    </nav>

    <div class="NetworkBar__user">
      {{#if isConnected}}
      <h2><a href="#" id="NetworkBar__user__button">
          <img src="/img/avatar-{{networkUsername}}.jpg" class="avatarUser" alt="avatar">
        {{networkUser}}
        <i class="icon icon-expand-more"></i>
      </a></h2>
      <nav>
        <ul>
          <li><a href="{{$getRoute('adminAccount')}}">
            <i class="icon icon-settings icon-lg mrs"></i>Paramètres</a>
          </li>
          {{#if hasAdmin}}
          <li>
            <a href="{{https}}admin.{{mainDomain}}{{port}}">
            <i class="icon icon-warning icon-lg mrs"></i>Administration</a>
          </li>
          {{/if}}
          <li>
            <a href="{{$getRoute('disconnection')}}">
            <i class="icon icon-sign-out icon-lg mrs"></i>Se déconnecter</a>
          </li>
        </ul>
      </nav>
      {{/if}}
      {{#if !isConnected}}
      <a href="{{$getRoute('connection')}}" class="btn">
        <i class="icon icon-sign-in mrs"></i>Se connecter</a>
      {{/if}}
    </div>  
   
<!--
    <div class="NetworkBar__feedback">
      <a onClick="alert('Envoyez un mail à contact@theo-net.org')"
        class="btn btn-danger">
        Feedback <i class="icon icon-bug"></i>
      </a>
    </div>
-->
  </aside>
</header>
{{#if $user.hasFlash()}}
<ul id="NetworkBar__alert">
  {{#each $user.getFlash()}}
  <li class="alert-{{type}} alert-dismissable"><i class="close"></i>{{content}}</li>
  {{/each}}
</ul>
{{/if}}

