  <header class="headerPage ordo__header">
    <h1>
      Les photos 
    </h1>
  </header>
    
    <section>
      <section>

        <p>
          Retrouvez ici toutes les photos réalisées en Terre Sainte. Vous 
          pourrez ainsi goûter aux beautés que je découvre ici.</p>

<div class="grid-4 mll mrl mbl">
  {{#each albums}}
  <div class="paper-shadow z1 brt mtm txtcenter">
    <img src="{{basecover}}{{cover}}" />
    <div class="h4-like man pan">
      <a class="skipLinkIcon" href="{{baseurl}}{{url}}" target="_blank">{{title}}</a>
    </div>
    <div class="bold italic">{{date}}</div>
    <p class="mls mrs">{{description}}</p>
  </div>
  {{/each}}
</div>
      </section>  <!-- Contenu -->
    </section>    <!-- Menu + contenu -->
