<header class="headerPage">
  <h1>Mon compte</h1>
</header>

<section><section>

<div class="mbl mll mrl">
  <p class="alert alert-warning">
    Nous sommes désolés, la personnalisation de votre compte est encore en
    développement.
  </p>
</div>

</section></section>
