<header class="headerPage">
  <h1>Connexion</h1>
</header>

<section><section>

<div class="center large-w66 small-man tiny-man">

{{#if !$user.isConnected()}}
  {{#if error}}<p class="alert alert-danger">{{error}}</p>{{/if}}
  
  {{form.build()}}

  <p class="alert txtcenter mtl">
    <strong>Nom d’utilisateur ou mot de passe oublié&nbsp;?</strong><br>
    Utilisez le bouton «&nbsp;Feedback&nbsp;»
  </p>
{{/if}}

{{#if $user.isConnected()}}
  <p class="alert-warning txtcenter mtl">
    <strong>Vous êtes déjà connecté&nbsp;!</strong><br>
    Déconnectez-vous avant si vous souhaitez vous connecter à un autre compte.
  </p>
  <p class="txtcenter mtl">
    <a href="{{$getRoute('disconnection')}}" class="btn">
    <i class="icon icon-sign-out icon-lg mrs"></i>Se déconnecter</a>
  </p>
{{/if}}
</div>

</section></section>
