<header class="headerPage">
  <h1>Cache</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section>
    <p class="txtcenter mtm big bold">
    <a class="btn btn-{{#if cacheEnabled}}success{{/if}}{{#if !cacheEnabled}}warning{{/if}}" 
       href="./cache-toogle.html">Cache {{#if !cacheEnabled}}dés{{/if}}activé</a></p>
    <div class="grid-2">
      <div>
        <h2>Static files</h2>
        <p class="fr mrl tiny-man">
          <a class="btn btn-danger" href="./cache-reset-staticFiles.html">
            <i class="icon icon-delete"></i>Vider</a>
        </p>
        {{#if staticFilesEmpty}}
        <p>Aucun élément static en cache !</p>
        {{/if}}
        <ul>
          {{#each staticFiles}}
          <li><code>{{src}}</code></li>
          {{/each}}
        </ul>
      </div>
      <div>
        <h2>Avatars</h2>
        <p class="fr mrl tiny-man">
          <a class="btn btn-danger" href="./cache-reset-avatars.html">
            <i class="icon icon-delete"></i>Vider</a>
        </p>
        {{#if avatarsEmpty}}
        <p>Aucun avatar en cache !</p>
        {{/if}}
        <ul>
          {{#each avatars}}
          <li><code>{{username}}</code></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
</section>
