<header class="headerPage">
  <h1>{{title}}</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section class="flex-container-h">
    <div class="center paper-shadow z1 pam brt">
      <p>Êtes vous sûr de vouloir supprimer définitivement {{msg}}&nbsp;?</p>
      <p><strong>Cette action est irréversible.</strong></p>
      <p class="txtright">
        <a href="./delete-{{type}}-{{id}}-{{token}}.html" class="btn btn-danger">Supprimer</a>
        <a href="./listUsers.html" class="btn">Annuler</a>
    </div>
  </section>
</section>
