<header class="headerPage">
  <h1>{{title}}</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section>
    <div class="flex-container-h justify-space mll mrl">
      <div>
        <h2>Général</h2>
        {{#if error}}<p class="alert alert-danger">{{error}}</p>{{/if}}
        {{form.build()}}
      </div>
      <div>
        <h2>Liste des membres</h2>
        {{#each members}}
        <a href="./circle-{{gid}}-{{action}}-user-{{id}}.html" 
           class="btn {{#if member}}btn-success{{/if}}">{{user}}</a>
        {{/each}}
      </div>
    </div>
  </section>
</section>
