<header class="headerPage">
  <h1>{{title}}</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section>
    {{#if error}}<p class="alert alert-danger">{{error}}</p>{{/if}}
    <p class="txtright">
      <strong>Cercles&nbsp;: </strong>
      {{#if emptyCircles}}membre d’aucun cercle{{/if}}
      {{#each circles}}
      <span class="btn">{{toString()}}</span>
      {{/each}}
    </p>
    <div class="flex-container-h">
      {{form.build()}}
    </div>
  </section>
</section>
