<header class="headerPage">
  <h1>Administration</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section class="grid-2">
    <div>
      <h2>Status</h2>
      <dl>
        <dt>Nombre de sessions</dt><dd>{{nbSessions}}</dd>
        <dt>Nombre d’utilisateurs</dt><dd>{{nbUsers}}</dd>
        <dt>Nombre de cercles</dt><dd>{{nbCircles}}</dd>
        <dt>Nombre de connexions persistantes</dt><dd>{{nbConnections}}</dd>
      </dl>
    </div>

    <div>
      <h2>Memory</h2>
      <dl>
        <dt>Mémoire totale allouée</dt><dd>{{memory.rss}} Mo</dd>
        <dt>Mémoire utilisée</dt><dd>{{memory.heapUsed}} Mo</dd>
        <dt>Mémoire externe</dt><dd>{{memory.external}} Mo</dd>
      </dl>
    </div>

    <div>
      <h2>Mail</h2>
        {{#each mails}}
        <p><strong>{{id}}&nbsp;:</strong> {{out}}</p>
        {{/each}}
    </div>

    <div>
      <h2>Informations serveur</h2>
      <dt>Système</dt><dd>{{server.lsb}}</dd>
      <dt>Port</dt><dd>{{server.port}}</dd>
    </div>
  </section>
</section>
