<header class="headerPage">
  <h1>{{title}}</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section class="grid-2">
    <div>
      <h2>Utilisateurs</h2>
      <p class="txtright">
        <a href="/add-user.html" class="btn btn-success">
          <i class="icon icon-add"></i>Ajouter un nouvel utilisateur</a>
      </p>
      <table>
        <thead>
          <tr>
            <th>username</th><th>Nom à afficher</th><th style="width: 7.5em"></th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>
              <img src="/img/avatar-{{username}}.jpg" class="avatarUser" alt="avatar">
              {{username}}
            </td>
            <td>{{toString()}}</td>
            <td class="txtcenter">
              <a href="./user-edit-{{id}}.html" class="btn btn-warning" title="Modifier">
                <i class="icon icon-edit"></i></a>
              <a href="./delete-users-{{id}}.html" class="btn btn-danger" title="Supprimer">
                <i class="icon icon-delete"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div>
      <h2>Cercles</h2>
      <p class="txtright">
        <a href="/add-circle.html" class="btn btn-success">
          <i class="icon icon-add"></i>Ajouter un nouveau cercle</a>
      </p>
      <table>
        <thead>
          <tr>
            <th>name</th><th>Nom à afficher</th><th style="width: 7.5em"></th>
          </tr>
        </thead>
        <tbody>
          {{#each circles}}
          <tr>
            <td>{{name}}</td><td>{{toString()}}</td>
            <td class="txtcenter">
              <a href="./circle-edit-{{id}}.html" class="btn btn-warning" title="Modifier">
                <i class="icon icon-edit"></i></a>
              <a href="./delete-circles-{{id}}.html" class="btn btn-danger" title="Supprimer">
                <i class="icon icon-delete"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</section>
