<header class="headerPage">
  <h1>Services</h1>
</header>

<section>
  <aside>
    <nav class="nav nav-dark">
      <ul>
        {{#each menu}}
        <li><a href="{{url}}">{{desc}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </aside>

  <section class="grid-2">
    <div>
      <h2>Liste des services</h2>
      <ul>
        {{#each services}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Config <code>$config</code></h2>
    <p>Valeurs <code>string</code>&nbsp;:</p>
    <ul>
        {{#each configStr}}
        <li><strong>{{name}}&nbsp;:</strong> {{value}}</li>
        {{/each}}
      </ul>
      <p>Autres éléments&nbsp;:</p>
      <ul>
        {{#each configObj}}
        <li><strong>{{name}}</strong></li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Liste des validateurs <code>$validate</code></h2>
      <ul>
        {{#each validators}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Liste des filtres <code>$filter</code></h2>
      <ul>
        {{#each filters}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Liste des canaux d’évènements <code>$events</code></h2>
      <ul>
        {{#each events}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Liste des styles <code>$color</code></h2>
      <ul>
        {{#each styles}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Liste des modèles <code>$models</code></h2>
      <ul>
        {{#each models}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Service <code>$forms</code></h2>
      <p>Les <em>formBuilders</em>&nbsp;:</p>
      <ul>
        {{#each formBuilders}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
      <p>Les <em>fields</em>&nbsp;:</p>
      <p>{{#each fields}}
        <code>{{name}}</code>, 
      {{/each}}</p>
      </ul>
      <p>Les styles&nbsp;:</p>
      <ul>
        <li>
          <strong><code>field</code></strong>&nbsp;:
          {{#each formClassField}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>label</code></strong>&nbsp;:
          {{#each formClassLabel}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>group</code></strong>&nbsp;:
          {{#each formClassGroup}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>groupSuccess</code></strong>&nbsp;:
          {{#each formClassGroupSuccess}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>groupError</code></strong>&nbsp;:
          {{#each formClassGroupError}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>msg</code></strong>&nbsp;:
          {{#each formClassMsg}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>msgHelp</code></strong>&nbsp;:
          {{#each formClassMsgHelp}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>msgError</code></strong>&nbsp;:
          {{#each formClassMsgError}}<code>{{name}}</code>, {{/each}}
        </li><li>
          <strong><code>fieldset</code></strong>&nbsp;:
          {{#each formClassFieldset}}<code>{{name}}</code>, {{/each}}
        </li>
      </ul>
    </div>
    <div>
      <h2>Le <code>$router</code></h2>
      <p>Liste des routes&nbsp;:</p>
      <ul>
        {{#each routes}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
      <p>Liste des fichiers chargés&nbsp;:</p>
      <ul>
        {{#each routerFiles}}
        <li><code>{{path}}</code></li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h2>Connexions <code>ldap</code> et <code>mysql</code></h2>
      <p>
        <strong>Ldap&nbsp;:</strong> 
        <code>{{ldap.server}}</code>
        <code>{{ldap.dn}}</code>
      </p>
      <p>
        <strong>Mysql&nbsp;:</strong> 
        <code>mysql://{{mysql.user}}@{{mysql.host}}:{{mysql.port}}/{{mysql.database}}</code>
      </p>
    </div>
  </section
</section>
