<!DOCTYPE html>

<!--
 This file is part of the Théo-Net project.

 (c) Grégoire OLIVEIRA SILVA

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
-->

<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}} - {{_site.headTitle}}</title>

    <meta name="viewport" 
      content="width=device-width, initial-scale=1, maximum-scale=1,
               user-scalable=no" />

    <link rel="stylesheet" href="/kephaLess/css/styles.min.css" />
  </head>

  <body lang="fr" class="bckgrnd-{{_site.mainBckgrnd}}">
    <img src="{{$user.getCookieUrl(_site.name)}}" class="visually-hidden">
<!-- site-container & site-pusher -->    
<div class="site-container" id="site-container">
  <div class="site-pusher">
