<!--

   ________
  |        |
  | Footer |
  |________|

-->

  <footer class="footerSite">
    <div class="grid-2">
      <h1 class="footerSite__header">
        <i class="icon icon-logo-txt icon-lg" title="Théo-Net"></i> 
        {{_site.title}}</h1>
      <ul class="footerSite__menu">
        <li><a href="/legals.html">Mentions légales</a></li>
      </ul>
    </div>
    <p class="licence">
      Code source sous <em><a href="{{$getRoute('licence')}}">MIT License</a></em>.
      {{#if _site.name != 'frat'}}
      Contenus et documents mis à disposition selon les termes de la 
      <a target="_blank" class="skipLinkIcon"
        rel="license" href="http://creativecommons.org/licenses/by/4.0/"
        title="Licence Creative Commons Attribution 4.0 International">
      <img alt="Licence Creative Commons Attribution 4.0 International" 
           src="kephaLess/img/cc_4-0-by.png" /></a>.{{/if}}
    </p>
  </footer>
      
      </main><!-- /site-content -->
      <div class="site-cache" id="site-cache"></div>
