{{$include('_begin.html')}} 
    <main class="site-content">
      <header class="headerSite" id="headerSite">
        <h1><a href="#">mission Terre Sainte</a>
          <a href="#" class="headerSite__button" id="headerSite__button"></a>
        </h1>
      </header>
      <section class="page-content mal">
{{content}}
      </section> 
    </main>
{{$include('_end.html')}}
