{{$include('_begin.html')}}    
    
<!-- 
   _____________
  |             |
  | Header Site | 
  |_____________|

-->

<header class="headerSite bckgrnd-{{_site.headerBckgrndColor}}" id="headerSite">
  <div class="headerSite__title">
    <h1><a href="#">{{_site.title}}</a>
      <a href="#" class="headerSite__button" id="headerSite__button"></a>
    </h1>
  </div>
  <aside class="headerSite__side">
    <nav class="headerSite__menu">
      <ul>
        <li></li><!-- ces éléments vides permettent de centrer le menu -->
        <li class="{{accueilActive}}">
          <a href="{{$getRoute('kephaIndex')}}">Accueil</a>
        </li>
        <li class="{{kephaLessActive}}">
          <a href="{{$getRoute('kephaStyles')}}">KephaLess</a>
        </li>
        <li></li>
      </ul>
    </nav>
  </aside>
</header>
    
    
<!-- 
   ______________
  |              |
  | site-content | 
  |______________|

-->

<main class="site-content">
<section class="page-content">

{{content}}

</section>

{{$include('_footer.html')}}

{{$getSlot('NetworkBar', 'header')}}
{{$include('_end.html')}}

