{{$include('_begin.html')}}    
    
<!-- 
   _____________
  |             |
  | Header Site | 
  |_____________|

-->

<header class="headerSite bckgrnd-{{_site.headerBckgrndColor}} {{#if 
  _site.headerBckgrndImg}}headerSite-withImg{{/if}} {{#if _site.big}}headerSite-big{{/if}}" 
  id="headerSite">
  {{#if _site.headerBckgrndImg}}
  <div style="background-image: url({{_site.headerBckgrndImg}})" class="headerSite__fond"></div>
  {{/if}}
  <div class="headerSite__title">
    <h1><a href="{{$getRoute('fratIndex')}}" class="noLogo">
        <img src="/img/logoFrat.png" alt="Fraternité Saint Étienne"></a>
      <a href="#" class="headerSite__button" id="headerSite__button"></a>
    </h1>
  </div>
  <aside class="headerSite__side">
    <nav class="headerSite__menu">
      <ul>
        <li></li><!-- ces éléments vides permettent de centrer le menu -->
        <li class="{{accueilActive}}">
          <a href="{{$getRoute('fratIndex')}}">Accueil</a>
        </li>
        <li class="{{charteActive}}">
          <a href="{{$getRoute('fratCharte')}}">La charte de vie</a>
        </li>
        <li class="{{aProposActive}}">
          <a href="{{$getRoute('fratAPropos')}}">À propos</a>
        </li>
        <li></li>
      </ul>
    </nav>
  </aside>
</header>
    
    
<!-- 
   ______________
  |              |
  | site-content | 
  |______________|

-->

<main class="site-content">
<section class="page-content">

{{content}}

</section>

{{$include('_footer.html')}}

{{$getSlot('NetworkBar', 'header')}}
{{$include('_end.html')}}

