{{$include('_begin.html')}}    
    
<!-- 
   _____________
  |             |
  | Header Site | 
  |_____________|

-->

<header class="headerSite bckgrnd-{{_site.headerBckgrndColor}} {{#if _site.wide}}wide{{/if}}" 
        id="headerSite">
  <div class="headerSite__title">
    <h1><a href="#">{{_site.title}}</a>
      <a href="#" class="headerSite__button" id="headerSite__button"></a>
    </h1>
  </div>
</header>
    
    
<!-- 
   ______________
  |              |
  | site-content | 
  |______________|

-->

<main class="site-content {{#if _site.wide}}wide{{/if}}">
<section class="page-content">

{{content}}

</section>

{{$include('_footer.html')}}

{{$getSlot('NetworkBar', 'header')}}
{{$include('_end.html')}}

